[2020-07-24 19:37] RaunakShah commented on #275
This is why you dont get a multi-attach error. Kubernetes is not attempting to attach this volume to another node. If these pods were scheduled on separate nodes, then you would get the appropriate error.

Multi attach error comes from the Kubernetes attachdetach controller (as opposed to a storage vendor) - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/re

[2020-07-24 20:22] SandeepPissay commented on #275
/assign @shalini-b

[2020-07-24 20:23] SandeepPissay commented on #275
@shalini-b can you take this up?

[2020-07-24 20:30] SandeepPissay commented on #284
@Anil-YadavK8s

Few questions:

1. Did you enable diskUuid as per https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vm_configuration?
2. Can you also provide vCenter and ESX support bundles along with CSI Pod logs? You may want to file a support ticket as per https://vsphere-csi-driver.sigs.k8s.io/support.html

[2020-07-24 21:05] shalini-b commented on #275
/assign @shalini-b

[2020-07-26 09:24] Anil-YadavK8s commented on #284
@SandeepPissay Yes we have enabled diskUuid as part on installation instruction. Yes we have already engaged Vmware support on the case.

[2020-07-27 06:58] xander-sh commented on #275
@RaunakShah

Thanks, kubernetes allow attach pvc to containers on one nodes.
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

The access modes are:

- ReadWriteOnce -- the volume can be mounted as read-write by a single **node**
- ReadOnlyMany -- the volume can be mounted read-only by many **nodes**
- ReadWriteMany -- the volume can be mounted as read-write by many **n

[2020-07-27 06:58] #275 closed

[2020-07-27 14:36] dmc5179 commented on #285
@divyenpatel Yes, I've specified it everywhere I can. The main cluster cloud credentials have 8443 set as the port which allows the in-tree storage drivers to work out of the box. I've added the port 8443 to several sections in the vsphere conf block for the CSI drivers. I've even tried to find the ENV vars that are used by the pods to see if I can pass them in.

[2020-07-27 18:53] #278 closed

[2020-07-27 20:38] chethanv28 opened #288 "Full sync should honor migrated volumes only when migrated-to annotation is present"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The CSIMigration flag is not enabled in kube-controller-manager
However, user deployed CSI driver with migration ON in csi-feature-states.
The in-tree volumes start getting registered with CNS

**What you expected to happen**:
Volumes must register with CNS only if CSIMigration is set to true in kube-controller-manager

**

[2020-07-27 20:39] chethanv28 commented on #288
/assign @chethanv28

[2020-07-28 02:13] #288 closed

[2020-07-28 19:17] noreentry opened #290 "vsphere-csi-controller fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vsphere-csi-controller fails

**What you expected to happen**:
VMWare CSI driver works with vCenter as expected

**How to reproduce it (as minimally and precisely as possible)**:
install vsphere-csi-driver on okd 4.5 with https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html

**Anything else we need t

[2020-07-28 23:55] divyenpatel commented on #236
Document requirement of StoragePolicy available. Storage Policy should never be deleted.
If Policy is deleted, it has to be re-created.

[2020-07-29 00:16] shalini-b commented on #195
@bvivi57 Are you still facing this issue?

[2020-07-29 00:16] shalini-b commented on #109
/remove-lifecycle stale

[2020-07-29 00:17] shalini-b commented on #147
@saunderslink Are you still facing this issue? If this is resolved, could you close this issue?

[2020-07-29 08:59] zhoudayongdennis opened #292 "vsphere CNS related storage privileges required on 6.7.3"
want to clarify the required privileges of user_name to access vcenter 6.7.3 or above, and currently it seems below content out of date, but not sure where to have the latest version.

https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/vcp-roles.html

e.g. requiring Cns->searchable privilege for CNS storage related POD operation, otherwise, it will complain below permission issu

[2020-07-29 16:06] #147 closed

[2020-07-29 17:57] chethanv28 opened #293 "CSI feature states configmap information must be configurable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Informers in common agnostic package is watching on a specific configmap name and namespace to fetch feature state flags.
Not all vendors will be deploying csi driver in the same namespace. We cannot assume the csi driver and csi feature states configmap to be deployed in a particular namespace

**What you expected to happen**:
Prov

[2020-07-29 17:57] chethanv28 commented on #293
/assign @chethanv28

[2020-07-30 11:28] Stogrammus commented on #229
@chris-morandi
Is this issue resolved? I have got the same problem.

[2020-07-30 11:59] chris-morandi commented on #229
So basically we don't know what is causing it.  We swapped our vSphere
Controller to use a Linux based install and it then worked.  The previous
install was on Windows, so we suspect there may be an issue with the
Windows vCenter API Controller, as we are using the same Hosts and Data
storage.  It's difficult to tell.

On Thu, 30 Jul 2020, 12:28 Stogrammus, <notifications@github.com> wrote:

[2020-07-30 16:16] divyenpatel opened #294 "`Feature: csi-migration state is set to true` printed so many times."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I see log for `Feature: csi-migration state is set to true` printed so many times. Need to check why we have so many calls.

[code]

**What you expected to happen**:
This should be printed only once.

**How to reproduce it (as minimally and precisely as possible)**:
deploy TOT master builds and `DEVELOPMENT` level logs

[2020-07-30 16:17] divyenpatel commented on #294
@chethanv28 Can you take this issue?

[2020-07-30 16:37] chethanv28 commented on #294
/assign @chethanv28
This happens when user enables DEVELOPMENT logs
This is happening because, CSI migration check is made for all volumes and pods and hence while invoking the IsFSSEnabled() for so many volumes, there is a DEBUG log which is printed every time. We can remove the DEBUG log

[2020-07-30 17:20] divyenpatel commented on #294
We should grab feature switch status once the operation starts and though out that operation, we should use that local status. I think what we are doing is querying the feature state map multiple times in a single operation.

This will also protect us from the situation where switch is getting changes in between operation is in the flight.

[2020-07-31 00:14] divyenpatel opened #295 "Push metadata only when PVC/PV has migrated-to annotation and csi-migration feature state is ON"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If `csi-migration` feature state is on in the `csi-feature-states` config-map, but migration is not enabled on the kubernetes.
In this case, in-tree vSphere volume metadata should not be pushed to CNS by metadata syncer, but it is pushing.

**What you expected to happen**:
Push metadata to CNS only when `pv.kubernetes.io/m

[2020-07-31 08:44] Stogrammus opened #298 "failed to provision volume with StorageClass Error: ServerFaultCode: ManagedObjectNotFound"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I tried to configure Cloud Native Storage with CSI driver, using https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html.

As a result, the volumes are not attached to VMs, the error in csi-provisioner container:
[code]
**What you expected to happen**:
Persistent volumes attached correctly to k8s

[2020-07-31 21:16] BaluDontu commented on #285
/assign @chethanv28

[2020-07-31 21:18] chethanv28 commented on #285
/assign @chethanv28

[2020-08-02 21:09] abaxo commented on #290
I've just ran into this and got OKD4.6 (it will work with OKD/Openshift 4.x) running with the volume as a emptydir instead of hostmount for the socket-dir volume.

For example:
`
volumes:
        - name: vsphere-config-volume
          secret:
            secretName: vsphere-config-secret
            defaultMode: 420
        - name: socket-dir
          emptyDir: {}
`

Hope this helps. I've not su

[2020-08-02 21:15] abaxo commented on #290
FWIW you will also need to separately maintain the vsphere-config-secret in the kube-system namespace, the vsphere-creds secret that Openshift uses a different format. I haven't tried with any great effort, but it doesn't look like it will pick up the secret in the kube-system namespace vsphere-creds for the username + password for this.

I've used:
[code]

[2020-08-03 18:47] #295 closed

[2020-08-04 04:18] #255 closed

[2020-08-04 09:05] zhoudayongdennis opened #299 "failure to create volume on vcenter side"
deploy cluster on vsphere 6.7.3 platform, and creating pods in cluster, but during pv creating sending from CSI via PVC, encountering below error message. As a result, pod was in pending status due to unbount pvc.

need understand how to check the failure reason of creating volume on vcenter side, and what's kind of log for further investigation?

{"level":"info","time":"2020-08-04T07:04:12.662709

[2020-08-04 17:32] divyenpatel commented on #236
Make sure to document that volume extension is not supported on the migrated legacy volume.

[2020-08-04 18:11] divyenpatel opened #300 "disable volume expansion for migrated volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
VCP was not supporting expand volume.

So migrated volumes should not be allowed to expand. The reason is if after expanding volume using CSI driver, customer disables migration. we do not have a code in the legacy VCP to help expand the file system on this volume.

This is the reason we want to disable expand volume on migrated vSphere volume.

/kind

[2020-08-04 21:29] rhockenbury commented on #123
/remove-lifecycle rotten

[2020-08-04 21:37] SandeepPissay opened #302 "[Doc] Update doc to clarify how to update CSI controller safely"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This is a doc bug.

**What happened**:
Currently CSI deployment uses hostpath to create the unix domain socket for inter-container communication. I observed in customer environments that the CSI deployment is edited and this results in more than 1 CSI controller pod running at the same time. The old pod is eventually deleted and the new one starts up.

[2020-08-05 18:36] #293 closed

[2020-08-06 16:07] SandeepPissay commented on #229
@chris-morandi CNS is not supported in Windows vCenter Server. You will have to use Linux based vCenter Server (>= 6.7U3) to use CNS solution. I'm closing this issue.

[2020-08-06 16:07] #229 closed

[2020-08-06 21:24] shalini-b opened #305 "Update the supported features matrix to make it extendable for future versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The supported features matrix is specific to CSI 1.0 and vSphere 7.0.

**What you expected to happen**:
Refer to https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/291#discussion_r462473478.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2020-08-06 21:40] shalini-b commented on #199
/remove-lifecycle stale

[2020-08-07 05:01] SandeepPissay opened #306 "[Doc] Update the doc to clarify that CNS is not supported in Windows based vCenter server in 6.7 U3"
The docs does not clarify that CNS is not supported in Windows based vCenter server in 6.7 U3. I'm filing this issue to track this.

[2020-08-07 13:47] danielkucera opened #307 "Running in OpenShift 4.5"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

vsphere-csi-controller did not deploy successfully. It shows error:
[code]

**What you expected to happen**:
to run successfully

**How to reproduce it (as minimally and precisely as possible)**:
Clean installation of OCP 4.5, Deploy https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/9c76d4963a949a7007b1b055ab221

[2020-08-07 20:29] #300 closed

[2020-08-09 02:20] RaunakShah commented on #292
The doc you are referring to is for in-tree VCP driver.

The roles and privileges for vSphere CSI driver are described at https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges. For 6.7U3, you can ignore the roles related to vSAN File Services (which is only supported post 7.0).

[2020-08-09 02:24] RaunakShah commented on #298
Is this a Windows based vCenter Server 6.7U3 you are using? That is not supported by CNS.
If it isnt, this looks like a backend issue. You will need to contact VMware's global support at https://www.vmware.com/support/file-sr.html and file an issue.

[2020-08-09 02:30] RaunakShah commented on #307
@danielkucera can you try using the latest version of the YAML at https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/latest/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml

The latest change replaces hostpath `socket-dir` to `emptyDir`.

[2020-08-10 05:04] divyenpatel commented on #294
@chethanv28 while fixing this. Can we also remove this - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/common/feature_state.go I think we are not updating this global variable dynamically when the feature-switch state changes.

[2020-08-10 07:08] danielkucera commented on #307
@RaunakShah thank you, that has fixed the second point: adding privileged.

But the first thing: adding SCC is still needed because there are still containers which need to run as privileged:
[code]

[2020-08-10 12:52] Stogrammus commented on #298
@RaunakShah Thanks for your answer. Yes, us vCenter based on Windows. Please add this requirement to the documentation.

[2020-08-10 12:52] #298 closed

[2020-08-10 13:30] danielkucera commented on #302
It is not using hostpath anymore, right?

[2020-08-10 15:57] RaunakShah opened #311 "Document slow attach detach due to https://github.com/kubernetes/kubernetes/issues/84169 as a known issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Many customers have run into https://github.com/kubernetes/kubernetes/issues/84169. Though the fix was backported to 1.17 and 1.18 releases, customers may not be using the latest binaries. The issue manifests itself in different ways and there's no way for customers to know whether their slow attach/detach is coming for C

[2020-08-10 18:38] RaunakShah commented on #311
/assign

[2020-08-10 23:24] #306 closed

[2020-08-11 08:17] Anil-YadavK8s commented on #284
issue has been resolved by adding parameter "--disable-attach-detach-reconcile-sync" to Kube-controller-manager.yaml (changes needs to propagated to all master nodes in case of multi-master)

https://github.com/kubernetes/kubernetes/issues/84169
https://github.com/kubernetes/kubernetes/pull/92014

issue got fixed in Kubernetes 1.17.7

Thanks @RaunakShah @divyenpatel  for the support.

[2020-08-11 08:17] #284 closed

[2020-08-11 14:04] facchettos opened #313 "csi does not find existing volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pod requiring a PV fails to start because CSI driver reports error from vsphere, while volume exists in vsphere

![Screenshot 2020-08-11 at 16 06 22](https://user-images.githubusercontent.com/22717502/89907189-9feb8a80-dbec-11ea-9e01-f296189ca7cc.png)

Volumes are still present in vsphere
![Screenshot 2020-08-11 at 15 54

[2020-08-12 19:58] svrc opened #315 "Pod priority too low and tolerations too broad for CSI controller"
/kind bug

**What happened**:   Experimenting with cluster upgrades on TKGI 1.8 led to upgrade hangs requiring manual intervention on the CSI controller deployment.

1. During upgrades on a cluster, a draining node may hang indefinitely due to the CSI controller's tolerations causing rescheduling of the pod on the draining node mid-drain, this can cause a deadlock where a node drain script may be

[2020-08-13 17:29] divyenpatel opened #316 "Vanilla k8s example folder contains YAML file not applicable to the Vanilla k8s cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Not a bug or feature request.

**What happened**:
The following example file is not applicable to the Vanilla Kubernetes setup. Can we move this to WCP sample or remove it from here?

@BaluDontu we can provide the sample in the documentation for project pacific static volume provisioning and remove file from here.

**What you expected to happen**:
Vani

[2020-08-13 17:50] BaluDontu commented on #316
Sure @divyenpatel . I will take care of this one.

[2020-08-13 18:10] divyenpatel opened #317 "Write an admission controller to prevent users from creating new StorageClass using internal migration parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
vSphere CSI driver does not support the following internal migration parameters in the StorageClass.
These parameters are added by the vSphere CSI translation library, and should not be used in the storage class directly.
- csimigration
- datastore-migrationparam
- diskformat-migrationparam
- hostfailurestotolerate-mig

[2020-08-13 18:25] SandeepPissay opened #318 "[Doc] Clarify the max number of chars in cluster-id in vsphere conf file is 64"
**What happened**:
Customer had vsphere conf file with cluster-id having more than 64 chars. CNS control plane cannot store volumes that exceeds this character count limit leading to query, update metadata failures in CNS that eventually leads to ControllerUnpublishVolume failures in CSI.

**How to reproduce it (as minimally and precisely as possible)**:
Create a vSphere conf with cluster-id havin

[2020-08-13 23:36] SandeepPissay opened #319 "Fail CSI init if the cluster-id exceeds 64 characters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Customer had vsphere conf file with cluster-id having more than 64 chars. CNS control plane cannot store volumes that exceeds this character count limit leading to query, update metadata failures in CNS that eventually leads to ControllerUnpublishVolume failures in CSI.

**What you expected to happen**:
CSI init should fai

[2020-08-14 22:23] misterikkit commented on #266
@divyenpatel I think I hit the same thing when testing the csi driver v2.0.0 with csi-provisioner v1.6.0. But I don't fully understand the fix.

Looking deeper into the logs, it is true that `csi-provisioner` calls `Delete` before `csi-attacher` calls `ControllerUnpublishVolume`, but both operations are retried until they succeed. The `vim.fault.InvalidState` error seems to indicate, "you may not

[2020-08-14 23:02] divyenpatel commented on #266
@misterikkit this is because of the backend vSphere API bug.

Here in this issue when Delete API is called, it is untagging container volume first and then attempts to delete the volume, but since volume is already attached to VM, delete fails. API does not tag back volume is container volume. During detach, we first query vCenter to determine if Volume is Block or File and if it is file volume we

[2020-08-17 14:35] creativie opened #320 "Volume in use"
/kind bug

**What happened**:
pod-1 from deployment-1 with attached pv-1 on vm-1 works fine. When vm-1 migrated by DRS and i deleted pod-1, kubernetes scheduler brings up pod on vm-2 (now pod called pod-2) and can't attach pv-1

[code]

And manually i can't de-attach hard disk from vm-1
[code]

**What you expected to happen**:
pod-2 up and running well.

**How to reproduce it (as minimally and pre

[2020-08-17 17:15] RaunakShah commented on #313
Hi @facchettos what do you mean by:

[2020-08-17 17:17] RaunakShah commented on #299
Looks like the CreateVolume call on vSphere taking too long. Can you contact VMware's global support at https://www.vmware.com/support/file-sr.html?

[2020-08-17 17:19] facchettos commented on #313
I mean that I can still create new volumes and that the new FCDs are found, but that all the FCDs that existed at the time of that bug are now not found

[2020-08-17 21:47] divyenpatel opened #322 "NodeGetVolumeStats is failing for file volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When POD is created with file volume, Node Daemonset Pod is emitting error while executing NodeGetVolumeStats.

**What you expected to happen**:
NodeGetVolumeStats should be successful for both file volume and block volume.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a file share volume.
2

[2020-08-18 01:40] zhoudayongdennis commented on #292
@RaunakShah, thanks for the info and this ticket could be close.

[2020-08-18 01:40] #292 closed

[2020-08-18 01:41] zhoudayongdennis commented on #299
@RaunakShah, thanks for the suggestion and will check it from VM's global support. It could be closed.

[2020-08-18 01:41] #299 closed

[2020-08-18 04:15] longwa commented on #217
Will this fix be available in 6.7U3 with the 1.0.x version of the driver? We have no plans to upgrade to 7.0 in the near future and not being able to delete PV's will be a problem.

[2020-08-18 10:52] gianmarcomurru opened #323 "csi-resizer failed to check if plugin supports node resize"
/kind bug

**What happened**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
After installing vsphere-cpi via Helm [(Docs)](https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/new) I installed vphere-csi like this:
Created a secret:
`kubectl create secret generic vsphere-config-secret --from-file=csi-vsphere.conf --namespace=kube-system
`
Created Roles, ServiceAc

[2020-08-18 12:31] #323 closed

[2020-08-18 12:32] gianmarcomurru commented on #323
I just need to use vsphere version to v6.7u3

[2020-08-18 17:56] divyenpatel commented on #317
As part of this task, we should also add `validating admission controller` for the in-tree vSphere storage class.
user should not be allowed to patch in-tree storageclass to add `allowVolumeExpansion: true`.

Refer https://github.com/kubernetes/kubernetes/issues/93727#issuecomment-669710189 for more detail.

[2020-08-18 21:35] longwa commented on #313
We are having a similar issue where many of the PV's are not shown in the CNS UI at all. Sometimes it will only show 1 of them and it randomly switches between which one. Occasionally, it will show "We cannot find any volumes!" for awhile even though there are clearly several volumes mounted and Bound in the cluster.

[2020-08-18 21:41] longwa commented on #266
I'm running with TKG 1.1.2 on 6.7U3, is there any fix for the 1.x version of the CSI driver?

We are running csi-provisioner version 1.4.0 at the moment (whatever is default for TKG).

[2020-08-18 22:58] rohansadale commented on #323
@gianmarcomurru did using vSphere 6.7U3 resolve the issue?

Deployment of vsphere-csi-controller-deployment-for-OCP.yaml fails with below error -

$  oc logs -n kube-system deployment/vsphere-csi-controller csi-resizer
I0818 22:49:07.078731       1 main.go:61] Version : v0.3.0-0-g150071d
I0818 22:49:07.081675       1 connection.go:151] Connecting to unix:///csi/csi.sock
I0818 22:49:07.083030

[2020-08-19 00:17] chethanv28 commented on #323
@rohansadale Can you confirm the yaml file used for the vsphere-csi-controller deployment. Is it from here:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/v2.0.0/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml ?

[2020-08-19 00:51] #318 closed

[2020-08-19 10:54] seanmcconkey opened #325 "vsphere-csi-controller & vsphere-csi-node Failing - Bug"
/kind bug

**What happened**: When I create the deployment.apps/vsphere-csi-controller it immediately goes into error and producing logs shows the following when running `kubectl -n kube-system logs pod/vsphere-csi-controller-64c74687c9-rvbmb`,

[vsphere-csi-controller.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5095685/vsphere-csi-controller.log)

If I then check the csi-node

[2020-08-19 17:07] chethanv28 commented on #325
@seanmcconkey
Looking at the error : `time="2020-08-19T10:12:08Z" level=fatal msg="grpc failed" error="2:23: unknown escape sequence"`
I think there must be backslash in one of the strings in csi-vsphere-conf.
You may have to add one more backslash to avoid the error.

Please try recreating the secret and vsphere-csi-controller deployment after editing the csi-vsphere-conf

[2020-08-19 21:09] misterikkit commented on #266
The reason that csi-provisioner was moved to 2.0 is that RBAC changes are
required for the fix to work. For that reason, I doubt that the fix will be
backported.

[2020-08-20 01:53] longwa commented on #266
It seems like a pretty fatal flaw in the 6.7 implementation if it randomly fails to delete a PV.

We are also seeing a recurring attempt to delete something every 5 minutes in the vCenter logs, presumably related to this same issue.

If just basic creation and deletion of a PV don’t work properly it doesn’t seem like they should even enable it for 6.7U3.

[2020-08-20 02:43] RaunakShah commented on #266
@longwa this situation only happens when there's a race between trying to delete a PVC and Pod (for example when deleting a namespace). Can you run the steps @divyenpatel has mentioned in https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/266#issuecomment-656863211 and see if that helps?

Yes, kubernetes attempts to delete the backend volume in a loop until it succeeds.

[2020-08-20 02:51] RaunakShah commented on #320
@creativie few questions:
1. Is this application running as a Statefulset?
2. Can you verify if pod-1 still exists even after deleting it (ie, pod-1 and pod-2 exist)
3. Can you run `kubectl get volumeattachments` and verify if there are two volumeattachment objects for pv-1?

[2020-08-20 06:37] creativie commented on #320
1. In this example - deployment, but i have a few Statefulsets with this problem
2. No, only one pod in status ContainerCreating
3. One object with "false" in field ATTACHED
[code]

[2020-08-20 15:09] longwa commented on #266
@RaunakShah So the workaround steps are how to delete a Pod and not have the volume get in this state? I don't see any VolumeAttachments for the failed PV in this case so I'm assuming the workaround isn't useful after you have already gotten the error?

Also, what is causing the retry and how can I stop it? It will never succeed from what I can tell and is spamming our Event logs with failures eve

[2020-08-20 16:00] misterikkit commented on #266
@longwa Kubernetes design is to retry operations it sees as temporary failures. The PV object is still present with a `deletionTimestamp` so k8s keeps trying to delete it. To fully delete the volume, make sure you follow each step in the workaround. I think you still need to do these ones:
- Manually detach the disk from the Node VM.
- Use govc to manually delete the FCD.
- Edit Pending PV and rem

[2020-08-20 17:14] RaunakShah commented on #313
@facchettos based on the logs you've posted, it looks like the FCD was deleted from the backend. CNS still has this volume as an entry that's why its showing up on the UI. Can you verify if that happened? You may have to share vc-support bundle and vm-support bundles from ESXi hosts to help us further debug.

[2020-08-20 17:16] RaunakShah commented on #313
@longwa can you share the vsphere-syncer from your cluster and which CSI version you are using? I want to verify if that's happening because of CSI full sync (which reconciles k8s metadata with CNS)..

[2020-08-20 17:55] RaunakShah opened #327 "Cannot create CnsNodeVmAttachment CRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
CnsNodeVmAttachment CRD cannot be created on Supervisor cluster on latest builds with error:

[code]
**What you expected to happen**:
CRD creation to succeed

**How to reproduce it (as minimally and precisely as possible)**:
Run latest CSI driver image on supervisor cluster in vSphere with Kubernetes.

**Anything else we

[2020-08-20 18:38] SandeepPissay commented on #327
@RaunakShah have you root caused this problem? If so, can you explain why this happened?

[2020-08-20 18:47] RaunakShah commented on #327
Breaking up the error message:

[code]
[code]
[code]

So looks like some invalid parameters are passed while trying to create the CRD.
Looking at the function defintion:

[code]
but the call to this function for `CnsNodeVmAttachment` jumbles up the argument order (crdName and crdKind):

[code]

[2020-08-20 19:06] longwa commented on #313
We are using CSI version 1.0.2.

I worked with VMWare support and I think we may have discovered the cause of our CNS UI issues. It seems that our management cluster and our workload cluster in TKG had the same cluster-id in the CSI node configuration. I'm not sure how it got to be that way, but the support person seemed to think that might be causing the issue.

I have switched the workload clust

[2020-08-20 20:06] svrc commented on #204
@EleanorRigby see #315 which may be why you saw this.   I do see disks get detached but a lot depends on the health of the single replica controller.

[2020-08-20 20:30] chethanv28 opened #330 "Format logs in vsphere-syncer"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While running the latest CSI images on Supervisor Cluster, observed that the logs are filled with incorrect formatting for storagepool/intended_state.go

<pre>
{"level":"info","time":"2020-08-20T18:09:22.749472847Z","caller":"storagepool/intended_state.go:147","msg":"creating vsan sna sp%!(EXTRA string=sc2-10-186-56-9.eng.

[2020-08-20 20:47] RaunakShah commented on #313
@longwa thanks for clarifying!

[2020-08-20 23:13] #327 closed

[2020-08-21 06:39] chethanv28 commented on #330
/assign @chethanv28

[2020-08-24 19:57] divyenpatel commented on #196
Fix for this issue is available in following vSphere patch releases

https://docs.vmware.com/en/VMware-vSphere/6.7/rn/vsphere-vcenter-server-67u3g-release-notes.html
https://docs.vmware.com/en/VMware-vSphere/6.7/rn/vsphere-vcenter-server-67u3j-release-notes.html

[2020-08-24 23:02] chethanv28 commented on #325
/assign @chethanv28

[2020-08-25 06:56] RaunakShah commented on #320
Thanks @creativie. I'm looking at what's the right API to call to manually detach the volume. I'll get back to you shortly.

[2020-08-25 11:51] seanmcconkey commented on #325
I ended up removing the env var `datastoreurl` and using `default-datastore` & `folder`. Feel the documentation needs updating as these weren't shown and I found them in another users post in this repo.

[2020-08-25 15:22] danielhass opened #333 "Updated PVC doesn't get expanded, hangs in ExternalExpanding"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Asking for help.

**What happened**:
I tried to make use of the volume expansion feature of the vsphere CSI driver described here:
https://vsphere-csi-driver.sigs.k8s.io/features/volume_expansion.html

After updating the PVC's size the PVC doesn't get picked up for expansion and stays in the state `ExternalExpanding`:
[code]

**What you expected to hap

[2020-08-25 17:20] RaunakShah commented on #333
@danielhass volume expansion is only supported vSphere 7.0 onwards. You can see the feature matrix here - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2020-08-25 17:32] danielhass commented on #333
@danielhass thanks for that fast response and sorry for that I missed that. I was searching the feature matrix for something like "expansion" that's why I missed that restriction.

[2020-08-25 17:32] #333 closed

[2020-08-27 18:35] shalini-b opened #336 "Improvements for driver documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Our project manager, Gopala has requested to add the following points to our documentation:

- Specify that RWO (Block ) is supported on vsAN, VMFS, NFS and vVols and RWM is only supported on vSAN
- Add that the CNS layer converts the K8s storage concepts like storage classes and dynamic provisioning into their vSpher

[2020-08-28 02:52] carlbraganza opened #338 "Pod with block mode volume stuck in Termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I dynamically provisioned a volume with `volumeMode: Block`, and then attached it to a pod. When I delete the pod it gets stuck in the `Terminating` state.

**What you expected to happen**:
I expected the pod to terminate. This does not happen if the volume has `volumeMode: Filesystem`.

**How to reproduce it (as minimally

[2020-08-28 18:32] divyenpatel commented on #236
comment from @SandeepPissay

[2020-08-28 22:25] shalini-b commented on #338
@carlbraganza Could you paste the describe output of the pod here? Also, the CSI controller pod and CSI node pod logs would be helpful to debug further.

[2020-08-29 03:39] SandeepPissay commented on #204
@EleanorRigby We would need logs to triage this bug. Can you file a ticket with support along with CSI, vCenter and ESX support bundle? See https://vsphere-csi-driver.sigs.k8s.io/support.html.

@sashrith Can you respond to the question?

[2020-08-30 17:30] divyenpatel commented on #204
@EleanorRigby I am not able to reproduce this issue.

**Created Statefulset using following YAML**

[code]

[code]

**Verified mounted disks on `k8s-node2`  before draining it**

[code]

**Drained node - `k8s-node2`**
Note: Here I am using `--ignore-daemonsets`. Reason is we need to keep system daemonset pods and node daemonset pods running. Node deamonset here will help unmount mount.

[code]

**

[2020-08-30 17:52] EleanorRigby commented on #204
@divyenpatel: Thanks for looking at this. Are you using TKGI to deploy? Which image versions did you use? I reported this problem with older images of CSI. + @SandeepPissay,   I am not sure about state of new release and its integration with TKGI, as I am no longer working on the project.

What @svrc  suggested could be a reason for malfunction on TKGI?
@svrc : I did take a look at changes you sug

[2020-08-30 17:57] EleanorRigby commented on #204
What @divyenpatel suggested `--ignore-daemonsets` could also be potential fix. But will it keep all daemon sets post drain. This might not be desirable for user. Is it is possible to set this drain ignore at more finer level , like at specific pod names / namespace?

[2020-08-30 18:16] SandeepPissay commented on #204
@divyenpatel Since we have tolerations on the node controller(https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml#L123), do we still need to use `--ignore-daemonsets` while draining the node?

[2020-08-30 20:01] divyenpatel commented on #204
Yes, we need to use `--ignore-daemonsets`, otherwise drain fails.

[code]

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/drain/drain.go#L111-L133

[2020-08-30 21:08] divyenpatel commented on #204
@EleanorRigby

No, I have deployed k8s cluster manually using kubeadm.

I used latest images as well as verified with following older CSI driver images. This issue is not reproducible on my cluster.

[code]

[2020-08-31 07:12] luwang-vmware commented on #204
I also hit the issue. Create 10 namespaces, each namespace has 1 statefulset(1pv backed by CSI2.0). Directly delete namespace one by one, and we can see the some of the pvs are stuck in released. I  manually delete pv pvc-ec9995e9-184e-4765-b244-0c525c533a0a, then it is stuck in Terminating.
I also check the vm settings in the VC, those PV(vmdk) are still in the workernode
In this situation, can y

[2020-08-31 14:32] divyenpatel commented on #204
@luwang-vmware deleting namespace and draining node are two different cases.  This issue https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/204 is targetting the case observed while draining node.

Regarding the issue you have mentioned which is happening when deleting namespace is a known issue.
Refer issue-5 mentioned here - https://vsphere-csi-driver.sigs.k8s.io/known_issues.html#issu

[2020-08-31 14:43] mohideen opened #341 "FailedMount - FailedPrecondition - Volume does not appear staged"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While deleing and (re-)applying the kubernetes statefulset configuration. Some of the pods that use vSphere CSI based persistent volumes are failing start and are stuck at `ContainerCreating` state. This happens randomly to some pods. There are other pods which also use vSphere CSI based PV and are also scheduled on the sa

[2020-08-31 19:25] carlbraganza commented on #338
Describe pod output:
[code]
Here is the PV concerned:
[code]

I will attach the logs but first, here is the output of grep on the `volumeHandle` from the vsphere-csi-controller log:
[code]
and on the vsphere-csi-node log (limited as the `NodeUnpublishVolume` call repeats)
[code]
[vsphere-csi-338-logs.tar.gz](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5152216/vsphere-csi-338-logs.t

[2020-08-31 20:52] divyenpatel commented on #109
@mylesagray and @cormachogan have implemented this feature. Helm chart for vSphere CSI driver is available at - https://github.com/cormachogan/vsphere-csi-helmchart/tree/master

[2020-09-01 00:16] luwang-vmware commented on #204
Thanks @divyenpatel . I will try to use external provisioner in my env.

[2020-09-01 02:58] RaunakShah commented on #341
Hmm havent seen this one before. Looking at your vSphere CSI node logs, i see this:

[code]

Can you look at your node daemonset logs for this volume ID `786323a5-58be-49d9-b532-879125a042bd` beginning with `NodeStageVolume ...`?

[2020-09-01 15:18] mohideen commented on #341
The application stack consists of three Statefulsets with a vSphere CSI PV each. When I attempted to delete and redeploy the app stack, I only saw the NodeStageVolume message for two of three volumes. And, there was not a `NodeStageVolume` for the volume `786323a5-58be-49d9-b532-879125a042bd` which is currently failing to mount.

[code]

But, I did see that three volumeattachment objects being del

[2020-09-01 22:31] mohideen commented on #341
I looked at the kubelet logs and found that there were orphaned pods that were still holding onto the volumes.

[code]

I `umount`ed the volume from the orphaned pod directory (eg. /var/lib/kubelet/pods/abd54204-56d7-4b5d-b1b1-994a81ee44aa/volumes/kubernetes.io~csi/pvc-906fbbe7-029f-4b71-9da1-f5d7fee0a051/mount, deleted that directory associated with the non-existent pod (eg. /var/lib/kubelet/pods

[2020-09-02 01:57] luwang-vmware commented on #204
@divyenpatel I used the manifests defined in https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.0/vsphere-7.0/vanilla. I used **k8s.gcr.io/sig-storage/csi-provisioner:v2.0.0** to instead of quay.io/k8scsi/csi-provisioner:v1.4.0 in deploy/vsphere-csi-controller-deployment.yaml. The RBAC for volumeattachments is set as following.
  **- apiGroups: ["storage.k8s.io"]

[2020-09-02 03:49] RaunakShah commented on #204
@luwang-vmware external-provisioner v2.0.0 has some breaking changes. Can you paste the output of csi-privisioner logs? Its probably an argument/env variable that is obsolete. Also what k8s version are you using? I think the minimum is 1.17.

[2020-09-02 04:03] divyenpatel commented on #204
@luwang-vmware as @RaunakShah mentioned, you may not be using the right arguments or `rbac` rules may be missing.
Can you compare YAMLs with following

- https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/latest/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
- https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/latest/vsphere-7.0u1/vani

[2020-09-02 04:04] luwang-vmware commented on #204
Thanks @RaunakShah. I just realized that some params are changing in v2.0.0 as well.
`This introduces a new flag leader-election which is the same as in other sidecar containers and also removes the enable-leader-election and leader-election-type flag (#402, @Madhu-1)`
 updating as below. The pod is running now.
       - name: csi-provisioner
          image: k8s.gcr.io/sig-storage/csi-provisioner

[2020-09-02 04:13] RaunakShah commented on #320
@creativie This is a valid use case, so it seems like something went wrong at the backend. It seems like you will need to file a ticket with VMware Global Support by following the instructions at https://vsphere-csi-driver.sigs.k8s.io/support.html. Make sure to include all vCenter, ESXi and Kubernetes support bundles.

[2020-09-02 05:12] divyenpatel opened #343 "full sync - runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Observed nil pointer dereference in the full sync

[code]

**What you expected to happen**:
Use pointer appropriately after nil check.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/fullsync.go#L407

**How to reproduce it (as minimally and precisely as possible)**:
Reduced full sync interval

[2020-09-02 05:14] divyenpatel commented on #343
/assign @chethanv28

[2020-09-02 05:30] divyenpatel opened #344 "fix full sync / syncer logic to not rely on `pv.Spec.CSI.FSType` to determine if the volume is of type block or file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
fix full sync logic to not rely on `pv.Spec.CSI.FSType` to determine if the volume is of type block or file.
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/fullsync.go#L407-L411

fix syncer logic to not rely on `pv.Spec.CSI.FSType` to determine if the volume is of type block or file.
https://g

[2020-09-02 05:32] divyenpatel commented on #344
cc: @shalini-b

[2020-09-02 06:23] creativie commented on #320
Thanks.
I will try to solve the problem there.

[2020-09-02 06:23] #320 closed

[2020-09-02 16:35] divyenpatel commented on #344
**CSI Logs**

2020-09-02T16:28:14.769274538Z 2020-09-02T16:28:14.768Z	INFO	syncer/metadatasyncer.go:869	PVUpdated: Verified volume: "file:5c57a66e-26d7-42c9-9aa8-366a32660e29" is not marked as container volume in CNS. Calling CreateVolume with BackingID to mark volume as Container Volume.	{"TraceId": "6e2c9f82-ace7-4ce0-95ad-12b06903e6d1"}
2020-09-02T16:28:14.771322282Z 	{"TraceId": "6e2c9f82-ace7

[2020-09-02 23:57] #330 closed

[2020-09-03 01:26] divyenpatel opened #347 "full sync should not push pod metadata when pod is not up and running"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
full sync is pushing pod metadata even when the pod is not up and running.
In the syncer, we are skipping pod metadata update if the pod is not up and running.

**What you expected to happen**:
full sync should not push pod metadata if the pod is not up and running.

**How to reproduce it (as minimally and precisely as pos

[2020-09-03 15:49] cormachogan opened #348 "No compatible datastore found for storagePolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Supervisor CSI does not deploy to local volume - “No compatible datastore found for storagePolicy:”

**What you expected to happen**:

I did not realise that "Shared Storage" was a requirement for the SV CSI driver. It looks like it is indeed a requirement, as I had an update from @SandeepPissay to say that the reaso

[2020-09-03 17:41] #347 closed

[2020-09-03 19:45] #344 closed

[2020-09-04 03:19] #322 closed

[2020-09-06 21:03] Quantas commented on #217
I am on vSphere 7.0 and was able to test `csi-provisioner:2.0.0`. I can confirm that I no longer get stuck PVs after deletion.

[2020-09-07 03:50] #161 closed

[2020-09-07 09:02] saintdle commented on #323
Hi, are you using all the files from my repo? or mixing with the files in this repo that this issue is linked to?

[2020-09-07 12:30] ebuildy commented on #221
I believe this is related to https://github.com/kubernetes-csi/external-attacher/issues/215

[2020-09-08 04:03] sushilsuresh commented on #140
/close

[2020-09-08 04:03] #140 closed

[2020-09-08 12:55] christianknell opened #350 "Failed to get shared datastores in kubernetes cluster. Error: NoPermission"
**What happened**:
When creating a pvc no volume gets dynamically provisioned inside vsphere. The log of the vsphere-csi-provisioner contains the following error message:
`'ProvisioningFailed' failed to provision volume with StorageClass "vsphere-storage": rpc error: code = Internal desc = failed to get shared datastores in kubernetes cluster. Error: NoPermission`

**What you expected to happen**:

[2020-09-09 13:32] nilic commented on #323
@saintdleI have the same problem with your files on vSphere 6.7u3. Possible reason: #250

[2020-09-09 17:53] #294 closed

[2020-09-09 18:20] christianknell commented on #350
We were able to solve this problem by adding the permission "Browse datastore" to the "CNS-Datastore" role:
![grafik](https://user-images.githubusercontent.com/12433010/92638024-f4605380-f2d9-11ea-8a22-69b80f4ca09d.png)

[2020-09-09 18:20] #350 closed

[2020-09-09 18:27] divyenpatel commented on #350
@christianknell as per our internal testing we do not need `Browse datastore` privilege on the `CNS-Datastore` Role.

I think we need `ReadOnly` privilege on the hosts. Are you saying privileges mentioned here are not enough - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges

[2020-09-09 22:41] chethanv28 commented on #343
/assign @chethanv28

[2020-09-11 00:01] RaunakShah opened #354 "CnsRegisterVolume CRD not created during CNS Operator init"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
vsphere-syncer remains in CrashLoopBackOff state because CNS Operator does not have code to create `CnsRegisterVolume` CRD.

**What you expected to happen**:
vsphere-syncer should create `CnsRegisterVolume` CRD and enter Running state.

**How to reproduce it (as minimally and precisely as possible)**:
Create a Supervisor c

[2020-09-11 00:11] RaunakShah commented on #354
/assign

[2020-09-11 01:22] #149 closed

[2020-09-11 05:39] divyenpatel commented on #236
Add requirement about PVC/PV annoation for staic volume provisioning.

PV should have

[code]

PVC should have

[code]

if above annoations are not present on statically created PV/PVC, admin need to patch those PVs and PVCs otherwise they will not get migrated.

[2020-09-11 18:12] divyenpatel opened #356 "consolidate the YAML files - we should not have separate CSI YAML files per vSphere release"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is an improvement issue.

Refer to @SandeepPissay 's comment - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/351#issuecomment-689758137

**What happened**:
We are maintaining deployment YAML per vSphere releases. - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/latest

The reason is each release adds a new

[2020-09-11 20:18] yuyiying commented on #348
@cormachogan We already have a doc that clarifies this in prerequisites - https://docs.vmware.com/en/VMware-vSphere/7.0/vmware-vsphere-with-kubernetes/GUID-544286A2-A403-4CA5-9C73-8EFF261545E7.html
If you don't have other requests, we can close this issue. Thanks!

[2020-09-11 20:23] RaunakShah commented on #341
@mohideen looks like kubelet/kube-controller-manager has an issue. I'm not too sure what the bug is but CSI depends on kubelet to call NodeStageVolume and NodePublishVolume callbacks.
I think the only solution for now is to do what you've done. If you can repro the issue consistently, i'd suggest increasing kubelet log level and capturing the logs.

[2020-09-11 20:27] shalini-b commented on #338
/assign

[2020-09-11 20:28] chethanv28 commented on #325
@seanmcconkey Can you point us to user post ?

[2020-09-11 20:28] shalini-b commented on #336
/assign

[2020-09-11 20:44] gohilankit commented on #319
/assign

[2020-09-14 07:34] cormachogan commented on #348
Thanks for highlighting @yuyiying

Do you think we can prevent this behaviour in the CSI driver code, such as preventing the use of a local datastore through policies in the first place?

Or even produce a more explanatory error message? e.g. "No compatible datastore found for storagePolicy - the datastore must be shared between all ESXi hosts" ? This would be more helpful than the current error m

[2020-09-14 10:39] cormachogan opened #357 "vsphere-csi-node should be prevented from running on Windows nodes"
/kind feature

**What happened**:
Reported via the vSphere CSI helm chart issues.
Attempt to deploy vSphere CSI driver on Windows results in the following Log Events:

[code]

**What you expected to happen**:

nodeSelector should prevent the vSphere CSI driver being installed on Windows.

The original reporter of the helm chart issue asked to add the **nodeSelector** feature to the manifests of th

[2020-09-15 04:52] chethanv28 commented on #343
This issue is not observed in the csi images built from latest commit.
Most likely the recent bug fixes related to file shares have addressed the nil pointer deferences.

I have tested the scenario described in the issue by reducing the full sync to smaller intervals, however the issue was not reproduced.

Closing the issue.

/close

[2020-09-15 04:56] luwang-vmware opened #359 "PV can not attach to new node if the previous node is deleted"
/kind bug

**What happened**:
We deployed k8s env in TKGI(PKS) and deployed CSI2.0 in the cluster. Deployed a statefulset. When the worker node in which the pod/pv is registered is in the error status, bosh resurrector mechanism created a new worker node to replace the error one. After a while,  the statefulset pods/pv were rescheduled to the other nodes, but it got hang. The error said:
[code]
ch

[2020-09-15 05:02] chethanv28 commented on #343
@divyenpatel Can you please close the issue based on my previous update above ^^

[2020-09-15 05:13] chethanv28 opened #360 "Full sync during CSI migration : Nil pointer deference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Observed Nil Pointer Deference in full sync

<pre>

goroutine 122 [running]:
sigs.k8s.io/vsphere-csi-driver/pkg/syncer.csiFullSync(0x24ec5a0, 0xc000c23b90, 0xc000127180)
	/build/pkg/syncer/fullsync.go:63 +0x30e
sigs.k8s.io/vsphere-csi-driver/pkg/syncer.InitMetadataSyncer.func8(0xc0000d0460, 0xc000507af0, 0xc00014f520, 0xc000127180)

[2020-09-15 05:14] chethanv28 commented on #360
/assign

[2020-09-15 14:49] SandeepPissay commented on #359
I0915 01:22:57.368578       1 controller.go:175] Started VA processing "csi-909e60899167c6190538987f558be23e3f3998a5a779542af4e9798b1fbc6a4c"

@luwang-vmware This means CSI is unable to discover the node during startup. This usually happens if the vsphere conf secret has incorrect entries or the providerId in Node API object is incorrect(it is set by vSphere cloud provider). Can you check the secr

[2020-09-15 17:20] #343 closed

[2020-09-15 20:03] RaunakShah commented on #307
@danielkucera it looks like SCC is a CRD introduced by OpenShift? I'm not sure what changes we can make in this repo to support that. Are you suggesting documenting this as a pre-req for OpenShift?

[2020-09-15 20:04] RaunakShah commented on #313
@facchettos any updates here?

[2020-09-15 20:04] RaunakShah commented on #313
/assign

[2020-09-15 20:08] facchettos commented on #313
I don't have updates on that as we moved over to another storage solution

[2020-09-15 20:08] #313 closed

[2020-09-15 20:21] danielkucera commented on #307
Yes it is OpenShift specific. Not sure either, maybe create a separate folder for openshift as you have for vanilla, supervisorcluster, etc. in /manifests ?

[2020-09-15 23:42] luwang-vmware commented on #359
@SandeepPissay 5844930c-f7d5-4b8d-a618-0337da1b14c7  was the worker node, which has been deleted by BOSH and a new worker node is created by BOSH as well.   The scenario is similar like a PV is attached to the worker node, when the worker node is deleted by accident or on purpose, the  PV can not attach to the other node.

[2020-09-16 00:15] chethanv28 commented on #253
We need to updated pod metadata information for the inline migrated volume, hence this issue is reopened to add more fixes to updatePodMetadata method

[2020-09-16 10:37] cormachogan opened #363 "Prevent unnecessary CSI Pods getting deployed on unsupported vSphere versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

Customers who deploy the CSI 2.0 manifests on vSphere 6.7U3 are seeing failures when the CSI Resizer Pod is launched. This has been reported here before, and has been reported once again by someone using the CSI Helm Chart.

**What you expected to happen**:

We should add some smarts to the CSI driver deployment that

[2020-09-16 13:21] xander-sh commented on #217
@RaunakShah csi-provisioner already released new version of image (v2.0.1)
https://quay.io/repository/k8scsi/csi-provisioner?tag=latest&tab=tags
Can you please validate it image and update deploy YAMLs.

[2020-09-16 14:49] divyenpatel commented on #363
@cormachogan

The reason you are observing `Error is "Failed to check if plugin supports node resize: error getting node capabilities: rpc error: code = Unimplemented desc = unknown service csi.v1.Node` because the controller does not publish `ControllerServiceCapability_RPC_EXPAND_VOLUME` capability when the vCenter version is 67u3.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/mast

[2020-09-16 14:53] divyenpatel commented on #356
We should consider this while consolidating YAML. We can not keep sidecar containers in the pod for which the controller does not publish capabilities.

Refer:
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/363
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/363#issuecomment-693457202

[2020-09-16 17:01] RaunakShah commented on #217
@xander-sh we've validated the latest versions of sidecars and updated the YAMLs in the `latest` folder. I'll get back to you on whether we're doing that for existing releases as well..

[2020-09-16 17:23] longwa commented on #217
We are using the version of CSI that installs by default with TKG on 6.7U. I'm not sure if we can upgrade for this platform so I believe we are stuck with the bug. Hopefully, TKG 1.2 will come out soon and upgrade to the 2.x CSI driver for the 6.7U3 platform, but I'm not holding my breath on that one.

[2020-09-16 17:23] xander-sh commented on #217
Thanks, we are really looking forward to a fix csi-provisioner  in the version  6.7u3 of vSphere.

[2020-09-16 20:14] chethanv28 commented on #357
@divyenpatel I believe you are updating the support matrix in csi driver docs which will include support for Windows.
Can you please assign this to you and see what can be done to this issue ?

[2020-09-17 14:12] namgizlat commented on #186
hi,

any conclusion here?
i am getting same issue on my k8s

[2020-09-17 14:33] danielkucera opened #365 "Storage DRS breaks CNS to FCD volume mapping"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

k8s node with attached PVs got storage migrated and volumes got renamed. Now the CSI driver fails to deatch the PV and mount it to another node

**What you expected to happen**:

Prevent volumes from migrating/renaming so that storage vMotion has no effect on them.

**How to reproduce it (as minimally and precisely as pos

[2020-09-17 18:24] namgizlat commented on #307
Hi,
that solved for me same issue (ocp 4.5)
now getting restarts due to liveness failure:

  Normal   Created         115s                kubelet, m03.node.namgizlat.com Created container vsphere-syncer
  Normal   Pulling         96s (x2 over 118s)  kubelet, m03.node.namgizlat.com Pulling image "gcr.io/cloud-provider-vsphere/csi/release/driver:v2.0.0"
  Warning  Unhealthy       96s (x3 over 106s)

[2020-09-17 18:28] SandeepPissay opened #366 "[Doc] Need to add doc on how to manually upgrade CSI driver"
vSphere CSI doc does not clarify how to upgrade CSI driver from one release to another. We need a doc that customers can follow to manually upgrade CSI driver.

[2020-09-17 19:02] SandeepPissay commented on #266
/assign @divyenpatel

[2020-09-17 20:14] #354 closed

[2020-09-17 22:17] chethanv28 commented on #365
@danielkucera  Can you provide information for the following questions :
1. Please fill out "How to reproduce it" section in the issue
2. What is the version of CSI driver
3. What version of vSphere
4. Renaming was observed for FCD volume id or FCD volume names ?

[2020-09-18 10:03] danielkucera commented on #365
I've updated the description. I cannot simulate this now. Even when the volume gets renamed and moved during migration it can still be detached/attached to a new node. I presume this happens only during DRS migration.

[2020-09-18 11:48] Anil-YadavK8s opened #370 "fsgroup is not set on volume provided by Vmware CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
When we are deploying a Pod with security context fstype and non-root user to access Vmware volume (PV/PVC).
Fsgroup failed to assigned setgid in the files  on the volumes

**What happened**:
Pod presented with Vmware CSI's PV/PVC , unable to fsgroup on the data volume.

**What you expected to happen**:

Vmware CSI's PV/PVC should support fsgroup for l

[2020-09-18 11:50] Anil-YadavK8s commented on #370
@RaunakShah @divyenpatel  Any insight on above issue.

[2020-09-18 17:40] kavyashree-r opened #371 "Update the documentation to add vsphere-config-secret, in vsphere-csi-node-ds.yaml to enable Topology details in CSI nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
  Documentation bug :
In this Section : https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html
After the step  "Install the CSI driver" , One more step need to be added to enable vsphere-config-secret in vsphere-csi-node-ds.yaml file

**What you expected to happen**:
After the step  "Install the CSI d

[2020-09-21 10:14] seanmcconkey commented on #325
Sorry for the late reply I have been on vacation.

The bottom reply in this. https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/290

[2020-09-21 16:31] nick-oconnor commented on #251
I think I'm running into the same issue as @jaguar900. I've used @mthird's process for deleting volumes that still have namespace, pvc, and pod info, however there seems to be yet another state in which `CnsDeleteVolume` returns not found. Here are two screenshots showing the problematic volume. Any help would be greatly appreciated.

<img width="1016" alt="Screen Shot 2020-09-21 at 12 25 54 PM" s

[2020-09-21 23:48] #317 closed

[2020-09-22 03:36] divyenpatel commented on #166
/remove-lifecycle stale

[2020-09-22 03:36] divyenpatel commented on #166
/remove-lifecycle rotten

[2020-09-22 13:42] TJM commented on #363
I put in a "temporary" (?) fix in the helm chart to allow the person deploying to "disable" the csi-resizer. Is that the only difference between the 6.7U3 and 7.x yaml files? (we don't have 7.0 in production yet, so I have not tested them)

As an alternative to making the person deploying the charts choose between two different sets of yaml files (or set a parameter/parameters during helm install)

[2020-09-22 13:46] TJM commented on #357
Link: https://github.com/cormachogan/vsphere-csi-helmchart/issues/4

[2020-09-22 17:15] divyenpatel opened #375 "Change GetVolumeID interface to accept a pointer of VolumeSpec"
Not related to this change, but i see that `volumeMigrationService.GetVolumeID` is called at many places. Can we pass a pointer to `migrationVolumeSpec` as a function argument rather than a copy?

_Originally posted by @RaunakShah in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/367#discussion_r492447605_

[2020-09-22 21:22] SandeepPissay commented on #375
/assign @divyenpatel

[2020-09-23 00:38] chethanv28 opened #377 "Consider moving VolumeMigrationService instantiation in K8SOrchestrator"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
As part of the code review for PR #364 it was suggested that VolumeMigrationService can be instantiated in K8SOrchestrator in COAgnostic package. That way, the VMS will always be initialized as soon as FSS changes
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/364#discussion_r492448529
**What you expected

[2020-09-23 16:30] #253 closed

[2020-09-23 19:08] divyenpatel opened #378 "Add an exception for honoring `diskformat `parameter for VCP to CSI Migration when diskformat is set to `thin`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:
Add an exception for honoring `diskformat `parameter for VCP to CSI Migration when diskformat is set to `thin`.

[2020-09-23 19:25] divyenpatel commented on #378
make a code change to support following statement.

[2020-09-23 19:38] bburky commented on #251
I wrote a new script using the new `govc volume.ls` and `govc volume.rm` commands. This script is more robust than my previous one and only deletes orphaned CNS volumes without a corresponding PV. This script requires a development build of `govc` that includes this recent PR: https://github.com/vmware/govmomi/pull/2103

https://gist.github.com/bburky/fd729f129347b9141255fbc2185c52ea

[2020-09-23 20:58] #311 closed

[2020-09-23 21:40] #375 closed

[2020-09-23 22:38] #360 closed

[2020-09-24 00:04] nick-oconnor commented on #251
@bburky awesome script! It works great for the not partially deleted volumes. I tried with the latest `govc` and got the same results (i.e. `govc volume.ls` shows the above volume, however `govc volume.rm e0444356-5226-479c-84ad-30d90635b089` returns `govc: ServerFaultCode: CNS AuthZ:Failed to retrieve datastore moref for vol e0444356-5226-479c-84ad-30d90635b089: N3Vim5Fault8NotFound9ExceptionE(Fa

[2020-09-24 03:58] #378 closed

[2020-09-24 05:24] bburky commented on #251
@nick-oconnor I have no idea about that error message. I think this uses the same CNS endpoints as the vsan mob steps in this thread. I haven't ever gotten the volumes stuck in a partially deleted state, sorry I can't help with that issue more.

[2020-09-24 06:56] chethanv28 opened #383 "Handle missing error checks"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Found missing error checks in CSI source code for following files:
pkg/csi/service/node.go
pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go

**What you expected to happen**:
Do not discard errors using _ variables. If a function

[2020-09-24 06:58] chethanv28 commented on #383
/assign

[2020-09-24 10:37] nickvth opened #385 "fcd not removed when using a provisioned volume with a reclaimPolicy: retain"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: When we delete a released pv, the fcd is physical not removed, only the cns.

**What you expected to happen**: Remove also the fcd when pv is deleted

**How to reproduce it (as minimally and precisely as possible)**:
- Create storageclass with reclaimPolicy: retain
- Create pvc
- Create pod with pvc
- Delete po

[2020-09-24 17:07] SandeepPissay commented on #385
Since you want the volume to be retained, vSphere CSI does not get a callback to delete the volume on vSphere when you delete the released PV. This seems to be working as expected. Also see https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain

[2020-09-24 17:07] #385 closed

[2020-09-24 19:15] #233 closed

[2020-09-24 19:15] #236 closed

[2020-09-24 19:15] #371 closed

[2020-09-24 22:58] RaunakShah opened #388 "Performance issues in volume health reconciler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Couple of performance related issues in volume health reconciler:

1. `findTKGPVforSupervisorPVC` function lists all PVs in a TKG for any SV PVC event to check if the volumeHandle of a PV is equal to that SV PVC. For every SV PVC event, the time complexity is O(n).
2. `updateTKGPVC` GETs the TKG PVC object by querying the

[2020-09-24 22:58] RaunakShah commented on #388
/assign

[2020-09-25 16:42] AntonSmolkov opened #390 "vsphere-csi-controller can't attach volume to VM with the same name as deleted one had"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vsphere-csi-controller can't attach volume to VM with the same name as deleted one had.

**What you expected to happen**:
vsphere-csi-controller CAN attach volume to VM with the same name as deleted one had.

**How to reproduce it (as minimally and precisely as possible)**:
1) `kubectl delete node mynode`
2) Create new no

[2020-09-25 21:11] SandeepPissay commented on #390
@AntonSmolkov can you try with the latest v2.0.0 driver and tell us if you are seeing the same issue?

@manojvs157 can you assign this issue?

[2020-09-25 21:12] SandeepPissay commented on #390
/assign @manojvs157

[2020-09-25 23:17] RaunakShah opened #392 "findTKGPVforSupervisorPVC in volume health reconciler does not work for file volumes in TKG clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The function findTKGPVforSupervisorPVC does not handle a case where multiple PVs in a TKG cluster can point to the same SV-PVC. This function returns the first PV that points to this PVC. As a result, volume health annotation will only be present on a single PVC.

Reference code can be found here - https://github.com/kube

[2020-09-25 23:17] RaunakShah commented on #392
/assign

[2020-09-25 23:18] RaunakShah commented on #392
@SandeepPissay @divyenpatel does the code for this count as a bug fix or a feature request (and will be guarded by a feature gate). I'm thinking the former...

[2020-09-25 23:31] divyenpatel commented on #392
TKG Cluster does not support file volume yet, so we can close this issue.

[2020-09-25 23:37] RaunakShah commented on #392
Will reopen this when we add support for file volumes in TKGs.
/close

[2020-09-25 23:37] #392 closed

[2020-09-26 07:17] #191 closed

[2020-09-27 01:35] #195 closed

[2020-09-27 11:16] nickvth commented on #162
/reopen issue not fixed

[2020-09-27 11:23] nickvth commented on #162
/reopen

Issue not fixed

[2020-09-28 04:36] SandeepPissay commented on #392
Agree with @divyenpatel

[2020-09-28 10:14] AntonSmolkov commented on #390
i tried v2.0.0. The result is pretty same, but with more descriptive log message.
[vsphere-csi-controller.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5291484/vsphere-csi-controller.log)

I guess it might be somehow related to wrong caching in CPI (key is name, nod uuid) - https://github.com/kubernetes/cloud-provider-vsphere/issues/381#issuecomment-697798343

[2020-09-28 13:30] bortek commented on #290
I am getting the same error when deploying this on Openshift 4.4.23

level=fatal msg="failed to listen" error="listen unix /var/lib/csi/sockets/pluginproxy/csi.sock: bind: permission denied"

Can I apply the solution with EmptyDir as mentioned above?

[2020-09-28 13:51] bortek commented on #307
I am getting the same issue on openshift 4.4.23

I used this file to create my resources and that one still has HostPath in it

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/v2.0.0/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml

Similar error is also being discussed in https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/290

[2020-09-29 08:50] bortek commented on #290
The above works but it would be good to have it fixed in the "official" yaml files if this is the official solution now.

[2020-09-29 17:44] mohideen commented on #265
@divyenpatel, we are experienced the same issue on one of our clusters. Restarting the nodes in the cluster fixed the issue for us.

We have the v2.0.0/vsphere-67u3/vanilla installed on our cluster, but we recently upgraded our vCenter from v6.7u3 to v7. Do we also need to upgrade our cluster with the manifests from v2.0.0/vsphere-7.0/vanilla? If yes, can you help me find the documentation for upg

[2020-09-29 18:56] divyenpatel opened #397 "Add support for --leader-election-namespace for syncer container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Syncer does not support specifying  `--leader-election-namespace` like all other sidecar container images.
We have a use case where we want to run a CSI controller pod externally from the seed cluster in a different namespace.

If a namespace is not present on the target cluster, we see syncer is failing to initialize.

E0928 19:13:

[2020-09-29 20:04] maddilli16 commented on #229
@SandeepPissay  We have no chance to use a Linux based vCenter Server? Is there any other way to create storage for the K8s cluster with vCenter, otherwise this is a show stopper for our project right now

[2020-09-29 20:10] SandeepPissay commented on #229
Are you looking for using CSI on a windows based vCenter server? If yes, we do not support this as we are moving away from windows based vCenter server.  If your question is different, please clarify.

[2020-09-29 21:21] BaluDontu commented on #316
This is addressed in PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/394.

[2020-09-29 21:30] RaunakShah opened #398 "Volume Migration Service informer may never be initialized"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The function `GetVolumeMigrationService` is a singleton - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/apis/migration/migration.go#L104

If, during the first call to this function in a container, the informer init within this goroutine fails, we simply return without setting any error - https://gi

[2020-09-29 21:30] RaunakShah commented on #398
cc @divyenpatel @chethanv28

[2020-09-29 22:32] BaluDontu commented on #316
@divyenpatel You can close this issue now.

[2020-09-29 22:32] #316 closed

[2020-09-30 00:32] chethanv28 commented on #398
/assign

[2020-09-30 14:09] dostalradim opened #401 "SCSI Controller Limit"
Hi, my pods getting stuck with this log and I had no luck to find some solution. Scheduler is still trying to use first node which hase no free SCSI ports but another 6 nodes has less than 10 volumes. Can you tell my what is the right solution for this? My K8S cluster is on 1.16.10 version.

SCSI Controller Limit of 4 has been reached, cannot create another SCSI controller

Please and thank you!

[2020-09-30 17:41] chethanv28 opened #402 "TKGS failing to load FSS with latest CSI images"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In the Init of pvCSI the following error was observed while loading FSS values
<pre>
{"level":"error","time":"2020-08-20T23:26:30.111764005Z","caller":"k8sorchestrator/k8sorchestrator.go:61","msg":"failed to fetch configmap  from namespace . Setting the feature states to default values: map[]. Error: resource name may not

[2020-09-30 17:41] chethanv28 commented on #402
/assign

[2020-10-01 06:04] chethanv28 opened #404 "Move replicated Supervisor FSS configmap information to cns-csi.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
This is a feature request to make replicated SV FSS information(Name, namespace) configurable in pvCSI.
Please see below thread for more information:
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/332#discussion_r497990680

**What you expected to happen**:
Replicated SV FSS configmap information should not

[2020-10-01 06:05] chethanv28 commented on #404
/assign

[2020-10-01 07:50] dostalradim commented on #401
Sorry wrong project

[2020-10-01 07:50] #401 closed

[2020-10-02 21:15] BaluDontu commented on #397
/assign @divyenpatel

[2020-10-02 21:17] manojvs157 commented on #390
/assign

[2020-10-02 21:45] #402 closed

[2020-10-02 22:15] divyenpatel opened #408 "vSphere CSI Driver 2.0.0 is not backward compatible with vSphere 67u3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vSphere CSI Driver 2.0.0 is not backward compatible with vSphere 67u3.
Thanks @marunachalam for reporting this issue.

Refer:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/release-2.0/pkg/syncer/fullsync.go#L185-L191

[code]

We are using `metadata.(*cnstypes.CnsKubernetesEntityMetadata).ClusterID` to match w

[2020-10-05 08:41] dostalradim opened #410 "SCSI controller limit"
My cluster is on v1.16.10 version and use vsan dynamic PV provisioning and has 7 working nodes where first one has completely used disk capacity which means 4 scsi controllers and 60 disks but another nodes has less then 10 disks. But the kubernetes scheduler is still trying to install some pods with PV on first node and is ending up with this message. Is there some way to tell scheduler to not sc

[2020-10-05 22:03] #200 closed

[2020-10-05 22:48] RaunakShah opened #411 "Volume health/Resize reconcilers may not initialize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volume health and resizer reconcilers in TKG may fail to initialize.
The control path of volume health in TKG clusters:

1. A new goroutine is spawned in `InitMetadataSyncer` to initialize volume health reconciler - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/metadatasyncer.go#L284

This g

[2020-10-06 07:48] Anil-YadavK8s commented on #370
@RaunakShah On analysis We could see issue with  image: quay.io/k8scsi/csi-provisioner:v2.0.0-rc2. This image resolved our Volume going in released state. But it is not honoring Fsgroup.

[2020-10-06 16:32] RaunakShah commented on #370
@Anil-YadavK8s can you try doing this without CSI involved? Basically exec into the Pod and try mounting manually..

[2020-10-06 17:27] shalini-b commented on #239
/remove-lifecycle stale

[2020-10-06 19:14] RaunakShah opened #414 "volume health reconciler in PVCSI continously keeps processing SV PVC event that is not being used in GC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
From @SandeepPissay:

Volume health reconciler in TKG-1 keeps processing SV PVC event continuously by requeueing SV PVC's that are not claimed in a TKG.
Note that this gets worse if we have thousands of SV PVCs and many TKG clusters.

This was done as a workaround because statically provisioned volumes need to get volume h

[2020-10-07 08:01] chethanv28 commented on #404
The issue was fixed as part of this PR: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/332
Thanks to @SandeepPissay for helping resolving this with minimal changes

/close

[2020-10-07 08:01] #404 closed

[2020-10-07 17:23] namgizlat commented on #217
Hi,

is there an update about the fix to version 6.7u3 of vSphere?

[2020-10-07 18:02] #408 closed

[2020-10-08 04:04] nickvth commented on #217
@RaunakShah please update the manifest with csi-provisioner already released new version of image (v2.0.1) in CSI release 2.1 branch

[2020-10-09 06:56] Anil-YadavK8s commented on #370
@RaunakShah Yes with empty dir/hostvolume , fsgroup is working.

[2020-10-09 17:30] gohilankit opened #420 "Static provisioning in SV should fail early if volume's storage policy isn't assigned to the namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If we create a CnsRegisterVolume instance with a volume with storage policy that exists in the cluster but not assigned to the namespace, it creates a PV and then fails at PVC creation.

[code]

Now we have a PV in the cluster that's not bound and is claimed by a PVC that doesn't exist.
[code]

**What you expected to happe

[2020-10-09 17:32] gohilankit commented on #420
/assign

[2020-10-12 15:00] divyenpatel opened #422 "document how customer can resolve issues when they have accidently used same cluster-id on all k8s clusters in the vCenter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Documentation

**What happened**:
Customer deployed multiple kubernetes clusters on the vCenter with many of the k8s clusters using same cluster-id.
full sync running in all these kubernetes cluster created a race. (one cluster is untagging volume as container volume and another one tagging back container volume). In the end, the system has become inop

[2020-10-12 16:29] RaunakShah commented on #410
As far as i know there's no way to schedule pods based on disk capacity. Can you raise this issue on https://github.com/kubernetes/kubernetes? CSI isn't responsible for scheduling of pods and also VCP is not being tracked on this repo.

[2020-10-13 09:36] danielkucera commented on #365
I was able to reproduce this issue and I opened a new ticket with vmware support SR 20163088910, this is how to reproduce:
[code]

[2020-10-14 01:18] SandeepPissay commented on #411
We should not be restarting the syncer container as we would lose all the cache that needs to be rebuilt and also the syncer init is expensive. We should be restarting the volume health reconciler if it stops for whatever reasons.

[2020-10-14 11:47] chris-morandi opened #428 "MountVolume.MountDevice failed for volume when Pod is disrupted during creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a statefulset, Elasticsearch in this case with three replicas, there was an issue due to low resource and the Pods creation was disrupted due to memory and cpu levels.  After recovery the statefulset replicas could not attached their PV as it was not attached to the hosting node.

**What you expected to happ

[2020-10-14 11:55] chris-morandi commented on #428
Only way to recover this we found was to restart the node that the pod was running on so that it attempts to unmount (which will fail as it couldnt mount in the first place) and then remount elsewhere.

[2020-10-14 12:43] dheerajinganti opened #429 "VolumeAttachment fails with err ServerFaultCode: NoPermission"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
A working k8s cluster with csi/cpi stops working as one of the node in k8s cluster starts reporting below error. None of the pods scheduled on this node can attach any volumes. This same node was working fine few days back so something happened which caused on this node to behave like this. Other nodes are working fine, any pods sch

[2020-10-14 19:16] RaunakShah opened #431 "Full Sync doesnt handle a case where multiple PV/PVCs point to the same volume handle."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. Create a PVC dynamically with AccessMode set to RWX
2. Create one or more PV/PVCs statically with volume handle set to above volume

Full Sync will delete the CNS metadata for all but one of these PV/PVCs. CNS UI will show incorrect information about that volume.

Now change reclaimPolicy of one PV to retain and delete

[2020-10-14 19:16] RaunakShah commented on #431
/assign

[2020-10-14 19:23] chethanv28 commented on #429
@dheerajinganti Is it possible upload vsphere-csi-controller logs along with vsphere-csi-node logs for the worker node where attach volumes are failing

[2020-10-14 21:10] chethanv28 commented on #428
@chris-morandi : Can you verify if you are running into this issue: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/92#issuecomment-547820287

Also can you confirm if the vSphere version mentioned in the issue is correct. We only support CSI for vSphere: 6.7 U3 and above

[2020-10-14 21:35] chethanv28 commented on #428
/assign

[2020-10-14 22:04] SandeepPissay opened #433 "Volume reconciler in TKG does not handle SV PVC removal"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/volume_health_reconciler.go#L96

The svcPVCInformer has event handlers for add and update but not for delete. So, if a SV PVC is deleted then the TKG PVC may still show the volumeHealth as 'accessible' but in reality it isn't.

**What you expected

[2020-10-15 05:06] dheerajinganti commented on #429
@chethanv28 here you go.
[vsphere-csi-node.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5382548/vsphere-csi-node.log)
[vsphere-csi-controller.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5382549/vsphere-csi-controller.log)
[csi-attacher.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5382550/csi-attacher.log)

On the privileges, as I am usin

[2020-10-15 10:26] chris-morandi commented on #428
vCenter Appliance 6.7 Update 3g (6.7.0.44000)  I've updated it in the ticket too.

Note we are also using  vCenter Appliance 6.7 Update 3j (6.7.0.45000) too.. Though we have yet to test in this environment.

I understand both should meet the requirements.

[2020-10-15 16:26] alanreboucas opened #437 "VMFS Provider Problem - Problem to unmount vmdk of the VM when it is down"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
We are using vSphere provider to deliver PVCs on Kubernetes environment. When a node goes down the vmdk disk remain locked on the VM until we turn on the node.
There´s no problem when the nodes are turned on (all the umount and mount process works well). The problem is just when the node is shutted down.

"kubectl events"

[2020-10-15 17:29] mohideen commented on #257
/remove-lifecycle stale

@divyenpatel Before closing this issue, I just want to confirm that there is no way to recover a vSphere volume based on the UUID if we have deleted both the PVC and PV on the cluster. Thanks!

[2020-10-15 17:42] #319 closed

[2020-10-15 17:53] divyenpatel commented on #257
@mohideen thanks for removing `lifecycle/stale`. We will update the documentation.

[2020-10-15 22:55] chethanv28 opened #441 "Delete/Cleanup stale CNSVolumeMigration CRD instances"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
If deleteVolumeInfo fails in volumeMigrationService : https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/08d749dddfac6697ba30c80830bd057473ed9156/pkg/apis/migration/migration.go#L294
we need a way to cleanup the stale CR instances.

This was discussed during the review:
https://github.com/kubernetes-sigs/vsphe

[2020-10-16 03:09] #398 closed

[2020-10-16 06:41] dheerajinganti commented on #429
@chethanv28 Let me know if you need any further information. Also,  point me possible ways to diagnose this issue to understand the root cause.

[2020-10-16 19:54] chethanv28 commented on #441
/re-open

[2020-10-16 19:58] chethanv28 commented on #441
/open

[2020-10-16 19:59] #366 closed

[2020-10-16 20:07] chethanv28 commented on #429
/assign

[2020-10-16 20:13] chethanv28 commented on #437
/assign

[2020-10-17 14:36] #186 closed

[2020-10-19 17:14] #388 closed

[2020-10-19 18:21] RaunakShah commented on #370
@Anil-YadavK8s Can you share all the YAML files (maybe as a github gist). We can try to reproduce this issue on a local setup and get back to you.

[2020-10-21 07:36] farodin91 opened #453 "PVC stuck in pending state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
event:

pvc was in pending state

**What you expected to happen**:
PVC should be created.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Restart of the CSI controller helped

**Environment**:
- csi-vsphere version: 2.0.0
- vsphere-cloud-controller-manager version: 1

[2020-10-21 08:40] sashrith commented on #383
golangci-lint reports missing error checks, how did we miss it so far

[2020-10-21 15:57] dickeyf commented on #370
I also encountered this issue.

Here's the statefulset I used:
[stateful-fsgroup.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5417172/stateful-fsgroup.txt)

And I ran a shell with kubectl exec -it <pod name> sh
to go to the mount path:
cd /usr/sw/adb
touch test (This fails)
mkdir test (This fails)

[2020-10-21 18:24] RaunakShah commented on #370
@dickeyf thanks for the YAML. Will get back to you shortly.

[2020-10-21 18:30] #431 closed

[2020-10-21 20:36] BaluDontu opened #455 "Vanilla CSI controller fails to initialize testbed when the datacenter specified in vsphere.conf doesn't have any clusters inside it."
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
Currently we fail if the datacenters doesn't have any clusters inside it - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/common/vsphereutil.go#L518. But it is also possible to have ESX hosts directly inside the DC without a cluster. In that case it gives following error

2020-10-20T23:18:51.77

[2020-10-21 22:57] #441 closed

[2020-10-22 06:04] th3n3xtg3n3ration commented on #91
I installed kubespray with CSI in VMware Vsphere. I have same problem. My VMware ESXi version is 6.7.0, 15160138. My VCenter version is  7.0.0. When I create pvc in kubespray. I am getting error like that:

`  Type     Reason                Age              From                                                                                  Message
  ----     ------                ----

[2020-10-22 10:33] RobbieJVMW commented on #370
Seeing this too - sample code here:
https://github.com/RobbieJVMW/Kubernetes-PV-Test

[2020-10-22 14:23] dickeyf commented on #370
Since 1.19 Kubernetes does a check here to verify whether a CSI Driver supports fsGroup:
https://github.com/kubernetes/kubernetes/blob/dd466bccde8176bd390fcf712c0752ae94444742/pkg/volume/csi/csi_mounter.go#L374

Could this be related to it?  We were using K8S 1.19 when testing this.

@Anil-YadavK8s Do you remember what version you used?

[2020-10-22 14:51] AntonSmolkov commented on #390
[code]

[2020-10-22 17:14] vrabbi opened #458 "Build Images for CSI as multi-arch images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
now that ESXi on ARM is available as a fling it would be great to get the CSI to support ARM based clusters.

**Anything else we need to know?**:
currently seperate issues were created in CPI and CAPV repos to support multi-arch as well which together with this would allow for running CAPV clusters on ARM which would

[2020-10-22 17:45] dickeyf commented on #370
This is the CSIDriver object we had when testing:
`kind: CSIDriver
apiVersion: storage.k8s.io/v1beta1
metadata:
  name: csi.vsphere.vmware.com
spec:
  attachRequired: true
  podInfoOnMount: false
  volumeLifecycleModes:
    - Persistent
`

[2020-10-22 19:25] RaunakShah commented on #370
@dickeyf @RobbieJVMW @Anil-YadavK8s thanks for all the updates.

I was able to reproduce this issue locally. I used the sts yaml provided in https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/370#issuecomment-713679323 on a default storage class on my setup.

This is the original storage class spec i used:
[code]

As you can see, the parameters section is empty.
Since no `fsType` is prov

[2020-10-22 19:40] RaunakShah commented on #370
Here's another link that's informative - https://github.com/kubernetes-csi/external-provisioner/blob/8b0707649212d770624008edbd127f312121aff9/cmd/csi-provisioner/csi-provisioner.go#L77

If external-provisioner fsType isn't set, and SC fsType isn't set, then none is assumed.

[2020-10-22 19:42] dickeyf commented on #370
Will try that, thanks a lot!  I believe this was our issue all along.

So if either one is set it would fix the issue?

[2020-10-22 19:50] RaunakShah commented on #370
Yes it would. Setting it on external-provisioner helps avoid setting it on each individual storage class. Setting it on a storage class supercedes whatever is set on the external-provisioner. Note that you need to be using external-provisioner `v2.0.0` for this feature.

Can you give it a try on your setup and let me know how it goes?

[2020-10-22 22:06] RaunakShah commented on #370
@dickeyf @Anil-YadavK8s can you guys also tell me what external-provisioner version you are using?

[2020-10-23 09:46] RobbieJVMW commented on #370
I've tested this against my VSAN lab on TKG 1.2 and its working successfully when you provide fsType.  @dickeyf this should fix the issue we have been having.

[2020-10-23 10:04] RobbieJVMW commented on #370
If you don't provide this param to the storageclass definition should be generating a 'permissions' error from inside the container or throwing the issue out before we reach that point ?  Maybe simply highlighting it in docs ?
I'm asking what the desired behaviour should be here ?

[2020-10-23 12:55] #124 closed

[2020-10-23 16:17] RaunakShah commented on #217
vSphere CSI `v2.0.1` is available - https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.0.1

You can find updated manifests for vSphere 6.7u3 and vSphere 7.0 that contains the fix for this bug - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.1

[2020-10-23 18:30] RaunakShah commented on #217
vSphere CSI v2.0.1 release is now available - https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.0.1

You will find updated manifests for vSphere 6.7u3 and 7.0 over here - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.1

[2020-10-23 19:29] shalini-b opened #464 "Configmap informer in K8sOrchestrator should listen only on the CSI pod namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Refer to https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/362/files#r508109059
K8sOrchestrator uses a configmap informer which listens on all namespaces. The code in vSphere CSI driver currently just requires listening on the CSI pod namespace. We should add this restriction on the informer as this will improve

[2020-10-23 21:03] BaluDontu commented on #455
/assign @BaluDontu

[2020-10-23 21:07] chethanv28 commented on #464
/assign

[2020-10-23 21:23] yuyiying commented on #453
@farodin91 Please file a ticket with the reproduced steps and more details to the GSS support: https://vsphere-csi-driver.sigs.k8s.io/support.html.

[2020-10-23 21:24] yuyiying commented on #458
We can consider to do it in the future. Thanks!

[2020-10-24 03:15] #420 closed

[2020-10-24 09:45] th3n3xtg3n3ration opened #465 "Not showing successfully provisioned in pvc description"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
I installed kubespray with CSI in VMware vSphere from this link: https://github.com/kubernetes-sigs/kubespray/blob/master/docs/vsphere.md I can create pvc and it is seen that it is provisioned in VMware. It is seen as Bound however, I cannot see "successfully provisioned" in pvc description.

**What you expected to happen*

[2020-10-24 11:21] RobbieJVMW commented on #370
/bug

[2020-10-25 17:39] impsik opened #466 "vSphere (CSI) plugin :Failed to get shared datastores in kubernetes cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to provision volume in vsphere.
I have Secrets, configmap, statefulset, daemonset, service and pods up and running. Storage name is correct.
From logs:
[code]
[code]
[code]
[code]
[code]
Using CSI driver: image: gcr.io/cloud-provider-vsphere/csi/release/driver:v1.0.2 and vSphere 7.
Specified user also has acces

[2020-10-26 03:49] beldred-umd commented on #410
Is there any documentation on how many drives can be attached to a VM via the CSI driver?

I though that with the VMware Paravirtual SCSI and the 64 drives per controller there should be a upper limit of 256 drives over the 4 controllers on a VM and not the old SCSI limit of 15 drives per controller and 60 drive limit per VM.

[2020-10-26 17:20] mohideen commented on #230
/remove-lifecycle rotten
@chethanv28 and @divyenpatel, is the limit of 59 volumes still the case for vanilla k8s cluster backed by vSphere 7 and with latest CSI drivers?

[2020-10-26 21:23] beldred-umd opened #468 "Failed to attach disk once 60 is reached."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  Failed deployment with error message "CNS: Failed to attach disk because missing SCSI controller"  VM already has 4 controllers and 15 drives on each controller or 60 drives in total.  Seemed to be trying to create a new controller which the VM has the max amount of 4 already deployed.

**What you expected to happen**:

[2020-10-26 21:40] shalini-b commented on #466
Generally `Empty List of Node VMs returned from nodeManager` error is seen if there was no wait time between the CPI and CSI driver installation. CPI is responsible for initiating the nodes and setting the provider ID. After that, CSI registers the nodes which have a providerID. If there is no gap between the installation of these drivers, CSI does not register any nodes. To resolve this problem,

[2020-10-26 22:08] shalini-b commented on #465
Looks like your PVC and PV are properly bound and I can see that the `volumeHandle` in PV has been updated to the volume ID shown on the UI. You can go ahead and use the PVC now, there is no problem. As far as the `successfully provisioned` message in the events of PVC are concerned, it might be an PVC event update issue. Could you pass on the logs from `csi-provisioner` and `vsphere-csi-controlle

[2020-10-27 11:28] #162 closed

[2020-10-27 11:45] impsik commented on #466
I deleted vsphere-cloud-controller-manager, vsphere-csi-controller and vsphere-csi-node, also service/vsphere-cloud-controller-manager.
I deployed 3 CPI manifests, but vsphere-cloud-controller-manager is not in running state.
if i edit vsphere-cloud-controller-manager-ds.yaml like below, then it will be in running state:
[code]
I checked that all nodes, except Master node are untainted. Secret is

[2020-10-27 16:41] divyenpatel commented on #466
@impsik I think, you might be having an in-correct configuration in the vsphere.conf file.

Can you check the datacenter property in the vsphere config secret  - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html#vsphereconf_for_block

The driver tries to locate node VMs in the specified datacenters in this config secret.

Also make sure the username you have specified in t

[2020-10-27 16:47] divyenpatel commented on #468
vSphere CSI driver does not have any logic to limit volumes per node.  This limit is enforced by vCenter CNS API - `CnsAttachVolume`.

[2020-10-27 17:07] impsik commented on #466
vsphere.conf config map
[code]
csi-vsphere.conf
[code]
cpi-global-secret contains
correct.username
correct.password

I need to check required previleges, but i'm quite sure everything is OK, but i'll double check and i'' let you know.

[2020-10-27 17:14] divyenpatel commented on #466
Datacenter `Devel` is directly created under VC, and is not part of some folder? If yes then you need to specify datacenter path.

Can you share vsphere csi controller logs?
https://vsphere-csi-driver.sigs.k8s.io/troubleshooting.html

[2020-10-27 18:18] RaunakShah commented on #414
Fixed as part of https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/393
/close

[2020-10-27 18:18] #414 closed

[2020-10-28 11:04] impsik commented on #466
@divyenpatel
I re-deployd everything and csi controller logs shows
`"msg":"failed to get shared datastores in kubernetes cluster. Error: NoPermission"`
I tried with full admin rigts and PVC was created without problem.
So, it looks like some permission problem after all.
I did find some useful info, but we already have those permissions: [LINK](https://github.com/kubernetes-sigs/vsphere-csi-driver

[2020-10-28 14:19] beldred-umd commented on #468
Is this a hard limit set by the vCenter that can't be changed or do we have a miss configuration and we should be able to get all 256 disks?  That is what I'm trying to figure out.

[2020-10-28 17:20] divyenpatel commented on #468
@beldred-umd Yes, this is the hard limit set by vCenter CNS API. We set this limiation on the basis of internal testing. If you have a business need to support more disks per node, I suggest filing a support request for this - https://www.vmware.com/support/file-sr.html

[2020-10-28 17:37] divyenpatel commented on #466
@impsik Can you follow - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges

Looks like you may be missing read permission on hosts and datacenter.

[2020-10-28 18:03] mohideen commented on #468
@divyenpatel Thanks for the clarification!

Should the CSI controller taint a node where it cannot mount more volumes so that the k8s scheduler would avoid scheduling pods on the node? it would be ideal if there is a taint would only prevent scheduling pods that need volume, but if that is not possible, then we could configure toleration to pods that don't need volumes.

[2020-10-28 19:38] #397 closed

[2020-10-28 20:06] BaluDontu opened #472 "Enable support for file volume functionality in WCP CSI and implement Create/Delete for file volumes in WCP CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE

/kind feature

- WCP CSI file volume feature will be enabled only if `csi-auth-check` and `file-volume` features are enabled.
- Enhance auth manager to support file volumes. Auth manager will look for `host.Config.Storage` permission on vSAN clusters with vSAN FS enabled and `Datastore.FileManagement` permissions on vSAN datastores  for file v

[2020-10-28 20:06] BaluDontu commented on #472
/assign @BaluDontu

[2020-10-28 20:43] chethanv28 commented on #466
Ran into the same issue and got it resolved by assigning Read-only permission to all ESX hosts and Datacenter as mentioned here: https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/docs/images/READ-ONLY-USAGE.png

[2020-10-30 10:51] impsik commented on #466
@divyenpatel we have read permissions on hosts and datacenter. Maybe something has changes with vCenter 7.0.x?
When we used vCenter 6.7u3 provisioning worked.

[2020-10-30 19:00] RaunakShah commented on #217
/close

[2020-10-30 19:00] #217 closed

[2020-10-30 21:04] shalini-b commented on #465
/assign @shalini-b

[2020-10-30 23:24] RaunakShah commented on #433
/assign

[2020-10-31 17:46] th3n3xtg3n3ration commented on #465
Hi @shalini-b, I share our logs here. If there's anything else you'd like me to share with you, please let me know.

[1]. pvc description
![resim](https://user-images.githubusercontent.com/27870123/97785743-f4811f00-1bb7-11eb-8a18-c48c2ecaaff5.png)
[2]. csi-provisoner
![image](https://user-images.githubusercontent.com/27870123/97785934-2050d480-1bb9-11eb-8d57-5ef90a02e884.png)
[3]. vsphere-csi-con

[2020-11-01 05:18] #204 closed

[2020-11-02 21:42] prashantokochavara opened #478 "Support for CSI snapshots?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Need snapshot capability for persistent volumes through vSphere CSI driver.

**What you expected to happen**:
Curious to understand why snapshots are not supported yet. Is there a technical limitation of some sort? Or is it planned and on the roadmap? If yes, then when?

**How to reproduce it (as minimally and precise

[2020-11-02 21:53] divyenpatel commented on #478
If you take a snapshot after creating some k8s pods with vSphere volume and then if you delete the pod, you will not be able to detach the disk from node VM, as snapshot will lock volume to that node. This is the limitation we have.

In this case, detach disk will fail with "Invalid configuration for device '0'."

![image](https://user-images.githubusercontent.com/22985595/97923206-7a18e200-1d12-1

[2020-11-02 22:03] prashantokochavara commented on #478
Thanks for the quick response @divyenpatel
Any timeline as to when this would be addressed?

[2020-11-02 22:40] divyenpatel commented on #478
@manojvs157 @SandeepPissay @xing-yang ^^^

[2020-11-02 22:55] SandeepPissay commented on #478
@divyenpatel this is applicable only if you snapshot the node VM. If you snapshot only the volume, you should be able to detach the volume from the node VM.

This is in the roadmap. At this time, we cannot comment on the timelines.

[2020-11-04 22:36] shalini-b commented on #305
/remove-lifecycle stale

[2020-11-05 10:25] #325 closed

[2020-11-06 13:23] #221 closed

[2020-11-06 20:43] divyenpatel commented on #302
@danielkucera We have moved to emptyDir

[2020-11-06 20:44] divyenpatel commented on #302
provided upgrade guidelines here - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/upgrade.html

[2020-11-06 20:44] #302 closed

[2020-11-06 22:24] gohilankit commented on #453
/assign @yuyiying

[2020-11-06 22:26] divyenpatel commented on #411
/assing @lipingxue

[2020-11-06 22:28] gohilankit commented on #410
We don't support this at the moment. Please file a feature request and let us know the use case for this.

[2020-11-06 22:28] gohilankit commented on #410
/close

[2020-11-06 22:29] #410 closed

[2020-11-06 22:30] RaunakShah commented on #370
Updated the YAMLs with default fs type for now, which is the short term fix suggested by the community.
/close

[2020-11-06 22:34] gohilankit commented on #359
/assign @SandeepPissay

[2020-11-06 22:37] gohilankit commented on #341
/assign @RaunakShah

[2020-11-06 22:38] gohilankit commented on #307
/assign @RaunakShah

[2020-11-06 22:41] gohilankit commented on #290
/assign @RaunakShah

[2020-11-06 22:46] gohilankit commented on #223
@gricuk @Anil-YadavK8s - Are you still facing this issue?

[2020-11-06 22:47] gohilankit commented on #365
/assign @chethanv28

[2020-11-06 22:48] gohilankit commented on #223
/assign

[2020-11-06 23:06] lipingxue commented on #411
/assign @lipingxue

[2020-11-06 23:39] RaunakShah commented on #341
@mohideen have you been able to reproduce this issue?

[2020-11-09 08:46] farodin91 commented on #453
We are using cluster api. If we cycle images often csi volumeattachments are not removed, sometimes restarting of the driver helped. More often, i used patching of volumeattachments to remove them fully.

I think it would good to add the issue to known issues.
My Wordaround:
1. check for volumeattachments to node that no longer exists using: `kubectl get volumeattachments`
2. Try to delete volumea

[2020-11-09 17:57] SandeepPissay commented on #359
@luwang-vmware since you work at VMware, can you file a bug and upload CSI logs(all containers), VC support and ESX support bundle? Thanks!

[2020-11-10 12:01] th3n3xtg3n3ration commented on #465
I solved this issue by upgrading my vSphere CSI driver to v2.0.0 from this link: https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.0/vsphere-67u3/vanilla.

Now, it is working well.

[1]. pvc description
![image](https://user-images.githubusercontent.com/27870123/98671567-84b42680-2365-11eb-99e1-17cbce42f1a7.png)

[2020-11-10 12:01] #465 closed

[2020-11-10 19:00] #472 closed

[2020-11-12 05:36] #464 closed

[2020-11-12 12:51] mharrend opened #494 "Using VSphere Storage on baremetal machines"
/kind bug

**What happened**:

We have a VSphere VM based Kubernetes cluster using also VSphere storage.
We would like to add some baremetal hosts to the cluster to increase our cluster.
It seems that we cannot include these hosts via Rancher as Kubernetes operator since the VSphere CSI node driver gets automatically installed on the new nodes but the csi interface is not available. Since the CSI

[2020-11-12 14:31] creativie opened #495 "ERROR failed to get shared datastores in topology (Zones/Regions)"
/kind bug

**What happened**:
I have 2 VirtualCenters and one DataCenter on each.
My topology looks like that
vc1: region=dc1
dc1 (vc1): zone=zone-a
vc2: region=dc2
dc1 (vc2): zone=zone-a
When i deployed StatefulSet with volumeClaimTemplates across Regions (podAntiAffinity), i got error (pvc events)
[code]
from vsphere-csi-controller:
[code]
**What you expected to happen**:
Works ok.

**How to rep

[2020-11-12 14:51] creativie commented on #307
OKD 4.5
[code]
works well for me.

[2020-11-12 17:34] RaunakShah commented on #495
@creativie at this time we only support kubernetes clusters residing on a single VirtualCenter - https://vsphere-csi-driver.sigs.k8s.io/limits.html

[2020-11-12 17:35] RaunakShah commented on #307
@creativie can you verify if vSphere CSI is running as a privileged pod? That may be why its able to create the socket directory. With `emptyDir`, there are no extra privileges required. The PR is out for review

[2020-11-12 22:22] lipingxue commented on #494
@mharrend vSphere CSI driver does not support the use case that use baremetal machine for K8s cluster. We only support VM based K8s cluster.

[2020-11-12 23:50] divyenpatel commented on #123
/remove-lifecycle stale

[2020-11-13 02:48] #433 closed

[2020-11-13 07:33] creativie commented on #495
Oh no(
When you planned to add this feature?
Maybe then it makes sense to change the issue kind ?

/kind feature

[2020-11-13 13:37] philipp1992 opened #497 "Upgrade from 1.02 to 2.01 breaks mountpath filesystem permissions on openshift"
Hi,

with 1.02, when creating a block pvc,  the mounted directory inside the container has the following permissions:

0755 and the owner is root and the group of the directory equals the arbitrary group-id from openshift.

drwxr-xr-x.  3 root 10006200004096 Nov 13 09:41 data
uid=1000620000(1000620000) gid=0(root) groups=0(root),1000620000

with these permissions, its possible to create new files

[2020-11-13 14:01] emmahone commented on #228
In what version of the Vmware CSI plugin will CSI volumesnapshots be supported?

[2020-11-13 17:42] RaunakShah commented on #497
@philipp1992 can you paste/point to the yamls you're using for v2.0.1? Can you use the manifests here - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.1

Basically external-provisioner v2.0.0 has a gap where now the user needs to specify the "default fstype" whereas previously if nothing was specified, it defaulted to ext4. Here's more reference https://github.com

[2020-11-13 18:51] divyenpatel opened #498 "address deployment yaml linter checks observed by StackRox kube-linter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I was trying out `kube-linter` from StackRox - https://github.com/stackrox/kube-linter
Here are all linter failures from our deployment yamls availavle at `vsphere-csi-driver/manifests/dev`.

See all linter failures here -
[kube-linter-failures.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5538793/kube-

[2020-11-13 19:21] philipp1992 commented on #497
Thanks a lot the fstype fixed it

[2020-11-13 22:55] RaunakShah commented on #497
/close

[2020-11-13 22:55] #497 closed

[2020-11-13 22:59] #307 closed

[2020-11-15 20:00] #241 closed

[2020-11-16 13:04] luwang-vmware commented on #359
@SandeepPissay We will repo in-house again and file a bug then.

[2020-11-16 22:26] #245 closed

[2020-11-18 17:24] SandeepPissay commented on #228
We do not have timelines yet on when we will support CSI snapshot feature.

[2020-11-19 03:43] zhoudayongdennis opened #502 "PV was in Released status but the persistentVolumeReclaimPolicy with Delete in storageclass"
vSphere Client version 6.7.0.40000 with CNS volume usage.

here was the detail info about Released PV, and detail info for an example Release PV.

the number was in increasing trend.

[root@nc0750node02 ~]# kubectl get pv | grep vsphere | grep Released |wc -l
46
[root@nc0750node02 ~]# kubectl get pv | grep vsphere | grep Released
pvc-05ab5701-834e-4181-8401-d02ce444f3f6 4Gi RWO Delete Released nok

[2020-11-20 10:54] Anil-YadavK8s commented on #341
@RaunakShah  We are getting same issue.

When Pods gets deleted ..PVCs are not mounted back to Pod. It give below error.

Events:
  Type     Reason       Age               From                         Message
  ----     ------       ----              ----                         -------
  Normal   Scheduled    <unknown>         default-scheduler            Successfully assigned af-system/maf-dropl

[2020-11-20 22:18] divyenpatel commented on #502
@zhoudayongdennis Can you check CSI controller logs and see if you are observing any issue while deleting the volume.
PV with the reclaim policy set to delete should be automatically deleted upon deleting PVC.

[2020-11-20 22:55] #239 closed

[2020-11-23 15:31] dostalradim opened #506 "ServerFaultCode: NoPermission with permissions from documentation"
Cluster version 1.19.4 on-premise, 6 hosts vSAN cluster
vSphere version 7.0.1.00000 - it is 7U1
CSI manifests https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/v2.0.1/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml

My permissions from this https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html:
![Snímek obrazovky 2020-11-2

[2020-11-26 15:09] dostalradim commented on #506
Trust me or not but I just remove User group and all permissions associations and create new one and associate with object, everything looks same like on screens and now it is working. I did not find some info in vCenter logs and I have no idea what was the glitch.

But it is working now.

[2020-11-26 15:09] #506 closed

[2020-11-26 15:11] dostalradim commented on #506
This tools realy help to me.

https://github.com/lamw/pyvmomi-community-samples.git

[2020-12-01 23:38] SandeepPissay opened #513 "Clarify in the doc that SDRS is not supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Few customers are using CNS and CSI with SDRS and running into few issues like unable to mount the volume after SDRS does svMotion, etc. We need to clarify in the doc that SDRS is not supported.

[2020-12-01 23:52] #513 closed

[2020-12-02 12:24] dostalradim opened #517 "kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name csi.vsphere.vmware.com not found in the list of registered CSI drivers"
I followed this https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html tutorial. Everything looks good. Persistent volume has been created, vmdk is mounted sucessfully everything looks all right but at pod is this error:

`MountVolume.MountDevice failed for volume "pvc-0a1fd486-dd9b-4023-b5ca-e568cac71406" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverC

[2020-12-02 12:59] dostalradim commented on #517
It was an installed cluster so i skip the start of tutorial to just deploy driver a provider. And now I am almost sure that the issue is in the last logs in my last comment.

[2020-12-02 19:20] dealboy opened #519 "CNS: Failed to attach disk when calling AttachDisk - Fault cause: vmodl.fault.NotSupported"
/kind bug

**What happened**:
I am trying to attach a volume on a k8s cluster with cni/csi configured for a postgressdb!

The csi-provisioner  logs

[code]

The the csi-attacher did not succeed giving the error

[code]

**What you expected to happen**:
attach the storage

**Environment**:
- csi-vsphere version: v2.0.1
- vsphere-cloud-controller-manager version: v1.2.1
- Kubernetes version: 1.8.3 (

[2020-12-02 20:14] divyenpatel commented on #519
This can happen because you may have some ESXi hosts not upgraded to 67u3 or above. All hosts participating in Kuberentes Cluster should be upgraded to 67u3 or above.

You can also unmount shared datastore from those ESXi hosts to resolve this issue.

[2020-12-03 06:22] dostalradim commented on #517
Missing driver register. I am sorry.

[2020-12-03 06:22] #517 closed

[2020-12-04 16:18] creativie commented on #307
@RaunakShah no additional permissions needed

[2020-12-05 15:27] SandeepPissay opened #524 "Bump up the golang version from go 1.13 to go 1.15"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Go 1.14 and go 1.15 offers many improvements over go 1.13(currently used). See -
- https://blog.golang.org/go1.14
- https://blog.golang.org/go1.15

Filing this issue to bump up the golang version from 1.13 to 1.15

[2020-12-05 17:29] dmc5179 commented on #285
bump?

[2020-12-05 22:13] #524 closed

[2020-12-07 16:44] ialidzhikov opened #526 "ControllerUnpublishVolume should not fail when the Volume is available"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
As described in https://github.com/kubernetes/kubernetes/issues/77324, currently there is no garbage collection for VolumeAttachments and you can easily end up with dangling VolumeAttachments - for example a VolumeAttachment that points to `.spec.nodeName=some-worker` but the corresponding Node/VM is already deleted.

Curr

[2020-12-07 21:51] chethanv28 commented on #526
/assign

[2020-12-08 13:54] marratj commented on #221
@yvespp any update from VMware in the ticket you opened with them?

We have the same issue that the disk/VMDK itself in vSphere is somehow stuck in this unrecoverable state. We cannot even attach the backing VMDK manually to any VM in vSphere after it got stuck in this state.

[2020-12-08 14:37] yvespp commented on #221
@marratj in our case the problem was that Disk Change Block Tracking (CBT) was enabled by our backup tool in the background but CBT was not enabled on the VM and the disk could not be attached again.
To enable CBT see: https://kb.vmware.com/s/article/1031873

[2020-12-08 19:56] svcbot-qecnsdp commented on #519
[code]

[2020-12-09 08:01] zhoudayongdennis commented on #502
no much info in controller logs, was it related with this known issue#5, https://vsphere-csi-driver.sigs.k8s.io/known_issues.html?

[2020-12-09 08:07] zhoudayongdennis opened #530 "NoPermission issue in syncer container"
vSphere Client version 6.7.0.40000
vsphere-csi:v2.0.0
vsphere-syncer:v2.0.0

there was below NoPermission error in syncer container, but there was no such NoPermission error in vsphere-csi-controller, and the CSI volume could be created successfully. The Cns searchable privilege has been granted to the account from dashboard.

what's kind of possible issue, missing any more privilege for the accou

[2020-12-09 08:46] RaunakShah commented on #502
@zhoudayongdennis Can you `kubectl describe` one of the above PV's and paste the output here?

[2020-12-09 09:52] marratj commented on #221
@yvespp thanks a lot! That was exactly it also in our case.

[2020-12-10 02:22] zhoudayongdennis commented on #502
[root@nc0750node02 ~]# kubectl get pv -n nokia-imshss|grep -i Released|wc -l
120
[root@nc0750node02 ~]# kubectl get pv -n nokia-imshss|grep -i Released
.....
pvc-ffe304c0-daa6-4ab8-a0ad-11ab460587f4   4Gi        RWO            Delete           Released   nhss/datadir-registersvnf-s12njnhgb6-1606369848412-etcd-0    vsphere                           13d

[root@nc0750node02 ~]# kubectl describe pv pv

[2020-12-10 02:23] zhoudayongdennis commented on #502
not sure why it complained invalid state when deleting it. what's else for further check?

[2020-12-10 10:21] RaunakShah commented on #502
I think this is a result of the race between Detach and Delete, similar to https://vsphere-csi-driver.sigs.k8s.io/known_issues.html

What version of CSI controller and external-provisioner are you using?

[2020-12-10 20:17] chethanv28 commented on #530
@zhoudayongdennis
Can you verify and let us know if all the roles and privileges are provided as per the docs:
https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges

[2020-12-11 03:01] zhoudayongdennis commented on #530
yes, after grant more roles, "NoPermission" error in syncer container got disappeared.

so close the issue and thanks for the support!

[2020-12-11 03:01] #530 closed

[2020-12-11 03:13] chethanv28 commented on #530
@zhoudayongdennis Thanks for confirming !

[2020-12-11 04:34] zhoudayongdennis opened #538 "issue of default-datastore in cloud.conf for CSI usage"
vSphere Client version 6.7.0.40000
vsphere-csi:v2.0.0

the issue was volumes claimed successfully were NOT created under the datastore specified in cloud.conf used by CSI, so not sure whether "default-datastore" parameter was supported in CSI. If so, what's kind of issue, any configuration missing?

I can not search any error/issue from controller, syncer and provisioner logs.

*******
here was th

[2020-12-11 04:35] zhoudayongdennis commented on #502
csi-provisioner:v1.4.0
vsphere-csi:v2.0.0

[2020-12-13 17:10] vrabbi opened #542 "Support running on nomad and not only k8s"
Currently the csi does not work with nomad as it requires an in cluster config to kubernetes api which I guess it uses internally. If this is a true CSI plugin based on the CSI standard why is the vsphere-csi only possible to run on k8s while CSI is supported by multiple other orchestrators.

Is there any plan to support other orchestrators or any workaround to get it running today I haven't found

[2020-12-13 17:30] vrabbi commented on #542
the log output when it crashes is:
{"level":"info","time":"2020-12-13T16:58:33.965235893Z","caller":"logger/logger.go:37","msg":"Setting default log level to :\"PRODUCTION\""}
{"level":"info","time":"2020-12-13T16:58:33.966096829Z","caller":"config/config.go:318","msg":"Could not stat /etc/cloud/csi-vsphere.conf, reading config params from env","TraceId":"943a935b-8843-4f9d-8eb6-941b3a05ccbf"}
{"l

[2020-12-13 19:57] #258 closed

[2020-12-13 19:57] #269 closed

[2020-12-15 03:32] zhoudayongdennis commented on #502
any further update for the invalid error message during delete operation? was it confirmed as known issue? if yes, why it seems reproduced every time instead of race condition?

[2020-12-15 05:20] RaunakShah commented on #502
@zhoudayongdennis what kubernetes version are you using? is it possible for you to upgrade your CSI driver to `v2.0.1`? The manifests over here - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.1 uses external-provisioner `v2.0.0`, that has a fix that prevents `DeleteVolume` from being called before `DetachVolume`.

[2020-12-15 05:27] zhoudayongdennis commented on #502
v1.18.8

could you specify the scenario for current issue? why complaining the invalid state?

it seems volume got deleted from datastore, but still visible in k8s via kubectl get pv command. How to remove them manually?

i trid to use "kubectl delete pv with --force option", but it was pending in terminating status. Any suggestion?

pvc-276c32b9-1d02-4388-9651-cc00db07ac9b   1Gi        RWO

[2020-12-15 05:59] zhoudayongdennis commented on #538
enable DEVELOPMENT debug level for vsphere-csi-controller and vsphere-syncer containers, but still can not figure out whether there is the interface for datastore usage between CSI driver request and vcenter side.

here is the related logs for successful pv creation.

[root@nc0192node02 csi-vsphere]# kubectl logs -nkube-system         vsphere-csi-controller-8585cbb558-7jfcl -c vsphere-csi-controll

[2020-12-15 07:21] RaunakShah commented on #502
Basically with the version of provisioner you are using, `DeleteVolume` can be called before `ControllerUnpublishVolume`. In this case, CNS backend untagged the volume as container volume, then realized volume is attached to node, so delete call retuned fault. But did not tag back volume as container volume.
Detach was called in parallel, but since volume is already untagged as CNS volume detach i

[2020-12-15 07:47] zhoudayongdennis commented on #502
for my case, the CNS volume was disappeared, but still could be visible via "kubectl get pv" command, and not sure how to get volumeattachment.

there was finalizer as below.

  finalizers:
  - kubernetes.io/pv-protection
  - external-attacher/csi-vsphere-vmware-com

[2020-12-15 07:49] zhoudayongdennis commented on #538
looking for any advice or confirmation about the usage of default-datastore in cloud.conf file. If there is more than one datastore configured in vcenter side.

[2020-12-15 09:23] tmarkunin opened #548 "VMWare 7, vsphere-csi-driver v2.0.0 - PVC is in Pending state"
/kind bug

**What happened**:

Hello,

I've followed https://veducate.co.uk/how-to-install-vsphere-csi-driver-openshift/ to install CSI driver. VMWare admin user was used for testing purposes.

I've created new PVC and it's in Pending state.

**What you expected to happen**:

PV should be created and PVC should be bounded.

**How to reproduce it (as minimally and precisely as possible)**:

**Anyth

[2020-12-15 09:47] RaunakShah commented on #502
Yes that is expected as the volume is untagged as a CNS volume.

You can get volumeattachment by running `kubectl get volumeattachment`. You can even grep using PV name that is stuck in Released state.

The external-attacher finalizer is the one that's blocking the PV from getting deleted. Once the volumeattachment that references this PV is deleted, this finalizer will be removed.

[2020-12-15 09:50] RaunakShah commented on #538
To specify a particular datastore url, you'll need to mention that as a parameter in the storage class. Here's an example - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/example/vanilla-k8s-block-driver/example-sc.yaml#L10

Can you tell me what documentation you've followed to create the `cloud.conf` file? I'm suspecting you've used VCP (in-tree driver) documentation.

[2020-12-15 09:54] RaunakShah commented on #548
@tmarkunin have you installed CPI on your cluster? Can you verify if `ProviderID` is set on all your kubernetes nodes by running the command:

[code]

[2020-12-15 13:09] tmarkunin commented on #548
@RaunakShah  here is the output:
[16:06] Viktor.Burlutskij@evraz.com
[root@oct-tst openshift-config-file]# oc describe nodes | egrep "ProviderID:|Name:"

Name:               osd-bsd7j-master-0

ProviderID:                               vsphere://420be7de-3432-5e66-765e-eb46fb19abca

Name:               osd-bsd7j-master-1

ProviderID:                               vsphere://420befa7-0832-ead7-b2a9-

[2020-12-15 13:22] RaunakShah commented on #548
Thanks. And can you verify if `disk.enableUUID` is set on all the VMs?

[2020-12-15 13:24] RaunakShah commented on #548
If it hasn't been set, you'd need to provide us with CSI controller logs to help debug. I'm fairly certain the issue is somewhere in the configuration.

[2020-12-15 13:30] tmarkunin commented on #548
@RaunakShah  Yes,  disk.enableUUID is set on all VMs.

[2020-12-15 13:36] tmarkunin commented on #548
@RaunakShah Should I provide any logs?

[2020-12-15 15:08] RaunakShah commented on #548
@tmarkunin yes, can you provide csi controller logs? Also, could you paste the output of `csi-vsphere.conf` file? Feel free to remove any sensitive information, i'm checking if the parameters provided are correct..

[2020-12-15 15:48] tmarkunin commented on #548
@RaunakShah  Sorry, the clipboard is blocked on the remote station. I can only upload images at the moment.

![image](https://user-images.githubusercontent.com/14396517/102237481-c6586400-3f05-11eb-9ab5-b5bb2c9613f7.png)

![image](https://user-images.githubusercontent.com/14396517/102236900-1aaf1400-3f05-11eb-84a0-50b00b1d719a.png)

I don't have access to the config file at the moment. Will share

[2020-12-15 15:57] tmarkunin commented on #548
@RaunakShah  added config

![image](https://user-images.githubusercontent.com/14396517/102238931-606cdc00-3f07-11eb-828d-4d4966acd1bf.png)

[2020-12-15 16:35] chapai518 commented on #548
{"level":"info","time":"2020-12-15T13:01:47.341367872Z","caller":"logger/logger.go:37","msg":"Setting default log level to :\"PRODUCTION\""}
{"level":"info","time":"2020-12-15T13:01:47.341637903Z","caller":"config/config.go:272","msg":"No Net Permissions given in Config. Using default permissions.","TraceId":"604f695f-4f68-40a2-a8bd-bc38e58b3669"}
{"level":"info","time":"2020-12-15T13:01:47.341705

[2020-12-15 18:24] RaunakShah commented on #548
Here's the error log:

[code]

Are you certain the datacenter `SC5020-06-OpenShift` is the correct entry?

[2020-12-15 18:41] tgelter opened #549 "Install vSphere CSI Driver to alternative namespace (rather than kube-system)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Probably a FEATURE REQUEST, unless it is expected to be possible to install to alternative namespace, in which case it would be a BUG REPORT.

/kind feature

**What happened**:
We installed the vSphere CSI Driver to a newly created namespace called **vmware** but were unable to create a PVC (which was stuck in a pending state):

[code]

When we looked

[2020-12-15 18:50] SandeepPissay commented on #549
/assign @shalini-b

[2020-12-15 18:52] SandeepPissay commented on #549
@shalini-b can you try out the steps described in this issue to deploy CSI driver to a different namespace? If this works, lets change out yamls to deploy the driver to a different namespace(maybe "vmware-system-csi"?).

[2020-12-15 18:53] shalini-b commented on #549
/assign

[2020-12-15 19:13] chapai518 commented on #548
The datastore exists, the built-in storage class can normally place a PV on it, but there is no choice of different datastores.
![image](https://user-images.githubusercontent.com/63089139/102261102-06820b80-3f33-11eb-8e56-1a46c23b617d.png)

[2020-12-16 02:24] zhoudayongdennis commented on #538
here is the URL for CSI deployment.

[2020-12-16 03:47] zhoudayongdennis commented on #502
how to remove the external-attacher from finalizers for each stuck pv? how to remove the attacher from each volumeattachment?

also, could you help confirm that those pvs still occupied the disk capacity? if so, there might be disk full after some period, right?

[2020-12-16 06:19] chapai518 commented on #548
**RaunakShah** Yes, you are right, we confused concepts datacenter and datastore, also incorrectly indicated the cluster ID.

[2020-12-16 06:44] #548 closed

[2020-12-16 06:45] tmarkunin commented on #548
@RaunakShah Thanks a lot for your help! It works now

[2020-12-16 06:54] RaunakShah commented on #548
@tmarkunin @chapai518 thanks for clarifying! You can visit our documentation for concepts and examples related to vSphere CSI - https://vsphere-csi-driver.sigs.k8s.io/

[2020-12-18 01:54] zhoudayongdennis commented on #538
@RaunakShah,

could you help confirm my previous understanding?

[2020-12-18 05:05] RaunakShah commented on #538
@zhoudayongdennis yes your understanding is correct. VCP's `cloud.conf` is not used by CSI at all. For CSI, you can use either `datastoreurl` or `storagepolicyname` in the storage class. If you leave it empty, CNS chooses the best datastore available for provisioning.

[2020-12-18 05:33] zhoudayongdennis commented on #502
@RaunakShah, could you help check my previous question and understanding?

it seems the PV was in released with external-attacher in finalizers easily, so want to have the short-term WA for clean-up. Please help support it.

[2020-12-18 05:57] RaunakShah commented on #502
Do the workaround mentioned here not work for you? https://vsphere-csi-driver.sigs.k8s.io/known_issues.html#issue_5
We don't have any tool right now to help with this.

To avoid the issue in the future, i'd suggest upgrading to CSI `v2.0.1` - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.1

You can run `kubectl edit pv <pv-name>` and remove the finalizer entry fo

[2020-12-18 06:21] zhoudayongdennis commented on #502
@RaunakShah, what's the command to remove FCD via govc? assume with this step, the disk could be free up from datastore, right?

also, could you specify more clearly why the issue could be occurred with provision 1.4.0 so frequently, almost every time delete operation ahead of unpublish operation?

[2020-12-18 22:09] SandeepPissay commented on #542
@vrabbi The current focus is to make it work for Kubernetes and we are not testing it on any other container orchestrator. I'll mark this as a feature request.

[2020-12-18 22:14] SandeepPissay commented on #538
@RaunakShah has already clarified in the comments. So, closing this issue as this is not a bug.

[2020-12-18 22:14] #538 closed

[2020-12-18 22:15] SandeepPissay commented on #519
@divyenpatel has already clarified in the comments, closing this issue.

[2020-12-18 22:15] #519 closed

[2020-12-19 02:49] SandeepPissay commented on #494
@mharrend could you explain what is the use case for having a mix of vSphere VMs and bare metal servers for the Kubernetes cluster? You could also increase the cluster size by adding more VMs on vSphere, so I'm wondering why that is not an option for you.

[2020-12-21 01:47] #20 closed

[2020-12-21 17:45] TJM commented on #363
annoying.

[2020-12-22 02:54] zhoudayongdennis commented on #538
thank @RaunakShah for clarification!

[2020-12-22 03:45] zhoudayongdennis commented on #502
@RaunakShah, could you help clarify my previous question for better understanding of frequency?

[2020-12-22 22:16] chethanv28 commented on #155
/reopen

[2020-12-23 14:25] andrew-landsverk-win commented on #251
As far as I know this hasn't been fixed, the work around also doesn't work if the volume still shows up in CNS, but the actual files are no longer present on the storage.

/remove-lifecycle stale

[2020-12-24 06:09] th3n3xtg3n3ration commented on #163
Hi, I have been facing this problem for one week. My CSI driver is 2.0 and Vcenter version 6.7. I also updated my drive to CSI 2.1. I still continue getting same errors.

`  Warning  FailedAttachVolume  2m3s (x23 over 47m)  attachdetach-controller  (combined from similar events): AttachVolume.Attach failed for volume "pvc-22d54a78-4b11-42b7-bd0d-67afc21f87ac" : rpc error: code = Internal desc = fa

[2020-12-24 21:29] th3n3xtg3n3ration commented on #163
I solved this issue by changing the external_vsphere_kubernetes_cluster_id in vsphere.conf file in kubespray. If we don't want to get this error, each kubernetes external_vsphere_kubernetes_cluster_id should be different in same vCenter.

[2020-12-28 03:24] PhanSon95 commented on #320
Hi @creativie . Did you resolved this issue ? If possible, could you share with me your solution ? Thanks you!

[2020-12-28 08:12] creativie commented on #320
Deleting detached volumeattachments object with cleaning finalizers works.

[2020-12-31 06:08] hungz commented on #320
Maybe this issue help resolve this problem also
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/284

[2021-01-04 09:21] farodin91 opened #565 "Relocation of volumes between datastores"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Is there a way to migrate CSI vSphere volumes between datastores? We are not using vSan or Tanzu.

One idea would be to use CSI cloning.

Any idea? To help. Is their way to do it manual?

[2021-01-04 13:07] jritter commented on #338
Hi,

I am currently experiencing the same issue with the following setup:

OpenShift 4.5.19
Kubernetes v1.18.3
vSphere 6.7U3
vSphere CSI Driver 2.0.1

What struck my eye is the following error message that I see in the kubelet as well as in the vsphere-csi-node container of the respective worker node:

[code]

Also, what I noticed is that the pod terminates after running the following command on t

[2021-01-04 13:09] jritter commented on #338
Some additional output I collected during debugging:

[csi_block_log.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/5764787/csi_block_log.txt)

[2021-01-04 15:22] jritter commented on #365
I just experienced the same issue. But is this really a CSI driver issue? IMHO vSphere should never ever touch FCD volumes when there is a change on the node on which the FDC is attached to.

[2021-01-04 17:32] #285 closed

[2021-01-06 00:02] #223 closed

[2021-01-06 08:27] jritter commented on #338
/remove-lifecycle stale

[2021-01-06 09:24] zhoudayongdennis opened #570 "CNS volume can not be attached to the node during scale operation"
[root@nancy-test-g1-02 ~]# kubectl get pvc -A | grep cinfo-vsphere-0
default     cinfo-vsphere-data-cinfo-vsphere-0   Bound    pvc-9dd4d2dc-ab57-465d-bd27-39e5c497232d   1Gi        RWO            vsphere                  5h9m
[root@nancy-test-g1-02 ~]# kubectl get pv | grep pvc-9dd4d2dc-ab57-465d-bd27-39e5c497232d
pvc-9dd4d2dc-ab57-465d-bd27-39e5c497232d   1Gi        RWO            Delete

[2021-01-06 18:34] tgelter opened #573 "Support datastore cluster (storage pod) for StorageClass backend storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Probably a FEATURE REQUEST, unless it is expected to be possible to install to use a datastore cluster (AKA storage pod), rather than individual datastore in which case it would be a BUG REPORT to improve documentation.

/kind feature

**What happened**:
I am unable to determine any way to configure a [Datastore Cluster](https://docs.vmware.com/en/VMw

[2021-01-07 03:19] zhoudayongdennis commented on #570
from the vsphere-csi-controller log, it got error "not found in QueryVolume" during unpublish volume, not sure what's condition for such situation?

{"level":"info","time":"2021-01-06T05:51:56.667080634Z","caller":"vanilla/controller.go:538","msg":"ControllerUnpublishVolume: called with args {VolumeId:ce905ba6-3e89-43de-bb11-d82b3f287d93 NodeId:nancy-2006-g2-01.cluster.local Secrets:map[] XXX_NoUn

[2021-01-07 03:46] zhoudayongdennis commented on #570
here was the volumeattachment, but got detach error. How the volume got disappeared from CNS volume list?

[root@nancy-2006-g2-02 ~]# kubectl get volumeattachment
NAME                                                                   ATTACHER                 PV                                         NODE                             ATTACHED   AGE
csi-f69f1e48d40a41086fc3ecbf4a87888871522f79825fdb

[2021-01-07 07:23] zhoudayongdennis commented on #570
also tried to remove volumeattachment, pvc and PV, then re-install app, but still failed with twice volument attachment, but the volume attachment got success in the first, not sure why the same attachment operation triggered again? so got volumeInUse error.

any suggestion here?

{"level":"info","time":"2021-01-07T07:02:29.770353268Z","caller":"vanilla/controller.go:415","msg":"CreateVolume: call

[2021-01-07 10:32] zhoudayongdennis commented on #570
keep reporting below " not found in QueryVolume", also can not observe such volume from vsphere dashboard, not sure when and how unpublished it.

[root@nancy-test-g1-02 ~]# kubectl logs -nkube-system   vsphere-csi-controller-6c7c847b95-7tb4z vsphere-csi-controller | grep 71c157ed5dcf
{"level":"info","time":"2021-01-07T09:20:35.162680771Z","caller":"vanilla/controller.go:538","msg":"ControllerUnpub

[2021-01-07 19:43] shreesha21 opened #577 "PVC affined to node is placed on SNA storagepool of other host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Creating PVC with hostlocal policy with node affinity fails as PVC is placed on SNA storagepool of other host.

**What you expected to happen**:
PV provisioning should be successful for PVC having node affinity annotation using Hostlocal storage policy with Immediate volume binding

**How to reproduce it (as minimally and precisely

[2021-01-08 02:18] zhoudayongdennis commented on #570
can some experts be assigned and provide the advice for this issue observed during CSI upgrade scenario? it blocked current test several days.

[2021-01-08 03:40] SandeepPissay opened #579 "csiPVUpdated method in metadata syncer need to register volume only when CNS returns "NotRegistered" fault"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently UpdateVolumeMetadata API in CNS does not return "NotRegistered" fault if the FCD is not yet registered as CNS volume. Once that is done we need to revisit the logic in csiPVUpdated as it currently assumes the non existence of "storage.kubernetes.io/csiProvisionerIdentity" attribute in PV as static provisioning which may no

[2021-01-08 19:05] shalini-b commented on #570
@zhoudayongdennis Could you kindly follow the format required to raise an issue and explain how to reproduce the issue. We will also need details about your environment like vSphere version, CSI version and other such info.

Also consider formatting your log output before pasting it in the comments for easy readability.

[2021-01-08 19:08] shalini-b commented on #570
@zhoudayongdennis You received a volumeInUse error as you might have tried to mount the same block volume on two pods. I can see the first ControllerPublishVolume call for attach succeed and the second call to ControllerPublishVolume failed with volumeInUse error. This is expected.

[2021-01-08 19:18] tgelter commented on #573
We are testing a work-around which may be the intended way of accomplishing this ask. We've changed the StorageClass configuration from using `parameters.datastoreurl` to `parameters.storagepolicyname` and have defined a VM Storage Policy with a datastore specific rule to enable tag based placement rules, then created a rule with usage option `Use storage tagged with` and a created a new tag for t

[2021-01-09 05:41] zhoudayongdennis commented on #570
vsphere 6.7.3
image: csi-attacher:v2.0.0
image: csi-provisioner:v2.0.0
image: livenessprobe:v1.1.0
image: vsphere-csi:v2.0.1
image: vsphere-syncer:v2.0.1

the scenario is quite simple:
after upgrade the cluster from one with vsphere-csi:v2.0.0 to the one vsphere-csi:v2.0.1, and re-install the app with vsphere CSI related storageclass, but pod was NOT up due to twice volumeattachment.

could you he

[2021-01-09 22:57] shalini-b commented on #336
/remove-lifecycle rotten

[2021-01-10 00:52] zhoudayongdennis commented on #538
@SandeepPissay, could you help share where to find the cloud.conf used by CSI? want to make sure any other missing configuration for CSI usage.

[2021-01-10 01:18] zhoudayongdennis opened #580 "ControllerPublishVolume operation got requested twice for same volume for the upgraded cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug looks like
 /kind bug

**What happened**:
when cluster with CSI got upgraded, the VM should be rebuided, then the new installed application will be failed due to twice PV attachment operation, the first one is successful, but the second one failed with ResourceInUse error.

**What you expected to happen**:
Only one ControllerPublishVolume operation

[2021-01-12 03:10] zhoudayongdennis commented on #580
with further check, it is clear that why twice publish operation, because there was empty disk UUID returned from vsphere, so CSI consider it as failure then with retry.

from below CSI code, not sure why the disk UUID was empty.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/a78457dcf8d69a1419ad88a48d03fea69d070847/pkg/common/cns-lib/volume/manager.go#L372

also use vmkfstools -J get

[2021-01-12 22:41] gohilankit commented on #580
/assign @divyenpatel

[2021-01-13 03:17] snowball77 opened #583 "Container store created twice (i.e., two virtual disks) when using two replicas of csi-controller"
**What happened**:
When creating a PVC with dynamic provisioning, two container stores get created when having two replicas of the csi-controller stateful set (intention was to have a failover component in case one replica is down). The two discs then even confuse the csi-controller with unspecific errors in the logs.

**What you expected to happen**:
Only one container store should be created as

[2021-01-13 04:56] lipingxue opened #585 "Avoid calling NewSharedInformerFactory function for VolumeHealth/Resize reconciler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
In VolumeHealth/Resize reconciler code, we have the following instances that call function ```informers.NewSharedInformerFactory``` to get a InformerFactory which is needed to initialize the reconciler.
VolumeHealthReconciler: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/f7d9171c206db112948c0e769a9534452f958cf1/pkg/syncer/m

[2021-01-13 13:17] achontzo commented on #565
You can use the standard disk vmotion procedure (Migrate->Change Storage only and enable Configure per disk) as you would  normally do with a mounted disk of a Virtual Machine. The tricky part is to identify which is the actual disk so you can then migrate ...

You use a kubectl plugin named [vtopology](https://github.com/cormachogan/vtopology) which will map pv name to disk id or you can go the h

[2021-01-13 13:24] farodin91 commented on #565
I'm support if this correctly what i want.
We have two storageclasses with datastore on two different nfs stores.

My plan is migrate between both of storageclasses.

[2021-01-13 19:31] chethanv28 opened #587 "Move custom resource util methods to a common location"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
This issue is created to track the concern mentioned here: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/562/files/e88e4160c6a094ce54a2cda4732786373347bddf#r551180511

The suggestion here is to move all the util methods such as setInstanceOwnerRef, recordEvent and so on which are currently present in all t

[2021-01-13 20:43] macgaver commented on #251
Indeed, not fixed also for me, vmdk have been deleted in the past manually on the datastore.  Totally not able to delete them from vcenter

[2021-01-13 21:10] tgelter commented on #251
Hello all, please see if the following work-around works for you too:
https://github.com/vmware/govmomi/issues/2239#issuecomment-759739685

[2021-01-14 00:30] gohilankit commented on #583
@snowball77 We don't support having multiple replicas of csi-controller as it has not been extensively tested yet.
If you want to have have a high availability failover support, you should consider using csi-controller [v2.0.1](https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.0.1) or [v2.1.0](https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.1.0) with leade

[2021-01-14 00:31] gohilankit commented on #579
/assign

[2021-01-14 00:42] gohilankit commented on #577
This should have been auto-closed with the above merge.
@shreesha21 - Can you close this issue if it has been fixed?

[2021-01-14 01:01] #577 closed

[2021-01-14 03:29] #338 closed

[2021-01-14 07:50] snowball77 commented on #583
@gohilankit Thank you for the answer. May I suggest to document the limitation as I was not able to find it. Even when deployed with the referenced manifests someone could just execute kubectl scale to get more replicas.

I am not sure whether I understood your comment with the leader election. How does it work if there is only one replica? From the manifest I see it is turned on by default, corre

[2021-01-14 12:49] mharrend commented on #494
@SandeepPissay We have a customer with different departments using either VSphere or Baremetal machines. The departments using Baremetal are not (yet) willing to pay for a VSphere license, but still would like to profit from a larger cluster by adding their own machines to the existing VSphere based K8s cluster. Especially, since they have jobs which are only running during the night.

So far, we

[2021-01-14 16:11] tgelter commented on #494
@mharrend, have you considered the use of node labels/taints/tolerations to support your use-case? I'm not part of the vsphere-csi-driver team, but it seems that the issue you describe should not be solved by this project, but could be solved by standard Kubernetes functionality:
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

[2021-01-14 17:00] divyenpatel commented on #583
@snowball77 we have this limitation documented here - https://vsphere-csi-driver.sigs.k8s.io/limits.html

[2021-01-14 22:07] lipingxue opened #591 "resizeReconciler does not handle the case that syncer is down and FileSystemResizePending was removed from a TKG PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
There is an assumption made in the code that we need to listen to only "updatePVC" event on TKG PVC which is incorrect. We could have TKG PVC's FileSystemResizePending condition removed when syncer container is down. In this specific case, when the syncer comes back up again, it would never know about the TKG PVC's FileSy

[2021-01-14 22:19] SandeepPissay commented on #591
Some more details on this bug is in this [thread](https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/501/files#r525753727).

[2021-01-15 04:32] mthird commented on #163
Just want to say, thanks.  This thread saved my sanity.

[2021-01-16 02:10] shalini-b commented on #549
@tgelter I tried to create a vSphere CSI kubernetes cluster with the YAMLs from https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v2.0.0/vsphere-67u3 and it worked for me without any modifications.

Proof:
[code]

Could you check if there is something different in your environment?

[2021-01-18 09:52] kmorinaga opened #596 "POD can't boot after moving to other node by "tkg scale""
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When we tried scale in by "tkg scale" command, The POD which uses StatefulSet failed booting after moving other node.
According to describe information of the POD, FailedAttachVolume happend caused by Multi-Attach error.

**What you expected to happen**:
"tkg scale" success without error

**How to reproduce it (as minimal

[2021-01-18 12:58] xgao3 opened #597 "PVC stuck in pending state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We wanted to spread a K8s cluster to multiple vsphere/vSAN clusters and implemented vSphere volume topology on top of TKG 1.1.3 based on the following:
https://vsphere-csi-driver.sigs.k8s.io/features/volume_topology.html

The solution worked great initially, but after few application deploy/redeploys, PVC claims are now s

[2021-01-18 15:26] nc-jape opened #598 "vsphere-syncer - Duplicated entity for each entity type in one cluster is found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
It was initially working fine, until one day it started showing this issue. This may be because of increased usage, but the exact cause is very much unknown.
Any feedback in regards to this issue would be very much appreciated.

Upon rescheduling a deployment with a vsphere CSI provisioned volume, the new pod deployment h

[2021-01-18 22:49] tgelter commented on #549
Hello @shalini-b,
Thanks for your testing.
[code]
I believe it's the `vsphere-cloud-controller-manager` pod specifically that I had issues with. Are you able to get it to run successfully in the `vmware` namespace?

[2021-01-19 03:14] chethanv28 opened #599 "Use informers instead of calling API server to fetch PVC/PV information in CnsFileAccessConfigController"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Creating this issue to track the enhancements needed in CnsFileAccessConfigController to use informers instead of fetching PVC/PV information from API server

[2021-01-19 06:36] RaunakShah commented on #596
@kmorinaga thank you for the detailed description and logs! I looked into it and the volume cannot detach from the old node with the following error:

[code]

Because of this kubernetes wont attempt to attach that volume to the new node.

@chethanv28 can you confirm on whether this PR is opened to handle this exact situation? https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/561/files

[2021-01-19 20:32] divyenpatel commented on #597
@xgao3 Can you describe PVC stuck in this state? We need to look at Events reported on the PVC to help resolve this issue.

[2021-01-19 21:18] shalini-b commented on #549
@tgelter In that case, kindly raise the issue in https://github.com/kubernetes/cloud-provider-vsphere repo. The vSphere CCM pod is not created by the CSI team. Thank you!

[2021-01-20 02:09] chethanv28 commented on #596
@RaunakShah
On a first look, it seems to be a similar issue as mentioned here: #526
The PR: #561 is intended for Vanilla k8s cluster. We can extend the same solution to TKG flavors. LMKYT

[2021-01-20 15:45] TJM commented on #357
If windows is a supported OS, that would be fine, I honesty haven't looked at this for a while, but a simple node selector in the values.yaml is good for the meantime.

[2021-01-21 02:12] SandeepPissay opened #604 "Expose CSI metrices from PVCSI controller implementation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
PVCSI currently does not expose any volume operations related metrices for Prometheus to scrape. This is highly useful to set the SLA of PVCSI operations, monitor PVCSI operations in Grafana dashboard, setup alerting mechanism in Grafana when the SLAs are not met etc. This issue is a feature request to add the following features

1.

[2021-01-21 08:48] AntonSmolkov commented on #390
/remove-lifecycle stale.

[2021-01-21 22:25] divyenpatel commented on #422
/remove-lifecycle stale

[2021-01-21 22:29] lipingxue commented on #591
/assign

[2021-01-21 22:38] lipingxue commented on #585
/assign

[2021-01-21 22:41] lipingxue commented on #598
Hi @nc-jape , could you provide the YAML file you used to create the pvc? Is this pvc used by stand-alone pod or used by a deployment. Could you provide the YAML file to create the pod/deployment?  Could you provide the detail regarding " rescheduling a deployment with a vsphere CSI provisioned volume"?

[2021-01-21 23:15] #155 closed

[2021-01-22 10:14] nc-jape commented on #598
Thank you for taking your time to look at the issue.
Please note that the issue is the same for all pods that use storage. Whether it's from a new deployment, or rescheduling to a new compute server. We primarily use the ressource type "Deployment", to schedule pods to the kubernetes cluster.

The issue is specifically with how vsphere-syncer sends duplicated entries to vCenter that correctly gets

[2021-01-22 20:36] SandeepPissay opened #607 "Implement a tool to identify and remove orphan volumes."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There are few cases where the vSphere CSI driver creates more than 1 volume in vSphere for a PVC. The unused ones become orphans as they are not used by Kubenetes cluster. This issue is present in all the drivers shipped so far. A separate issue will be filed to improve the idempotency handling but this issue is filed to build a too

[2021-01-25 08:16] SandeepPissay opened #611 "Expose CSI metrices from CNS CSI controller implementation in WCP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

CNS CSI in WCP currently does not expose any volume operations related metrices for Prometheus to scrape. This is highly useful to set the SLA of CSI operations, monitor CSI operations in Grafana dashboard, setup alerting mechanism in Grafana when the SLAs are not met etc. This issue is a feature request to add the following features

1. Expose key vo

[2021-01-25 21:19] divyenpatel commented on #607
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/606 is adding infra for `cnsctl` tool. keeping this issue open.

[2021-01-25 21:33] divyenpatel commented on #199
/remove-lifecycle stale

[2021-01-25 21:33] divyenpatel commented on #199
/remove-lifecycle rotten

[2021-01-26 23:18] tgelter commented on #359
@SandeepPissay I believe we've reproduced this issue during a routine cluster upgrade. Would new logs be useful?
I'm wondering if there's a way to invalidate the node cache since `kubectl describe csinodes` shows that the new nodes are known and new PV(C)s are working as expected, but PV(C)s created prior to the cluster upgrade are having trouble and I'm seeing `failed to find VirtualMachine for n

[2021-01-26 23:47] SandeepPissay commented on #359
@tgelter can you file a [ticket ](https://vsphere-csi-driver.sigs.k8s.io/support.html)with VMware GSS? We would need logs for all containers in CSI Pod and VC support bundle as well. Also please describe what steps were performed to repro the issue. Thanks.

[2021-01-27 16:26] tgelter commented on #359
Support Request #21191453601 was filed on my behalf by a team member from our virtualization team. I failed to add the repro steps, I'll ask him to add these details in that ticket, but the repro method was as follows:

- New worker Nodes are launched alongside the existing worker Nodes
- A set of non-customer-impacting Pods are evicted from the old Nodes and rescheduled onto new Nodes. Tests are

[2021-01-27 20:45] #604 closed

[2021-01-28 00:41] yuga711 opened #618 "VM hardware version dependency on the vSphere CSI driver"
The vSphere CSI driver requires hardware version 15 or above (ref https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vm_configuration). The vSphere CSI migration PR discussed deprecation plans wrt vSphere versions (https://github.com/kubernetes/kubernetes/pull/92816#issuecomment-655703786). However, I did not find deprecation plans wrt the VM hardware version dependency.
-

[2021-01-28 02:47] yuga711 commented on #618
/sig storage
cc @saad-ali @msau42 @divyenpatel @xing-yang

[2021-01-28 03:22] msau42 commented on #618
cc @gnufied

[2021-01-28 11:16] bortek commented on #341
Hi

I am experiencing this same issue. I have been upgrading CSI driver from 1.0.2 to 2.1.0. I deleted sts, ds, rbacs. Waited for the pods in kube-system to dissapear as the Upgrade guide sasys.

Then before applying new yaml files, one of my test pods restarted. This can happen in production too. We cannot guarantee that pods will not restart during this short interval between old drivers is remo

[2021-01-28 13:14] sunchill06 opened #622 "kubelet_volume* / persistent volume metrics missing on csi storage plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I am trying to get kubelet_volume_* metrics., but don't see any.

[code]
`curl -s http://localhost:9090/metrics -k|grep kubelet_volume|wc -L `
0

**What you expected to happen**:
I except that kubelet should expose prometheus volume metrics to /metrics path as well. Then it is easy to read with prometheus and to monitor the persist

[2021-01-28 19:26] divyenpatel commented on #618
vSphere CSI Driver works with CNS APIs introduced in vSphere 67u3.

As per the https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vm_admin.doc/GUID-789C3913-1053-4850-A0F0-E29C3D32B6DA.html  `ESXi 6.7 Update 2 and later` supports ` Hardware version: 15`

As per https://kb.vmware.com/s/article/1003746 also Virtual Hardware Version for `ESXi 6.7 U2` is 15

and if we do not have the mos

[2021-01-28 19:28] gnufied commented on #618
I think at minimum - we need to cover this via deprecation notice as soon as possible, so as in a later k8s release if HW version <=13 is not supported, it will not catch those users by surprise and we could abide by k8s deprecation policy.

[2021-01-28 19:58] msau42 commented on #618
Correct, we deferred making the deprecation statement for vSphere to resolve the backporting, but to make 1.24 we need to make the deprecation statement this release, clearly stating the vSphere versions, HW versions, features that will no longer be supported

[2021-01-28 20:16] divyenpatel commented on #618
As part of k8s 1.19 release note https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#deprecation we published

Now that we are adding migration support on the vSphere 67u3 patch, so we can update the deprecation notice regarding the minimum vSphere version to 67u3, but regarding the hardware version we should say `HW version <=14 is not supported`.

HW version 14 may b

[2021-01-28 20:59] msau42 commented on #618
Maybe it's just a wording issue, but the release note says "will be deprecated", not "is deprecated". So I don't think it has been deprecated yet, and we'll need to make a more definitive statement this release.

I think also we need to make clear that we're deprecating entire support for older esxi/hw versions. It's not obvious from the statement that csi migration is going to be a required featu

[2021-01-28 21:57] divyenpatel commented on #618
PR is out for review - https://github.com/kubernetes/kubernetes/pull/98546

[2021-01-28 22:59] #109 closed

[2021-01-29 03:57] sunchill06 commented on #622
/sig storage
cc @saad-ali @msau42 @divyenpatel @xing-yang @gnufied

[2021-01-29 21:13] yuyiying commented on #622
/assign @SandeepPissay

[2021-01-30 21:08] divyenpatel opened #626 "VolumeMigrationService - add support for registering vmdk to cns for vSphere releases < 7.0u1 and >= 67u3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What you expected to happen**:
- VolumeMigrationService used CreateVolume with BackingDiskURLPath API to register disk with CNS in vSphere 7.0u1. This API is not available in prior releases of vSphere. We need to add support for CSI Migration in vSphere releases >= 67u3
- Add support for registering vmdk as FCD using vslm register disk

[2021-01-30 21:15] divyenpatel opened #627 "VolumeMigrationService - add support for retriving vmdk path from volume ID in vSphere releases < 7.0u1 and >= 67u3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

QueryVolumeInfo is the new API available from vSphere 7.0u1. To support VCP to CSI Migration on vSphere releases < 7.0u1 and > 67u3, we need to use VStorageObjectManager -> RetrieveVStorageObject API.

**What you expected to happen**:

Update `func (volumeMigration *volumeMigration) GetVolumePath(ctx context.Context, volumeID string) (st

[2021-01-30 21:19] divyenpatel commented on #254
/remove-lifecycle rotten
/reopen

[2021-01-30 21:21] divyenpatel commented on #377
/remove-lifecycle rotten

[2021-02-01 15:02] xing-yang commented on #478
/remove-lifecycle stale

[2021-02-01 20:29] mrajashree opened #628 "Volume migration fails for some volumes provisioned using a particular cloud-config format"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

/kind bug

**What happened**:
vSphere in-tree provider was enabled on a k8s 1.19 cluster. The cloud-config fields for `default-datastore` and `resourcepool-path` were set using the following format:
[code]
Volume provisioning worked with the cloud-config values. A pod was created and bound to a PV via dynamic provisioning. But on enabling CSI migr

[2021-02-01 20:46] divyenpatel opened #629 "Expose metrics from Vanilla CSI controller for CreateVolume and DeleteVolume Operations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Expose metrics from Vanilla CSI controller - for CreateVolume and DeleteVolume Operations

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kube

[2021-02-01 20:47] divyenpatel opened #630 "Expose metrics from Vanilla CSI controller for volume attach and detach Operations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Expose metrics from Vanilla CSI controller for volume attach and detach Operations

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kubernetes

[2021-02-01 20:50] divyenpatel opened #631 "Expose metrics from Vanilla CSI controller for Expand Volume Operation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Expose metrics from Vanilla CSI controller for Expand Volume Operation

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kubernetes version:
-

[2021-02-01 20:59] divyenpatel opened #632 "Expose metrics for CSI node operations - NodeStageVolume, NodeUnstageVolume, NodePublishVolume and NodeUnpublishVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Expose metrics for CSI node operations - NodeStageVolume, NodeUnstageVolume, NodePublishVolume and NodeUnpublishVolume

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-cont

[2021-02-01 23:02] tgelter opened #633 "Is it safe to use VMs configured with multiple SCSI controllers?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Question/Feature request for updated documentation

/kind feature

**What happened**:
We have noticed a [performance benefit](https://www.davidklee.net/2018/02/01/multiple-disk-controllers-in-vms-can-mean-improved-performance/) to volume performance by adding multiple _Paravirtual_ SCSI controllers to VMs where CNS volumes are accessed. We'd like to va

[2021-02-01 23:10] #611 closed

[2021-02-02 00:18] Jiawei0227 opened #634 "Migrate in-tree cloud-provider vsphere metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Current for in-tree vsphere volume usage, we can get the cloud-provider related metrics from the legacy-cloud-provider package[1]. To fully support CSI migration, we should evaluate if these metrics are still essential and are being consumed by any components. If not, we might need to deprecate them. If yes, we should

[2021-02-02 00:32] divyenpatel commented on #628
Volume Registration is failing because VolumeMigrationService is not correctly identifying datastore of the volume.

In this case, the volume path on the PV look like as below

[2021-02-02 15:45] bortek commented on #341
I have done the upgrade test in another lab cluster and was not been able to see the same error.

Tested to restart pod between the old is removed and new driver is installed and those pods were stuck in CreatingContainer as expected.  What helped fixing them was to scale down to 0 , wait couple of minutes and then scale up again.

[2021-02-02 20:12] namgizlat opened #637 "The event ProvisioningSucceeded is missing after pvc is bound"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
PVC is still in pending status
ProvisioningSucceeded is missing from pvc's events:

$ oc describe pvc
Name:          my-pvc
Namespace:     pvc-ns
StorageClass:  csi-sc
**Status:        Pending**
Volume:
Labels:        <none>
Annotations:   volume.beta.kubernetes.io/storage-provisioner: csi.vsphere.vmware.com
Finalizers:

[2021-02-03 22:23] brathina-spectro commented on #359
We ran into this issue when performing resiliency testing on our Kubernetes cluster nodes.
**Steps to reproduce:**
- Launch a cluster with 3 master nodes
- Deploy few apps that use volumes. Let the apps run for a while and volume gets utilized
- Shutdown one of the VM which has volumes mounted and delete the VM from VCenter inventory
- [Our Kubernetes platform](https://www.spectrocloud.com/) detec

[2021-02-04 01:09] RaunakShah commented on #573
@tgelter Yes, using storagepolicyname works for your case using the steps you've mentioned.
However vSphere CNS/CSI currently doesn't support Storage DRS for volume provisioning.

[2021-02-04 01:41] RaunakShah commented on #580
@zhoudayongdennis Can you add some details about what operations were performed on the VM before you saw this issue? And how the cluster was upgraded?

[2021-02-04 03:57] sunchill06 commented on #622
@flofourcade seems like you implemented this in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/108

But I can't see the PVC metrics on Prometheus. What else can I check to understand why these metrics are missing?

[2021-02-04 16:08] tgelter commented on #573
Thanks for the reply @RaunakShah. Could you please clarify whether we can use Storage DRS to automatically balance datastores?

[2021-02-04 18:46] divyenpatel commented on #580
@RaunakShah I have observed this issue.

external-attacher is issuing multiple calls, even when the prior attach call has successfully able to attach the volume to the node.

refer following logs.

[code]

after upgrading csi-attacher to "quay.io/k8scsi/csi-attacher:v3.1.0", I see the external-provisioner is not sending multiple attach requests to the CSI controller.

[2021-02-04 20:40] RaunakShah commented on #573
@tgelter we do not use Storage DRS for volume provisioning, as described in the Supported Features page - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[code]

[2021-02-04 20:41] RaunakShah commented on #580
Just to clarify you mean external-attacher right? :)

[2021-02-05 01:50] divyenpatel commented on #580
Yes

[2021-02-07 13:07] farodin91 commented on #453
Duplicate https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/526

[2021-02-07 13:08] #453 closed

[2021-02-08 20:09] SandeepPissay opened #641 "Add support for svMotion of CNS volumes in cnsctl tool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Add support for migrating(svMotion) CNS volumes from one datastore to another.

[2021-02-08 22:18] #315 closed

[2021-02-09 06:35] Elegant996 opened #644 "can't access mounted PVC: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Receiving `can't open '.': Permission denied` when attempting read/write directory where PVC is mounted.

**What you expected to happen**:
Be able to read/write to directory where PVC is mounted.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy k8s using Typhoon
2. Apply providerID for vSphere

[2021-02-09 19:12] SandeepPissay opened #645 "CSI node daemonset has privileged=true for the node registrar container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There is no need to run the node registrar as privileged container, but the current manifests runs it as a privileged container. This needs to be fixed.

Vanilla: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-node-ds.yaml#L36

PVCSI: https://github.com/kubern

[2021-02-10 12:44] jabbors commented on #598
We've run into the same issue and discovered it's not a CSI driver issue, it's in fact a known k8s issue when the PV contains lots of files.

This is what we found in our kubelet logs

`
W0210 11:39:34.672329    3210 volume_linux.go:51] Setting volume ownership for /var/lib/kubelet/pods/c442f20c-ee25-467f-b01a-21acd8d7eb75/volumes/kubernetes.io~csi/pvc-d5f2c1a2-ac8c-497a-bd96-7bda54f8e76f/mount an

[2021-02-10 14:26] nc-jape commented on #598
Not necessarily. The "Duplicated entity for each entity type in one cluster is found" error is specifically a vsphere-syncer issue, and isn't related to that issue specifically. This issue affects the the attachement and detachment process, not the mounting and unmount process. :)

Your issue specifically relates to the fsGroupChangePolicy, which went into beta as part of kubernetes 1.20. See:
htt

[2021-02-10 22:28] lipingxue commented on #598
@nc-jape I have several questions for you.
1. Are you still seeing this issue after using vsphere-syncer image with version v 2.1.0?

2. Is the type of pv block volume or file volume?

3. Do you create multiple pvcs with the same name in different namespaces?
If yes, please provide the result when running "kubectl describe pv" and "kubectl
describe pvc" for all pvc with the same name in all namesp

[2021-02-11 06:26] jabbors commented on #598
I'm not ruling out any issues in the vpshere-syncer. Just want to highlight that your sudden delays during startup are identical to yours, and a probable reason for the delay might be a defined `fsGroup`. We didn't have any issues with our workload before, but suddenly (after around 2M files being added to the PV, which we didn't consider being a problem) a redeploy was acting like it would stall

[2021-02-11 09:05] nc-jape commented on #598
Thanks for clarifying @jabbors.
I initially tested the vsphere-storage integration where it worked fine with over 900.000 files, and have with other alternative storage providers not seen that issue before we reached ~100.000 files.
I don't think we at the moment have a volume with more than 10.000 files in it. Additionally trough the proxy we have in front of vCenter it all very much indicates to

[2021-02-11 09:15] #348 closed

[2021-02-11 18:30] divyenpatel commented on #123
/remove-lifecycle stale

[2021-02-11 18:30] divyenpatel commented on #123
@gab-satchi is working on this feature.

[2021-02-11 19:23] #628 closed

[2021-02-11 21:28] divyenpatel commented on #597
stack trace for this issue

[code]

[2021-02-12 10:51] nc-jape commented on #598
@jabbors I spent the night talking with VMware engineering, and we noticed there in my case is two different issues present.
The "Duplicated entity" error referred here, wasn't the cause of my storage issues, but rather the api-server throttling requests coming from the kube-controller.
Please see: https://github.com/kubernetes/kubernetes/issues/84169#issuecomment-545692734

The error reported wit

[2021-02-12 15:37] #629 closed

[2021-02-12 15:37] #630 closed

[2021-02-14 16:10] Elegant996 commented on #644
SELinux strikes again!

[2021-02-14 16:10] #644 closed

[2021-02-16 21:39] yuga711 opened #654 "vSphere CSI dependencies on vSphere CPI"
The vSphere CSI driver documentation (https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vsphere_cpi) lists CPI as one of the prerequisites.

This documentation (https://cloud-provider-vsphere.sigs.k8s.io/concepts/csi_overview.html) explains the dependency between CSI and CPI as:
`The CPI initializes nodes with labels describing the topology information, such as zone and r

[2021-02-16 21:41] yuga711 commented on #654
cc  @divyenpatel @gnufied @msau42 @jingxu97

[2021-02-16 22:03] gnufied commented on #654
+1 to this. I have tested the vSphere driver and as long as `kubelet` was started with `--cloud-provider vsphere` flag (not cloud-config needed), it works.  I have not tested multiple zone support though.

[2021-02-17 01:17] SandeepPissay opened #655 "Expose CNS operation metrics to Prometheus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently CSI driver does not expose any Prometheus metrics for volume operations on CNS. Creating this issue to expose CNS operation metrics to Prometheus.

[2021-02-19 05:19] #166 closed

[2021-02-19 16:30] #357 closed

[2021-02-19 18:32] #363 closed

[2021-02-19 22:27] lipingxue commented on #598
/assign

[2021-02-19 22:59] shalini-b commented on #637
This is not something vSphere CSI has control on. As you are saying that the PVC-PV are bound and the volume is getting attached to pod, everything seems to be working fine. The `ProvisioningSucceeded` event is updated by kubernetes https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/controller/volume/persistentvolume/pv_controller.go#L1552 and not by the vSphere CSI driver

[2021-02-19 23:57] mitchellmaler commented on #573
@RaunakShah Is there a reason that CNS/CSI doesn't support Storage DRS (just trying to understand the limitation so I can pass it) and are plans to support this in the near future?

[2021-02-22 01:06] shalini-b commented on #637
@namgizlat Try upgrading your kubernetes and vSphere CSI versions to the latest versions compatible with vSphere 6.7U3.
Refer to https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/465#issuecomment-724657771 for confirmation.

[2021-02-22 01:06] shalini-b commented on #637
/assign @shalini-b

[2021-02-23 12:30] johnr84 opened #663 "Failed to attach the disk - InvalidState"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

[csi_log.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/6028866/csi_log.txt)
[pod-events.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/6028820/pod-events.txt)

**What happened**:
We have a deployment that uses a pvc. Deployment is configured with type- recreate. When we updated the image, we get the belo

[2021-02-23 15:34] #655 closed

[2021-02-23 15:43] divyenpatel commented on #634
All of the essential legacy VCP matrices we were exposing are now added to the vSphere CSI driver by @SandeepPissay  as part of the following issues

- https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/629
- https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/630
- https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/655

[2021-02-23 15:43] #634 closed

[2021-02-23 17:39] tgelter commented on #634
How does one find out which release of the vSphere CSI driver will contain these metrics?

[2021-02-23 17:57] divyenpatel commented on #634
upcoming `release 2.2.0` of the driver will have this feature.

[2021-02-23 18:08] tgelter commented on #634
Thank you!

[2021-02-23 23:12] #645 closed

[2021-02-23 23:26] divyenpatel opened #667 "Can we get the tag manager once and reuse for future API calls? Creating a tag manager in each create API call adds up to the latency."
Can we get the tag manager once and reuse for future API calls? Creating a tag manager in each create API call adds up to the latency.

_Originally posted by @SandeepPissay in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/650#discussion_r581461134_

[2021-02-23 23:30] divyenpatel commented on #667
This issue should be addressed before declaring the Topology feature as GA.

[2021-02-23 23:31] divyenpatel commented on #667
cc: @shalini-b

[2021-02-24 23:52] tgelter opened #670 "XFS filesystem support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

/kind feature

**What happened**:
Engineering team would like to provision XFS volumes; they see as much as 40% improvement to database performance with XFS versus EXT4. This seems to be pretty well-documented, e.g. https://docs.mongodb.com/manual/administration/production-notes/#kernel-and-file-systems.

**What you expected to happen*

[2021-02-25 03:25] #597 closed

[2021-02-25 22:23] gohilankit commented on #670
@tgelter - XFS filesystem qualification is something in our backlog, but it may not be prioritized soon.
I would encourage you to open a support ticket so that the feature request gets some traction.

[2021-02-25 22:39] gohilankit commented on #663
@johnr84 From csi logs, we can see that the volume was detached properly. But I suspect that the corresponding `VolumeAttachment` CR in the cluster wasn't deleted. It's hard to tell that with the limited logs.

Can you paste the output describing volumeattachment corresponding to this volume?
[code]

[2021-02-25 22:41] tgelter commented on #670
Thanks @gohilankit, I'll reach out to our virtualization team to ask them to open a support case. Would it be helpful to provide the support case ID here once it's submitted?

[2021-02-25 22:47] gohilankit commented on #670
Sure you can update with the case ID once it's opened.

[2021-02-25 23:03] tgelter commented on #670
SR #21199799002
Thanks!

[2021-02-26 19:44] mohideen commented on #341
@RaunakShah I have not noticed this issue after I upgraded to v2.0.1/vCenter-7.0.

[2021-02-26 23:44] SandeepPissay opened #676 "Ignore QueryAllVolume returning no result in CSI DeleteVolume workflow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The current DeleteVolume workflow tries to fetch query the volume from CNS to know the volume type. This is used to push the metrics to Prometheus. If cases where the volume is actually deleted, CNS does not return any result. In such cases the code to find the volume type should ignore it. Currently it fails and needs fix.

**What

[2021-03-01 09:24] liuyusen commented on #320
@creativie can you share more details on how you fixed this issue?
Not quite sure which object's finalizers did you clean. Thanks!

[2021-03-01 09:31] creativie commented on #320
@liuyusen
[code]

[2021-03-01 22:14] vterdunov commented on #143
@Anil-YadavK8s As i remember it was vSphere appliance (vCenter).
Btw, the bag was fixed in some update after 6.7U3.

[2021-03-02 09:24] johnr84 commented on #663
@gohilankit sorry, I deleted that volumeattachment. But I think I almost found the root cause. We have storage DRS enabled in the Datastore Cluster. I believe this is causing the volume to be in invalid state(May be after a VM/disk migration). I read that Storage DRS feature is not supported yet.

1. Do you think the Storage DRS would have caused this issue?
2. Any approximate timeline to have thi

[2021-03-02 11:45] Anil-YadavK8s opened #680 "Unable to create/delete PVC volume due to context deadline exceeded."
**Is this a BUG REPORT or FEATURE REQUEST?**:

Unable to create/delete PVC volume  due to context deadline exceeded.

 /kind bug

**What happened**:
Suddenly Vmware CSI stopped provisioning new PVC volumes with below error:

{"level":"info","time":"2021-03-01T21:29:33.39258272Z","caller":"vanilla/controller.go:415","msg":"CreateVolume: called with args {Name:pvc-88b0cf84-f28c-4dae-8cc0-8109e2773f2

[2021-03-02 11:46] Anil-YadavK8s commented on #680
@RaunakShah  @divyenpatel  Need your support.

[2021-03-02 21:31] #676 closed

[2021-03-04 15:17] dgsardina commented on #163
Is there any way to "re-tag" the volumes once the are un-tagged? Or any way to find them  in vsphere so the information can be recovered?
Thank you so much in advance for your help

[2021-03-04 15:47] davidkarlsen commented on #670
which of the images needs xfsprogs?

[code]

so that we can build our own image and add it?

[2021-03-04 17:38] michaelcourcy commented on #228
Nearly all csi provisionner supports snapshot feature (gp2, azuredisk, rook, portworx, nutanix, longhorn, trident,  ....) is there a reason why you don't want to support that ?

[2021-03-04 17:46] xing-yang commented on #228
@michaelcourcy we are doing scoping for CSI snapshot feature now.

[2021-03-04 18:39] SandeepPissay commented on #228
@michaelcourcy Could you describe your use cases for CSI snapshots? Snapshot is defined differently by different cloud providers, so I'm curious to know your use cases.

[2021-03-04 18:46] RaunakShah commented on #680
From this error it seems that your vcenter may have some issues. It's tough to say without more logs. Can you file an SR with VMware and provide the relevant log bundles?

[2021-03-04 19:07] nickperry commented on #228
As a Kuberenetes admin I want to let my application devops snapshot data via Kubernetes primatives for the purposes of backup and migration.

[2021-03-04 19:26] #598 closed

[2021-03-04 19:28] SandeepPissay commented on #228
@nickperry I would like to talk to you in a meeting to understand your use case better. Would you be fine with it? If so, how can I reach out to you?

@xing-yang would you be interested to join?

[2021-03-04 22:24] BaluDontu commented on #680
`context deadline exceeded` generally comes from K8s side when it is unable to complete the desired operation within the desired time. Looks like here its unable to complete the PVC creation within the default time 5 mins. That is the reason why we got the `context deadline exceeded` error.

From the log it shows below

PVC creation starts at 21:29:33
[code]

Volume creation is still pending on CN

[2021-03-04 23:14] lipingxue commented on #663
We don't know whether Storage DRS would have caused this issue or not.

We put this in our back-log, no timeline is available for this feature for now.

[2021-03-04 23:16] gohilankit commented on #670
[code]

Both [driver](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/release-2.1/images/driver/Dockerfile) and [syncer](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/release-2.1/images/syncer/Dockerfile) images need xfsprogs. They're layered on top of the [base image](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/release-2.1/images/driver-base/Dockerfile) from

[2021-03-04 23:36] yuga711 opened #686 "vSphere CSI: Storage DRS support"
The [vSphere CSI driver page](https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html) states `vSphere CSI driver and Cloud Native Storage in vSphere does not currently support Storage DRS feature in vSphere.` Since CSI driver already creates FCDs, can you please explain what is the limitation in supporting the storage DRS feature? Also, is this feature in the CSI driver roadmap? Tha

[2021-03-04 23:36] yuga711 commented on #686
cc @divyenpatel @msau42 @jingxu97

[2021-03-05 01:59] xing-yang commented on #228
Yes

[2021-03-05 12:16] michaelcourcy commented on #228
@SandeepPissay I have two main cases :

- Manage my snapshot/clone/restore the kubernetes way using API objects
- Portability of backup/recovery tool from one kuberntes distribution to another one, from one storage provider to another one

[2021-03-05 12:23] michaelcourcy commented on #228
And about your second sentences @SandeepPissay

You are absolutely right ! And snapshot feature in the CSI spec fix this issue. My use cases is portability of the tool developped for backup and recovery in kubernetes.

[2021-03-05 12:30] michaelcourcy commented on #228
I also agree with @nickperry I want to let my kubernetes user taking snapshot and operate restoration or clone without having to open the hypervisor api to this user. Snapshot feature allow multitenancy in backup/recovery management.

[2021-03-05 17:48] SandeepPissay commented on #228
@michaelcourcy good points! We would be interested to talk to you in a meeting to understand your use cases a bit deeper, exchange ideas and also ask few questions. Would you be open for a short meeting? If so, how can we reach out to you?

[2021-03-05 20:12] SandeepPissay opened #692 "Update the doc to clarify about the need for DRS and vSphere HA"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'm filing this issue to clarify the need for DRS and vSphere HA. DRS helps in load balancing Kubernetes node VMs within a vSphere cluster, and vSphere HA helps in making sure that the failed node is restarted and the pods within the node are available sooner. We need to recommend VMware customers to enable both DRS and vSphere HA o

[2021-03-07 18:21] michaelcourcy commented on #228
@SandeepPissay yes sure. Note that I'm in the french time zone I think 10am your time will work for me.

[2021-03-08 08:33] Anil-YadavK8s commented on #680
Thanks @BaluDontu will raise SR to Vmware

[2021-03-08 11:54] ialidzhikov commented on #526
/remove-lifecycle stale

[2021-03-08 16:35] SandeepPissay commented on #228
@michaelcourcy can you provide your email so that I can setup a meeting? If you are not comfortable sharing your email here, you can email me at ssrinivas@vmware.com. I will setup a meeting that works for you and us. Thanks!

[2021-03-08 23:11] divyenpatel commented on #686
@yuga711

FCD does not support SDRS yet.

Yes, we have SDRS support in our roadmap.

[2021-03-08 23:27] divyenpatel commented on #654
Regarding your questions

Other than providerID, we want CPI to perform cloud provider operations, and not rely on in-tree vSphere cloud provider.
CPI helps perform cloud provider functionalities for example, when node is shutdown, node is not present in the inventory to update kubernetes - https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/instances.go#L155

[2021-03-08 23:30] divyenpatel commented on #633
@tgelter we do not load balance SCSI controllers. SCSI controllers are used serially.
Can you please file an [SR](https://www.vmware.com/support/file-sr.html) to get this prioritized?

[2021-03-09 01:39] chethanv28 commented on #596
@kmorinaga Can you confirm if the "tkg scale" command deletes the nodes from k8s and also deletes the vm from VC inventory ?

[2021-03-09 15:10] kmorinaga commented on #596
@chethanv28 "tkg scale " comand delete the nodes. Please take a look attached screenshots.
[tkg_scale.zip](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/6109406/tkg_scale.zip)

[2021-03-09 18:28] chethanv28 commented on #596
@kmorinaga Can TKG scale down drain the node completely before deleting the VM ?
cc: @SandeepPissay @divyenpatel

[2021-03-09 18:30] tgelter commented on #633
Hello @divyenpatel, I've asked our virtualization team to submit a support request on my behalf. I'll be sure to post it here when it's filed, thanks!

[2021-03-09 23:02] tgelter commented on #633
Hello again @divyenpatel, we have submitted SR #21203595303

[2021-03-11 04:57] divyenpatel commented on #680
@Anil-YadavK8s Can you share the SR Number?

[2021-03-11 07:58] davidkarlsen opened #709 "support diskformat parameter"
/kind feature

**What happened**:
We’ve just started to use the CSI-based approach for vsphere. It works very well, and I really like the use of storagepolicies. But - we can’t control the zeroed/thin/eagerzeroed diskformat-parameter, the volumes appear as thin. We want to be able to control this, either from the storageclass, or preferrably through the storagepolicy - but this does not seem to be

[2021-03-12 11:50] davidkarlsen opened #713 "Make a release which is compatible with k8s 1.20"
/kind feature

**What happened**:
https://vsphere-csi-driver.sigs.k8s.io/releases/v2.1.1.html states "Maximum: 1.19" for k8s release.
We want to upgrade to 1.20 with openshift 4.7

**What you expected to happen**:
Have a 1.20 compatible release available.

**How to reproduce it (as minimally and precisely as possible)**:
Read the docs

**Anything else we need to know?**:

**Environment**:
- csi-vs

[2021-03-12 16:41] davidkarlsen commented on #670
In the mean time I've setup some repos here:
* https://github.com/evryfs/cloud-provider-vsphere-csi-syncer -> https://quay.io/repository/evryfs/cloud-provider-vsphere-csi-syncer
* https://github.com/evryfs/cloud-provider-vsphere-csi-driver ->  https://quay.io/repository/evryfs/cloud-provider-vsphere-csi-driver

[2021-03-12 17:47] divyenpatel opened #714 "Document vSphere CSI Driver and CNS does not support NFSv4 Datastore"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Document vSphere CSI Driver and CNS does not support NFSv4 Datastore

/kind bug

[2021-03-12 20:05] divyenpatel commented on #583
closing this issue as information is provided here - https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/583#issuecomment-760327984

[2021-03-12 20:05] #583 closed

[2021-03-12 20:19] divyenpatel commented on #618
PR https://github.com/kubernetes/kubernetes/pull/98546 is merged. Closing this issue.

[2021-03-12 20:19] #618 closed

[2021-03-13 00:13] tgelter commented on #583
Is it expected that it will be possible to run multiple instances of the CSI controller pod in the future? Depending on a single pod isn't great from an HA perspective. Thanks!

[2021-03-13 00:21] divyenpatel commented on #583
@tgelter  Yes, we are working on validating running multiple instances of the CSI controller pod. In future releases, we will add support for that.

[2021-03-13 08:31] farodin91 commented on #714
Why are NFSv4 datastore not support? Or is their a difference between v4.1 and v4.

[2021-03-14 12:28] #428 closed

[2021-03-14 19:35] #257 closed

[2021-03-15 19:06] SandeepPissay commented on #709
@davidkarlsen We have this in our roadmap. Lets continue our conversation in Kubernetes slack on the use cases.

[2021-03-15 19:14] SandeepPissay commented on #713
@davidkarlsen This is an ongoing thing. Once our testing moves to 1.20, we will callout support for that. Thanks for filing this issue!

[2021-03-15 19:20] SandeepPissay commented on #686
@yuga711 Can you explain your use case or your customer's use cases for SDRS support? SDRS does storage load balancing between datastores based on performance, latency, capacity usage, etc. It also helps in moving storage objects(currently only VMs) out of the datastore when you put a datastore into maintenance mode. We have commonly heard of datastore maintenance mode support and capacity load ba

[2021-03-15 19:34] davidkarlsen commented on #713
I understand that, but vsphere lags a bit behind as 1.20 was out early December - and there is still no validated driver out. I'd expect conformance testing to happen already when RCs and betas are out.

[2021-03-15 19:38] SandeepPissay commented on #713
Your feedback is taken and we will see how we can improve the testing and release process so that we can quickly support latest Kubernetes releases.

[2021-03-15 20:19] limb-adobe commented on #686
@SandeepPissay our immediate need for SDRS support fall under the common requests you have already stated, datastore maintenance mode and capacity load balancing.

[2021-03-15 20:53] davidkarlsen commented on #709
@SandeepPissay is the roadmap available? What is the target version this is scheduled for. Will it be solved in CSI, the storage-policy or both?

[2021-03-15 21:13] SandeepPissay commented on #686
@limb-adobe what version of vSphere are you using? I'm wondering if you are fine with upgrading the vSphere or you are looking for capacity load balancing and datastore maintenance mode feature support for already released vSphere versions.

[2021-03-15 21:27] tgelter commented on #686
@SandeepPissay, @limb-adobe is my colleague so I can field this question for now.
We are using vCenter Server 7.0 Update 1c. Landon would need to provide guidance about future version timelines. I think we'd be open to it, but would likely prefer support for this version of vCenter since we're currently in the process of globally migrating off of 6.7 right now.

[2021-03-15 22:00] #429 closed

[2021-03-15 22:00] #437 closed

[2021-03-15 22:22] yuga711 commented on #686
Our customers are looking for the common SDRS usecases stated here: capacity, IO load balancing and storage-objects migration.

[2021-03-15 22:48] SandeepPissay commented on #686
@yuga711 Lets say we cannot support SDRS in the near future. Is there any preference on which use cases are more important to your customers:
1. Datastore maintenance to relocate volumes(and VMs) out of the datastore. This should balance the capacity usage on other available datastores.
2. Capacity load balancing during provisioning operation so that the datastores are balanced on usage.
3. IO loa

[2021-03-15 23:58] SandeepPissay commented on #709
@davidkarlsen We are scoping this work, its hard to say which version will have this feature. Please check with us in a few months. Thanks!

[2021-03-16 21:57] SandeepPissay commented on #714
@farodin91 Are you a VMware customer? And did you have a use case to use NFSv4 datastore in vSphere for CSI to provision block volumes on?

[2021-03-16 22:20] farodin91 commented on #714
We are using VMware in our company.

I'm running multiple clusters on vsphere. I don't have access to vSAN. I can use nfs as vsphere datastore more flexible than directly mount it directly using nfs csi driver. For example, we can hard enforce storage size for block volumes.

[2021-03-16 22:30] SandeepPissay commented on #714
@farodin91 It would help if you can answer the below questions. It also helps in prioritizing NFSv4 datastore support for CSI.
1. Which version of vSphere are you using?
2. How many ESX hosts do you have in your environment?
3. How many k8s cluster are deployed in your environment?
4. Which k8s distribution are you folks using?
4. What is your use case to use NFS datastore in vSphere to create blo

[2021-03-16 23:18] BaluDontu opened #723 "Init CSI driver crashes when csi-auth-check feature in internal-feature-states configmap is enabled on vSphere6.7u3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
CSI driver is crashing when it is deployed on vSphere6.7u3 with `csi-auth-check = true`

The FSS value is set to false as per: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml#L156

[code]

Please find the logs below:
[code]

**What you

[2021-03-17 00:01] noillir commented on #163
Indeed is there a way to retag the volumes? or they are now lost (yet hanging around on vm) forever?

[2021-03-17 05:08] #549 closed

[2021-03-17 09:06] bortek commented on #713
We are too in the same situation and cannot upgrade to Openshift4.7/KUbernetes 1.20.

Do you have any preliminary dates when this will be available?

[2021-03-17 11:34] dgsardina commented on #163
@noillir Not only that, how is it possible this behavior of untagging unknown volumes is not considered a critical bug? In fact creating a new cluster with the same id could be though of the way to be able to see the pv on both clusters, which will simplify greatly the migration to a different k8s cluster.

[2021-03-17 12:29] noillir commented on #163
fyi
I have found out that if you get rid of the latter added cluster the original will eventually retag it's disks to cns. Not sure if it happened with some timed sync or by me starting to delete and recreate them.

[2021-03-17 12:35] dgsardina commented on #163
@noillir It might be the case, as after stopping the second cluster I have a different error from before from the controller. Now I get
[code]

I have open a ticket to our support, if there is a solution I will post it here in case it helps others.

[2021-03-17 13:17] davidkarlsen commented on #709
customer support ticket#: 21205768403

[2021-03-17 13:27] davidkarlsen commented on #670
SR #21205776503

[2021-03-17 16:40] RaunakShah commented on #163
@noillir @dgsardina once you use unique cluster-id's, the same component (syncer) that untagged the volumes will tag them back as CNS volumes.
Our documentation calls out that the cluster-id must be unique for every kubernetes cluster. Can you tell me what documentation/distribution you used to install vSphere CSI on your cluster?

@dgsardina Please attach all the relevant VC and CSI support bundl

[2021-03-17 16:49] noillir commented on #163
Hi,

I'm not questioning the doc, It was a human error. But i must mention that this is prone to happen again and again in different places.

Thanks for letting me know what exactly retagged the volumes Luckily i did not delete but renamed the extra cluster.

[2021-03-17 17:38] RaunakShah commented on #163
@noillir ah got it, i was asking because we'd need to inform/correct any distributions installation process if they don't ensure uniqueness in cluster-id.

[2021-03-17 18:15] dahrens commented on #251
Thanks @tgelter - worked like a charm.

In my case the same datastore was present in 3 different datacenters, which forced me to reconcile the disks for the datastore in combination with each datacenter.

[code]

Afterwards orphaned volumes were gone (which were not on vSAN, like @jaguar900 described)

[2021-03-17 23:26] SandeepPissay opened #729 "Provide a way to enable DEBUG logs dynamically"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When a hard bug is found and we get access to a live env, and we need to enable DEBUG logs, we need to modify the CSI deployment yaml to enable it. This means there is a container restart. In few rare cases, we do not want to restart the container and want to retain the current runtime state. Having a toggle button to dynamically en

[2021-03-18 01:35] #723 closed

[2021-03-18 16:05] chethanv28 commented on #526
@ialidzhikov Can you drain the node-vm completely, before deleting the underlying VM from VC?

[2021-03-18 20:58] tgelter commented on #359
I found a work-around for this issue, in case it helps anyone.
If you wait for the removal of `VolumeAttachments` corresponding to the node before shutting it down or deleting it, pods w/ PVCs which are evicted from the node will start up OK on other nodes, at least with:
* vSphere CSI Driver - v2.1.1
* vSphere CPI - v1.19.0
* vSphere - 7.0U1

In our node eviction code, I've added the following lo

[2021-03-18 21:15] divyenpatel commented on #356
/remove-lifecycle stale

[2021-03-18 21:15] divyenpatel commented on #356
/reopen

[2021-03-20 10:46] #383 closed

[2021-03-21 07:59] Elegant996 commented on #713
Kubernetes 1.20 is compatible but you must re-enable self links via `--feature-gates=RemoveSelfLink=false` on each node and through the API.

Please note that this will not be possible in 1.21 or greater as the feature gate will be removed (currently deprecated).

[2021-03-22 06:35] bortek commented on #713
Good that it is compatible. We need Sandeep or someone else from the csi team to make this official and supported, preferably release a new version and update documentation.

[2021-03-22 10:33] #390 closed

[2021-03-22 18:31] BaluDontu opened #748 "TriggerCsiFullSync controller doesn't populate clusterflavor as part its reconciler object"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`TriggerCsiFullSync` controller doesn't populate clusterflavor as part its reconciler object. Because of this it calls csifullsync instead of pvcsifullsync on TKG. This is failing the syncer container because of this.

**What you expected to happen**:
Run pvcsifullsync on TKG and syncer container should not crash.

**How to reproduc

[2021-03-22 18:31] BaluDontu commented on #748
/assign @BaluDontu

[2021-03-22 22:45] #455 closed

[2021-03-22 22:46] #748 closed

[2021-03-22 23:27] davidkarlsen commented on #713
That's not alway viable. The drivers should work w/o any special hacks.

Which is why it should be fixed in the driver.

[2021-03-22 23:31] shalini-b opened #752 "Document the behavior where online resize is attempted on an appropriate VC but an older ESX version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind documentation

Refer to https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/743#pullrequestreview-618047596 for more details

[2021-03-22 23:32] shalini-b commented on #752
/assign

[2021-03-22 23:46] #458 closed

[2021-03-23 16:39] #714 closed

[2021-03-23 16:44] divyenpatel commented on #714
@farodin91 Refer - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/741#discussion_r599726765
We will provide a link to the vSphere side doc explaining the detail when it is available to us.

[2021-03-23 19:23] farodin91 commented on #714
Thanks for the clarification. Is there way migrate data between my nfs4 datastore a newly created nfs3 datastore. I can use vmotion to migrate the disk. It is not clear, if fcd supports it or storageclasses in Kubernetes. Any idea? It could work with Velero that could lead to a longer downtime.

[2021-03-23 21:41] SandeepPissay opened #757 "Replace the usage of CNS Query with QueryAll(with selection) to avoid SPBM workflows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
CSI is using CNS Query API in many places. But CNS Query has performance issues when it invokes SPBM APIs to fetch some properties. The requirement is to avoid SPBM in the query wherever possible so that the overall CNS solution can work better.

[2021-03-24 22:55] #757 closed

[2021-03-25 19:52] #230 closed

[2021-03-26 08:26] Reamer commented on #670
@davidkarlsen Thank you for your images which work really well.
I can confirm that xfs and as well as enlarging xfs works with your modification.

[2021-03-26 21:31] SandeepPissay commented on #359
@brathina-spectro Did you drain the node before you shutdown the node VM? If you do not drain the node before shutdown, you may end up with a known upstream issue where the pod in the shutdown node will go to terminating state and the replacement pod would never come up since the volume is still attached to the shutdown node. Also see https://github.com/kubernetes/enhancements/pull/1116. There are

[2021-03-26 23:40] brathina-spectro commented on #359
@SandeepPissay Our objective was to test the resiliency of the system overall and so we did not shut down the nodes gracefully.

Pods were not stuck in terminating state. When CPI detects the node is gone, it removes the node from the cluster and so all the pods scheduled on the node gets Terminated. When the new pod comes up, it stays in "ContainerCreating" state forever with the error below.
`Un