[2021-03-27 19:39] #468 closed

[2021-03-29 13:20] #466 closed

[2021-03-29 14:17] Hinodeya69 commented on #106
Hey everyone I have a same issue mentionned above:

Vcenter:6.7 Update3

{"level":"error","time":"2021-03-29T13:50:23.229371714Z","caller":"vsphere/virtualcenter.go:207","msg":"Cannot connect to vCenter with err: Post https://10.145.3.224:443/sdk: dial tcp 10.145.3.224:443: i/o timeout","TraceId":"dfc3133b-1ad6-45ba-88a4-71f9a0a4390b","stacktrace":"sigs.k8s.io/vsphere-csi-driver/pkg/common/cns-lib

[2021-03-29 14:54] tgelter commented on #106
This looks like an issue connecting to the vCenter Server. Have you confirmed basic networking reachability from the CNS pods to the vCenter API endpoint?

[2021-03-29 18:09] tgelter commented on #359
I agree with @brathina-spectro's findings above. While the [work-around](https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/359#issuecomment-802293973) I shared above helps to prevent this issue from happening, node issues (freeze/delete w/out drain, etc) can still trigger the issue which is difficult to recover from for our users since they don't know to (or in some cases have RBAC perm

[2021-03-29 18:43] SandeepPissay commented on #359
Can you provide more details on how exactly are you testing the resiliency? And have you considered enabling vSphere HA on the vSphere cluster so that vSphere HA can restart the node VM if it crashes? I see node VM shutodown as a planned activity and the component/person doing that should drain the node completely before performing shutdown. If this is not done, we have an upstream issue that the

[2021-03-29 22:11] brathina-spectro commented on #359
@SandeepPissay Thanks for replying. We haven't enabled vsphere HA and the node did not go through node drain. Could you share pointers to the upstream issue where volume detach does not happen?

[2021-03-29 23:02] SandeepPissay commented on #359
https://github.com/kubernetes/enhancements/pull/1116

[2021-03-30 21:39] brathina-spectro commented on #359
@SandeepPissay Thanks.

We're seeing the same behavior with pods staying in "ContainerCreating" state even when the node was drained before shutting down. Volume attachment deletion started a few mins after the new node got launched, but it never finished, And VolumeAttachment is stuck there ever since.

Tried restarting CSI controller. The controller detects that the node is gone, but is never de

[2021-03-30 22:10] SandeepPissay commented on #359
CSI driver is not responsible for deleting the VolumeAttachment. The kube-controller-manager does that. Anyways, we need to take a look at the kube-controller-manager, external attacher and CSI controller logs. Please talk to VMware GSS on how to file a ticket.

[2021-04-01 18:19] SandeepPissay opened #772 "Support raw block volumes in vSphere CSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Add support for raw block volumes in vSphere CSI.

[2021-04-01 18:22] tgelter commented on #633
@divyenpatel, per SR #21206372703, I'm told that load balancing CNS volumes across paravirt SCSI controllers should be resolved with vSphere 7.0U2. Can you confirm the same?
Thanks!
Tim

[2021-04-01 18:47] SandeepPissay opened #773 "Document the limitations of storage vmotioning volumes from one datastore to another"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Since storage vMotion of CNS block volumes have some issues in corner cases, can we document the limitations in the CSI doc?

[2021-04-01 18:51] divyenpatel opened #774 "Document what filesystems vSphere CSI driver supports"
**What happened**:
Document what filesystems vSphere CSI driver supports. Some customers are trying out xfs, but we do not support xfs yet, so having a list of the supported file systems in our documentation will help.

This is requested in the VMware user group meeting.

[2021-04-01 19:06] divyenpatel commented on #773
This page needs to be corrected which says "Storage vMotion of block volumes" is supported on the vSphere CSI Driver.
https://vsphere-csi-driver.sigs.k8s.io/features/vsphere_csi_migration.html

[2021-04-01 19:30] SandeepPissay opened #775 "Add support for multiple vCenters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently vSphere CSI supports a single vCenter server. There are customers who want to deploy Kubernetes across multiple vCenter. The primary reason is high availability. I'm creating this issue to add support for multiple vCenters in vSphere CSI.

[2021-04-01 19:38] tgelter commented on #775
We are such a customer. :-)
Would it be possible to implement this in such a way that we could migrate from a single-vCenter deployment to multi-vCenter?

[2021-04-01 19:43] SandeepPissay commented on #775
@tgelter You could also deploy Kubernetes across multiple datacenters within a single vCenter and use vCenter HA to protect against vCenter failure. Could you outline your use cases to run Kubernetes across multiple vCenter servers? So far I heard the only reason is to protect against vCenter failure for high availability. Any other reasons or use cases?

[2021-04-01 19:50] tgelter commented on #775
We already leverage HA + DRS anti-affinity rules (SDRS anti-affinity rule automation is a WIP), but none of these things protect us from more catastrophic failures which affect an entire availability zone (e.g. network core failure, cooling issue, weather events).
We'd like to be able to split Kubernetes clusters across AZs, with portions of critical components ("master" & etcd nodes) and a fracti

[2021-04-01 19:54] RyanW8 commented on #775
Our infra team also take the same approach; we run an individual vCenter per AZ/DC. Would love to see this implemented :)

[2021-04-01 19:57] SandeepPissay commented on #775
@tgelter @RyanW8 Have you guys considered creating a Datacenter within a vCenter as a AZ or vCenter cluster as a AZ? This way you could have a single vCenter manage multiple AZs. We have seen few customers using it this way.

[2021-04-01 19:59] RyanW8 commented on #775
I don't quite understand what you mean? Could you please elaborate :)

[2021-04-01 19:59] tgelter commented on #775
We've used this approach in the past. We found that we liked the reliability of dedicated vCenter Servers, and also ran into scaling limits on older versions (5.x, I believe) due to too many hosts/VMs.

[2021-04-01 20:02] SandeepPissay commented on #775
Here's an example - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html#set_up_zones_in_vsphere. In this example, we have a single vCenter. Each vCenter cluster is an AZ. All the AZs are within a single Datacenter. Actually you can have one Datacenter per vCenter cluster as well.

[2021-04-01 20:17] SandeepPissay commented on #775
@tgelter Thanks, this is useful info.

[2021-04-02 14:26] divyenpatel commented on #633
Yes, @tgelter feature for load balancing SCSI controllers is available in the vSphere 7.0u2.

[2021-04-02 14:32] divyenpatel commented on #495
Tracking feature request for Multi vCenter here - https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/775

Closing this issue.

[2021-04-02 14:32] #495 closed

[2021-04-02 14:35] divyenpatel commented on #305
/remove-lifecycle rotten

[2021-04-04 02:28] nick-oconnor opened #778 "Liveness Probe Memory Leak"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Over the course of 18 days, the liveness probe container for the controller pod went from using 8Mi of memory to over 1Gi. The liveness probe for the node pods also experienced similar issues, however to a lesser extent; 500Mi, exactly half that of the controller probe. This makes sense since the controller probe logs `Co

[2021-04-04 02:33] tgelter commented on #633
Thank you very much! I believe with this, we can close out this ticket.

[2021-04-04 02:33] #633 closed

[2021-04-05 21:13] davidkarlsen commented on #774
related: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/670

[2021-04-06 00:14] #265 closed

[2021-04-06 00:14] #290 closed

[2021-04-06 01:15] #411 closed

[2021-04-06 17:21] davidkarlsen commented on #670
I don't understand the fuzz about adding the package - it will just make it easier on users. We don't expect vmware to "support" xfs in any way as it's not a vmware feature - it just makes our lives easier so we don't have to build custom images.
ref: https://www.youtube.com/watch?v=ywMmY8BHH5A&ab_channel=SteveWong

[2021-04-06 22:41] SandeepPissay commented on #565
@farodin91 I'm trying to understand why you want to relocate the volumes from one datastore to another. Is it because you want to decommission the datastore, or is it because you want to balance the capacity between the two datastores?

[2021-04-07 01:49] mitchellmaler commented on #686
We are working on upgrading to 7.0u2 and were investigating using vSphere CSI for our Vanilla Kubernetes Clusters and excited for the incoming online resize support.

We are mostly looking for the capacity and IO load balancing support and we would pick capacity/space load balancing as a good first feature to support for SDRS.

[2021-04-07 05:34] SandeepPissay commented on #686
@mitchellmaler can you answer these questions:
1. How many datastores are present in the vCenter inventory?
2. Are they all VMFS datastores? I'm wondering if you are looking at capacity load balancing for the same datastore type or between different datastore types like VMFS to NFS, VVOL to VMFS, VSAN to VMFS, etc.
3. Which version of vSphere do you have?
4. How many vSphere clusters do you have?

[2021-04-07 06:08] farodin91 commented on #565
I want to decommission datastores.

[2021-04-07 07:39] achontzo commented on #565
Did my solution worked out for you?

[2021-04-07 17:08] mitchellmaler commented on #686
@SandeepPissay

1. The current SDRS datastore clusters that we will be working with contain around 15 to 29 datastores.
2. They are all VMFS. We are only looking for the same type as we do not use the other types much.
3. We are currently on 6.7u3 but looking to upgrade to 7 soon.
4. We multiple clusters per datacenter but only looking to load balance within the same datacenter and not across.

[2021-04-07 22:38] davidkarlsen commented on #713
I see there is a 2.2.0 in the making: https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.2.0-rc.3 - but nothing communicated around expected release date, features or target k8s version compat. Will 2.2.0 be 1.20 compat without any specials hacks by consumer? When is it expected to be GA?

[2021-04-08 08:16] davidkarlsen commented on #713
Also 1.22 alphas are begin cut atm: https://github.com/kubernetes/kubernetes/releases

[2021-04-08 17:41] divyenpatel commented on #498
/remove-lifecycle stale

[2021-04-08 17:59] #627 closed

[2021-04-08 17:59] #626 closed

[2021-04-08 18:29] davidkarlsen opened #787 "Create k8s 1.21 compatible release"
/kind feature

**What happened**:
k8s 1.21 was released: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md

**What you expected to happen**:
a compatible csi driver to be available for vsphere

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
N/A

**Environment**:
- csi-vsphere version:
- vsphere-cloud-control

[2021-04-08 18:31] davidkarlsen commented on #713
related: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/787

[2021-04-08 22:03] BaluDontu commented on #778
@nick-oconnor  Can you attach the logs as well for both node and controller so that we can take a look at them?

[2021-04-09 18:09] farodin91 commented on #565
@achontzo We tried out vmotion and it worked with anartifact on the datastore. Before the fcd was in Directory which was called fcd, now it's in a folder which is called like the originating VM. On the k8s side, we have to manual patch the storageclass.

We started to tried out the CnsRelocate command, but we got a wired error that relocate is disabled.

[2021-04-09 19:25] BaluDontu commented on #359
After you drain the node, all the pods would be deleted but VolumeAttachments still remain. It is because pods would get deleted from API server after the unmount is successful. So wait until VolumeAttachments are deleted and later delete the node.
If the node is deleted before volume attachments are deleted, then the volume still remain attached to the VM in backend. There is no way for the news

[2021-04-09 21:07] BaluDontu commented on #778
/assign @BaluDontu

[2021-04-12 13:35] achontzo commented on #468
So I understand that there is a "hard limit set by vCenter CNS API" to 59 block pvs per VM with 4 controllers.
And "vSphere CSI driver does not have any logic to limit volumes per node"
So when this limit is reached, neither CSI driver non Kubernetes scheduler takes this limit into consideration, leaving the pod in a not running state.

59 vs the 256 theoretical max number is a huge difference whi

[2021-04-12 20:54] sandaymin123 opened #793 "ability to inject kubelet path better in the csi driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
On custom K8 deployments on VMWARE, a different kubelet path is used other than the default /var/lib/kubelet but /var/data/kubelet instead. As a resullt, the default  value is passed to the csi node driver to be used to mount the storage  /var/lib/kubelet  fails to perform the mounts as it does not have access to /var/

[2021-04-12 21:33] dims commented on #793
@sandaymin123 what was your workaround?

[2021-04-12 21:36] sandaymin123 commented on #793
edited the deamonset

[2021-04-13 09:11] davidkarlsen opened #794 "Missing manifests for v2.2.0"
/kind bug

**What happened**:
Install guide refers to versioned manifests at:
https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/

but there are no 2.2.0 ones

**What you expected to happen**:
to find 2.2.0 manifests for the various vsphere versions

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- c

[2021-04-13 13:31] ilyakaznacheev opened #796 "Is it possible to use YAML instead of INI as csi-vsphere.conf file format?"
Hello, I would like to clarify this question, because the documentation is unclear.

CPI driver can use regular configmap/yaml file configuration, but at the same time, I've not found any place where is it possible to use yaml in CSI.

For me, it looks like I have to use two differently formatted files with the same config to run CSI and CPI. Am I wrong? Please help to clarify this.

[2021-04-13 15:36] davidkarlsen commented on #713
I think this can be closed as a 2.2.0 is released, maybe depending on https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/794

[2021-04-13 15:49] tgelter commented on #794
[The release page](https://vsphere-csi-driver.sigs.k8s.io/releases/v2.2.0.html) links to the manifests located [here](https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/v2.2.0/manifests/v2.2.0).

[2021-04-13 16:34] #794 closed

[2021-04-13 16:34] #713 closed

[2021-04-13 17:13] SandeepPissay commented on #359
I tested node shudown scenario with statefulset and here's what I did:
1. Create a statefulset with replica set to 2.
2. Shutdown the node where one of the replica is running. This could also be a node OS crash/corruption where the OS never comes up.
3. Node reached NotReady state in 30 seconds.
4. The replica on the node reached `Terminating` state in about 5 mins.
5. Ran `kubectl drain node/k8s-

[2021-04-13 18:23] brathina-spectro commented on #359
@SandeepPissay Thanks for recording your observation. On ideal scenarios, we noticed the same behavior as well.

But on multiple occurrences, we ran into the issue where volumeattchments were not getting deleted and that was preventing volumes to get detached from the deleted node. A very similar issue got addressed in [Kubernetes upstream](https://github.com/kubernetes/kubernetes/pull/96617) and

[2021-04-14 03:04] ahrtr commented on #359
When BOSH recreates a problematic worker VM, which means deleting the old one and creating a new one, then the vSphere CSI Driver regards them as different VMs. So the vSphere CSI Controller couldn't find the old worker VM on which the PV was attached any more, accordingly it couldn't detach the PV from the old VM. I think this could be the key point why @SandeepPissay did not reproduce this issue

[2021-04-16 16:36] flokain opened #802 "Mounting RWX fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attaching an RWX pvc to a deployment fails with the following output
![image](https://user-images.githubusercontent.com/14279221/115048367-c713fd80-9ed9-11eb-90fe-380aa5bffca5.png)

**What you expected to happen**:
the volume to be mounted

**How to reproduce it (as minimally and precisely as possible)**:

apply
[code]
`o

[2021-04-16 17:10] divyenpatel commented on #802
Can you share logs from `vsphere-csi-node` Pod running on the node on which this Pod is running? We need to check why  mount is failing.

Have you followed DNS configuration guidelines?

https://vsphere-csi-driver.sigs.k8s.io/features/file_volume.html

[2021-04-17 00:44] flokain commented on #802
thanks @divyenpatel for helping out! i have not actively configured anything on the nodes regarding dns, but nodes and pods have the dns in their /etc/resolv.conf  and can resolve FQDN of the fileservers. I checked this with `oc exec -i -t dnsutils -- nslookup vsan-share01.ong.lab`
please find attached the log

[code]

[2021-04-17 21:42] #356 closed

[2021-04-19 16:44] SandeepPissay commented on #793
@sandaymin123 I see that you edited the daemonset to workaround this issue. Do you have a generic solution for this problem that can be used for both regular k8s and custom k8s? And can you provide more details on the custom k8s deployment you are talking about and why the default `/var/lib/kubelet` path does not work for the custom k8s deployment?

[2021-04-19 18:26] divyenpatel commented on #796
CSI and CPI both use diff config secret files.

Here is what we need for vSphere CSI config file - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html#create_csi_vsphereconf

Currently, we are asking user to follow below steps to create vsphere config secret.

[code]

[code]

[code]

[code]

 I think the ask for this issue is to provide a YAML template for secret, which user

[2021-04-19 22:13] #670 closed

[2021-04-20 06:42] ilyakaznacheev commented on #796
My original question was about the configuration structure itself - to use YAML instead of INI (to enable secrets in certain fields instead of generating the whole file and storing it as a secret). I use the same approach now (I generate an INI file and store it as a secret), but I wouldn't say it is useful.

[2021-04-20 13:44] flokain commented on #802
I solved the issue. It was due to a Firewall issue which blocked nfsv4 from the openshift node network to the fileshare network.

We were planing to use a dedicated vnic and network for the fileshare traffic as in the vmware documentation but at the moment lack the documentation to configure vnics on coresos correctly. temporarily i was able to solve this via `oc debug node` and `nmcli connection

[2021-04-20 13:44] #802 closed

[2021-04-20 16:14] flokain opened #808 "after update to 2.2.0 volume provisioning fails due to vsphere user permissions (but user is Admin)"
/kind bug

**What happened**:
after updating csi to 2.2.0 :
when creating a rw**o** volumeclaim vsphere-csi-controller throws
[code]
when creating a rw**x** volumeclaim vsphere-csi-controller throws

[code]

the logs in DEVELOPMENT mode also show
[code]

**What you expected to happen**:
volume to be created and bound to the request.

**How to reproduce it (as minimally and precisely as possible)**

[2021-04-20 17:31] flokain commented on #808
I can confirm that downgrading to 2.1.1. resolved the issue

[2021-04-20 18:46] gohilankit commented on #808
@flokain We have enabled authorization check for datastores in v2.2.0. For `rwo` block volumes you need `Datastore.FileManagement` permission on datastores and for file volumes, you need `Host.Config.Storage` permission on clusters. If these are not there we will not be able to provision volumes.
Looks like datastores do not have these privileges in your set-up. Please check and configure them.

C

[2021-04-20 20:30] sandaymin123 commented on #793
@SandeepPissay   The motivation for using a separate path is as follows:

We allow customers to order infrastructure that can have a larger secondary disk so it can be used by the container orchestration runtime for pulling images, creation of empheral storage, and encrypt the disk that could house customer sensitive data. Customers running very large workloads  (i.e Spark or Data and A&AI) often

[2021-04-20 21:22] sandaymin123 opened #810 "Support Alternative mechanism to access Vsphere VM from CSI Driver (i.e Node IP Address vs UUID)"
Feature
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
On certain cloud orchestration infrastructures, which are using VMWARE as backing IaaS infrastructure for VM/Storage, an alternative cloud provider is set. In using the VMWARE CSI Drivers, they currently rely  on the VM UUID from the node's ProviderID property.  This value is set by the vsphere cloud provider.
The CSI driver

[2021-04-20 22:16] divyenpatel commented on #752
This is documented at https://vsphere-csi-driver.sigs.k8s.io/features/volume_expansion.html

[2021-04-20 22:16] #752 closed

[2021-04-20 22:17] divyenpatel commented on #305
Feature Matrix is improved - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2021-04-20 22:17] #305 closed

[2021-04-20 22:33] divyenpatel commented on #796
@ilyakaznacheev got it. so ask here is to support vsphere config file in the following yaml format.

[code]

[2021-04-20 23:19] gohilankit commented on #808
@flokain Were you able to create both block and file volumes successfully? If that's the case, the datastores should have the required privileges.
Can you confirm the same?

[2021-04-21 07:36] ilyakaznacheev commented on #796
@divyenpatel yeah, but VirtualCenter should be probably a list, otherwise, the YAML parser will fail to parse it. But that is the idea.

[2021-04-21 11:38] flokain commented on #808
@gohilankit thanks for your help! Yes i can confirm block and file volumes have been successfully provisioned.

The vsphere user i am using is having the vsphere Admin role and I was expecting that those roles were not necessary for my case.

I will create and assign those roles an report if the upgrade is working afterwards. if that is the case i would consider it as a bug, as it should be irrele

[2021-04-21 20:24] mitchellmaler commented on #359
I just ran into this same issue. The node deleted ungracefully (VM deleted and node removed from kubernetes). All pods running on that node were automatically rescheduled over to new nodes once it was deleted from kubernetes. The CSI driver showing errors "Error: node wasn't found" which makes since because the node was deleted completely.

We are on 1.19.9 and that above "fix" #96617 was merged i

[2021-04-21 21:55] mitchellmaler opened #813 "Specify Directory created in Datastore to store fcd volumes instead of the default "fcd" directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:
When a volume is created in a datastore it creates a directory called fcd that each of the fcd/volumes are stored. We would like to modify that name so that was it can be named something that maps it back to the cluster using it since we have multiple kubernetes clusters.

For example: [DATASTORE] CUST

[2021-04-22 05:46] divyenpatel commented on #810
@sandaymin123 VM UUID is the only reliable ID using which we can discover and identify the Node VM.
VM IP addresses can not be guaranteed to be unique in all cases. With multiple networks, we may have multiple VMs with the same IP address on the vCenter.

vSphere cloud provider is the essential [prerequisite](https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vsphere_cpi )

[2021-04-22 09:05] cfrantsen commented on #778
I'm experiencing the same issue, this is supposedy fixed in a newer version.
https://github.com/kubernetes-csi/livenessprobe/blob/master/CHANGELOG/CHANGELOG-2.2.md#bug-or-regression

[2021-04-22 13:44] nick-oconnor commented on #778
@cfrantsen Good find! I've been running v2.2.0 since the 13th and the issue _seems_ to have been resolved. I'll keep an eye on it. @BaluDontu Sorry for the radio silence. I've been away. Let me know if you still require logs. It looks like the liveness probe folks are aware of the issue.

[2021-04-22 18:57] SandeepPissay commented on #793
Thanks @sandaymin123 for the context. I'll add this feature request to our internal backlog. I think we can take care of it when we have an operator for the vSphere CSI.

[2021-04-24 07:57] newton28 opened #816 "Unable to create PVC with storagepolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Unable to create PVC when StorageClass has SPBM parameter, it needs the replication group name
[code]

My storage policy config:

[code]

**What you expected to happen**:
PVC should be successfully created

**How to reproduce it (as minimally and precisely as possible)**:
Use storagepolicyname parameter in the storagecla

[2021-04-26 08:32] zhoudayongdennis opened #817 "pvc/pv was NOT removed even the corresponding volumeattachments removed and policy as "delete""
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
when finished the scale-in for the pods, but the corresponding pv/pvc still bound even the policy as Delete
**What you expected to happen**:
the corresponding PV/PVC should be removed as well
**How to reproduce it (as minimally and precisely as possible)**:
apply the cinfo pods with csi related pvc/pvc, then scale-in

**

[2021-04-26 17:07] divyenpatel commented on #778
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.0/manifests/v2.2.0/deploy/vsphere-csi-node-ds.yaml#L112 is released with `quay.io/k8scsi/livenessprobe:v2.2.0` which has the liveness probe memory leak fix.

[2021-04-26 17:07] #778 closed

[2021-04-26 17:13] lipingxue commented on #816
@newton28 Could you provide the yaml file you used for pvc and storageclass creation?

[2021-04-26 17:15] lipingxue commented on #817
@zhoudayongdennis Could you provide the detail for the following:
1. What do you mean " the scale-in for the pods"? Could you give the details steps for this test?

[2021-04-27 02:13] zhoudayongdennis commented on #817
@lipingxue,

the cinfo-vsphere-X pod was controlled by statefulset cinfo, and defined PVC inside with vsphere as storageclass. e.g. there were 5 pods up in the beginning with 5 pvc/pv/attachments created as well, then use helm scale command down to 2 "helm scale cinfo-vsphere --set image.replicas=2", but still 5 pvc/pv bound and 2 volumeattachments yet. The ReclaimPolicy defined in storageclass vs

[2021-04-27 03:49] newton28 commented on #816
This is the yaml config
[code]
[code]
![Capture](https://user-images.githubusercontent.com/45345005/116182148-5b8a2580-a74e-11eb-9251-f9f0a6cc4002.JPG)

I don't encounter any issue if I didn't specify the storagepolicy in the storageclass yaml

[2021-04-27 06:36] SandeepPissay opened #820 "Expose prometheus metrics for ControllerPublishVolume and ControllerUnpublishVolume CSI operations in supervisor cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently the CNS CSI driver does not expose prometheus metrics for ControllerPublishVolume and ControllerUnpublishVolume CSI operations. I'm creating this issue to add this functionality.

**What you expected to happen**:
Expose metrics for ControllerPublishVolume and ControllerUnpublishVolume CSI operations.

[2021-04-27 06:37] SandeepPissay opened #821 "Expose prometheus metrics for ControllerPublishVolume and ControllerUnpublishVolume CSI operations in guest cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently the PVCSI driver does not expose prometheus metrics for ControllerPublishVolume and ControllerUnpublishVolume CSI operations. I'm creating this issue to add this functionality.

**What you expected to happen**:
Expose metrics for ControllerPublishVolume and ControllerUnpublishVolume PVCSI operations.

[2021-04-27 06:38] SandeepPissay opened #822 "Expose prometheus metrics for ControllerExpandVolume CSI operations in supervisor cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently the CNS CSI driver does not expose prometheus metrics for ControllerExpandVolume CSI operations. I'm creating this issue to add this functionality.

**What you expected to happen**:
Expose prometheus metrics for ControllerExpandVolume CSI operations in supervisor cluster.

[2021-04-27 06:40] SandeepPissay opened #823 "Expose prometheus metrics for ControllerExpandVolume CSI operations in guest cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently the PVCSI driver does not expose prometheus metrics for ControllerExpandVolume PVCSI operations. I'm creating this issue to add this functionality.

**What you expected to happen**:
Expose metrics for ControllerExpandVolume CSI operations.

[2021-04-27 21:40] lipingxue commented on #817
@zhoudayongdennis This is the expected behavior. When stateful set is scaled down, the PVC will not automatically deleted. There is some enhancement for this is proposed in Kubernetes community https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs#

[2021-04-27 22:59] lipingxue commented on #816
@newton28 Currently, CNS does not support storage policy with replication. So the workflow you are trying to do is not supported.

[2021-04-27 23:03] lipingxue commented on #816
@newton28 Could you provide more detail about your use case? Why you need to create a pvc using storage policy with replication enabled?

[2021-04-28 06:03] newton28 commented on #816
Hi @lipingxue it's actually not a replication, but it's a snapshot feature from the storage vendor (pure storage), it will take a snasphot of the persistentvolume with 1 hour interval for example, the use case is for safety purpose so we could have a backup in case anything happen to this persistentvolume.
Perhaps is there a better way for my workflow?

[2021-04-28 13:16] indreek opened #826 "Specified in the storage class is not accessible to all nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Unable to set up volumes. Im getting ERROR   vanilla/controller.go:457       failed to create volume. Error: Datastore: ds:///vmfs/volumes/5d0b3ce0-bd233fc9-c30e-c4346ba98e7c/ specified in the storage class is not accessible to all nodes.

While DEBUG   vanilla/controller.go:302       filterDatastores: dsMap map[] sharedD

[2021-04-28 17:17] tejohnson123 commented on #793
@SandeepPissay Hi.  I'm not sure the time frame for the operator, but if it's a ways out yet, would you be open to providing something simple like a patch file or kustomization?

[2021-04-28 17:38] divyenpatel commented on #826
@indreek Can you make sure this datastore - ds:///vmfs/volumes/5d0b3ce0-bd233fc9-c30e-c4346ba98e7c/ is mounted on all ESXi hosts on which Node VMs are deployed. Also, can you make sure the user you are using with vSphere CSI Driver has the required privileges to access this datastore?

[2021-04-28 18:22] divyenpatel commented on #813
@mitchellmaler we have a CNS UI which also helps filter out PVs for a specific cluster. Have you explored the CNS UI?

[2021-04-28 18:24] divyenpatel commented on #810
closing this issue, as this alternate mechanism of finding node VMs does not guarantee to find the right Node VM we are looking for.

[2021-04-28 18:24] #810 closed

[2021-04-28 19:37] sandaymin123 commented on #810
@divyenpatel There as a mention of an operator that is being developed. Could the VMWare future operator perform the appropriate labeling like the cloud provider?

[2021-04-28 20:12] yuga711 commented on #228
Our customers are also interested in the CSI snapshot feature. The use cases align with the above ie., to be able to take CSI volume snapshots and do restores the k8s way.
- Is this feature in the roadmap? do we have the timelines?
- Can you share the technical difficulties for supporting this feature?

[2021-04-28 20:42] xing-yang commented on #228
@yuga711 This is work in progress.  Can't share the timeline yet.

There's another issue opened for the CSI snapshot feature.  This is a duplicate of that.
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/478

[2021-04-29 00:16] xing-yang commented on #816
Hi @newton28 It looks like you are using Pure Protection Group which can support both snapshot and replication?  The Protection Group is associated with a Replication Group thru the storage policy.  As shown in your storage policy config, snapshot schedule is defined under `Replication`.  So there's no way of separating snapshot and replication here as they are all under Replication.  Since replic

[2021-04-29 02:39] newton28 commented on #816
Hi @xing-yang that is correct, will it be supported in the future release?

[2021-04-29 02:53] xing-yang commented on #816
Replication support is being discussed but there's no timeline on when that will be available yet.  Let me change this one to a feature request.

[2021-04-29 04:32] joe-rajewski commented on #542
Any update on this feature request?

[2021-04-29 06:28] indreek commented on #826
Good morning

Datastores are accessible to all nodes because I'm migrating vms from one host to another. If they wouldn't be accessible I wouldn't be able to do this.

As you can see from debug logs, it can find the datastores.

[code]

Any other ideas?

Indrek

[2021-04-29 07:55] indreek commented on #826
If users deploy CSI driver with
[code]
 then vmfs block sharedatastores are not working

Found solution from issue: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/723

Solution suggestion: please describe configmaps variables in documentation

[2021-04-29 07:55] #826 closed

[2021-04-29 09:05] zhoudayongdennis commented on #817
@lipingxue, thanks for the info!

for another case, the pods was controlled by deployment instead of statefulset, could you help confirm the same issue during scale down operation, e.g. PVC not deleted automatically?

[2021-04-29 15:54] SandeepPissay commented on #793
@tejohnson123 I would prefer to have the operator provide this option and also tested in the context of the operator. Feel free to customize our yamls for the time being if that works for you.

[2021-04-29 16:01] lipingxue commented on #817
/assign

[2021-04-29 16:44] gohilankit commented on #808
/assign

[2021-04-29 17:02] shalini-b commented on #570
/assign

[2021-04-29 17:41] SandeepPissay commented on #810
It may be possible to not have a dependency on the node's providerId property in vSphere CSI. The CSI driver itself can find out the ProviderId from the CSI daemonset. Would such a solution work for you @sandaymin123?

[2021-04-29 18:09] SandeepPissay commented on #542
There is no update on this. We will take it up when running CSI on a non Kubernetes platform becomes a priority.

[2021-04-29 19:45] tejohnson123 commented on #810
@SandeepPissay Hi.  We're a bit confused on your proposal to get the providerID from the daemonset.  Are you saying the CSI ds would change to be able to provide the UUID you need to access the vm via the vcenter api?  Maybe you could clarify a bit what you are thinking.  Seems as long as the CSI Driver can get whatever information it needs to handle the storage request without using the node's pr

[2021-04-29 20:02] SandeepPissay commented on #810
Yes, thats what I meant. The guest OS in the VM would have product serial which can be used to map it to a VM in vSphere. If CSI daemonset uses this, we will not have to take a dependency on the vSphere CPI that sets the providerId in the node API object. But this is currently not in the plan and this also needs to be fully analyzed to see if we have a feasible solution.

[2021-04-29 20:36] sandaymin123 commented on #810
At high level, from what you describe seem as it should work or good approach

[2021-04-30 20:09] lipingxue commented on #813
@mitchellmaler Have you tried Divyen's suggestion? Will that solve your problem?

[2021-04-30 20:20] lipingxue commented on #787
@davidkarlsen We plan to qualify this with next CSI driver release.

[2021-04-30 20:31] lipingxue commented on #632
/assign

[2021-05-01 19:58] true64gurus commented on #370
I am having same issue without any luck with applying work around.
Still getting error after adding parameter csi.storage.k8s.io/fstype=ext4 and added security context on statefulset side.
This is new install with driver 2.1 on rancher 2.5.7 running kubernetes1.20.5

Appreciate feed back.
Thanks

[2021-05-05 16:54] mitchellmaler commented on #813
@divyenpatel @lipingxue I wasn't aware of the CNS UI that is pretty slick. Using that I am able to see the volumes, cluster, and the node they are attached too. That does help us track the volumes.

If that is supposed to be where we view the volumes then having them all in the same directory isn't such a big issue. I don't think we require my request.

[2021-05-05 19:25] #820 closed

[2021-05-05 23:47] SandeepPissay commented on #573
Storage DRS is not integrated with CNS and CNS/CSI may not work if a CNS volume is storage vmotioned to another datastore. This is the reason why storage DRS is not supported with CNS.

Storage DRS has many limitations -
1. Datastore cluster must be of the same type (VMFS or NFS)
2. Only VMFS and NFS is supported, no support for vSAN and vVol
3. Not sure if the way storage DRS does IO balancing wo

[2021-05-05 23:54] SandeepPissay commented on #565
We have heard the following storage vMotion requirements for CNS volumes:
1. Capacity load balancing between storage (could be mixed datastore types like VMFS, NFS, vSAN, vVol).
2. Datastore maintenance mode support so that all the CNS volumes can be storage vMotioned out of the datastore which will be decommissioned or prepare for firmware upgrade, etc
3. Storage vMotion volumes from one datastor

[2021-05-10 02:52] RaunakShah commented on #370
@true64gurus can you paste the sts yaml that you are attempting to deploy?

[2021-05-10 14:08] SandeepPissay commented on #607
/remove-lifecycle stale

[2021-05-10 21:30] wcurry opened #846 "AttachVolume.Attach failed for volume "pvc-...""
/kind bug

**What happened**:

Deployed a CAPV cluster. Installed prometheus as a statefulset. Pod fails to start due to the following error:

```  Warning  FailedAttachVolume  25s (x2725 over 3d21h)   attachdetach-controller  AttachVolume.Attach failed for volume "pvc-4255e1b3-3083-474e-9b13-1fc7784e842b" : rpc error: code = Internal desc = failed to attach disk: "7d03bad9-eaae-4bbc-b794-9049223c

[2021-05-11 03:43] zhoudayongdennis commented on #817
any further response base on my latest question?

[2021-05-12 09:18] ehlo550 opened #853 "Datastore not accessible to all nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: PVC cannot be created with vsphere-csi-driver v2.2.0
All esxi nodes have access to the datastore.

`[vsphere-csi-controller-5d5bfd4b59-fxxwp vsphere-csi-controller] {"level":"error","time":"2021-05-12T08:36:15.297792282Z","caller":"common/vsphereutil.go:130","msg":"Datastore: ds:///vmfs/volumes/1111111-22222222-3333-44444

[2021-05-12 10:16] ehlo550 commented on #853
sorry. i did not find this before.
https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/826
this helped

[2021-05-12 19:34] gab-satchi commented on #123
/remove-lifecycle stale

The POC I did can be found here: https://github.com/gab-satchi/vsphere-csi-driver#windows-prototype

[2021-05-13 16:55] joaoarquimedes commented on #186
Add the label on the nodes. Example:
`kubectl label node <k8s-master-name> node-role.kubernetes.io/master=""`

[2021-05-13 21:07] SandeepPissay commented on #846
@wcurry  We would need vCenter server and ESX support bundles to root cause the issue. Could you please file an SR with [VMware support](https://vsphere-csi-driver.sigs.k8s.io/support.html)?

[2021-05-13 21:07] #846 closed

[2021-05-13 21:11] SandeepPissay commented on #853
@ehlo550 I'm closing this bug as you seem to have figured out the problem. If no, please reopen the bug and provide CSI controller logs (not just the error trace).

[2021-05-13 21:11] #853 closed

[2021-05-13 21:11] SandeepPissay commented on #823
The code is merged.

[2021-05-13 21:11] #823 closed

[2021-05-13 21:12] SandeepPissay commented on #822
The code is merged.

[2021-05-13 21:12] #822 closed

[2021-05-13 21:12] SandeepPissay commented on #821
The code is merged.

[2021-05-13 21:12] #821 closed

[2021-05-13 21:20] divyenpatel commented on #846
@wcurry I see you are using ESXi build - 15160138 (ESXi 6.7 P01)
We support vSphere CSI driver on vSphere 67u3 and above.  vCenter and all participating ESXi servers should be upgraded to vSphere 67u3.

Please refer to https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2021-05-13 22:23] RaunakShah opened #862 "waitForCustomResourceToBeEstablished failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When a new Custom Resource definition is created, we wait for it to be established on the API server - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/kubernetes/kubernetes.go#L375
[code]

However crd.Name is empty in case the CRD didnt previously exist. Therefore this calls fails with error (even t

[2021-05-13 22:24] RaunakShah commented on #862
/assign
Will fix this in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/863

[2021-05-14 00:29] wcurry commented on #846
Our build is 67u3. https://kb.vmware.com/s/article/2143832

Can we reopen this?

Our vsphere operator found the volume in another datastore in that datacenter. How could this happen?

[2021-05-14 15:45] ikogan commented on #359
In our experience, Kubernetes does attempt to delete the VolumeAttachment. However, the attachments have a finalizer that never completes because it cannot find the node. If a node is actually missing from vSphere, the finalizer should assume it's gone and assume the disk is detached and allow Kubernetes to delete the VolumeAttachment.

[2021-05-17 08:24] ahrtr opened #869 "vSphere CSI driver doesn't validate/use the parameter csi.storage.k8s.io/fstype in StorageClass"
The vSphere CSI Driver can create a PV dynamically successfully with a PVC and StorageClass as below,
[code]

It's obviously that the value "ben" of csi.storage.k8s.io/fstype is invalid. It seems that vSphere CSI driver doesn't validate the value.

Version:
   2.2, but I think this issue applies to all versions.

/kind bug

[2021-05-17 08:33] ahrtr opened #870 "The order of NetPermission for file volume is undefined"
When users configure multiple NetPermission in csi-vsphere.conf, then the first matched one displayed on the file volume takes effect. From the file service perspective, the order of NetPermission matters. But vSphere CSI Driver gets all the NetPermission saved in a map, so the order is uncertain.

Let's work with an example, assuming there are two NetPermssions as below,
[code]

When a file share

[2021-05-17 14:25] ahrtr commented on #870
/kind bug

[2021-05-17 14:34] ahrtr commented on #869
The CSI Node service validate & use the fsType, so closing this issue....

[2021-05-17 14:34] #869 closed

[2021-05-17 20:53] #862 closed

[2021-05-19 04:10] ahrtr opened #881 "[test] Static PV should have correct PersistentVolumeReclaimPolicy"
This is a test case issue. Let's work with the this [example](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/tests/e2e/vsphere_file_volume_basic_mount.go#L148-L164).

Since the PersistentVolumeReclaimPolicy for the static PV is delete, please see [here](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/tests/e2e/vsphere_file_volume_basic_mount.go#L373). So when t

[2021-05-19 05:55] farodin91 commented on #565
@SandeepPissay For our case mainly, 2 and 3 would best match for our requirements.

[2021-05-19 06:04] SandeepPissay commented on #565
@farodin91 regarding requirement (3), do you have separate vCenters managing the datacenters or a single vCenter? I'm wondering if we are looking at cross vCenter vMotion.

[2021-05-19 06:07] farodin91 commented on #565
We have just a single vCenter in this case.

[2021-05-19 12:17] dostalradim opened #883 "Duplicated entity for each entity type in FullSync after upgrade"
**BUG REPORT**:

/kind bug

**What happened**:
Vsphere-syncer is still printing error about Duplicated entity for each entity type in one cluster is found. I read the release notes about new version and I upgraded my driver to v2.2.0 but it did not help.

[code]

**What you expected to happen**:
No errors will be print.

**Environment**:
- csi-vsphere version: v2.2.0
- vsphere-cloud-controller-man

[2021-05-19 13:40] divyenpatel commented on #881
@sashrith can you take a look?

[2021-05-19 18:16] lparis opened #884 "Please indicate what versions of vSphere each vSphere CSI Driver supports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kubernetes version:
- vSphere version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Instal

[2021-05-19 18:18] divyenpatel commented on #884
@lparis  can you refer - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2021-05-19 18:26] lparis commented on #884
If possible it would be good to link to this from the release page.
For example, on this page:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/releases/v2.2.0.md
Add a section called "Supported vSphere versions"
Then put this link https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2021-05-20 18:25] divyenpatel commented on #654
We have removed vSphere CPI requirement for CSI Topology feature - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/886

[2021-05-21 05:30] #502 closed

[2021-05-21 17:33] BaluDontu commented on #883
@lipingxue Looks like your PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/671 which fixes the problem 'Duplicated entity for each entity type in one cluster is found' is still present in 2.2.

Can you please take a look.

assigning it to @lipingxue as she worked on it before.

/assign @lipingxue

[2021-05-21 17:36] BaluDontu commented on #883
@dostalradim Can you attach the CSI logs. Also can you make sure you have upgraded to 2.2 CSI driver.

[code]
should give you the info of the CSI driver.

[2021-05-21 17:39] BaluDontu commented on #870
@shalini-b can you take a look at this as you worked on file volume support for vanilla clusters.

[2021-05-21 20:10] BaluDontu commented on #884
/assign @divyenpatel

[2021-05-24 05:38] dostalradim commented on #883
Thank you for your time!

Versions of images:
[code]

Logs for driver and syncer are in attached files
[syncer.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/6530072/syncer.log)
[csi-driver.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/6530073/csi-driver.log)

[2021-05-24 07:18] sashrith commented on #881
@ahrtr can you please share the logs from your run. This test is passing in out pipeline. Also we are not deleting the PVC until the end of test (via defer block).

[2021-05-24 07:25] ahrtr commented on #881
@xiaoping8385 Can you provide the related logs?

[2021-05-24 17:24] shalini-b commented on #870
/assign

@ahrtr I will check with vSAN file services team and get back to you on this. Ideally the file services team should detect a clash in configuration and throw an error in such cases.

[2021-05-25 05:34] ahrtr commented on #881
@sashrith  It turned out to be another issue. The static PV doesn't have the mountOption "minorversion=1,sec=sys", see [here](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/tests/e2e/vsphere_file_volume_basic_mount.go#L373-L374), so the file share failed to be mounted into [POD2](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/tests/e2e/vsphere_file_volume_basi

[2021-05-25 21:59] shalini-b commented on #199
/remove-lifecycle rotten

[2021-05-26 11:37] sashrith commented on #881
Yes, for this particular test two PVCs are created and one of them is not cleaned up. We will fix it.

[2021-05-26 11:42] sashrith commented on #881
FWIU via https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vsan.doc/GUID-82565B82-C911-42F7-85B1-E9EF973EE90C.html only NFS 3 and 4.1 are supported and NFS 4.0 is not, may be better to tune the nfs client in your environment to use 4.1 by default.

[2021-05-26 13:25] ahrtr commented on #881
Based on the feedback from file service team, It is better to always use minorversion=1,sec=sys so that you don't have to worry about the NFS client kernel version.

[2021-05-26 13:34] ahrtr commented on #881
Note that when you try to clean up two PVCs, then the same file share may be deleted twice. So you need to get one of the PersistentVolumeReclaimPolicy set as "Retain".

[2021-05-26 14:21] chethanv28 opened #913 "Find existing golang packges to perform NVMe uuid conversion & refactor volume manager instance init to handle NVMe conversion check"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As part of changes added in PR 890, there were suggestions from the reviewers to check if there are existing golang packages to perform nvme uuid conversion. Also it was suggested to refactor volume manager to decide whether nvme conversion has to be performed based on cluster flavor

**What you expected to happen**:

[2021-05-26 14:21] chethanv28 commented on #913
/assign @chethanv28

[2021-05-27 00:59] ahrtr commented on #870
@shalini-b Let me clarify it again. When I configured NetPermissions something like below,
[code]

When I created a PVC, then a file share was created automatically, and two access control entries were added for the file share, but the first entry is the NetPermission "A" instead of "B". So when I created a POD to consume the file share, then the mount request was denied, and the error message was

[2021-05-27 18:11] RaunakShah opened #919 "Remove dependency between k8sorchestrator and volume manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:
Creating this issue based on the following PR comments:
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/897#issuecomment-848136793
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/897#issuecomment-848215303
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/897#issuecomment-849829109

`IsF

[2021-05-28 07:47] owwweiha commented on #808
Any news on this? I have the same issue. After updating to 2.2.0 provisioning of volumes is no longer possible. With 2.1.1 everything works fine. The required privileges are present on the datastores.

[2021-05-28 09:45] ilyakaznacheev opened #925 "Is it possible to connect to kubeapi via kubeconfig instead of service account?"
We have some security requirements, which force us to run CSI driver components isolated, which means they have to connect via kubeconfig instead of a service account.

Is it possible? I haven't found this option anywhere in sources or documentation, while with CPI it is possible.

[2021-05-28 16:58] gohilankit commented on #808
@owwweiha Can you provide the CSI driver logs after the upgrade? Not the logs at the time of volume creation, but when CSI driver starts. Can you capture these logs with DEBUG level?
I'm looking for logs that say something like `dsURLToInfoMap is...`.

[2021-05-28 17:12] RaunakShah commented on #925
Hi @ilyakaznacheev CSI supports an env variable added to the YAMLs where you can specify the kubeconfig path - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/aa0525558c9190e91e866e8a75e591d30c289853/pkg/kubernetes/kubernetes.go#L70

Does this work for you? If not, can you elaborate on the requirement and what option CPI provides?

[2021-05-28 20:40] ilyakaznacheev commented on #925
Thanks for the quick answers, I will try that way!

[2021-05-31 06:59] owwweiha commented on #808
@gohilankit I didn't found an entry for `dsURLToInfoMap is...`, but however something that has `dsURLs`:

[code]
and some lines later there is something like this:
[code]
I'm not sure if this looks like expected. The Datastores.FileManagement and System.Read privileges are present on the datastores.
By the way, I'm using the volume topology feature.

[2021-06-01 15:32] wilsonehusin opened #933 "Pre-compile test-e2e"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In context of running `make test-e2e` in a pipeline, I'm interested to have a consistent experience with minimal setup, where I can put all my tests (including vSphere CSI Driver tests) in a container. Similar to how [Kubernetes conformance image](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/co

[2021-06-01 16:21] xing-yang commented on #478
/remove-lifecycle rotten

[2021-06-02 16:51] ahmedboj opened #943 "disk not attached to node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
  ----     ------       ----                   ----                             -------
  Warning  FailedMount  19m (x32 over 107m)    kubelet, teta-k8s-worker-host-5  Unable to attach or mount volumes: unmounted volumes=[occne-elastic-elasticsearch-master], unattached volumes=[default-token-gm4rw occne-elastic-elasticse

[2021-06-03 18:16] RaunakShah opened #949 "Verify DeleteVolume fault handling logic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Current DeleteVolume logic in volume manager handles `NotFound` errors only if the `DeleteVolume` call on CNS fails with a `NotFound` SoapFault.

We need to verify if the DeleteVolume task on CNS can be created and return a `NotFound` fault.

Here is the relevant code - https://github.com/kubernetes-sigs/vsphere-csi-drive

[2021-06-03 18:16] RaunakShah commented on #949
/assign

[2021-06-07 14:44] xing-yang opened #955 "Need a doc change for a volume health issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/944/files#r645992169

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kubernetes version

[2021-06-07 21:09] RaunakShah commented on #943
@ahmedboj was `disk.EnableUUID` enabled after or before you provisioned the volumes?

[2021-06-08 08:43] ahmedboj commented on #943
@RaunakShah yes disks was enabled . but just for you information i'm using vcloud director . and the problem seems to be related to the cloud controller manager it seems it will not work with vcloud director

[2021-06-08 16:42] RaunakShah commented on #943
Ah yes i see. Have you raised a bug on vSphere CPI - https://github.com/kubernetes/cloud-provider-vsphere

[2021-06-08 16:45] mohideen commented on #808
I just wanted to note that I'm seeing the same error after upgrading from `v2.1.0` to `v2.2.0`.

The user does have the permission as specified by https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges

[code]

## Environment:
csi-vsphere version: 2.2.0
vsphere-cloud-controller-manager version:
Kubernetes version: v1.19.11
vSphere version: 7.0.1
OS (e.g. f

[2021-06-08 21:20] schmitch opened #962 "single host only datastore volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

it would be great if it would be possible to create a volume with `WaitForFirstConsumer` that will only target datastores that are host only. the use case is pretty simple: "high performance nvme storage", specially useful for databases.
I'm not sure how easy that would be but I think it would be possible with `volumeBin

[2021-06-09 00:41] #336 closed

[2021-06-09 10:12] ahmedboj commented on #943
@RaunakShah just another question is there a solution to make disk.EnableUUID =TRUE directly from vcloud director  without going to vcenter

[2021-06-09 10:38] dostalradim commented on #883
I found out my issue! I had restored instance of my application and it means there was some workloads with same name in another namespace, when I delete it, it is ok and working. Thank you!

[2021-06-09 10:38] #883 closed

[2021-06-09 15:33] divyenpatel commented on #808
@mohideen we only need the following Privileges for the datastore role.

[code]

[2021-06-09 15:51] RaunakShah commented on #943
@ahmedboj ill find out and get back to you!

[2021-06-09 15:52] ahmedboj commented on #943
@RaunakShah Thank you !

[2021-06-09 16:09] divyenpatel commented on #808
"createSpecs.datastores is empty" can occur when
1) Datastore is not accessible to all node VMs. If you have added a new node, make sure the datastore is accessible to those new nodes as well.
2) CSI authorization service in v2.2.0 is not able to find datastores with `Datastore.FileManagement` privileges. We have couple of options to debug is CSI authorization service is causing any issue.
   1.

[2021-06-09 21:58] shalini-b commented on #962
@schmitch You could try using the topology feature explained in https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html and define `zone` at the host level. This will force CSI to use the host datastore for storage.

[2021-06-09 22:42] divyenpatel commented on #962
and make sure you do not have shared datastores accessible to all esx hosts.

[2021-06-10 06:13] langecode opened #966 "Zone and Region tags not discovered from vm - only "ancestors""
/kind bug

**What happened**:
The CSI driver is only looking for region and zone tags on ancestors _not_ the vm itself (whereas the vSphere CPI driver actually looks as the vm as well as the hierarchy).

**What you expected to happen**:
It was expected that the regions and zone tags was also discovered directly from the vm - following the same algorithm as the CPI driver.

**How to reproduce it (a

[2021-06-10 06:56] owwweiha commented on #808
@divyenpatel After setting `csi-auth-check` to `false`, I'm able to create pvcs again. Debug logs are enabled, but I don't see any logs starting with "auth manager" in the controller logs.

[2021-06-10 07:42] schmitch commented on #962
@shalini-b thanks that sounds like a plan, but I'm not sure if it's a good one tough! but I will try.

@divyenpatel hm, that would be a problem since we basically use both. would it work, if I tag the storage and use a storage policy that targets the tags or would that fail? I've read somewhere that this might be a problem.

[2021-06-10 08:52] schmitch commented on #962
unfortunatly it did not work, since I have a shared datastore and I can't use storagepolicy since that does not work with topology? it would also be better to use  `hostname` as the topology key, which I guess does also not work.

so I probably need to go back to localstorage 👎

[2021-06-11 21:04] shalini-b commented on #943
/assign @RaunakShah

[2021-06-11 21:04] shalini-b commented on #966
/assign

[2021-06-13 18:07] #494 closed

[2021-06-14 13:19] Itai-Rosenmann opened #976 "Migrating to new StorageClass"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I originally installed the csi I created a StorageClass that is connected to a single datastore.
Since it has started to fill up I would like to switch to tag based placement.
I would like to delete the StorageClass and create a new one under the same name as to not have a deprecated StorageClass.
I tested this in a test cluste

[2021-06-15 00:30] shalini-b opened #980 "Refactor CSINodeTopology CR code to remove k8s specific code from node.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/code-improvement refactoring

**What happened**: Create an interface for topology functionality and remove the k8s specific code in `node.go`

**What you expected to happen**: Fix https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/964#discussion_r649590529

[2021-06-15 00:30] shalini-b commented on #980
/assign

[2021-06-15 21:51] divyenpatel commented on #808
@mohideen @owwweiha can you share a log for this line
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.0/pkg/csi/service/common/authmanager.go#L309

Note: We should not use the driver in production by disabling the released feature. We will investigate this further and provide a fix.

[2021-06-15 23:26] divyenpatel commented on #808
To debug this further can you open the following  URL, fill up the requested detail as mentioned and click `Invoke Method` and share the output

https://vc-ip/mob/?moid=AuthorizationManager&method=hasUserPrivilegeOnEntities

In the entities, section specify `datastore-52403`, set username to `REDACTED_USER@vsphere.local` and  `privId` to `<string>Datastore.FileManagement</string>
<string>System.Re

[2021-06-16 14:52] ahrtr opened #984 "Change "PKS" to "TKGI" in readme and installation guide"
**What happened**:
The name "PKS" is included in the readme and installation guide, it isn't correct, because "PKS" is the old name. The new name should be TKGI. The field "cluster-distribution" is hard coded as "TKGI" by the product TKGI.

**What you expected to happen**:
All "PKS" should be changed to "TKGI".

[2021-06-16 16:40] divyenpatel commented on #976
@Itai-Rosenmann If you do not want to keep changing storageclass parameter - `datastoreurl`.
You can create a tag-based storage policy and update tags as per requirements. Instead of `datastoreurl`, you can use `storagepolicyname` parameter in the storageclass.

[2021-06-17 08:15] Itai-Rosenmann commented on #976
@divyenpatel This is what I am trying to do.
The problem is that if I do it like that I'll have 2 StorageClasses when I only want the new one to exist.
I am looking for a way to delete the old one or migrate the pvcs to the new one.

[2021-06-17 11:39] owwweiha commented on #808
Good catch! We're using Active Directory users. For example, in TKGi they are configured without the domain. Since everything worked to this point, we didn't add the domain to the config secret. After adding it, everything works fine...
So instead of using
`user = "VCENTER_USER"`
in the config secret, I'm now using
`user = "DOMAIN\VCENTER_USER"`
and it works. Playing with the MOB shows the same re

[2021-06-17 16:48] divyenpatel commented on #808
Thanks @owwweiha We will update the document and mention about the requirement of adding a domain name along with a username. Looks like with an active directory user, VSphere CSI driver is able to login to vCenter without domain name, but for some APIs specifically `hasUserPrivilegeOnEntities`, a full user name is required.

[2021-06-17 19:35] type812 opened #992 "mssql database deployment on OpenShift cluster if failing with SharedHost.getSharedDatastore: unable to find any shared datastores message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-controller-manager version:
- Kubernetes version:
- vSphere version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Instal

[2021-06-17 19:49] divyenpatel commented on #992
@type812 Do you have a datastore in your environment which is accessible to all node VMs, including master nodes.

[2021-06-17 21:22] #984 closed

[2021-06-17 21:27] divyenpatel commented on #976
@Itai-Rosenmann do you want to migrate volumes from one datastore to another?

[2021-06-17 22:24] #808 closed

[2021-06-18 04:30] Itai-Rosenmann commented on #976
@divyenpatel I want to migrate the pvcs from one StorageClass to another. So that I don't have both a StorageClass that is connected to a single datastore, and one that is connected to a storage policy.

I currently have a StorageClass "old" that is connected to datastore "ds1" and I want to create a new StorageClass "new" that is connected to a storage policy "policy" that allows use of both data

[2021-06-18 07:05] type812 commented on #992
No the datastore is not shared across all hosts. Is that a pre-requisite to deployment of a database ? Is there a way we can share the datastore across all hosts without rebuilding the cluster ?

[2021-06-18 07:21] type812 commented on #992
Storage class Yam file

[code]

[2021-06-20 23:43] shalini-b commented on #966
@langecode It was a conscious decision to not include VMs while discovering the topology labels as VMs are easy to migrate/move.

Refer to the following line in https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone

According to upstream kubernetes, topology labels once applied on a node cannot be updated. Therefore, we feel that topology domains should not be gi

[2021-06-20 23:58] #591 closed

[2021-06-21 08:10] jarduini opened #999 "Problem with Zones and Datastore"
/kind feature

**What happened**:
Hello, good morning,
I have a problem defining an StorageClass for Kubernetes using Zones and the parameter datastoreurl.
In VMWare we have 2 Zones (AZ1 and AZ3) with different Datastores. Zone AZ1 has 3 Datastores: Dynamic, Gold, Silver and Zone AZ3 has 2 Datastores Dynamic-tmp and Gold-tmp
We have all worker nodes and 2 Masters on Zone AZ1 and 1 Master in Zone A

[2021-06-22 08:47] langecode commented on #966
Thanks for your answer. I have a couple of comments, though.

First I find it a bit odd that the vSphere CPI and CSI implementation has different semantics here - especially since the configuration of the CSINode (setup by the CSI driver) and the configuration of the Kubernetes Node should be consistent for the storage within Kubernetes to work correctly. Right now the CPI implementation is actual

[2021-06-22 12:15] LinAnt commented on #341
We get this every once in a while for a cronjob we are running. vSphere 6.7 u3 and 2.2.1 running on k8s 1.20

[code]

[2021-06-22 17:11] #980 closed

[2021-06-23 00:21] mstrent commented on #796
I hit this unexpected inconsistency myself today. Messaging in the CPI driver log output says INI-style config support is going away in a future version, strongly pushing you toward using YAML format for the vsphere config.

However, CSI, though requiring an almost identical vsphere configuration, doesn't support YAML format. It's strange and confusing after-the-fact to have two almost identical s

[2021-06-23 00:48] msau42 commented on #570
We saw the "not found in QueryVolume" error when running Kubernetes e2e storage tests: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external. It doesn't happen all the time, and the test cases failing are not consistent each time, but we have seen at least 1 or 2 tests flake every other run.

We have seen the error resolve itself after about 10 minutes. We have this fix ht

[2021-06-23 00:48] msau42 commented on #570
cc @jingxu97 @verult

[2021-06-23 01:25] jingxu97 commented on #570
[code]

after 10 mins

[code]

[2021-06-23 01:53] jingxu97 commented on #570
cc @divyenpatel

[2021-06-23 12:49] ilyakaznacheev commented on #796
@lipingxue will it be possible to run it on masters?

[2021-06-23 13:21] Itai-Rosenmann commented on #976
@divyenpatel Do you have an update?

[2021-06-23 14:47] Ezeon commented on #787
@lipingxue Will 1.21 be supported in the upcoming 2.3 release?

[2021-06-23 15:03] divyenpatel commented on #570
@jingxu97 ControllerUnpublishVolume can fail with  "volume not found in QueryVolume", when the volume is de-registered from the vCenter CNS DB. The root cause could be, you might have multiple k8s clusters using the same vCenter, and having the same `cluster-id in the vSphere config secret. Can you confirm that?

When we have such setup, the CSI driver in one k8s cluster finds volumes present in t

[2021-06-23 15:06] divyenpatel commented on #787
@Ezeon Yes, we have upgraded dependencies in 2.3 to support k8s 1.21 - https://github.com/kubernetes-sigs/vsphere-csi-driver/commit/3937b11d8f73badbdc67f6a816edc05b7c1e410a

[2021-06-23 15:19] divyenpatel commented on #976
There is no restriction k8s has to prevent deleting storageclass if PVs are present on the cluster created using the same storageclass

[2021-06-23 15:54] Itai-Rosenmann commented on #976
So if I were to delete the old StorageClass and create the new one under the same name would I be able to create new pvcs and have the old pvc work correctly?

[2021-06-24 08:11] myg0v opened #1017 "no datastores found to create file volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If I try to create a pvc I receive the error "no datastores found to create file volume" or sometimes I get "failed to get shared datastores in kubernetes cluster. Error: Empty List of Node VMs returned from nodeManager". I think the main reason is that the node UUIDs are empty for some reason.

In the logs of the vsphere

[2021-06-25 16:17] mstrent opened #1025 "Missing/out of date helm charts"
**What happened**:

No official, maintained source of helm packaging seems to exist. The barrier to entry is pretty high on vsphere-csi/cpi. Good, officially maintained and updated helm packaging would improve on this drastically.

**What you expected to happen**:

Helm is a superior way to install and upgrade something like vsphere-csi.

**How to reproduce it (as minimally and precisely as possib

[2021-06-25 17:33] shalini-b commented on #966
@langecode The topology feature in CSI is not dependent on the CPI at all. CPI component has a legacy code which will be removed soon. We have raised an issue on the CPI repo to update the documentation as well.

To your second point, if you wish to use vSphere HA and DRS features, you need to apply topology labels on a cluster level. If you apply the topology labels on a host, we would recommend

[2021-06-25 19:28] divyenpatel commented on #976
Yes @Itai-Rosenmann

You can delete old SC and create new SC with the same name. Existing PVCs/PV should not be affected.

[2021-06-25 19:31] divyenpatel commented on #999
Is this datastore - `ds:///vmfs/volumes/vsan:52cdfa80721ff516-ea1e993113acfc77/` belongs to zone: az1 and region: region-1 ?

[2021-06-25 19:35] divyenpatel commented on #992
Yes, we need at least one datastore accessible to all Node VMs on the cluster. This is a pre-requisite.
you can add/mount datastore on all ESX hosts on which node VMs are deployed to resolve this issue.

[2021-06-25 19:39] divyenpatel commented on #1017
@myg0v Have you deployed CPI on the cluster?
Can you confirm ProviderID is set on all nodes.
Refer - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vsphere_cpi

Can you share output of

[code]

[2021-06-25 20:07] lipingxue commented on #992
/assign @divyenpatel

[2021-06-25 20:07] lipingxue commented on #999
/assign @divyenpatel

[2021-06-25 20:08] lipingxue commented on #1017
/assign @lipingxue

[2021-06-25 20:51] myg0v commented on #1017
Sorry, you are absolutely right. I missed this part. It confused me a bit because the instructions look nearly the same as for the vSphere CSI driver. Anyway, now I can see the ProviderID parameter and the nodeUUID will be successfully discovered.
[code]

But the error with "no datastores found to create file volume" is still the same.

Created storageclass:
[code]

Error in vsphere-csi-controller

[2021-06-26 06:47] jarduini commented on #999
hi @divyenpatel, yes this Datastore belongs to AZ1 - region-1 is the one that is called Dynamic.
The Zone AZ3 don't have access to this Datastore.

[2021-06-27 14:41] #976 closed

[2021-06-28 06:34] paladin-devops commented on #542
Will this feature be prioritized anytime soon? It would really help cloud engineers running containerized workloads with Nomad in their vSphere environments.

[2021-06-28 19:53] BaluDontu opened #1038 "CnsNodeVmAttachment API incorrectly detaches the volume when "The session is not authenticated" error occurs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

User seen behavior: I ran into a scenario where the PVCSI successfully detached the volume from the TKGs VM, but the volume is still attached to the node VM in vCenter.

Basically, the CnsNodeVmAttachment did not handle "The session is not authenticated." error and did not detach the volume.

[code]

Summary: We seem to be running

[2021-06-29 07:15] ahrtr opened #1045 "The commands to delete the role and rolebinding before deploying the validation webhook are not correct"
The commands to delete the role and rolebinding in deploy-vsphere-csi-validation-webhook.sh are not correct. Please see
[deploy-vsphere-csi-validation-webhook.sh#L110-L111 ](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/vanilla/deploy-vsphere-csi-validation-webhook.sh#L110-L111 )

This issue applies to both master and 2.3.

[2021-06-29 08:18] langecode commented on #966
So basically the argument is that the probability of the labels being consistent is higher if they are read from hierarchy instead of the vm itself. And since the topology "affinity" is done towards the `CSINode` resources rather than the `Node` resource, it does not matter what labels are put on the node.

I still see no big problem in reading the labels off tags on the vm itself if they are just

[2021-06-29 08:18] #966 closed

[2021-06-30 08:29] rdelaflor commented on #999
Hi, IHAC  with  a similar issue. We thought solution would be using policies so we changed the storage class to use  a Policy, there are datastores tagged compliant with the policy on both zones AZ1 and AZ3. If the 3 masters are on AZ1 cluster, the PV provisioning works. As soon as we move back master 3 to AZ3 we get an error "No compatible datastore found for storagePolicy CSI driver kubernetes z

[2021-06-30 16:29] TomSDEVSN opened #1056 "CSI drivers suddently starts to spawn infinite threads"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

My monitoring system started to alert me that a system has a load average of 2075. After some investigation, I have seen that the CSI driver spawned over 2000 threads.

[code]

**What you expected to happen**:

`csi-node` container should not spawn over 2k threads and cause issues for the other pods.

**How to reproduce

[2021-06-30 23:38] divyenpatel commented on #542
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-07-01 05:50] RaunakShah commented on #341
I still cant repro this issue but looking more at some of the code paths, i think this happens when kubernetes force detaches the volume. There's a 6 minute wait in the kubernetes code - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L58

After which it force detaches the volume. I believe the issue is that unmount operation is stil

[2021-07-01 16:33] #1038 closed

[2021-07-01 17:59] joyartoun opened #1066 "failed to query if file service is enabled on vsan datastores or not. error: object references is empty"
**What happened**:
Using the manifests in https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/vanilla results in failure for the controller even though vsan services are enabled in the vmware cluster.
I am using openshift 4.7.16

If I check the logs on the operator pod, specifically the vsphere-csi-controller container I get this:
`{"level":"info","time":"2021-07-01T17:48:2

[2021-07-01 18:40] aevenot opened #1067 "Database temporarily unavailable or has network problems"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
 When I want to create a volume from my kubernetes cluster , I have a error in the vcenter
**Status:** Database temporarily unavailable or has network problems
**TaskName:** Create a virtual disk object

**What you expected to happen**: the volume is creating successfuly

**How to reproduce it (as minimally and precisely as possible

[2021-07-01 22:29] davidkarlsen commented on #775
/remove-lifecycle stale

[2021-07-02 07:40] joyartoun commented on #1066
This is my vsphere-config-secret secret
`[Global]
cluster-id = "ocpdev-97vfp"
[Labels]
region = ocp-region
zone = ocp-zone
[VirtualCenter "172.30.32.36"]
insecure-flag = "true"
user = "administrator@vsphere.local"
password = "<redacted>"
port = "443"
datacenters = "Datacenter1"
targetvSANFileShareDatastoreURLs = "ds:///vmfs/volumes/vsan:524dc23cc4af378d-83df92ee49163ff1/"
`

[2021-07-05 07:51] davidkarlsen commented on #774
/remove-lifecycle stale
/frozen

[2021-07-05 09:55] marratj commented on #565
We have actually the same issue which bit us pretty hard...

We had Storage DRS vMotion FCDs on our datastore cluster, the VMDKs afterwards being directly in a VM's folder instead of the `fcd` folder.

We are also using Cluster API and whenever the VM where the VMDK was attached to gets killed (because of an upgrade for example, which provisions new VMs and kills the old ones) the affected PVs are

[2021-07-05 15:09] LinAnt commented on #341
Happened again just now:

logs:

[code]
Event from k8s:

[code]

[2021-07-05 15:10] LinAnt commented on #341
Pod had been initializing over an hour due to volumes not being mounted correctly.

[2021-07-05 15:17] LinAnt commented on #341
Logs from the worker node where the job succeeded earlier:
[code]

[2021-07-05 15:37] LinAnt commented on #341
Seems a quick fix for when this happens is to cordon the worker where the workload fails to start. Redeploy the workload and then delete the volumeattachment.

[2021-07-06 10:15] LinAnt commented on #341
One thing a team member mentioned today was that this error only seems to affect certain worker nodes 🤔

[2021-07-06 11:11] RaunakShah commented on #341
@LinAnt can you also collect the vsphere-csi-node logs on this worker node? Btw, are you attempting to mount a raw block volume?

[2021-07-06 12:11] LinAnt commented on #341
[code]

We mount regular ext4 volumes :+1:

[2021-07-07 06:45] RaunakShah commented on #341
Thanks for the detailed logs.

I can see that `NodeUnpublishVolume` is failing like below:

[code]

Which i think is causing all the subsequent failures.
@shalini-b have you seen this type of error before during NodeUnpublish calls?

[2021-07-07 06:47] RaunakShah commented on #341
Can you describe the volume attachment when its failing?

[2021-07-07 07:25] LinAnt commented on #341
Can do, it needs to fail again though, since we "fixed" the failed pod by cordoning the node and then restarting the job.

[2021-07-07 18:40] shalini-b commented on #341
Error seems to be coming from https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.1/pkg/csi/service/node.go#L475 implying that the path `/dev/sdb` doesn't exist. That seems strange because we already checked if the target path is present in the mounts right before this code - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.1/pkg/csi/service/node.go#L433
This basically m

[2021-07-07 19:17] shalini-b commented on #667
/remove-lifecycle stale

PRs https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1029 and https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/969 will resolve this issue.

[2021-07-08 00:44] mstrent commented on #775
+1 this is our architecture as well. We have 2 DCs, each with its own vCenter. Would very much like to have a K8s cluster span our datacenters, but we can't until the CSI driver supports it. :(

[2021-07-08 17:32] divyenpatel commented on #999
@jarduini Can you confirm, if you have enabled topology setup on your k8s cluster by following https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html and https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html#enable-zones-for-the-vsphere-csi-driver-

[2021-07-09 16:54] SandeepPissay commented on #1066
{"level":"error","time":"2021-07-01T17:53:28.660471187Z","caller":"common/authmanager.go:423","msg":"failed to get Datastore managed objects from datastore objects. dsObjList: [], properties: [info summary], err: object references is empty","TraceId":"e90e4543-2f22-46d9-82fa-d43f99bfbffb","stacktrace":"sigs.k8s.io/vsphere-csi-driver/pkg/csi/service/common.getDsToFileServiceEnabledMap\n\t/build/pkg

[2021-07-09 17:19] divyenpatel commented on #1017
@myg0v Do you have vSAN fileservice enabled on the vSAN Cluster?

[2021-07-09 17:50] myg0v commented on #1017
We do not have vSAN Cluster. We have a HPE Primera Storage Cluster.

[2021-07-09 18:06] BaluDontu commented on #1066
Looks like `csi-vsphere version: 2.2.0` is used based on the description. Please find below analysis.

This is the line where it is failing - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.0/pkg/csi/service/common/authmanager.go#L423. The `dsList` is empty here.

The `dsList` will be empty only when there is a cluster which doesn't have any datastores visible for CSI user. Looks l

[2021-07-09 19:30] joyartoun commented on #1066
Hi,
I do have a vSAN cluster inside the VC yes, and also have vsan file services enabled. Yes I am using an admin user which should not have trouble finding the datastores.

I noticed however that if I use the following manifest https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/vanilla/vsphere-csi-driver.yaml the driver actually works. As I can see it there are different

[2021-07-09 19:50] BaluDontu commented on #1066
CSI 2.2 has `csi-auth-check` enabled which means it will no longer use `targetvSANFileShareDatastoreURLs ` - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v2.2.0/manifests/v2.2.0/deploy/vsphere-csi-controller-deployment.yaml#L178 but will identify all VSAN clusters for which the CSI user has Host.Config.Storage privilege and those VSAN clusters should have VSAN FS enabled. Only those

[2021-07-09 20:09] divyenpatel commented on #1067
@aevenot Can you share the error message and log from the CSI Controller Pod for `vsphere-csi-controller` container?

[2021-07-09 20:13] divyenpatel commented on #1056
@TomSDEVSN So do you see NodeGetVolumeStats is called many times? or is it failing?
Do you have many volumes attached to the Node?

[2021-07-09 20:14] divyenpatel commented on #992
Shared Datastore is the requirement for provisioning the volume unless we are using the topology feature.
Closing this Issue.

[2021-07-09 20:14] #992 closed

[2021-07-09 20:18] myg0v commented on #1017
It seems in our case, it is only working with the following storage class and pvc. The issue is resolved now.

[code]

[2021-07-09 20:18] #1017 closed

[2021-07-09 22:10] TomSDEVSN commented on #1056
@divyenpatel According to the logs it gets called a lot of times in combination with `NodeGetCapabilities` but it does not fail.

In the last 9 days, the issue occurred mostly when a pod with a PVC gets reconciled.

I have updated the CSI version to v2.2.1 recently but it still happens.
[Uploading vsphere-csi-node.log…](Maybe the full log could help you a bit more for debugging).

On the node, the

[2021-07-12 11:28] jarduini commented on #999
hi @divyenpatel, yes, we configure the zones and labels on VMware, the driver recognize automatically the labels on Kubernetes so that part is working ok.

[2021-07-14 08:06] soukron commented on #999
Hello @divyenpatel. I'll provide information on behalf of @jarduini.

Here's what I can provide, based on the content of the article (which was used to configure the environment).

This is the content of the vsphere config secret:
[Global]
cluster-id = "Cluster-OCP-AZ1"
cluster-distribution = "Openshift"

[VirtualCenter "vclabcpd02.lab.example.local"]
insecure-flag = "true"
user = "ocpadmin@vspher

[2021-07-14 08:08] soukron commented on #999
I would also like to confirm that in this environment not all nodes have connection with all the datastores. Is this a requirement for the driver as described [in the link you provided](https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html)?

[2021-07-14 10:46] soukron opened #1137 "Consider allowedTopology when checking datastore visibility from nodes"
/kind feature

**What happened**:
The topology in the storage class (_allowedTopology_) seems to be ignored when there's a defined datastore URL, as per https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/a8fe009d1ba14b6eca2601da194e82ad09104cd4/pkg/csi/service/common/vsphereutil.go#L94-L95

**How to reproduce it (as minimally and precisely as possible)**:
Environment details:
- OpenShift c

[2021-07-14 10:47] soukron commented on #999
@divyenpatel I've filled https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1137 to track the RFE as according to the tests that we made today, it's more clear for us the issue. Feel free to close this one and let's continue in the new if you think it's better.

[2021-07-15 18:42] Amos-85 commented on #1017
Hi @myg0v ,
I have the exact same issue with same exception when creating pvc and file service is not enabled in our case cause we have a standard license.
UUID enabled on all nodes and CPI & CSI installed.

How did you make it work ?

@divyenpatel ,
Is vSAN fileservice must be enabled for creating block volumes ?

[2021-07-15 19:02] myg0v commented on #1017
@Amos-85
I managed this case less or more over the VMware enterprise support. I posted the working StoreClass and pvc-Configuration. Proper user with permissions and maybe also a storagepolic is also required.

If you do not have a vSAN, you have only a limited feature set. Without a vSAN you can only use ReadWriteOnly volumes. ReadWriteOnly creates a fcd directory on any datastore, except NFSv4 i

[2021-07-15 19:23] Amos-85 commented on #1017
@myg0v,
Actually we have a Vsan datastore and user with the right privilege roles according to documentation and no odd exceptions in CSI & CPI controllers.

I will try to review again all the settings & requirements.

[2021-07-15 19:55] myg0v commented on #1017
@Amos-85
Maybe the examples here are helpful?
https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/example/vanilla-k8s-file-driver

Here are the permissions you need to check:
https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#vsphere-roles-and-privileges-

Also check if you receive the ProviderID in your node description. If not, you need also install the vSp

[2021-07-15 20:06] Amos-85 commented on #1017
@myg0v
Right now I've figured out what was the problem.

The PVC was set to `ReadWriteMany` instead of `ReadWriteOnce`
then after I got this exception:
`specified in the storage class is not accessible to all nodes.`

After disable the `csi-auth-check` to false in vsphere-csi-controller according this [issue](https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/826)  it's start functioning

[2021-07-19 21:12] ros0x5Ft opened #1175 "Can't detach and attach disk from one node to another after pod is restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When we deploy StatefulSet, pvc/pv are created ok.
But after delete pod, it migrate to another node and staying in Init state.

[code]
and `csi-attacher` contains more strings like this:

[code]

**What you expected to happen**:
Stateful pods can run on any node normally

**How to reproduce it (as minimally and precisely

[2021-07-20 17:03] vrabbi commented on #686
Any updates on this?

[2021-07-20 18:15] SandeepPissay commented on #686
@vrabbi we are tracking this ask in our internal backlog. This seems to be a large work item, so I do not have visibility into when this feature will be released.

[2021-07-20 18:18] vrabbi commented on #686
@SandeepPissay thanks for the quick reply. This would be huge for many of our customers. If there is any information that would be helpfull to get from me please let me know. I get this is a large work item and completely understand it may take some time. If there is anythin we can do to help add context, use cases, referneces etc. In order to help push this forwards i would be glad to help with t

[2021-07-20 18:32] SandeepPissay commented on #686
@vrabbi yes, this will be super useful! Could you send this info in an email to me? My email is ssrinivas@vmware.com. Thanks!

[2021-07-20 19:58] AcidAngel21 opened #1183 "If the parameter --default-fstype=xfs, then MountVolume is unsuccessful"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
For the `external-provisioner` I have set the parameter `--default-fstype=xfs`. The PVC is created and attached to the node. But the `MountVolume` does not work. I see the following error in the `kubelet` log.
<pre>
MountVolume.MountDevice failed for volume "pvc-400d2cce-5bfb-4673-9319-39185baa7fef" : rpc error: code = In

[2021-07-20 22:23] #999 closed

[2021-07-20 22:47] divyenpatel commented on #1137
Is `ds:///vmfs/volumes/60da36ca-057946a6-fdf3-0017a477f40e/` accessible to all nodes in `az1` and `region1` including master nodes?

I suspect it is not shared across all nodes in the specified topology.

[2021-07-21 07:51] RaunakShah commented on #1183
@AcidAngel21 vSphere CSI `v2.2.1` does not support the xfs filesystem. It will only be supported in `v2.3.0` onwards, which is scheduled for release in the coming weeks.

[2021-07-21 09:41] soukron commented on #1137
It's not accesible from all nodes, but only from those nodes in the region/az according to the topology.

Do you think this [code](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/a8fe009d1ba14b6eca2601da194e82ad09104cd4/pkg/csi/service/common/vsphereutil.go#L94-L95) considers the topology in any way?

[2021-07-21 09:57] AcidAngel21 commented on #1183
@RaunakShah Thank you for your response.
Was XFS support discontinued with v2.0?
I am currently using v1.0.2 and XFS works fine there.

[2021-07-21 09:58] soukron commented on #1137
FWIW, I followed the dots in the code:
 - CreateBlockVolumeUtil in [vsphereutil.go](pkg/csi/service/common/vsphereutil.go) receives the list of candidate datastores
 - This function is invoked from [csi/service/wcp/controller.go#386](/pkg/csi/service/wcp/controller.go#L386), where the datastores are populated from the function `getCandidateDatastores`.
 - That previous function is defined in [pkg/

[2021-07-21 14:24] soukron commented on #1137
Hello again @divyenpatel. We have tested it again with all masters being able to reach the datastore and it still fails (as I could expect from the code).

Please see the next diagram as a reference and let me know if you think it should work or not:
![Captura de pantalla 2021-07-21 a las 16 22 53](https://user-images.githubusercontent.com/243988/126505143-2813a634-5da0-4bec-b0e6-bc4290624898.png)

[2021-07-21 14:30] #1175 closed

[2021-07-21 14:34] ros0x5Ft commented on #1175
Sorry, it realy not enough permissions on vsphere

[2021-07-21 16:48] divyenpatel commented on #1183
@AcidAngel21

https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/481/files removed XFS package from the driver image.

We have added back XFS package with this PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/804

We will have XFS support available as alpha in the vSphere CSI Driver 2.3 release.

Meanwhile, if you want to try it out you can use https://github.com/kubernetes-

[2021-07-21 17:43] divyenpatel commented on #1137
We prepare a list of shared datastore accessible in the specified zone/reigion with the following code block. We also make sure here and validate, datastoreURL specified in the StorageClass spec is present in the list of shared datastore accessible in the specified zone/reigion.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/0a6dce94b0a4c3a72853066f5b8b1d1f8f7f4e65/pkg/csi/service/van

[2021-07-21 17:59] divyenpatel commented on #1137
Can you confirm datastore `DS-AZ1-1` and `DS-AZ1-2` are mounted on the all the hosts on which M1, M2, M3, and N1 Node VMs are deployed.

Also when you moved Masters from other AZs, Did you delete the Node Objects associated with them and recreated them by re-registering nodes with the API server again. Topology on those Nodes should also be changed when Node VM moves from one AZ to another AZ.

[2021-07-21 18:31] shalini-b commented on #1137
@soukron I tried out the exact use case you pointed out in my environment and it worked for me without any issues. I specified the accessibleTopology in the SC for a specific zone in my environment and gave an accessible DS of that zone in the parameters under DatastoreURL. CreateVolume call was successful by provisioning a volume on the given DS.

Can you crosscheck if the `datacenters` parameter

[2021-07-22 07:49] AcidAngel21 commented on #1183
@divyenpatel Thank you for the clarification.
It's working fine with v2.3.0-rc.3

[2021-07-22 07:49] #1183 closed

[2021-07-22 09:13] soukron commented on #1137
Yeah, absolutely. Actually we removed the master and created it again. We didn't "moved" them.

Yeah, that's something I can double-check.

Count on it.

[2021-07-22 09:16] soukron commented on #1137
That's good news for us then. Can you confirm if you're using the same csi-vsphere / vsphere-cloud-controller versions than me?

[2021-07-22 14:09] dostalradim opened #1186 "Syncer: Failed to update volume"
**BUG REPORT**:

/kind bug

**What happened**:
Update failed during volume creating from syncer.

**What you expected to happen**:
No error appear.

**Environment**:
- csi-vsphere version: 2.2.0
- vsphere-cloud-controller-manager version: 1.2.1
- Kubernetes version: 1.19
- vSphere version: 7.0.1
- OS (e.g. from /etc/os-release): Debian 9.13
- Kernel (e.g. `uname -a`): 4.9.0-13-amd64
- Install tool

[2021-07-22 14:25] soukron commented on #1137
Good news. It was a pbcak eventually :)
We always assumed that the external-provisioner was deployed with the arguments --feature-gates=Topology=true and --strict-topology but it wasn't configured in that way. As soon as we added those arguments the provisioner honored the toplogy and created the volumes properly.

Now, if you don't mind to answer this last question, we would need to know how to m

[2021-07-23 19:38] chethanv28 commented on #1186
@dostalradim
Can you check and paste the logs from `/var/log/vmware/vsan-health/vsanvcmgmtd.log` and grep for `130c4e89`. Would like to see if we can get more details about the system error
Please note that `vsanvcmgmtd.log` could be getting stored with different names(ending with iterations), hence grep on the parent folder

[2021-07-23 21:23] bathina2 opened #1189 "Inconsistent mount failures on xfs volumes using v2.3.0-rc.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Our plan was to test the latest driver's xfs capabilities.

- Using the v2.3.0-rc.3 we were able to dynamically provision a CSI xfs volume.
- Using the vslm global object manager we can take a snapshot using the `CreateSnapshot` method.
- We are also able to create a volume from this snapshot using the `CreateDiskFromSnaps

[2021-07-23 21:43] xing-yang commented on #1189
You may be running into this issue: https://github.com/container-storage-interface/spec/issues/482

We'll try to fix this when implementing CSI snapshot.

[2021-07-23 21:45] xing-yang commented on #1189
CC @lintongj @deepakkinni

[2021-07-26 16:16] tgelter commented on #607
Hello @SandeepPissay!
Do you happen to have any idea where this feature sits in the upcoming roadmap which you can share?
Thank you!

[2021-07-26 17:05] SandeepPissay opened #1192 "Update CSI doc to support svMotion of volumes from one datastore to another."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently CNS solution does not support svMotion of volumes from one datastore to another due to limitations in the first class disks(FCD). With 7.0 U3 release, FCD now support svMotion of FCDs via FCD APIs and VM APIs(FCD attached case). The only limitation now is that the client cannot perform concurrent svMotion of FCDs that are

[2021-07-26 17:14] SandeepPissay commented on #607
@tgelter we are looking into it. Cc @RaunakShah

[2021-07-26 19:28] bertinatto opened #1193 "Unable to use the driver with k8s 1.22"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Trying to use the CSI driver with k8s 1.22, I get errors stating that `apiextensions.k8s.io/v1beta1` is no longer served.

xref: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

[2021-07-27 05:09] svrc commented on #565
For what it’s worth , I am curious @marratj what you mean by the PVs getting broken?  The PVs are FCDs under the covers and vcenter maintains the link to the VMDK even after it is moved by sVM.

We had tested sVM with TKGI and CSI back in 2019 and had no issues moving PVs across nodes during upgrades.   we found that the old PV VMDKs would be in the old VM folder even after that VM was deleted.

[2021-07-27 05:30] svrc commented on #565
@SandeepPissay speaking from what I’ve seen in the past, other situations with our BOSH experience with TAS and TKGI
- different datastores on different compute  clusters, different datacenters (ideally some day with different vcenters)
-  “shared nothing” cases ie. VSAN / nutanix, where the compute clusters can’t see each other’s Datastores and thus the sVM data transfer happens over the network

[2021-07-27 20:32] bathina2 commented on #1189
So i was able to avoid the mount failure by using the `nouuid` mount option in the storage class-

[code]
This seems like a reasonable workaround for now. @xing-yang your thoughts?

[2021-07-27 23:24] xing-yang commented on #1189
@bathina2 This looks fine as a workaround.  Thanks for testing this out!

[2021-07-28 19:27] chethanv28 opened #1201 "Fix error codes in CSI source code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Looks like in CSI source code we have error code set to Not Found at multiple places when the actual error can be anything(not just not found)
We need to address this by changing the return code to codes.Internal in such cases.
Creating this issue to track the work involved in changing the same at all places

**What you e

[2021-07-29 23:36] PennyScissors opened #1203 "Request to fix CVEs found in multiple images used by CSI driver"
This is a request to fix CVEs found in multiple images used in the CSI driver v2.2.1.

Images affected:
[code]

# CVE Reports

### gcr.io/cloud-provider-vsphere/csi/release/syncer:v2.2.1

|Vulnerability ID|Title|Package Name|Fixed Version|Severity|URL|
|---|---|---|---|---|---|
|CVE-2021-22901|curl: Use-after-free in TLS session handling when using OpenSSL TLS backend|curl|7.75.0-2.ph4|HIGH|https:

[2021-07-30 01:14] mitchellmaler commented on #251
Even though there are now a few "workarounds" to delete the volumes it still isn't resolved to do this from the UI.

Another thing would be to have the UI automatically remove orphaned volumes if the underlying disk is deleted. Not a lot of reason to keep it around in the UI.

[2021-07-30 01:14] mitchellmaler commented on #251
/remove-lifecycle stale

[2021-07-31 00:28] dav178 opened #1205 "vSAN Stretched Cluster Support"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

/kind feature

**What happened**:

As written in the note:

***vSphere CSI driver is not supported on vSAN stretch cluster.

https://vsphere-csi-driver.sigs.k8s.io/compatiblity_matrix.html

**What you expected to happen**:

is there a plan to support stretched cluster feature in near futur? And Kubernetes 1.21

**How to reproduce it (a

[2021-08-03 07:51] marratj commented on #565
@svrc "broken" means that the CSI driver cannot mount the volume anymore.

[code]

The thing is that SDRS moves the VMDK files out of its original `fcd` folder where it was created into the VM-specific folder on the new datastore it's being migrated to; new datastore, new folder, new VMDK name even (e.g. it gets renamed from `fcd/839395e8712e46f285d309818e0eb22f.vmdk` to `vmname/vmname_2.vmdk` dur

[2021-08-03 13:30] #1189 closed

[2021-08-03 16:38] gohilankit commented on #1203
/assign @divyenpatel

[2021-08-03 16:42] gohilankit commented on #1193
/assign @BaluDontu

[2021-08-03 18:32] wacken89 commented on #775
+1 we also deployed Kubernetes on top of several vCenters. We need this feature for multi regional setup.

[2021-08-04 17:21] tgelter opened #1210 "Need guidance regarding datastore space exhaustion avoidance"
/kind feature

**What happened**:
A datastore filled up when large PVC-related disks were heavily used.
Thick-provisioned FCD and/or storage DRS may have prevented this issue from occurring.

**What you expected to happen**:
The disks backing PVC volumes which are managed by the vSphere CSI Driver should be thick-provisioned, Storage DRS should be supported, and/or the driver should provide a gate

[2021-08-04 17:57] SandeepPissay commented on #775
Thanks @mstrent @wacken89. We have this in the backlog and I will discuss this with our PM.

[2021-08-05 05:52] vrabbi commented on #1193
Any timeline on getting the api change needed to support 1.22 now that it is officialy released?

[2021-08-05 12:13] dostalradim commented on #1186
This output is for same error but for another volume. Sorry for my late answer I miss mail from github :(.
syncer
[code]
controller:
[code]
vsanvcmgmtd.log
[code]

[2021-08-05 19:15] MaxRink opened #1213 "CSI fails with "The object or item referred to could not be found.""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
while attaching/detaching/deleting a CNS Volume vSphere-CSI is unable to do so correctly and fails with

[code]
If i look on the vCenter, the CNS Volume is shown in the List of CNS Volumes, with correct sizing and on an accessible Datastore.

**What you expected to happen**:
attach/detach/deletion works properly

**How to

[2021-08-05 19:22] MaxRink commented on #1213
Addendum:
if i manually try to remove that volume from vCenter via GOVC (using an admin account on that vCenter to make sure its not an permissionissue) i get the exact same issue, so i would say that a vCenter bug
[code]

[2021-08-05 19:39] MaxRink commented on #1213
And i dont think its
https://docs.vmware.com/en/VMware-vSphere/6.7/rn/vmware-vsan-67u3-release-notes.html?hWord=N4IghgNiBcIMIDkDKACA9gIwFYFMDGALigHZpEBmaArsQCYgC+QA#cloud-native-storage-issues-known
as that behaviour persists since roughly a day

[2021-08-05 23:14] #663 closed

[2021-08-06 00:14] #692 closed

[2021-08-06 10:12] MaxRink commented on #1213
Troggering a resync of datastores via `govc disk.ls -R` for all Datatores did not help either

[2021-08-06 19:23] tgelter commented on #641
/remove-lifecycle rotten

[2021-08-08 07:29] #365 closed

[2021-08-09 08:21] dostalradim commented on #1186
I try to post question on vmware communities forum. https://communities.vmware.com/t5/VMware-vSAN-Discussions/CNS-Failed-to-update-disk-metadata/m-p/2861269#M13351

[2021-08-09 17:15] divyenpatel opened #1216 "After `vsphere-csi-node` DaemonSet Pod restarts on the Node, vSAN file share volumes (RWM Volume) on the node become inaccessible."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After `vsphere-csi-node` DaemonSet Pod restarts on the Node, vSAN file share volumes (RWM Volume) on the node become inaccessible.

This behavior is observed in the vSphere CSI Driver v2.0.0 to v2.2.1

Customers can also observe this while upgrading vSphere CSI driver from one release to another.

**What you expected to h

[2021-08-09 21:19] mitchellmaler commented on #221
Still ran into this running Kubernetes v1.21.3. The node was deleted and the VolumeAttachment was still around specifying the old node name. Required us to update the finalizers on each resource to be deleted so the pods can start up.

[2021-08-09 21:49] tgelter commented on #221
Hello @mitchellmaler, since this issue is closed, I'd suggest you take a look and comment here: #359.

[2021-08-09 21:51] mitchellmaler commented on #221
@tgelter thanks!

[2021-08-09 21:53] mitchellmaler commented on #359
Still ran into this running Kubernetes v1.21.3. The node was deleted and the VolumeAttachment was still around specifying the old node name. Required us to update the finalizers on each resource to be deleted so the pods can start up.

[2021-08-10 17:03] #1216 closed

[2021-08-12 20:12] shalini-b opened #1226 "Create a log and exit utility function to avoid relying on caller functions to exit on an error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Refer to https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1202#discussion_r687081599 for more details

**What you expected to happen**: Exit at appropriate locations in code and not reply on the caller function to make sure the code exits

**How to reproduce it (as minimally and precisely as possible)**:

**Anyt

[2021-08-16 08:42] ahrtr opened #1229 "The example on static PV isn't correct"
Please see [example-static-block-provisioning.yaml#L7-L8](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml#L7-L8), the format isn't correct.

It should be something like below,

[code]

[2021-08-16 15:55] bertinatto opened #1232 "Pre-submit job to test changes in CSI driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

(it's more like a feature request for the project itself, not the CSI driver)

**What happened**:

It would be nice to have a pre-submit  job to build and test the changes introduced in the CSI driver (using the Kubernetes storage testsuite).

Without that, it's likely regressions will be introduced eventually. Also, even the simplest c

[2021-08-17 10:58] bertinatto commented on #1232
CC @jsafrane @gnufied

[2021-08-17 15:32] tejohnson123 opened #1233 "Support for RWO on NFS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Unable to create NFS pvc with RWO access mode.
**What you expected to happen**:
To be able to create an NFS backed pvc with RWO access mode.
**How to reproduce it (as minimally and precisely as possible)**:
Create a PVC with ReadWriteOnce access mode using an NFS storage class

**Anything else we need to know?**:
A change was made r

[2021-08-18 10:20] gbarceloPIB commented on #186
In my case, I had to add the following label to my CP nodes, it is the unique node selector specified:
`kubectl label nodes <cp-node> node-role.kubernetes.io/controlplane=true`

Off the shelf k3s comes with `node-role.kubernetes.io/control-plane=true`...

[2021-08-18 14:54] #1229 closed

[2021-08-18 21:48] davidkarlsen commented on #709
not stale

[2021-08-18 21:48] davidkarlsen commented on #709
/remove-lifecycle stale

[2021-08-18 21:50] davidkarlsen commented on #709
@SandeepPissay Quite some time has passed - so checking in ;-) How is this issue doing?

[2021-08-18 22:36] SandeepPissay commented on #709
We are working on this @davidkarlsen . Its hard to say when it would be released, but we will definitely have this called out in CSI docs once we start supporting volume allocation.

[2021-08-18 23:25] divyenpatel commented on #1192
vSphere CSI Driver 2.3 and 2.4 releases will not have support for svmotion of volumes.
Once we add a support for svmotion we will update documentation.

[2021-08-19 00:22] shalini-b commented on #1226
/assign

[2021-08-19 00:41] SandeepPissay commented on #1210
@tgelter we are working on supporting thick provisioned volumes. We do not know when this will be out in a vSphere release.

One question - what do you mean by over subscription?

[2021-08-19 16:13] tgelter commented on #1210
https://docs.vmware.com/en/VMware-vSphere/6.0/com.vmware.vsphere.storage.doc/GUID-D18A4449-6C05-49C1-BE5D-3AAE29F0A681.html
Basically, whenever we're thin-provisioning volumes, it's possible to provision more storage to Virtual Machines than storage space available for consumption. When usage/consumption consumes 100% available capacity, VMs are paused.
If there's more info I can provide, please l

[2021-08-19 16:44] rhockenbury commented on #123
Hey @divyenpatel, curious if you were able to make any progress on this?

[2021-08-19 19:46] tgelter commented on #686
/remove-lifecycle rotten

[2021-08-20 16:07] divyenpatel commented on #1233
@tejohnson123 Can you check the provisioner in the storage class?

if provisioner in the storageclas is `provisioner: csi.vsphere.vmware.com`, claim created with such storageclass will create vsphere volume.

with `RWO` accessmode vSphere CSI Driver creates FCD-backed vSphere volume and with `RWM` accessmode vSphere CSI driver create a vSAN file share backed volume.

Are you saying you want to cre

[2021-08-20 21:43] tejohnson123 commented on #1233
@divyenpatel What I really need is a way to provision both RWO and RWX using the same storage class.  It doesn't matter to me if the RWO volume is backed by file or block storage.

[2021-08-20 23:43] divyenpatel commented on #1233
We have a limitation, we can not attach the disk (backed by FCD) to multiple Node VMs. otherwise, if a user creates a block PV with RWM, they hit an issue later when they attempt to create multiple pods using the same PV (backed by FCD).

and for file share volume, they are backed by NFS, so they can be attached (mounted) to multiple nodes.

you can use the same storage class for both RWO and RWM

[2021-08-23 19:00] tejohnson123 commented on #1233
@divyenpatel Ok, so I think I was confused.  I was under the impression originally that you needed to specify the `csi.storage.k8s.io/fstype` as `nfs` in order to get a file volume, but it looks like the CSI driver will automatically provision a block volume if the access mode is RWO and a file volume (backed by NFS) if the access mode is RWM.  I assume then you would specify the `csi.storage.k8s.

[2021-08-24 00:03] shalini-b commented on #199
/remove-lifecycle stale

[2021-08-25 16:31] divyenpatel commented on #422
/reopen

[2021-08-25 16:36] divyenpatel commented on #1233
RWO is the volume directly attached to the Node VM as a disk device, it needs to be mounted and formatted using ext2, ext3, xfs, etc.

RMW is the volume that is not attached to Node VM as a disk device, it is just mounted as NFS volume on the Node VM.

Therefore we have some restrictions for fstype for the type of volume.

[2021-08-25 16:36] divyenpatel commented on #1233
@tejohnson123 I am closing this issue as per update - https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1233#issuecomment-904029771

[2021-08-25 16:36] #1233 closed

[2021-08-29 20:53] #772 closed

[2021-08-29 20:53] #773 closed

[2021-08-30 15:04] tgelter commented on #631
/remove-lifecycle rotten

[2021-08-30 17:05] nick-oconnor commented on #478
/remove-lifecycle stale

[2021-08-30 19:06] fabiorauber commented on #663
/reopen /remove-lifecycle rotten

[2021-08-31 18:37] verult commented on #1193
Are CSI migration CRDs the only ones affected? If migration is disabled, would this not be an issue?

[2021-09-02 12:25] dvob commented on #1213
@MaxRink We have the same problem. Could you solve the problem in the meantime?

[2021-09-03 15:47] tgelter commented on #573
/remove-lifecycle rotten

[2021-09-05 18:19] #254 closed

[2021-09-05 18:19] #377 closed

[2021-09-05 18:19] #585 closed

[2021-09-05 18:19] #587 closed

[2021-09-05 18:19] #599 closed

[2021-09-05 19:19] #637 closed

[2021-09-05 19:19] #680 closed

[2021-09-05 19:19] #580 closed

[2021-09-05 19:19] #596 closed

[2021-09-08 15:14] shalini-b commented on #962
/remove-lifecycle stale

[2021-09-08 20:53] tejohnson123 commented on #793
We would still like this option to be part of the operator installation when that is available.  Keeping this issue open.

/remove-lifecycle rotten

[2021-09-13 10:49] dostalradim commented on #1205
What exactly means the not supported on vSAN stretch cluster? We are using the driver with stretched cluster in 6+1 nodes and it is working.

[2021-09-13 10:54] dostalradim commented on #1186
Has somebody some clue, what is causing this error?

[2021-09-13 19:22] dav178 commented on #1205
Hi dostalradim,

As per the compatibility matrix and VMWare documentation it's not supported. Maybe it work but...

ref :

![image](https://user-images.githubusercontent.com/9448068/133143503-74d2a2fb-1afa-4b37-8239-3a69d3f99199.png)

https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.storage.doc/GUID-BA795112-AFC4-4FCB-B5A6-1ACDCAB79ED3.html

Cloud Native Storage Limitations
Cloud N

[2021-09-14 21:29] MaxRink commented on #1213
sadly no, it looks like its a vCenter bug

[2021-09-16 07:00] nvx commented on #542
I'm super confused and disappointed to find this. The old docker plugin for vsphere is deprecated with the CSI plugin being the obvious successor, but it appears to not be a CSI plugin, but rather a "CSI plugin for Kubernetes only". This isn't a simple matter of other platforms being different, but a specific decision to go outside the CSI spec and also make direct calls to Kubernetes API.

To add

[2021-09-16 13:09] dostalradim commented on #1205
I wrote a message to vmware engineeer and they tell me that the support of SC is on roadmap and is awaited in this year in Q3 in CSI version 2.4.

[2021-09-17 10:42] LinAnt opened #1274 "CNS volumes disappear and all in cluster operations fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In 2 separate kubernetes clusters we have observed failures when pods get moved and as a result the PVs have to be attached to the new node. The CNS volume object seems to just disappear, the FCD is still intact on the vsan. Nothing has triggered a deletion as far as I can see...

Events from the kubernetes side:
[code]

[2021-09-20 14:08] braunsonm opened #1280 "Cannot resize volume, NoPermission"
/kind bug

**What happened**: When attempting to resize a volume, an error is thrown from the CSI controller:

[code]

However when using `govc` the command passes with the same account:
[code]

**What you expected to happen**:
I expected the disk to be resized since the account has permission to do so.

Can anyone point me to the exact permission that the CSI driver needs that does not match the

[2021-09-22 09:14] chloe88 commented on #1193
@BaluDontu When support for 1.22?

[2021-09-23 18:09] tgelter opened #1290 "vsphere-csi-node daemonset vsphere-csi-node container securityContext.allowPrivilegeEscalation enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The **vsphere-csi-node** `Container` of the **vsphere-csi-node** `Daemonset` has the [securityContext.allowPrivilegeEscalation](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/286761e1681ae97eabb9dc3d70deb55178385720/manifests/vanilla/vsphere-csi-driver.yaml#L372) [privilege escalation policy](https://kubernetes

[2021-09-23 18:13] tgelter commented on #1290
Additionally, we're wanting to know if [securityContext: {privileged: true}](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/286761e1681ae97eabb9dc3d70deb55178385720/manifests/vanilla/vsphere-csi-driver.yaml#L369) can be removed for similar security concerns.

[2021-09-23 18:19] tgelter commented on #1290
Another, is [hostNetwork: true](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/286761e1681ae97eabb9dc3d70deb55178385720/manifests/vanilla/vsphere-csi-driver.yaml#L309) required?

[2021-09-24 14:48] smartbit commented on #359
This one-liner removes the `finalizers`  from  `volumeattachments` with a `detachError`:

[code]

[2021-09-24 16:41] #422 closed

[2021-09-24 20:29] shalini-b commented on #1280
/assign

[2021-09-24 20:31] shalini-b commented on #1280
@braunsonm Could you provide the CSI controller and node logs so that we can triage further.

[2021-09-24 21:29] braunsonm commented on #1280
For sure, I can get you that on Tuesday @shalini-b

As I said I believe the only permissions I'm missing from the docs are CNS or the ones specifically for the file share. When I looked at the logs I don't think I saw anything else other than the error above but I can look again.

Do you happen to know what permission is specifically needed for this API call?

[2021-09-24 21:52] shalini-b commented on #1280
The permissions required for file shares are not required for resizing a block volume. Could you elaborate on what exactly you mean by `the only permissions I'm missing from the docs are CNS`.
As you are using vSphere driver 2.1, I am assuming you are trying offline resize on a block volume. This should ideally work if you have correctly set all the permissions required in https://vsphere-csi-driv

[2021-09-24 21:52] chethanv28 commented on #1290
This is needed for RWM volumes. Refer https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1217 for more details

[2021-09-24 21:53] chethanv28 commented on #1290
I would let @divyenpatel to comment on this.

[2021-09-24 21:58] braunsonm commented on #1280
Talking about this permission:

Sorry it is v2.2.1, I mixed it up with the other images. I tested with an online resize. This is included with rancher installs: https://github.com/rancher/charts/blob/dev-v2.6/charts/rancher-vsphere-csi/rancher-vsphere-csi/100.0.0/values.yaml#L28

[2021-09-24 22:03] shalini-b commented on #1280
Can you confirm if you have set the privileges for the datastore correctly? Especially the `Datastore.FileManagement` permission.

[2021-09-26 03:57] #816 closed

[2021-09-27 19:11] braunsonm commented on #1280
@shalini-b The account has a that permission on the datastore.

[code]

[2021-09-27 20:44] shalini-b commented on #1280
Thank you for providing the logs.
[code]
Before the vSphere CSI driver tries to expand a volume, it checks if the actual volume object size actually lesser than the size requested. That is why we query the CNS volume underneath which is failing in your case as CNS is unable to search for the volume in the vSphere environment. Can you please provide the CNS searchable permission and re-try the expa

[2021-09-27 22:15] #632 closed

[2021-09-28 06:26] LinAnt commented on #341
We just experienced this again for a deployment in another cluster.

A quick fix is to cordon the node where the pod is failing to start up, delete the volume attachment and delete the pod to force the pod to start on another worker.

I am happy to grep logs if someone has an idea what to look for :+1:

[2021-10-02 18:08] #813 closed

[2021-10-04 13:49] jvrahav commented on #793
@sandaymin123 If you dont mind, can you answere few queries
 can you share which values in the daemon set did you modify. Also, was this a custom kubelet or the one from upstream.
Is this case only when we use a cloud provider that is not the vsphere cloud provider or would this case be valid regardless of cloud provider.

[2021-10-04 15:18] tejohnson123 commented on #793
@jvrahav

We modified the pod-mount-dir volume mount:

[code]
and

[code]

We use upstream kubelet.  This would be the case regardless of cloud provider.

[2021-10-04 17:11] mohideen commented on #1193
We are waiting on this to upgrade our cluster to 1.22. It would be really helpful to know when can we expect this to be released.

[2021-10-05 07:15] LinAnt commented on #1193
@mohideen you can follow the progress here: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1188

[2021-10-08 04:23] divyenpatel opened #1325 "use sync.Map for `snapshotTaskMap` and `volumeTaskMap`"
_Originally posted by @SandeepPissay in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1322#r724599940_

[2021-10-08 05:06] #817 closed

[2021-10-12 14:35] tobsval opened #1334 "Specified datastore in the storage class is not accessible to all nodes"
/kind bug

**What happened**:
After creating a PVC referencing the default storage class, the following error is thrown and the state of the PVC remains in Pending:
`I1012 14:12:39.450034       1 event.go:282] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"test-pvc", UID:"d8a906eb-9cba-4bf5-802e-7c9ef569efa9", APIVersion:"v1", ResourceVersion:"2677580", FieldPath

[2021-10-13 06:14] burkhat opened #1335 "VolumeFailedDelete - The resource 'volume' is in use"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
PVCs gets deleted in Openshift / Kubernetes but the PVs cannot be deleted with following error message:

"Warning  VolumeFailedDelete  116m (x7 over 117m)  csi.vsphere.vmware.com_vsphere-csi-controller-7875d6869f-9n279_a9be5260-6f84-4d6a-87fe-937bc1f7501c  persistentvolume kio-5132fc462bda11ec8d620a58647a056f-3 is still a

[2021-10-13 07:55] RaunakShah commented on #943
@ahmedboj were you able to figure it out?

[2021-10-13 09:42] RaunakShah commented on #341
Hi @LinAnt next time you run into this, can you increase the vsphere-csi-node and kubelet log levels on the affected node and capture logs? I suspect the issue is that the node restarts,  and `/dev` is unmounted. Can you also check if there were any issues with the node?

This basically means the target path along with device path is present in mount points but the device doesn't exist.

@shalini-

[2021-10-13 20:09] jingxu97 commented on #266
we still hit this issue. csi-provisioner is 2.2.0 version which should have the fix already. I am not sure any other logic might cause container volume untagged too?

The issue only happen on 6.7u3. I think as @divyenpatel mentioned vCenter 7.0.1 fixed this issue. But wondering since csi-provisioner checked volume is still attached, and should not issue delete (verified log about this). What cause

[2021-10-14 20:40] #1193 closed

[2021-10-15 19:12] simha5009 opened #1348 "Failed to create new client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I try to deploy the vsphere-cloud-controller-manager, it is failing to connect to the center.

**What you expected to happen**:

Since the vsphere-cloud-controller-manager is not running well, the node will always be in taint mode and hence not usable.

**How to reproduce it (as minimally and precisely as possible)**:

just red

[2021-10-15 19:13] simha5009 commented on #1348
[code]

[2021-10-15 19:14] simha5009 commented on #1348
Following is the config map.

[code]

[2021-10-18 22:03] #884 closed

[2021-10-19 20:22] tgelter commented on #1192
Related to https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1210#issuecomment-947073031, can we please have an update on the availability of the support to svmotion volumes between Datastores? We are having to manually recreate a volume and sync multiple terabytes (a time-consuming and dangerous procedure) to avoid filling a datastore due to volumes being thin-provisioned.

[2021-10-19 22:02] SandeepPissay commented on #1210
@tgelter I understand your situation, many VMware customers have asked this feature and it is high on our priority list. We are working on enhancing our storage stack in vSphere to support this feature. But I do not know in which vSphere release it will be supported. In general, we also do not share such info in public. Maybe you should get in touch with VMware accounts team and they may be able t

[2021-10-19 22:08] SandeepPissay commented on #1192
@tgelter vSphere 7.0 Update 3 is released that exposes an API to perform svMotion of volumes. We plan to build a tool that helps with this. Please talk to the VMware accounts team to get in touch with our PM on the requirements.

[2021-10-21 06:28] burkhat commented on #1335
We have found the problem a snapshot was attached to the disk, then it isn't possible to delete the disk

[2021-10-21 06:28] #1335 closed, assigned to nobody

[2021-10-23 15:50] #913 closed, assigned to chethanv28

[2021-10-24 01:56] #870 closed

[2021-10-29 07:43] jinzhangvmw opened #1385 "Storagepolicyname can't be specified when creating sc in statfulsets test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In when do statefulsets test, right now the sc is created with default storagepolicy named "vSAN Default Storage Policy", and could not use the specified storagepolicy name.

**What you expected to happen**:
As I'm using a public cloud like VMC on aws or avs, I must create SC/PVC/PV with my own storagepolicyname  instead of "vSAN De

[2021-10-31 19:08] #949 closed

[2021-11-01 14:39] tgelter commented on #565
/remove-lifecycle stale

[2021-11-01 23:34] mohideen commented on #1193
@BaluDontu Great to see that the work is completed. Do you when when the release is planned?

[2021-11-02 18:03] BaluDontu commented on #1193
@mohideen Current out test team is validating the final RC image for release 2.4. Once this is done, we should have the new tagged release for 2.4.

[2021-11-02 19:13] tgelter commented on #775
/remove-lifecycle stale

[2021-11-04 13:31] tdewin commented on #1334
We had a similar issue but not sure if it is related. You might as well try if you are stuck. We disabled csi auth check based on some older bug where it crashed the controller.

After I changed the feature, i did kill all the pod in the namespace to have them recreated and using this csi-auth-check disabled. At this point, I'm trying to figure out what csi-auth-check does in the first place but P

[2021-11-04 21:25] tgelter commented on #641
/remove-lifecycle stale

[2021-11-08 13:59] jinzhangvmw commented on #1385
I have found a way to specify the datastore url in e2etest.conf:
add a parameter: targetvSANFileShareDatastoreURLs=<datastoreurl>, so close this issue.

[2021-11-08 13:59] #1385 closed

[2021-11-08 21:00] paladin-devops commented on #542
Anything update on CSI for Nomad in vSphere? Really considering moving to a different platform in order to implement this.

[2021-11-12 08:21] #943 closed

[2021-11-12 15:23] divyenpatel commented on #1348
@simha5009 Can you follow instructions documented here - https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0C202FC5-F973-4D24-B383-DDA27DA49BFA.html

[2021-11-12 19:47] lakxtxue opened #1416 "CnsFault error: VSLM task failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am a novice, I followed the document smoothly to this step

https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-606E179E-4856-484C-8619-773848175396.html

Then an error was reported when creating the PV.

{"level":"info","time":"2021-11-12T19:42:02.055011665Z","caller":"v

[2021-11-12 19:48] lakxtxue commented on #1416
Can anyone give me some help? Thank you

[2021-11-15 23:36] saintdle opened #1418 "v2.3.0 + v2.4.0 - Forbidden creation due to security context in OpenShift"
/kind bug

**What happened**:
Unable to deploy on OpenShift 4.9 instance due to the following error in the DaemonSet of vsphere-csi-node.

[code]

**What you expected to happen**:
Deployment to work without any changes to manifests

**How to reproduce it (as minimally and precisely as possible)**:
Deply OpenShift 4,9 and try mentioned versions.

CSI v2.2.0 works as expected

**Anything else we nee

[2021-11-16 00:53] divyenpatel commented on #1418
@gnufied  Do Openshift requires updating vSphere CSI Driver manifests?

[2021-11-16 11:53] dimatha commented on #1205
Hello Everyone,

Do we have any update on this feature ? Is it still planned to be released ?
We do use Stretch VSAN clusters, which would like to leverage for K8s deployments.

Thanks

[2021-11-16 11:54] dostalradim commented on #1205
Hi, I have no info about it. But I still need this feature.

[2021-11-16 12:26] jsafrane commented on #1232
/remove-lifecycle stale

[2021-11-17 05:16] blockchen-admin opened #1421 "Persistent Volume Claims Resize"
[code]
[code]

I changed it from 30 GB to 40 GB, but it doesn't change.

Event Message :
Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.

![캡처](https://user-images.githubusercontent.com/61440698/142139173-d9831dce-de7e-478a-957c-7e30acf9c736.PNG)

[2021-11-17 22:10] tgelter commented on #686
/remove-lifecycle rotten

[2021-11-19 13:28] hasanlik commented on #1418
Having the same issue here.

Yes, different capabilities and scc

[2021-11-19 15:38] gnufied commented on #1418
Please make sure that driver is deployed in privileged SCC. This looks like a problem of SCC.

[2021-11-20 14:36] #796 closed

[2021-11-20 16:36] #570 closed

[2021-11-20 16:36] #787 closed

[2021-11-21 06:49] Tony-The-Developer opened #1424 "Cant create PVC with rancher vsphere CSI and CPI"
/kind bug

**What happened**:

Failed to provision volume with StorageClass "vsphere-csi-sc": rpc error: code = Internal desc = failed to get shared datastores in kubernetes cluster. Error: Empty List of Node VMs returned from nodeManager
xpected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Create cluster and install CPI and CSI

**Anything else we need to know?*

[2021-11-21 16:31] Tony-The-Developer commented on #1424
nodemanager.go:182] shakeOutNodeIDLookup failed. Err=nodeID is empty

[2021-11-22 21:55] #1025 closed

[2021-11-26 08:24] #1045 closed

[2021-11-29 15:36] xing-yang commented on #478
/remove-lifecycle stale

[2021-11-29 15:38] xing-yang commented on #478
CSI snapshot is added as an alpha feature in 2.4:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/features/volume_snapshot.md

[2021-11-29 17:37] divyenpatel commented on #1418
@gnufied what changes we need to make in the vSphere CSI Driver deployment manifest files for this issue on the OpenShift environment?

[2021-11-29 17:43] tgelter commented on #1203
/remove-lifecycle stale

[2021-11-30 02:47] false-start commented on #1424
The CPI does not actually report a healthy or unhealthy status when it is installed.

What likely is the issue for you is that the CPI is not functioning properly and therefore the CSI can't find the node ID.

[2021-12-02 08:58] #774 closed

[2021-12-02 17:02] tgelter commented on #573
/remove-lifecycle stale

[2021-12-03 06:58] mariolenz commented on #478
@xing-yang Do you know if 7.0U3 is a hard requirement for snapshots, or did you only test with this version? We'd like to test this feature but there are [reasons](https://blogs.vmware.com/vsphere/2021/11/important-information-on-esxi-7-update-3.html) to stay on U2 for now.

[2021-12-03 20:49] xing-yang commented on #478
@mariolenz It is a hard requirement.  The list snapshots feature was added in 7.0U3.

[2021-12-04 14:31] mariolenz commented on #478
That's unfortunate. But I feared it's a hard requirement, anyway. Well, then we'll have to wait on a stable 7.0U3 release.

Thanks for clarifying this @xing-yang!

[2021-12-06 21:33] #1066 closed

[2021-12-06 21:33] #1067 closed

[2021-12-07 16:41] jwhb commented on #1416
I had the same error message (VLSM task failed) when creating a PVC with vsphere CSI StorageClass. Recreating the PVC resolved it for me.

[2021-12-08 11:49] #1056 closed

[2021-12-09 14:33] ydp opened #1438 "Volume in the spec doesn't have storage policy associated with it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Import a vmdk file from another dataCenter to supervisor cluster with cnsRegisterVolume API, but failed with the error:

[code]

**What you expected to happen**:
Expected to import successfully

**How to reproduce it (as minimally and precisely as possible)**:
* Create a PV in one vCenter and use NFS as the data store
*

[2021-12-09 19:01] divyenpatel commented on #1438
cc: @BaluDontu ^^

[2021-12-09 19:04] divyenpatel commented on #1424
@Tony-The-Developer @false-start

Can you follow this doc?
https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0C202FC5-F973-4D24-B383-DDA27DA49BFA.html

After the installation of vSphere CPI, make sure ProviderID is correctly set on all nodes.

[code]

If you see nodes are not initialized by the CPI, vSphere CSI Driver will not work.

[2021-12-09 19:12] divyenpatel commented on #1421
What version of vSphere CSI driver are you running?

With the recent version of vSphere CSI Driver, We are publishing resize capabilities regardless of what vSphere version the CSI driver is interacting with.  Previously we had some releases to check the vSphere version and if a version is 6.7u3, then the driver was not publishing resize capability.

We are in process of validating resize capabili

[2021-12-09 19:16] divyenpatel commented on #1416
@lakxtxue @jwhb

Can you file a Service ticket with VMware and upload vCenter/ESX support bundles and vSphere CSI Driver logs?
Please use [VMware Support Services](https://www.vmware.com/support/file-sr.html) to file a customer support ticket to engage VMware global support team.

[2021-12-13 13:07] aevenot commented on #1274
hello, me too, I have the same behavior (CSI version 2.2.2)

When I list volumes using **govc volume.ls**, the volume is not present. But with the command **govc disk.ls**, it is..

Sometime the volume shows up and disaperrar, this is very strange.

[2021-12-14 14:23] NM4 opened #1444 "CNS: Failed to create disk"
/kind bug

**What happened**:
PVC not provisionned
**What you expected to happen**:
PVC provisionned
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version: v1.20.0
- vsphere-cloud-controller-manager version: v2.3.0
- Kubernetes version: 1.20
- vSphere version: 6.7 U3 ( Patched : realase number : 17700523 )
- O

[2021-12-16 03:10] BaluDontu commented on #1438
CnsRegisterVolume reconciler created the CNS volume successfully
[code]

But when querying the volume for storage policy from CNS, it doesn't retrieve the storage policy information. Looks like some issue on the CNS side.

[code]

Can you please collect VC and ESX logs and file a support ticket for it.

[2021-12-16 03:49] ydp commented on #1438
Thanks @BaluDontu , if it's not CSI issue, I should just close this one?

[2021-12-16 03:53] #1438 closed

[2021-12-16 12:57] jsafrane opened #1447 "CSI migration: failed to attach volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A PV provisioned *before* CSI migration was enabled fails to be attached after the migration is enabled:

[code]

**What you expected to happen**:
The pod can be used.

**How to reproduce it (as minimally and precisely as possible)**:
1. Dynamically provision a PV without CSI migration enabled. I got PV:

[code]
2. Enable

[2021-12-16 18:35] jsafrane commented on #1447
Found it, `strings.Trim` trims too much here:

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/6252e16ce1556c61d971213bf0f6045b5d521c01/pkg/apis/migration/migration.go#L391

`Trim` takes its second argument as _set of characters_, so if my datastore name is `[WorkloadDatastore]`, it will trim any character from that name from the end of VolumePath. I.e. from path ending with `.vmdk` it

[2021-12-16 18:55] McAndersDK commented on #365
So anyone got some new info on this?
sure the feature matrix say it's not support, but how do we recover from this?

[2021-12-16 19:00] McAndersDK commented on #686
Any news on this? and how do we recover then CNS tell us it cant find the VMDK after it have been moved by DRS ?

[2021-12-16 19:04] McAndersDK commented on #565
@marratj did your recover the disk that were moved by DRS ? how?

[2021-12-17 00:52] davidkarlsen commented on #709
/norottendude

[2021-12-17 00:52] davidkarlsen commented on #709
/remove-lifecycle stale

[2021-12-17 00:53] davidkarlsen commented on #709
/remove-lifecycle rotten

[2021-12-17 00:55] davidkarlsen commented on #709
@SandeepPissay close to a year soon, how did that roadmap develop?

[2021-12-17 00:58] SandeepPissay commented on #709
@davidkarlsen we are executing on this feature. Its hard to say when it will be out, but the feature is progressing well.

[2021-12-18 00:21] #1447 closed

[2021-12-21 15:22] saintdle commented on #1418
It seems the VMware Team who produced the [vSphere Kubernetes Driver Operator](https://github.com/vmware-tanzu/vsphere-kubernetes-drivers-operator) have the [solution](https://github.com/vmware-tanzu/vsphere-kubernetes-drivers-operator/blob/main/docs/getting-started/getting-started-from-operator-hub.md#pre-requisites).

[code]

[2021-12-26 21:25] #1280 closed

[2021-12-30 09:13] Kvasscn opened #1460 "Does file volumes supported for vsphere pod in supervisor cluster?"
Could i deploy a vsphere pod using filesystem volume in  supervisor cluster? such as :
test-sc.yaml :
[code]

test-pvc.yaml:
[code]

test-pod.yaml:
[code]

[2021-12-31 01:13] Kvasscn commented on #1460
I found three implementations of the CreateVolume() function in vsphere-csi-driver/pkg/csi//service dir ：
[code]
Could  explain what scenarios these implementations are  used for?  and which implementation is used by vsphere pod in  supervisor cluster?

[2021-12-31 17:54] #1201 closed

[2022-01-04 06:25] shalini-b commented on #199
This behavior has been changed starting from vSphere CSI 2.4. Kindly check the documentation and upgrade your environment to the required version to be able to use this feature.

/close

[2022-01-04 06:25] #199 closed

[2022-01-04 09:21] roylkng commented on #1348
@simha5009  I am also facing similar issue, were able to narrow down on what caused the issue ?

[2022-01-05 02:48] msau42 opened #1463 "Improve download of dependencies"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The script hack/check-golangci-lint.sh is doing a "curl <script> | bash" anti-pattern.

**What you expected to happen**:
It would be better supply chain security if:

- The script being downloaded was checked into the repo directly so that we can validate it is safe.
- The tool needed is installed through a package ma

[2022-01-05 14:08] jsafrane opened #1466 "Can't unmount migrated volumes"
/kind bug

**What happened**:
I have a pod with in-tree in-line volume:

[code]
When CSI migration is enabled, kubelet & the CSI driver is able to run such a pod. When the pod is deleted, its volumes remain mounted + the Pod is Terminating forever:

[code]

**What you expected to happen**:
The volumes are unmounted.

**How to reproduce it (as minimally and precisely as possible)**:
Enable CSI migr

[2022-01-05 14:16] jsafrane commented on #1466
The CSI driver uses https://github.com/akutz/gofsutil to parse /proc/self/mounts. I filed https://github.com/akutz/gofsutil/issues/9 there, however, it looks abandoned.

[2022-01-05 14:24] xing-yang commented on #1466
https://github.com/akutz/gofsutil is no longer maintained.  We could consider moving some of the util functions to vsphere-csi-driver repo so that we can fix bugs ourselves.

[2022-01-05 14:34] jsafrane commented on #1466
[k8s.io/mount-utils](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/mount-utils) provide similar functionality, however, they suffer from the same issue (who would expect spaces in `VolumeHandle`?)

[2022-01-10 19:11] divyenpatel commented on #359
/remove-lifecycle stale

[2022-01-10 21:54] MaxRink opened #1474 "CSI Node CrashLoopBackoff with Label conflict"
/kind bug

**What happened**:
Im seeing the node container crashloop with
[code]
That node in question only has the new topology labels tho

[code]
in fact, none of the nodes do:
[code]
gives an empty result

**What you expected to happen**:
CSI Node pod starts running

**How to reproduce it (as minimally and precisely as possible)**:
Im unsure, its not happening on all nodes of that cluster
[code

[2022-01-10 21:57] MaxRink commented on #1474
It looks like https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1264/files introduced the failing logic.

[2022-01-10 22:11] MaxRink commented on #1474
Also one very important part i discovered:
The CPI 1.21.x, which according to versionskew is a supported version for k8s 1.20.x, sets both topology labels on new nodes!

[code]

[2022-01-11 16:58] #1474 closed

[2022-01-13 16:42] ntrishal opened #1478 "Need guidance for Thick disk provisioning support for VMFS datastore"
kind feature

Based on the link:
 https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/features/vsphere_csi_migration.md

diskformat is not supported by vSphere CSI plugin. And thin provisioning seems to be the default. Thick provisioning is supported only for VSAN.

Is there any plan to support thick provisioning for VMFS datastores, in near future for CSI driver?

[2022-01-13 19:39] dhancock07 opened #1479 "Unable to Provision PC/PVC"
/kind bug

**What happened**:

Deployment of postgresql pvc's stuck in a "Pending state"

d>irektiv-instance1-rh8n-pgdata   Pending                                      k8s-storage-policy   51m

Error output from pvc:

1 master and 2 worker nodes have providerID's:

And I am showing csinodes registered:

**What you expected to happen**:

PVC in bound state/created

**Environment**:
- csi-vsphere v

[2022-01-15 20:04] tgelter commented on #686
/remove-lifecycle rotten

[2022-01-16 01:32] #1226 closed

[2022-01-18 07:16] LinAnt commented on #341
This is still happening in a cluster running 2.3.0. We will upgrade to 2.4.x now, and afterwards I will bump the log levels to see what is actually going on..

[2022-01-18 07:16] LinAnt commented on #341
/remove-lifecycle stale

[2022-01-18 23:05] #1203 closed

[2022-01-20 04:32] dharapvj opened #1488 "Volume Expansion Procedure for migrated volumes?"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report

/kind bug

**What happened**:
We deployed vsphere-csi-controller on existing kubernetes cluster which was using in-tree provider. The PVCs were migrated automatically by the controller.
We are able to expand the freshly created PVCs but when we try to expand existing PVCs, we get errors as below.

[code]

I have seen #300 - which has explic

[2022-01-24 12:42] jsafrane commented on #579
/reopen

I can still see TODO item in the driver code: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/9aca4b20c92bea8d43fb2b8165b91894741fd6b4/pkg/syncer/metadatasyncer.go#L1049-L1052

[2022-01-24 16:44] tgelter commented on #1290
/remove-lifecycle rotten

[2022-01-24 16:44] tgelter commented on #1290
Hello @divyenpatel, would you please respond? Thanks!

[2022-01-24 16:44] tgelter commented on #607
/remove-lifecycle stale

[2022-01-24 17:33] tgelter commented on #1210
/remove-lifecycle stale

[2022-01-27 15:55] #631 closed

[2022-01-29 21:12] #1466 closed

[2022-01-31 14:02] MarkMorsing commented on #686
Any updates on this?

Having large kubernetes enviorments without DRS is crazy.
Also, enabling DRS on a kubernetes datastore breaks the FCD path, thus breaking the persistent storage function

[2022-01-31 14:48] MarkMorsing commented on #709
Status on this?
Forced Thin provisioning and no DRS will end up critical.
It'd be better to force thick at least...

[2022-01-31 18:06] tgelter commented on #709
Real-world example of this issue which we experienced: #1210

[2022-01-31 19:58] jingxu97 commented on #686
@MarkMorsing, could you provide some details on how enabling DRS on a kubernetes datastore breaks the FCD path? Thanks!

[2022-01-31 20:13] MarkMorsing commented on #686
@jingxu97
SDRS breaks FCD path when this occurs:

Server-A has a PV mounted.
A SDRS is triggered and migreres Server-A to a datastore with more free space.
SDRS triggers file rename on all VM files to ensure consistensy, so the GUID on the PV.vmdk is renamed to the server name.vmdk (Server-A.vmdk).
And since the disk is also moved out of the FCD folder and into Server-A’s folder.

Example:
Datasto

[2022-01-31 20:41] tgelter commented on #775
/remove-lifecycle stale

[2022-01-31 21:26] jingxu97 commented on #686
@MarkMorsing just to confirm are you using in-tree or CSI to provision volume?

If using CSI, I think PV users volume handler which is not related to path, for example

[code]

[2022-02-01 00:47] lipingxue commented on #1334
@tdewin

Which CSI version and vSphere version do you use?

1. When "csi-auth-check" is "true",  you cannot create the pvc? If that is the case, could you try to repro this after increase the log level of vsphere-csi-controller and vsphere-syncer container?  (You need to edit the vsphere-csi-controller service to change LOGGER_LEVEL of vsphere-csi-controller and vsphere-syncer container from PRODU

[2022-02-01 07:49] MarkMorsing commented on #686
@jingxu97 we are using CSI version 2.2.2, and it expects the FCD filepath and name.

we’ve had multiple lost PVs due to this.

also we’re not using vsan but regular FC VMFS datastores

[2022-02-01 18:15] tgelter commented on #793
/remove-lifecycle rotten

[2022-02-01 18:16] jingxu97 commented on #686
I am using VMFS datastore too. I can see the volume is under fcd directory, but in PV spec, the volumeHandle does not use path, just a id (different from vmdk file name)

[2022-02-01 18:23] MarkMorsing commented on #686
@jingxu97
Yes but if you attach the PV to a VM, then storage migrate the VM then the PV, will be moved out of the FCD folder, and everything will go bad from there.

Try it

[2022-02-01 18:54] jingxu97 commented on #686
Yes, I tried it and it is working after storage migration. the vmdk file name and path are changed completely, but volume Handler remains the same.

[2022-02-01 18:56] MarkMorsing commented on #686
@jingxu97
Ours was done automaticly and after that we Can no longer de-attach or attach the volume to another node

[2022-02-01 19:03] msau42 commented on #686
@MarkMorsing can you paste your PV spec so we can verify which volume driver you are using? The CSI driver's spec uses ID, not path in its attributes.

[2022-02-01 20:10] heilerich commented on #686
I do not have a suitable test environment right now to verify, but, if I remember correctly, the problem should not be in the CSI driver itself.

The CSI driver indeed uses the ID of the CNS Volume (a object within vSphere) in the PV spec. When the VMDK files are renamed and moved by SDRS, this connection is not affected. But in a second step, when the CSI driver asks vSphere to mount the disk, vS

[2022-02-01 20:23] jingxu97 commented on #686
For my testing, after storage migration, I do delete pod which trigger volume unmount and detach  and create new pods which trigger volume attach and mount on different node, it is working.

[2022-02-02 07:59] vrabbi commented on #686
@MarkMorsing what vcenter version are you on? Changes were made in CNS in 7u2 and 7u3 that help address storage migration. Its not 100% yet but it does work in many use cases

[2022-02-02 08:03] MarkMorsing commented on #686
@msau42 Here are the PV specs:
"csi": {
"driver": "csi.vsphere.vmware.com",
"fsType": "ext4",
"volumeAttributes": {
"storage.kubernetes.io/csiProvisionerIdentity": "1633738834268-8081-csi.vsphere.vmware.com",
"type": "vSphere CNS Block Volume"
},
"volumeHandle": "dd6552f3-b1f1-40cc-bd38-59a2d68c2683"
},

@jingxu97 that's strange, whenever we try to remount a volume, it states that it can't find it

[2022-02-02 08:09] vrabbi commented on #686
I believe the actual change may have been only in u3 but i dont remember off the top of my head right now

[2022-02-02 08:09] vrabbi commented on #686
It has worked for me in 7u3c as well

[2022-02-02 08:13] MarkMorsing commented on #686
@vrabbi Hmm i don't see anything i vCenter 7.u3x release notes about improvements to the CNS? Can you point me in the direction before i start planning an upgrade.

Also we kinda need a 100% fix, can't run a production enviorment on something that works 80% of the time :)

[2022-02-02 08:15] vrabbi commented on #686
As its not 100% i dont believe it was added to release notes. This indeed needs more backend work and then im sure they will announce it

[2022-02-02 08:21] vrabbi commented on #686
#1192 explains what has been added in 7u3 but it is not part of csi yet.

[2022-02-02 08:33] MarkMorsing commented on #686
@vrabbi That's great, but it should really be a top priority to get it integrated in the csi. It'd boost stability and usability quite a bit

[2022-02-02 20:47] jingxu97 commented on #686
I am using vcenter 6.7u3, it works.

[2022-02-02 22:00] tgelter commented on #641
/remove-lifecycle stale

[2022-02-05 16:14] #962 closed

[2022-02-08 09:35] LinAnt commented on #341
And here are some kubelet logs from the node:

[code]

[2022-02-08 20:47] alinaryan opened #1544 "csi driver unable to read config map (Windows)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to enable vSphere CSI with a Windows node on OpenShift and the vsphere csi driver is unable to get the `internal-feature-states.csi.vsphere.vmware.com` config map.

**What you expected to happen**:
driver reads the `internal-feature-states.csi.vsphere.vmware.com` config map and node driver registrar is able to regi

[2022-02-09 22:08] divyenpatel commented on #1544
@alinaryan from the below log looks like CSI Node Daemon set is not able to reach the API server.

Do you have any such restriction in your deployment that Node Daemonset Pod can not communicate with the API server?

Is your Pod networking configured correctly?

[2022-02-09 22:23] divyenpatel commented on #1479
@dhancock07

the error says `error listing CSINodes: the server could not find the requested resource`.

Do you see CSINodes objects are present on the k8s cluster? Do you see CSI Node Daemonset pods are up and running on the k8s cluster?

You are using driver:v1.0.2 on k8s 1.22. We have deprecated v1.0.2 release of the driver.

please refer to the latest "Compatibility Matrix for vSphere Containe

[2022-02-10 07:06] ahrtr commented on #1544
I see this error as well. Note that it might be OK.

When the file `vsphere-csi-driver.yaml `is applied, then the configmap may not be created yet when the csi-node is running. Accordingly the csi-node crashes and restarted automatically. Eventually it will be running well.

So it shouldn't be a big deal. But some test cases fail, so I will let @xiaoping8385 to work together with the CSI QA team t

[2022-02-10 11:49] #1186 closed

[2022-02-10 22:52] ahrtr commented on #1544
In my environment, when the csi-node is working well after it restarts. Based on the log you provided, it seems that there is a network connection issue between the csi-node daemonSet and the apiserver, just as @divyenpatel pointed out. I think it should be what you need to investigate.

[2022-02-11 17:46] MaxRink commented on #1213
/remove-lifecycle stale

[2022-02-14 18:53] mohideen opened #1567 "Kubernetes 1.23 support timeline"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The [compatibility matrix](https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-D4AAD99E-9128-40CE-B89C-AD451DA8379D.html) says that the latest csi version 2.4.1 is compatible with k8s versions 1.20 to 1.22.

When can we expect the support k8s version 1.23?

*

[2022-02-14 22:05] jedimt opened #1570 "Cloud provider: No Virtual Center hosts defined"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vsphere-cloud-controller-manager pod is stuck in CrashLoopBackoff.

**What you expected to happen**:
The pod to deploy and remove the NoSchedule taints from the worker nodes.

**How to reproduce it (as minimally and precisely as possible)**:
I am following the instructions [here](https://cloud-provider-vsphere.sigs.k8s.io

[2022-02-15 16:11] Bo-Zi opened #1574 "Rancher. taint {node-role.kubernetes.io/etcd: true}, that the pod didn't tolerate"
/kind bug

**What happened**:
Can't install vSphere CSI (100.1.0+up2.3.0) chart in Rancher 2.6.3 RKE.
vsphere-csi-controller Pod stucks in Pending state with error:
`0/2 nodes are available: 1 node(s) didn't match Pod's node affinity/selector, 1 node(s) had taint {node-role.kubernetes.io/etcd: true}, that the pod didn't tolerate.`
The chart install fails to wait for pod to start.

**What you expec

[2022-02-16 21:18] bauerjs1 commented on #622
I am facing a similar problem. I see volume stats on some of the PVs, indepentent from their creation time or size. I am currently on v2.2.0

@sunchill06 have you found a solution in the meantime?

[2022-02-21 16:56] heilerich opened #1590 "PV stuck in unattached state"
/kind bug

**What happened**:

A PersistentVolume is permanently stuck in an unattached state. The vsphere-csi regularly tries to attach the volume to a node, but fails receiving `The operation is not allowed in the current state` from vCenter. This error also shows up in the vSphere UI as a failing a `Task: Attach a virtual disk` on the node's event view.

The error first occurred without human i

[2022-02-22 15:48] philipp1992 opened #1593 "Disks not getting deleted (deleteDisk=false)"
Hi,

we are running latest CSI driver on OpenShift 4 (kubernetes 1.21).
Sometimes it happens, that when a PV gets deleted, the corresponding vmware disk is not deleted.
In the logs of the syncer i can see the following:

<html>
<body>

{"level":"info","time":"2022-02-16T07:38:09.650572135Z","caller":"syncer/fullsync.go:288","msg":"FullSync: fullSyncDeleteVolumes: Calling DeleteVolume for volume 4a

[2022-02-22 16:38] tgelter commented on #1590
This issue is likely a duplicate of #359.

[2022-02-22 17:04] heilerich commented on #1590
I agree that the linked issue seems quite similar. The event that triggers the issue is probably the same (i.e. node removal before the volume detachment process is 100% complete).

There are some slight differences though
- The CSI logs in the linked issue complain about a missing node. The logs in our case complain about vCenter refusing to attach the CNS Volume (i.e. `The operation is not allow

[2022-02-23 13:08] #579 closed

[2022-02-23 13:28] hrbasic opened #1597 "Failed to update cnsvolumeoperationrequests.cns.vmware.com"
/kind bug

**What happened**:
After deploying K8S cluster 1.22.5 and  vSphere Container Storage Plug-in with kubespray, pod vsphere-csi-controller is in failed state.

Logs:

{"level":"info","time":"2022-02-23T13:12:12.931746648Z","caller":"vsphere/virtualcentermanager.go:121","msg":"Successfully registered VC \"vc-apac-anc.domain.local\"","TraceId":"0221fc05-679e-4dec-bbec-bbe0f2930836"}
{"level"

[2022-02-23 14:26] #1444 closed

[2022-02-24 10:55] jsafrane opened #1600 "CSI migration does not work with in-line volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority important-soon

**What happened**:
Enable CSI migration with CSI driver v2.4.1 + run in-tree vsphere tests. These two fail reliably:

[code]

**What you expected to happen**:
The test should pass.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Anything else we need to know?**:
I think this was worki

[2022-02-24 11:08] jsafrane commented on #1600
Driver logs show that ControllerPublish fails with "failed to get VolumeID from volumeMigrationService":

[code]

[2022-02-24 15:58] hrbasic commented on #1597
Solved by installing storage plugin manually, for some reason it doesn't work when you install it with kubespray.

[2022-02-24 15:58] #1597 closed

[2022-02-28 02:56] Rock981119 opened #1615 "Alternative Images Repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

Is it possible to provide mirror repositories other than k8s.gcr.io and gcr.io. There are currently obstacles to accessing these two Repo in your region.

projects.registry.vmware.com contains CPI and CSI, but the specific path and Tags are not clear.

[2022-03-01 16:59] MaxRink opened #1621 "Volume binds fail with 'vim.fault.InvalidState'"
/kind bug

**What happened**:
We upgraded our Cluster using CAPI. After that upgrade ll volume binds are failing with 'CNS: Failed to attach disk when calling AttachDisk:Fault cause: vim.fault.InvalidState' and im seeing
![image](https://user-images.githubusercontent.com/4894735/156213591-336a55e5-6b2f-4ff7-b527-3ae1fa0521aa.png)
in the vCenter
**What you expected to happen**:
volume binds work

*

[2022-03-02 22:36] xing-yang commented on #1600
/assign @divyenpatel

[2022-03-03 20:00] tgelter commented on #1290
It seems that this issue relates only to vSAN volumes. If we're not leveraging vSAN, is there any reason we'd need to continue using `hostNetwork: true`?

[2022-03-04 11:26] torbendury commented on #1416
@lakxtxue @jwhb Did you manage to solve this issue? We are experiencing similar problems.

[2022-03-04 20:09] divyenpatel commented on #1567
https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.5.0 is released with Kubernetes 1.23 support.

[2022-03-04 20:09] #1567 closed

[2022-03-07 05:25] #1325 closed

[2022-03-07 23:55] cagataygurturk opened #1629 "nodeuuid field in CSINodeTopology CRD is not correctly populated on 2.5"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

I have a cluster that runs very well with v2.4.1 but after upgrading to v2.5, I am facing an odd issue where all the vsphere-csi-node's are crashing with the following error:

[code]

When I dug into  the issue, I have noticed that the csinodetopology resources are throwing an error:

[code]

For this node, the Provider

[2022-03-08 01:31] BaluDontu commented on #1629
Hi @cagataygurturk,

Can we know what is the OS version you are using on the worker node where it's failing. Use below command

# uname  -a

[2022-03-08 07:44] cagataygurturk commented on #1629
Hi @BaluDontu . The workers are Ubuntu 20.04 LTS. In these workers the UUID in /sys/class/dmi/id/product_uuid seem to be equal to VM UUID's, so a conversion would not be needed.

I have workarounded the problem by setting https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/c3be0f6739bd8e5c451ce8eaec6fca538faaf243/manifests/vanilla/vsphere-csi-driver.yaml#L154 to false, so CSI uses the node

[2022-03-08 13:53] philipp1992 opened #1631 "Windows: Media is write protected after moving PVC between nodes"
Hi,
we are using the vsphere csi vanilla 2.5.0 with latest csi-proxy for windows nodes. Windows version :20H2
Mounting and writing to a vsphere block PVC from a windows container works without problems.

Once the container and pvc moves to a different node, when writing to the mountpoint we get: "The media is write protected".
After moving it back to the first node, it works again.

[2022-03-10 08:50] sepplK commented on #1631
Hi,

same Problem with Windows Server 2022 and CSI Proxy 1.0.2.

The volume is write protected on system level.

Removing the readonly attribute with diskpart ("attributes disk clear readonly") works,
but unmounts the volume from the container.

Is this a csi-proxy or windows api problem?

[2022-03-10 20:10] BaluDontu commented on #1629
@cagataygurturk Our test pipelines also verify on Ubuntu 20.04.02 and we found this

[code]

This doesn't seem to match VM UUID - "422dfa75-70ee-8c87-b4ae-642ee0781fb5" directly. It needs to converted using this - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/node.go#L355.

Can you please verify hardware/BIOS version that you are using. We use below for our test

[2022-03-11 11:56] cagataygurturk commented on #1629
Sure, my BIOS information is here, which seems equal to what you posted:

[code]

Some outputs from one of my worker nodes:

[code]

[code]

[code]

Other workers, which are placed on other ESXi hosts are yielding similar results.

The curious thing is, CPI is able to populate the ProviderID correctly.

[2022-03-11 19:36] divyenpatel commented on #1600
@jsafrane we added this change https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1398
so we do not have any race between syncer and controller container while registering vmdk as FCD.

the reason we added this is

it is expected that controller publish will fail when the volume is not yet registered by syncer.
once the volume is registered by the syncer controller publish will be successf

[2022-03-11 19:41] jsafrane commented on #1600
@divyenpatel It's OK to fix a race, but it's not OK if a Pod takes 20 minutes to start. In-line in-tree volumes are unusable now. How long should it take to sync the volume?

[2022-03-12 07:48] sysnasri commented on #1597
@hrbasic How did you create it manually?

[2022-03-12 19:13] sepplK commented on #1631
Changing the NewDiskPolicy to OnlineAll fixed it for me:

`Set-StorageSetting -NewDiskPolicy OnlineAll`

[2022-03-12 21:34] #266 closed

[2022-03-14 08:10] burkhat commented on #1631
In our environment this setting solves the issue, too.

[2022-03-14 19:23] divyenpatel commented on #1600
@jsafrane This PR will help with quicker registration of in-tree vSphere inline volumes - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1636

[2022-03-15 00:54] BaluDontu commented on #1629
CPI directly queries VC to get the UUID and populate the Provider ID. So VC would always give the correct info. But in node daemonset doesn't have credentials to VC and would need to retrieve it from guest OS only.

[code]

If you see here the BIOS version is 2.4 and the BIOS version which we tested on is 2.7. The Linux kernel has a code which re-arranges the characters of original UUID into `prod

[2022-03-15 07:44] cagataygurturk commented on #1629
Could you tell me how do I upgrade my BIOS to 2.7? I am using VM version 15 for maximum compatibility but I am fine with upgrading it little bit to workaround. (I assume the BIOS version is determined by VM versions)

[2022-03-15 16:32] BaluDontu commented on #1629
@cagataygurturk I have a fix - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1637 which will address the issue irrespective of BIOS version.

I am not sure about this. I will find out and let you know.

[2022-03-15 17:09] SandeepPissay commented on #1210
@tgelter We are looking at vSphere 8.0 timeframe to support thick volume provisioning. In parallel, we are working on tooling to move (svMotion) volumes from one datastore to another. Please get in touch with the engineering and PM teams via VMware accounts team for details.

[2022-03-15 19:22] gnufied opened #1641 "Sometimes vsphere syncer fails to sync metadata with unable to acquire file lock"
It looks some sync fail with following error:

[code]

The key message is:

[code]

Is vsphere syncer racy? Is this because of concurrent actions happening against same volume?

cc @RaunakShah @divyenpatel

[2022-03-15 20:27] #1629 closed

[2022-03-17 11:07] hrbasic commented on #1597
Hey, It looks like this doesn't work when you install vsphere-csi with kubespray, just follow official documentation: https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0AB6E692-AA47-4B6A-8CEA-38B754E16567.html

Because it looks like installation with kubepspray is not tested: https://github.com/kubernetes-sigs/kubespray/issues/8045

[2022-03-18 19:01] #1600 closed

[2022-03-18 19:44] gnufied commented on #1641
It appears to be ` 7.0.2 ` - build 17920168

[2022-03-21 13:36] ThoSap commented on #1416
Is there anything further I can provide that helps to debug this issue?

[2022-03-21 13:57] jsafrane opened #1653 "CSI migration does not work with pre-provisioned volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Enable CSI migration with today's master + run in-tree vsphere tests. These fail reliably because the CSI driver can't attach theirs volume(s) to a node:
[code]

**What you expected to happen**:
All tests pass.

**How to reproduce it (as minimally and precisely as possible)**:
Just run vSphere in-tree tests that are availa

[2022-03-21 15:09] jsafrane commented on #1653
On the positive side, all in-line volume tests passed!

[2022-03-21 17:12] indreek opened #1655 "Decouple vSphere Container Storage Plug-in from vSphere CPI."
Hi.

I'm new to this plugin. What does it mean exactly? Is this manual still valid https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0AB6E692-AA47-4B6A-8CEA-38B754E16567.html?  Do i need to install https://raw.githubusercontent.com/kubernetes/cloud-provider-vsphere/release-$VERSION/releases/v$VERSION/vsphere-cloud-controller-manager.yam

[2022-03-21 19:05] carlosonunez opened #1658 "Error message should be clearer when ReadWriteMany PVCs attempts to request volumes from TKGS clusters without vSAN File Services enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

PVCs requesting `ReadWriteMany` access to volumes provisioned by `vsphere-csi` within vSphere with Tanzu were stuck in a `Pending` state. This occurred because the Supervisor Cluster from which this workload cluster was provisioned did not have File Services enabled.

**What you expected to happen**:

A Kubernetes event

[2022-03-22 08:21] indreek commented on #1655
For sure i know that the current manual is not working. Does anyone have manual that is actually working?

[2022-03-22 13:09] bnason opened #1661 "failed to get CsiNodeTopology for the node"
**What happened**:
`vsphere-csi-node` DaemonSet `node-driver-registrar` fails with `failed to get CsiNodeTopology for the node`

[code]

**What you expected to happen**:
The only information I can find on CSINodeTopology with respect to this driver is on the guide [Deploying vSphere Container Storage Plug-in with Topology](https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmw

[2022-03-22 17:11] shalini-b commented on #1661
@bnason Can you describe the `vsphere-csi-controller` pod running in `vmware-system-csi` namespace and paste the output here? Also, can you also paste the output of the command `kubectl logs <vsphere-csi-controller-pod-name> -n vmware-system-csi -c vsphere-syncer` from all your controller pods.

[2022-03-22 20:16] addyess commented on #1661
I've encountered this same issue.  I see a `vsphere-syncer` container within the `vsphere-csi-controller-797d86f788-7lxgd` pods -- but those pods are all pending

[code]

in my case they are pending due to
[code]

[2022-03-22 20:16] BaluDontu commented on #1655
Yes this manual - https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0AB6E692-AA47-4B6A-8CEA-38B754E16567.html is still valid.

Previously there is a tight dependency of vSphere CSI on vSphere CPI to set the Provider ID on the node.

With Decouple vSphere Container Storage Plug-in from vSphere CPI, what it says is
1. You can continue to

[2022-03-22 20:29] addyess commented on #1661
Seems the issue is somewhere in here

[code]

current taints on nodes appear correct, so node-selectors should work
[code]

[2022-03-22 20:38] addyess commented on #1661
does it have anything to do with the `replicas: 3` when there's only 1 master node for the `vsphere-csi-controller` deployment?

[2022-03-22 20:47] addyess commented on #1661
Looking over my node's LABELS, i noticed that the node-selector actually didn't match any of the node's labels

[code]

by labeling the node appropriately, i was able to get the deployment running

[2022-03-22 21:49] addyess commented on #1661
However, i'm still having an issue with the driver not being able to identify the nodes:

[code]

and the `vsphere-csi-node-*` pods are in crashloopbackoff

[code]

So, i'm still stumped

[2022-03-23 10:07] ThoSap commented on #1416
Here you have a DEBUG error message log of another VMDK that has the same `CnsFault error: VSLM task failed` error (found in deployment `vsphere-csi-controller` in container `vsphere-csi-controller`):
[code]

[2022-03-23 10:26] ThoSap commented on #1621
Probably the same issue as https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1416

[2022-03-23 10:29] ThoSap commented on #1590
Probably related to https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1416 but in our case, we also did not delete any node from the k8s cluster.
This just happens randomly 😭

[2022-03-23 10:31] ThoSap commented on #1213
Maybe related to https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1416 ?

[2022-03-23 14:30] indreek commented on #808
Just a comment. I have AD user with very long name.

vsphere-csi-prod-tools@domain.local and pre windows 200 username is: domain.local\vsphere-csi-prod-too.

![image](https://user-images.githubusercontent.com/5476647/159722801-dfeba624-9739-452b-b2b8-c55769d89f14.png)

vs

![image](https://user-images.githubusercontent.com/5476647/159722946-fa698fd0-78d1-4cae-9561-d3a1411ae2d6.png)

Soo keep this

[2022-03-23 16:19] ThoSap commented on #1416
We changed the log level of the ESXi v7.0 Update 2 Build-18538813 (A07) service `vpxa` (vCenter Server Agent) on the ESXi host (the hypervisor where the k8s worker VM is running and the `VSLM task failed` or `The operation is not allowed in the current state.` error occurred) to `trivia`.
The log level was changed liked this using SSH onto the ESXi host:

[code]
In the Gist below you find the `/va

[2022-03-24 06:46] dhlfs opened #1667 "Can i create ReadWriteMany pvc on VVOL datastore?"
**This form question about feature**:

 /kind feature

**What happened**:
Trying to create pvc with ReadWriteMany option enabled and get error:
[code]

**What you expected to happen**:
Trying to create pvc with ReadWriteMany option

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:  gcr.io/cloud-provider-vsphere/csi/release/driver:v2.4.1
- vsphere-cloud-controller-manage

[2022-03-24 16:19] jorotg opened #1668 "Failed to provision volume - NotAuthenticated"
/kind bug

**What happened**:
We are running Vanilla Kubernetes cluster deployed with kubespray in vSphere 7.0.2.00500.
Whatever helm chart we've been trying to install lately gets stuck in Pending status. For example mysql helm chart:

[code]

**What you expected to happen**:
We expect PV to get created successfully and mysql chart to be fully operational.

**How to reproduce it (as minimally and

[2022-03-25 11:44] Moezenka commented on #1416
I am experiencing the same problem and i have opened a ticket with VMware.

I was told that the engineering team suspects that this is a vCenter issue and that it should be solved in the coming versions.

[2022-03-25 15:59] heilerich commented on #1590
We also started experiencing this issue without the deletion of any nodes. It is now also happening simply when a volume is re-mounted (i.e. when a pod is re-created). We are in contact with vmware support to further investigate the issue.

We are also seeing more evidence that this issue is not a bug in vsphere-csi but ESXi/vSphere/CNS. Specifically, we noticed that the disks belonging to the con

[2022-03-25 16:03] mirisu2 opened #1671 "Error: Datastore: specified in the storage class is not accessible to all nodes."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
After creating a pvc referencing the default storage class, the following error is thrown and the state of the pvc remains in Pending.

**What you expected to happen**:
I expected the pvc will be normally bound.

**Anything else we need to know?**:
The specified datastore is accessible on all nodes of the cluster

[2022-03-26 08:01] jorotg commented on #1668
Turned out that the vCenter name has been changed (and most likely the certificate too) and the Secret vsphere-config-secret were still holding the old VC name. Resolving.

[2022-03-26 08:01] #1668 closed

[2022-03-26 23:42] cagataygurturk commented on #1629
I have confirmed that in the new release this problem was solved. Thanks @BaluDontu !

[2022-03-29 09:52] #1671 closed

[2022-03-29 09:53] mirisu2 commented on #1671
The problem was with account

[2022-03-30 13:14] tandrez commented on #1661
Hello,

I have a similar issue.

Container `node-driver-registrar` in `vsphere-csi-node` daemonset fails with error:
[code]

Pod `vsphere-csi-controller` describe:
[code]

Pod `vsphere-syncer` logs:
[code]

[2022-03-30 13:45] indreek commented on #1661
@tandrez what is the log output of pod vsphere-csi-controller?

[2022-03-30 13:51] tandrez commented on #1661
[code]

[2022-03-30 13:56] indreek commented on #1661
@tandrez show me your vsphere-config-secret (csi-vsphere.conf)

[2022-03-30 13:59] tandrez commented on #1661
[code]

[2022-03-30 14:21] indreek commented on #1661
I'm new to this plugin also.

What i did: I tried to list all nodes and datastores with https://github.com/vmware/govmomi/blob/master/govc/USAGE.md. Try if you can do it same.
I used AD accounts and username didn't work like this. Eventually i had use usename in DOMAIN\user format. But what i discovered was that if something is missing in conf, it gave similar errors.

Are you following this manua

[2022-03-30 14:59] tandrez commented on #1661
I can list objects with `govc` without any problem.

I am deploying with Kubespray but I also checked the VMware docs and as far as I can tell, the configuration seems OK.

[2022-04-01 14:59] Invader007 commented on #341
I'm wondering if this log entry could be right:
"Datacenter: Datacenter [Datacenter: Datacenter:datacenter-21, VirtualCenterHost: 10.22.34.1]]"

I mean. Datacenter as  Key:value list where the Datacenter value is a key:value string?

[2022-04-04 22:09] divyenpatel commented on #1653
Refer to this documentation
https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-968D421F-D464-4E22-8127-6CB9FF54423F.html

Ensure to add the following annotations before enabling migration for statically created vSphere in-tree Persistent Volume Claims, and Persistent Volumes. Statically provisioned in-tree vSphere volumes cannot be migra

[2022-04-05 10:31] jsafrane commented on #1653
Why? Looking at the code, the PV annotation is used only in `isValidvSphereVolume`, which can be trivially extended to check also `pv.Spec.VsphereVolume != nil` . What other benefit the annotation has?

[2022-04-05 11:38] zhoudayongdennis opened #1692 "vsphere-csi-controller version 2.3.1 can not be startup with selinux as enforcing, but could be up with permissive mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
after upgrade vsphere csi to 2.3.1, this issue could be reproduced.

**What you expected to happen**:
vsphere CSI should be up with enforcing selinux configuration

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version: 2.3.1
- vsphe

[2022-04-05 15:33] divyenpatel commented on #1653
We should not kick off volume migration as soon as the driver is installed. Only when k8s annotate volume, the driver can pick it up for the migration process.
If Volume is ready for migration or not should only be controlled by the Kubernetes and not by the driver.
This is the reason we rely only on the `pv.kubernetes.io/migrated-to` annotation.

[2022-04-06 17:25] divyenpatel commented on #1653
Driver config-map has driver's feature states. This feature is already enabled in the driver.
If customer install a driver with the migration feature enabled, and if customer has in-tree vSphere volumes, the driver should not start registering volumes, until migration is enabled on k8s.

vSpehre CSI Driver waits for `pv.kubernetes.io/migrated-to` annotation added on the PVC and PV, and this happen

[2022-04-06 22:11] gnufied commented on #1653
Does CSI driver even receives any of publish-unpublish calls for the volume - if migration is not enabled? Is there a harm in assuming migration enabled for all incoming RPC calls if the config-map has the aforementioned value set to true?

Is this because of the way syncer is setup -  to syncs metadata of volumes on *all* pod update events - even though it has not received any CSI calls from k8s

[2022-04-07 04:52] divyenpatel commented on #1653
CSI driver should not get requests to publish - unpublish calls to attach or detach volume unless PV has `pv.kubernetes.io/migrated-to` annotation for the vSphere CSI Driver.
without this annotation on PVC/PV, the volume will be attached and detached from node VM using the in-tree vSphere volume plugin.

[2022-04-10 15:30] bnason commented on #1661
So for my setup, this issue was caused by the vSphere CPI not working correctly and thus not untainting the nodes which never allowed the csi pods to run and I believe one of them is responsible for creating the CRD.

My CPI issue is documented here: https://github.com/kubernetes/cloud-provider-vsphere/issues/614

[2022-04-11 08:56] zhoudayongdennis opened #1703 "question -- co-exist between in-tree volume and out-of-tree volume in one Kubernetes cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when wen perform the cluster upgrade from kubernetes 1.20 to 1.21 on vcenter infra-structure, have the following question/concern.

a. before upgrade, there were in-tree volumes created by applications with in-tree related storageclass
b. after upgrade, CPI & CSI feature have been introduced with one extra CSI related sto

[2022-04-12 01:52] jingxu97 commented on #1274
I also observe the similar issue. Some details from the log

1. volume is attached to node1 successfully
2. volume is detached to node1 successfully (but strange thing is detach is called twice consecutively and the second time it logs volume is not found)
3 volume is trying to attached to node2, but failed with not found error

[code]

[2022-04-12 01:59] xing-yang commented on #1274
/remove-lifecycle stale

[2022-04-12 02:45] jingxu97 commented on #1274
vSphere version 7.0u3
CSI driver: 2.4.0

The test (anthos storage qualification test) is designed to move the pod to a different node and then access the same volume.

[2022-04-12 17:06] jingxu97 commented on #1274
From our testing, looks 6.7u3 is ok, but 7.0 failed very often

[2022-04-12 17:52] jingxu97 commented on #1274
Also another issue related to this test is since attach volume failed with "not found" error, attach_detach_controller will mark volume as uncertain, and try to detach volume when pod is deleted, however detach also failed with "not found" error

[code]

[code]

[2022-04-12 23:26] xing-yang commented on #1274
@jingxu97 I see that the error says "CNS: Failed to retrieve datastore for vol ...".  Is there anything happening to the datastore?

[2022-04-13 18:59] jingxu97 commented on #1274
I don't think there is datastore evacuation happening.

This specific test flaky is "an existing volume should be accessible on a new node after cluster scale up" from Anthos qualification test. I think it only happened in the situation
1. pod with a volume created
2. delete pod
3. create a new node to join the cluster
4. create the pod the the new node

There are other tests that will make volume

[2022-04-13 19:57] xing-yang commented on #1274
@jingxu97 Can you provide more logs, i.e., complete CSI driver logs, CSI-attacher sidecar logs, and VC support bundle?

[2022-04-13 21:08] xing-yang commented on #1274
@jingxu97 Have you deployed 2 K8s clusters with the same cluster id?

[2022-04-14 00:59] jingxu97 commented on #1274
vsphere-csi-controller log: https://gist.github.com/jingxu97/842b05c0452d8696d98a96e56793a048
csi-attacher log: https://gist.github.com/jingxu97/0289b2277251b31a01f75b057fd47615

[2022-04-14 06:16] ThoSap commented on #1416
Hi all,

VMware support solved/workaround this issue by manually enabling Changed Block Tracking (CBT) on our existing worker nodes.
https://kb.vmware.com/s/article/1020128

As per the VMware support CBT sometimes resets (disables) in case of power failures or hard shutdown of powered on VMs.
In our case, we had a few PSODs on our ESXi caused by the issues of ESXi 7.0 Update 3b.

I hope this helps

[2022-04-14 06:17] ThoSap commented on #1621
See https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1416#issuecomment-1098747733

[2022-04-14 06:17] ThoSap commented on #1590
See https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1416#issuecomment-1098747733

[2022-04-14 19:17] heilerich commented on #1590
Thanks for the update. In the meantime we had also figured out, that this error was caused by the Changed Block Tracking feature. However, in our case, it was the other way around: CBT is disabled by default on our machines and was enabled by accident on one of the worker machines. That worker started 'tainting' every volume that was attached to it with the CBT feature flag. After that these 'tain

[2022-04-14 19:17] #1590 closed

[2022-04-14 19:55] fabiorauber commented on #1590
I had a similar issue @heilerich, but in my case the CBT feature was being activated by a backup solution for VMs, used by another team. Took me a good while to figure it out. Since I didn't find a way to disable it for a single volume, I enabled CBT for all worker VMs with a Powershell script, made sure all CNS volumes were attached to these VMs, and then disabled CBT for all worker VMs again, so

[2022-04-14 20:00] heilerich commented on #1590
@fabiorauber thanks for the tip! I will try this should I ever encounter this problem again.

Backup software seems to be the most likely culprit in this case. It was exactly the same situation for us: A backup solution backing up VMs it was not supposed to touch.

[2022-04-14 22:36] shalini-b commented on #1661
@addyess Yes you are supposed to update the replica count in CSI controller deployment to the number of master nodes in your environment. After doing this, the controller pods will start running. The CSI nodes depend on the syncer container in the controller pod to fetch certain information about the underlying environment. The nodes will not come up till the controller provides this information t

[2022-04-14 22:42] shalini-b commented on #1661
Which version of vSphere CSI are you running? You need not have to set the node labels manually. If the cloud provider you are using is doing its job correctly, it will set the required labels and remove the NoSchedule taint on the nodes. Can you confirm if this is working?

[2022-04-14 23:28] xing-yang commented on #478
This is released in 2.5. Closing it.

[2022-04-14 23:28] #478 closed

[2022-04-15 13:43] #1205 closed

[2022-04-19 08:20] torbendury commented on #1416
@ThoSap this also works for us, as it seems

[2022-04-20 07:30] a-dawg opened #1714 "persistent / independent disk mode"
**What happened**:
Using v2.5 it looks like that has changed to dependent mode. Is there any setting to control this behaviour?

**What you expected to happen**:
disk mounted as independent

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version: 2.5
- openshift version: 4.8
- vSphere version:  7

[2022-04-21 06:31] NareshKoduru commented on #341
Hello,
We are seeing similar errors in our production clusters where the pods are stuck in the INIT phase and a manual delete will fix the problem for us.
Example:
`  Warning  FailedMount  6m5s (x30 over 61m)  kubelet  MountVolume.SetUp failed for volume "pvc-c322045b-b088-4a94-ac74-233064f96190" : rpc error: code = FailedPrecondition desc = Volume ID: "0b39c9bd-577b-4add-a48a-802357b42d30" does n

[2022-04-21 06:42] zhoudayongdennis commented on #1714
I encountered the similar issue with different scenario.

a. on no CSI support Kubernetes cluster, pv was in-tree vmdk disk with independent disk mode
b. perform the cluster upgrade to the version with v2.3.1 vsphere CSI supported, but the disk mode was changed to dependent mode, and no disk size visible on vcenter dashboard.

as result, such in-tree vmdk can not be recognized by vcenter as well.

[2022-04-21 16:43] jsafrane opened #1720 "Configurable metrics ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently, the CSI driver + syncer processes open metrics port at `0.0.0.0:2112` and `0.0.0.0:2113`. This should be configurable on cmdline, both the listening address and port.

[2022-04-22 00:47] divyenpatel commented on #1714
@a-dawg @zhoudayongdennis

If you have created and attached disk to Node VM using in-tree vSphere volume plugin then the disk is getting attached as with independent mode.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go#L345

If you have enabled in tree vSphere volume plugin to CSI migration, then the disk is getting a

[2022-04-22 00:52] divyenpatel commented on #1703
in-tree vSphere volume plugin and vSphere CSI driver can co-exist on the k8s cluster.

You can also enable in-tree vSphere to CSI Migration, and hand over operations for in-tree vSphere volume to vSphere CSI Driver.

After the migration is enabled, if you create a new PVC using the in-tree storage class, the volume creation request will be delivered to CSI.

you can also create a new Storageclass

[2022-04-22 00:53] divyenpatel commented on #1703
@zhoudayongdennis close this issue if your question is answered.

[2022-04-22 00:55] divyenpatel commented on #1667
you can not.
we support creating RWM volume on the vSAN datastore only with vSAN file service enabled on the datastore.

[2022-04-22 00:56] divyenpatel commented on #1615
Can you describe where we can not access k8s.gcr.io and gcr.io public repository.

[2022-04-22 00:57] divyenpatel commented on #1720
cc: @lipingxue @SandeepPissay @gohilankit

[2022-04-22 05:50] zhoudayongdennis commented on #1714
@divyenpatel,

the in-tree volume was created with independent disk mode.

during cluster upgrade, there was no CSI migration enable, but the disk mode was changed to dependent from original independent.

the impact is the original in-tree vmdk can NOT be recognized by vcenter, and scale operation got failure.

For such scenario, where got changed for disk mode value? who did that?

[2022-04-22 14:59] divyenpatel commented on #1714
@gnufied @jsafrane Are you aware of any workflow during cluster upgrade in the OpenShift environment causing this?
Are we re-creating VM during the upgrade process and attaching these disks out of the band?

[2022-04-24 02:06] zhoudayongdennis commented on #1714
@divyenpatel,

FYI

My infrastructure was NOT on openshift, and it was on vcenter 6.7 or 7.0, so this issue seems common.

[2022-04-24 02:17] zhoudayongdennis commented on #1703
@divyenpatel,

if migration was not enable during upgrade, the in-tree volume and out-of-tree volume still could be co-exist? what's the value of cloud-provider in Kubernetes, vsphere or external?

I understand the co-existence between in-tree and out-of-tree is possible after migration enabled, and both original in-tree volume or new csi volume will be taken care of by CSI, and the value of cloud

[2022-04-25 14:22] Intellium opened #1723 "question -- Is it possible to have a volume attached to a nvme controller instead of the pv scsi controller"
/kind bug

**What happened**:
Trying to have the csi attach a volume to the existing nvme controller. Instead, the csi creates a pv scsi controller on the vm and attaches the volume to it

**What you expected to happen**:
Since there is only one storage controller (nvme) and no option to specify the controller to use, I expect the csi to attach the volume to the existing nvme controller. Another w

[2022-04-25 18:58] tgelter commented on #1192
/remove-lifecycle stale

[2022-04-25 18:58] tgelter commented on #607
/remove-lifecycle stale

[2022-04-27 12:44] nemethloci commented on #298
@RaunakShah Could you provide a link where "Is this a Windows based vCenter Server 6.7U3 you are using? That is not supported by CNS." is described stated? I checked now a couple of VMWare articles and the github pages, but I couldn't find this information.

[2022-04-28 21:26] Jellyfrog commented on #1661
Enabling "CSI full sync" causes this for me, disabling it and everything starts to work again

[2022-05-01 00:25] nick-oconnor opened #1730 "Volume provisioning fails with "invalid metadata" when using a native key provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
PV provisioning fails when using a native key provider. Specifically, I'm seeing the following messages on the ESXi host (my provider is named `provider-0`, my cluster is named `cl-0`):
[code]
and
[code]
I have the `storagepolicyname` param set to `VM Encryption Policy`. All node VM's and all disks are already encrypted us

[2022-05-01 20:35] davidkarlsen commented on #709
/remove-lifecycle stale

[2022-05-02 00:11] davidkarlsen commented on #775
/remove-lifecycle stale

[2022-05-03 15:16] jsafrane commented on #1714
No

No, we just update packages on the node, we keep the VMs alive and don't think we change their config in vSphere. It is rebooted, possibly several times though.

In addition:

We don't ship this CSI driver in OpenShift. @a-dawg must have installed the community version (which is OK, just not our fault ;-) )

[2022-05-03 18:23] tgelter commented on #793
/remove-lifecycle stale

[2022-05-03 18:29] tgelter commented on #573
/reopen

[2022-05-03 21:09] tgelter commented on #686
/remove-lifecycle stale

[2022-05-03 22:30] tgelter commented on #641
/remove-lifecycle stale

[2022-05-08 20:33] #1421 closed

[2022-05-08 20:33] #1424 closed

[2022-05-09 09:09] sathieu opened #1742 "Avoid access to vsphere API from Pods in the cluster"
**What happened**:

When using vSphere Container Storage Plugin, [a set of privileges](https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.0/vmware-vsphere-csp-getting-started/GUID-0AB6E692-AA47-4B6A-8CEA-38B754E16567.html) is needed on vSphere.

In our environnement, the vSphere API access is restricted from trusted subnets, and the Kubernetes nodes are not in those subnets (eve

[2022-05-09 09:09] sathieu commented on #1742
/label feature

[2022-05-09 09:10] sathieu commented on #1742
/kind feature

[2022-05-11 05:57] dharapvj commented on #1488
still a valid usecase. removing stale

[2022-05-11 05:57] dharapvj commented on #1488
/remove-lifecycle stale

[2022-05-11 17:28] johnlongo opened #1745 "Is there a way to specify a folder where the pvc are created in"
Right now I have two clusters running and both clusters add to the fcd folder and wanted to know, Is there a way to specify a folder where the pvc are created in?

[2022-05-12 02:35] #1745 closed

[2022-05-12 02:35] johnlongo commented on #1745
Going to open a feature request

[2022-05-15 18:16] johnwc commented on #1661
Enabling `Enable Improved Volume Topology` causes this error for us. Removing the selection and redeploying brings it online and stable.

[2022-05-16 10:30] tdewin commented on #1334
Sorry I no longer have access to this project since I posted it back then

[2022-05-18 18:27] addyess commented on #1661
@shalini-b I think i'm making forward progress, my current deployment succeeds with the deployment, but fails to launch all the containers in the daemonset:

each deamonset container vmware-system-csi/vsphere-csi-node-2pdr4:node-driver-registrar presents a similar log description:

[code]

the machine's UUID:
[code]

the machines provider-id:
[code]

both match.  But the CSI-node driver is seems t

[2022-05-18 20:18] shalini-b commented on #1661
Please note that disabling an already enabled feature in vSphere CSI driver is not supported. Kindly root cause the actual issue.

[2022-05-19 19:04] divyenpatel commented on #1730
@nick-oconnor Can you file an SR and upload vSphere support bundle?
https://kb.vmware.com/s/article/83329?lang=en_US

[2022-05-19 19:06] divyenpatel commented on #1723
For the Vanilla flavor of Kubernetes Cluster, CNS attaches volume to only PVSCSI controller.
If you have an existing NVME controller on the Node VM, they will be skipped for volume attachment.

[2022-05-19 20:16] nick-oconnor commented on #1730
@divyenpatel my VMUG account doesn't have permissions to open an issue. guess this is going to stay broken :-(

[2022-05-19 21:51] anmolguptadevops commented on #1661
hi

[2022-05-19 21:52] anmolguptadevops commented on #1661
I am also facing similar issue...anyone can help

ivsphere-csi-controller-76b656958d-7rftq   3/5     CrashLoopBackOff    8 (23s ago)     3m12s
vsphere-csi-controller-76b656958d-kfwqs   2/5     CrashLoopBackOff    21 (47s ago)    12m
vsphere-csi-controller-76b656958d-lmcg6   0/5     ContainerCreating   0               3m12s
vsphere-csi-node-4tvs8                    2/3     CrashLoopBackOff    7 (48

[2022-05-20 17:03] #1418 closed

[2022-05-21 17:55] johnwc commented on #1661
Without that disabled it will **not successfully deploy**. So there is no way to disable a feature  for a already deployed driver, when the driver can't deploy in the first place... Hence the use of the word `redeploy`, and not `reconfigure` If you want to fill me in on where to look to find the root cause for your driver failing when that is enabled, I'd be more than happy to.

[2022-05-23 12:40] jsafrane commented on #1232
/remove-lifecycle stale

[2022-05-27 19:22] anmolguptadevops commented on #1661
How to disable it ??

[2022-05-27 19:36] shalini-b commented on #1661
Which driver version are you using? Kindly use v2.4.1+ to get rid of this issue. If you are still unable to deploy the driver, collect the following logs:
For each vSphere CSI controller pod running in your env:
[code]
For any of the vSphere CSI nodes in a CrashLoopBackOff:
[code]

[2022-05-30 03:06] #1460 closed

[2022-06-03 10:33] #1348 closed

[2022-06-05 16:50] thecloudgarage opened #1774 "ReadWriteMode considerations"
I am planning to use this document https://core.vmware.com/blog/using-readwritemany-volumes-tkg-clusters for my TKG 1.4.2 cluster to provision ReadWriteMany persistent volume

Does the ReadWriteMode require all the Pods accessing the same PVC to be co-located on the same worker node?

thanks,

Ambar.

[2022-06-06 16:32] jsafrane commented on #1463
/reopen

[2022-06-06 16:33] jsafrane commented on #1463
/remove-lifecycle rotten

[2022-06-08 18:14] anmolguptadevops opened #1787 "MountVolume.MountDevice failed for volume "pvc-67406372-296b-40e9-99ea-2b8a2ff647e9" : rpc error: code = NotFound desc = disk: 6000c293a5969080c92e3381b788c634 not attached to node"
MountVolume.MountDevice failed for volume "pvc-67406372-296b-40e9-99ea-2b8a2ff647e9" : rpc error: code = NotFound desc = disk: 6000c293a5969080c92e3381b788c634 not attached to node

[2022-06-14 20:55] chethanv28 commented on #526
/remove-lifecycle rotten
/reopen

[2022-06-15 00:28] rismoney commented on #542
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2022-06-15 00:29] rismoney commented on #542
Will this driver work on nomad?

[2022-06-16 00:50] rismoney commented on #542
does it have to be this way?  seems that this is not technically csi, as that defeats the point with specific kubernetes api hooks as part of the interfacing. The mission around CSI was exposing storage and abstraction for container orchestrators, but not limited to Kubernetes.  after all its not the KSI (kubernetes storage interface)...
What would it take to course correct?

[2022-06-19 20:36] neuromantik33 commented on #565
/remove-lifecycle stale

[2022-06-24 07:20] vittico opened #1823 "Is is possible to use a proxy to reach vmware API?"
Hello,

In a not-so-common environment we need the operator to reach vmware API enpoint through a proxy, it seems there is no proxy env set. The proxy is configured clusterwide.

I am honestly not sure if adding the environment variable to enable the proxy would make anything work, as the driver would still need to be aware of the variable correct?

Is the use of a proxy supported?

[2022-06-28 22:55] divyenpatel commented on #542
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2022-07-01 08:27] #709 closed

[2022-07-01 10:31] Bo-Zi commented on #1574
seems to be OK in RKE v2.6.4

[2022-07-01 10:31] #1574 closed

[2022-07-06 11:25] defo89 commented on #775
Hello, I was wondering if there has been a decision yet to support multiple vCenters in vsphere-csi-driver? Similar to other users in this issue, we run vCenter per AZ model, so far up to 4 AZs (4 vCenters) in a region.

[2022-07-06 14:23] xing-yang commented on #1653
/remove-lifecycle stale

[2022-07-09 23:48] #1479 closed

[2022-07-10 13:51] #1653 closed

[2022-07-11 02:01] #1544 closed

[2022-07-11 18:41] tgelter commented on #709
/reopen

[2022-07-11 19:50] tgelter commented on #1210
/lifecycle stale

[2022-07-11 19:51] tgelter commented on #1210
/remove-lifecycle stale

[2022-07-11 23:21] shalini-b commented on #1418
@saintdle Did this solution work for you?

[2022-07-12 10:54] nightguide opened #1864 "ERROR failed to get shared datastores in topology after upgrade csi from v2.2.1 to v2.5.2"
/kind bug

**What happened**:
We have one instance vCenter and our topology looks like that:

Datacenter: **region=region-frc**
Cluster(Cluster_PROD01): **zone=zone-prod01**
Cluster(Cluster_PROD02): **zone=zone-prod02**

After upgrade `vsphere-csi-driver` from `v2.2.1` to `v2.5.2` we have problems with get shared datastores in topology.

[code]

from vsphere-csi-controller:

[code]

**What you exp

[2022-07-12 21:00] tgelter commented on #359
/remove-lifecycle stale

[2022-07-14 23:49] #1570 closed

[2022-07-15 11:56] #1334 closed

[2022-07-21 07:22] fplantinga-guida commented on #1864
We experienced the same problem. We fixed this by restarting the csi-node and csi-controller.

[2022-07-21 07:23] sathieu commented on #1655
/remove-lifecycle rotten

[2022-07-21 16:32] jsafrane commented on #1720
/remove-lifecycle stale

[2022-07-22 10:07] MaxRink commented on #1213
/remove-lifecycle rotten

[2022-07-22 20:04] BenB196 commented on #1667
Are there any plans to add support for RWM to something like VMFS datastores?

I have a setup which Vcenter uses an external SAN to have VMFS datastores, so vSAN isn't an option to use, but having the ability to provision RWM volumes off something (like VMFS) without the need for vSAN would be great.

[2022-07-22 20:07] BenB196 opened #1885 "[Feature] Ability to provision RWM volumes from VMFS datastores"
**FEATURE REQUEST**:

/kind feature

I would like to have the ability to provision RWM volumes from VMFS datastores.

For a Vcenter configuration like: Vcenter uses an external SAN to provision VMFS datastores (with no vSAN configuration). Currently if using a VMFS datastore only RWO volumes are supported. It would be nice to have the ability to provision RWM volumes from a VMFS datastore.

[2022-07-23 00:11] divyenpatel commented on #359
This issue is fixed with the PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1879

[2022-07-23 00:11] #359 closed

[2022-07-23 09:29] poblin-orange commented on #1823
Having the same issue. Ill try to patch vanilla manifests before deploying, setting https_proxy / no_proxy env variables

[2022-07-25 10:13] poblin-orange commented on #1823
Was successfull adding 2 env vars, https_proxy and no_proxy to csi-controller Deployment with the following json patch on vanilla k8s manifest:
[code]
NB: k8s CIDR must be set in no_proxy. The CIDR in sample are k3s CIDR.