[2019-04-18 16:07] fejta-bot opened #1 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2019-04-19 14:34] frapposelli commented on #1
/close

[2019-04-19 14:34] #1 closed

[2019-04-19 16:49] codenrhoden opened #4 "Err: No vSphere disk ID/Name found"
Migrated from https://github.com/kubernetes/cloud-provider-vsphere/issues/178

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volume failed to attach to pod after it was restarted.

**What you expected to happen**:
Volume to successfully reattach as the PersistentVolumeClaim and PersistentVolume still exist as well as the vmdk.

**How to reproduce it (as minimally and

[2019-04-25 16:36] adagioajanes opened #5 "RBAC Issue on k8s 1.14"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attempted to deploy the csi plugin following this guide. https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/deploying_csi_vsphere_with_rbac.md

When deploying the nodes and CRD, I receive this error...

[code]

**What you expected to happen**:
All pods should be reporting ready. But instead we receive

[2019-04-30 21:19] codenrhoden commented on #5
/assign

Working on this now. Docs and deployment definitely need an update for 1.14. We no longer need to create the CSINode and CSIDriver CRDs (they are native in 1.14), and we should be running the cluster-driver-registrar sidecar now. Hope to have this resolved in a couple of days.

[2019-05-01 06:13] Elegant996 commented on #4
Just a quick update, the issue is persisting using VCSA 6.7U2. Nothing new in the error log, it still could not find the appropriate disk. Thanks!

[2019-05-01 18:28] codenrhoden opened #6 "Add e2e tests for plugin that use VMC"
The goal here is have a set of tests that can run on VMC infrastructure that exercises E2E functionality of the CSI plugin.

To this end, the following tasks need to be completed:

- [ ] Add support to [sk8](https://github.com/vmware/simple-k8s-test-env) for deploying the CSI plugin
- [ ] Determine how to build an `e2e.test` binary from tests housed in this repo that use the existing K8s testing f

[2019-05-01 18:31] codenrhoden opened #7 "Add plugin tests using vcsim and KIND"
Add tests that exercise basic functionality that can be supported with vcsim, by deploying vcsim into a KIND cluster and deploying the CSI plugin.

This issue was originally at https://github.com/kubernetes/cloud-provider-vsphere/issues/74

[2019-05-01 18:52] codenrhoden commented on #7
/kind feature

[2019-05-03 21:09] #5 closed

[2019-05-07 01:52] adagioajanes commented on #5
I have followed the updated documentation, and am still hitting the same issue.

[2019-05-07 21:45] adagioajanes commented on #5
I've continued to troubleshoot, and have failed to find the issue.

I've rebuilt the cluster, and it seems to be working now.

[2019-05-08 21:22] dvonthenen commented on #4
Attempting to duplicate using latest yaml+code...

[2019-05-09 02:53] Elegant996 commented on #4
Will test again shortly with the latest topology commit.

[2019-05-09 07:16] davlloyd opened #11 "Current provisioning RBAC does not support volume creation requirements for 1.14"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When applying a PVC request provisioning the log file in the csi-provisioner pod displays permissions error that the service account is forbidden from viewing the csnodes

*log entries showing issue*:
I0509 04:16:54.362365       1 controller.go:1196] provision "default/data-1" class "csi-vsphere": started
I0509 04:16:54.3

[2019-05-09 15:22] #11 closed

[2019-05-09 20:47] dvonthenen opened #15 "When a Vmware node goes down, Kubernetes is unaware and PV isn't released"
Migrated from https://github.com/kubernetes/cloud-provider-vsphere/issues/185

Initially filed by: @d4larso

**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug

**What happened:**
If a Vmware node with a PV crashes, is shutdown or halted, Kubernetes is unaware and doesn't release the a pod's claim (PVC) on the PV.

**What you expected to happen:**
The PV should become "unattached" so the node

[2019-05-09 20:47] dvonthenen commented on #15
/assign

[2019-05-09 20:48] dvonthenen commented on #15
Currently looking at this issue...

[2019-05-10 19:07] dvonthenen commented on #15
I recreated this issue in my environment and it comes down to a bug found in k/k that does not call for a release when the node goes down. This has been observed with other storage providers.

Addressing this is dependent on this issue getting resolved:
https://github.com/kubernetes/kubernetes/issues/51835

[2019-05-10 21:59] dvonthenen commented on #4
I have tried this with a Deployment on k8s 1.14.1 using the latest build and I do not see this behavior. I am able to scale down and then scale it back up. Each time the disk is detached and then re-attached when the Deployment is scaled back up.

Controller log:
[code]

Will attempt to reproduce using a longer grace period.

@Elegant996 what version of k8s are you using?

[2019-05-10 23:07] dvonthenen commented on #4
/assign

[2019-05-11 02:47] Elegant996 commented on #4
I was able to reproduce after a number of tries. It's not an automatic fail, I could succeed in attaching 20 times in a row then fail out of the blue:

[code]

Still unsure as to what the cause is but this is common on every node in my cluster. Time also seems to play a factor, I was able to reproduce this last time but was able to immediately today.

Thanks!

[2019-05-13 18:03] dvonthenen commented on #4
@Elegant996 I have been trying to reproduce this morning, but have been unable to do so. I let the deployment sit over the weekend and I was able to scale down and up without any problems. I also have been scaling down and up this morning and have done it 30 times in total without issue.

Can you provide the following information:
- OS and version
- docker version
- VM hardware version
- type of c

[2019-05-14 10:46] jazzsir opened #17 "err: node "NODENAME" has no NodeID annotation"
I followed the document - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/deploying_csi_vsphere_with_rbac.md

Storageclass and PVC are deployed without any problems.
But when I deploy pod
I am getting the error as below

1) describe pod
[code]

2) csi-attacher logs

[code]

3) then I checked annotations on nodes but annotations for CSI are nonexistent as below, even though I

[2019-05-14 15:58] codenrhoden commented on #17
@jazzsir thanks for filing an issue. I don't have an immediate answer, but one question I have is did you also deploy the [vSphere CCM](https://github.com/kubernetes/cloud-provider-vsphere)? What version?

I should add an item to our ISSUE_TEMPLATE asking for the version of the CCM, as I can see that as important info in the future...

[2019-05-14 20:25] Elegant996 commented on #4
OS Version: Fedora 30
Docker Version: 1.13.1
Virtual Hardware Version: 14 (latest; issue persisted with 13)
Storage Type: VMFS6
Storage DRS: Disabled
VMware DRS: Disabled

Each operation is being allowed to complete before proceeding to the next. At the moment, only one StatefulSet is using the CSI StorageClass as I can backup the data to another PV in case the PVC from the CSI fails to re-attach.

[2019-05-14 20:33] dvonthenen commented on #4
@Elegant996  Have you tried using kuebadm's default supported docker version 18.06? I know 1.13.1 is technically supported, but it's very very old. I am also guessing that the most tested version will probably be the default version. I am currently using 18.06.3.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#external-dependencies

[2019-05-14 20:43] dvonthenen commented on #4
You also might be running into this issue seen in older docker versions. Mounts arent getting released.

https://github.com/moby/moby/issues/22260

[2019-05-15 04:16] jazzsir commented on #17
@codenrhoden thanks for your reply.
Actually, it's my first time to deploy CSI and CCM.

I have some questions

(1) I had deployed CCM daemon set using https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/deploying_cloud_provider_vsphere_with_rbac.md without any problems,
but I removed it to deploy CSI, because I thought there is a slimier container in the doc(https://github.com/k

[2019-05-20 21:31] Elegant996 commented on #4
The latest supported `docker-ce` is not yet available on Fedora 30 and installing the latest from the Fedora 29 repo did not launch correctly.

I ended up switching over to `cri-o` for testing purposes. I stressed one pod continuously and could not recreate the issue but was able to on a new one I created last night.

Is there a way to force release a mount? Thanks!

[2019-05-20 21:55] dvonthenen commented on #4
@Elegant996 yes there is and it captured in another k/k bug that currently exists with releasing external volumes. You can find the details here:

https://github.com/kubernetes/kubernetes/issues/51835#issuecomment-346793299

[2019-05-26 07:03] Elegant996 commented on #4
The issue is not with old pods being stuck in termination state though.

I ran some additional tests including a complete shutdown of the cluster after a `kubectl drain`. Every pod successfully restored itself but I wanted to consider other scenarios and found some lingering issues.

PVCs created through StatefulSets do not appear to reattach if the set is deleted (`kubectl delete sts`) and recrea

[2019-05-29 08:43] hsychla opened #19 "vCenter/vpxd crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
vmware-csi crashed our vcenter (vpxd service) twice.

First time after installation when playing with the first pvc.
This led me to shut down the k8s cluster because I was not sure if it was really the culprit.
I then restarted all vCenter services.

Second crash this morning when I started the k8s cluster up again.

**What you expe

[2019-05-29 17:36] dvonthenen commented on #4
@Elegant996 I haven't forgotten about this... I just got back from KubeCon EU as of this morning, but I have the normal backlog after traveling. Will take a look at this ASAP.

[2019-06-04 16:02] dvonthenen commented on #19
@hsychla unfortunately the crash log isnt really useful.

- Are all your ESX hosts at 6.7.0?
- Can you grab the logs for the CSI controller component? (You can get the log running the following command: `kubectl logs vsphere-csi-controller-0 --namespace=kube-system -c vsphere-csi-controller`)
- Have you tried using 6.7u2 (both for VC and ESX hosts)?

[2019-06-04 16:16] dvonthenen commented on #17
@jazzsir My comments are inline. I would definitely stop using CSI version 0.1.X and start deploying the latest 0.2.0 build.

Yes, that is correct.

Try using the 0.2.0 of the CSI driver. For the CCM, can you post logs on this issue.

The controller and node components are the same image just flipped to run in different modes. The duplicated container images are intentional.

Yes, the vsphere.conf

[2019-06-04 16:19] dvonthenen commented on #17
Another user had created this issue before and it's because the CCM is not running or running correctly. The CCM is responsible for creating that NodeID annotation.

[2019-06-04 16:19] dvonthenen commented on #17
/assign

[2019-06-04 16:19] dvonthenen commented on #19
/assign

[2019-06-04 16:23] dvonthenen commented on #4
Have you retested with the 0.2.0 release we just made? I was at KubeCon and had some personal time off so just trying to level set the context on this again.

[2019-06-04 17:28] Elegant996 commented on #4
Yes, I tested with 0.2.0 the moment it became available in hopes of it resolving the ongoing issue but no luck.

It may also be worth pointing out that once the volume is no longer found, deleting the PVC/PV will still leave the `vmdk` on the datastorage since it is unaware of its existence. It some cases, it may even fail and require the `finalizers` to be removed from the PV.

[2019-06-04 17:42] dvonthenen commented on #4
yup, I would expect that behavior given the current issue/behavior. Not so much worried about that because the VMDK is still there and isn't causing any kind of data loss.

[2019-06-05 14:17] dvonthenen commented on #4
Mounted elsewhere? How is this VMDK being mounted at another location?

Setting this up this morning and will wait a couple of days.

[2019-06-05 16:47] Elegant996 commented on #4
The PVC isn't deleted so you can create another pod and provide the PVC as a volume like `mypod-0`.

[2019-06-05 16:55] dvonthenen commented on #4
Yup, gotcha. Just wanted to make sure you weren't doing something like manually editing the VM to attach the VMDK out-of-band from kubernetes.

[2019-06-07 19:52] dvonthenen commented on #4
So I waited 2 days before attempting to duplicate. I was able to successfully scale back then scale up and also delete the statefulset and the mount/unmount occurred as expected.

I proceeded to create and delete the statefulset over and over again (about 25 times in total) and each time the VMDK mounted/unmounted successfully.

I am beginning to suspect that there might be an issue with your envi

[2019-06-09 17:38] Elegant996 commented on #4
I will provide an update once I am able to resume testing. Currently in the middle of a move and will be without most of my equipment for a stretch. Thanks!

[2019-06-12 18:04] codenrhoden opened #20 "Test if driver supports inline volumes in K8s 1.15"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

With support for inline CSI volumes coming in K8s 1.15 (courtesy of @vladimirvivien), we need to test the CSI driver against that feature to see if works or if any changes are necessary.

[2019-06-12 18:51] codenrhoden commented on #19
Just one thing to follow-up on...

This is not possible. 0.2.0 was released today, but this bug report is two weeks old. Can we get the exact version of the container? It is most likely either `0.1.1` or `latest`, and if `latest` it would be great if we can get the hash of the actual container that was pulled.

[2019-06-23 16:47] rust84 opened #23 "datastore migration / storage vmotion renamed volumes"
/kind feature

**What happened**:

I have successfully deployed services using vsphere csi on a local datastore. I am planning on migrating everything to an iSCSI LUN. When migrating the first node to the iSCSI datastore using storage vmotion the volumes are renamed using the node name.

![volume](https://user-images.githubusercontent.com/23284108/59979008-150b9300-95da-11e9-8d4c-5ce350f1a80c.PNG)

[2019-06-28 07:01] Elegant996 commented on #4
During my initial run of `govc disk.ls -dc <YOUR_DATACENTER> -ds <YOUR_DATASTORE_NAME> -l` I encountered an error with the specific datastore I was using to host the PVCs. I have since reinitialized the disk and it appears to list the disks without issue.

This may have been the issue the whole time but time will tell over the course of the weekend. I'll try to run it into the ground like before.

[2019-07-01 12:32] dvonthenen commented on #4
@Elegant996 ok cool. Let me know how it goes.

[2019-07-01 12:36] dvonthenen commented on #23
Hi @rust84,

Currently, Storage vMotion isn't supported. That feature will be added at the time of GA.

[2019-07-05 06:57] qw1mb0 opened #26 "controller cannot connect with credentials from the secret"
/kind bug

**What happened**:
The controller cannot connect with credentials from the secret.

**What you expected to happen**:
I created a secret as described in the example: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/deploying_csi_vsphere_with_rbac.md#2-optional-but-recommended-storing-vcenter-credentials-in-a-kubernetes-secret
[code]

And the configuration file:
[cod

[2019-07-09 03:17] Elegant996 commented on #4
Looks to have resolved itself, guess something was off with the datastore. I will keep an eye on it but this issue can be closed for now. Thanks!

[2019-07-09 14:02] dvonthenen commented on #4
@Elegant996 not a problem. if you run into this again, please reopen and include any further info/details.

/close

[2019-07-09 14:02] #4 closed

[2019-07-10 13:17] dvonthenen commented on #26
@qw1mb0 You filed a similar issue on the CCM repo. We updated the preferred method for secrets to use `stringData` in order to avoid the confusion with using:
[code]

Please take a look at the updated docs and give that a try. Same link you provided:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/deploying_csi_vsphere_with_rbac.md#2-optional-but-recommended-storing-vcenter-

[2019-07-11 18:01] qw1mb0 opened #27 "attacher.MountDevice failed: rpc error: code = NotFound"
/kind bug

**What happened**:
Installed vsphere-csi-driver in the cluster 1.15.
The disk was ordered and everything is fine, but the disk cannot be mounted. In kubelet logs, this is the error:
[code]

Such a disk is in the controller logs:
[code]

I see that the disk was mounted on the node:
[code]

I asked for advice at # wg-sig: https://kubernetes.slack.com/archives/C8EJ01Z46/p1562865408192700

[2019-07-11 18:39] codenrhoden commented on #27
Hi @qw1mb0,

Thanks for attaching the detailed logs. That helps.

The way the driver would find that the disk is attached is by looking in `/dev/disk/by-id`. Specifically in your case, it would be looking for the disk at
`/dev/disk/by-id/wwn-0x6000c2917fad296049d3923d725e773e`. If you are still able to look at this exact setup, can you see if the disk is attached there?

[2019-07-11 19:08] qw1mb0 commented on #27
I capped the problem cluster and put the cluster kubernetes 1.15.

Install vsphere-csi-plugin again.
Created a test under PVC:
[code]

There is this problem in the bottom of the deck:
[code]

The node has this disk:
[code]

In controller logs:
[code]

In `vsphere-csi-node` logs:
[code]

There is no such disk in `/dev/disk/by-id/`:
[code]

[2019-07-11 19:25] codenrhoden commented on #27
Okay, one more thing for you to check...

Can you see if `disk.EnableUUID` is set for the VM that you are using as a K8s worker node? When reminding myself about this parameter I went looking through our docs, and realized it's not called out anywhere specifically in the CSI docs, or the out-of-tree cloud provider, only the older in-tree vSphere cloud provider, [here](https://vmware.github.io/vsph

[2019-07-11 19:30] qw1mb0 commented on #27
facepalm...

You are right, we forgot about `disk.EnableUUID`.
This is in the documentation: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/deploying_csi_vsphere_with_rbac.md#vsphere

[2019-07-11 19:38] codenrhoden commented on #27
Well darn, I was `git grep`-ing through our docs for `enableUUID` or `enableuuid`, but didn't capitalize the E, since the original docs didn't write it that way. Glad you found it!

[2019-07-12 09:08] qw1mb0 commented on #27
thank you very much for the quick response

[2019-07-12 09:08] #27 closed

[2019-08-01 17:20] dvonthenen commented on #26
@qw1mb0 were you able to retry this with the new preferred method?

[2019-08-01 17:20] dvonthenen commented on #19
Closing this due to inactivity.

/close

[2019-08-01 17:20] #19 closed

[2019-08-01 17:20] dvonthenen commented on #17
Closing this due to inactivity

/close

[2019-08-01 17:20] #17 closed

[2019-08-13 17:01] d4larso commented on #15
/remove-lifecycle stale

[2019-08-13 17:02] d4larso commented on #15
remove-lifecycle stale

[2019-08-19 15:39] joshrosso opened #46 "Implement max_volumes_per_node so scheduler can determine whether to schedule pod that need PV"
/kind feature

The CSI-driver should expose volume attach limits, as per the [docs](https://kubernetes.io/docs/concepts/storage/storage-limits/#dynamic-volume-limits).

**What happened**:

driver only implements node_id, does not return data on max volumes.

Current code:

[code]

needs:

[code]

**What you expected to happen**:

Driver calculates max volumes available per node so scheduler can ma

[2019-08-19 16:08] dvonthenen commented on #26
If you are still having a problem, please re-open. Otherwise, closing to due to inactivity.

/close

[2019-08-19 16:08] #26 closed

[2019-08-29 20:38] codenrhoden opened #49 "Explore replacing pkg/common/cns-lib/vsphere with vclib from CPI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

There is a lot of code in `pkg/common/cns-lib/vsphere` that is duplicated or copied from the `vclib` package in the CPI. It needs to be explored if `vclib` from CPI can be used directly instead. If not, what is missing? Can the common package be enhanced?

[2019-08-29 20:42] codenrhoden opened #50 "Replace pkg/common/config with config package from CPI"
/kind cleanup

The CNS common library copied the `config` package from the CPI, which is means to be re-used as a common library.

We need to remove `pkg/common/config` and use the one from CPI instead, as it is already a dependency for this repo. That way both CSI and CPI will have common/tested config file handling. The config file types and syntax are an API to the user and require backwards co

[2019-08-29 20:45] codenrhoden opened #51 "Explore replacing pkg/kubernetes with kubernetes package from CPI"
/kind cleanup

The package at `pkg/kubernetes` was based off of https://github.com/kubernetes/cloud-provider-vsphere/tree/master/pkg/common/kubernetes. It's worth exploring why that code was copied, and whether or not it can be used directly instead. It is probably missing functionality, but can that functionality be added to the common package?

The code under k8s.io/cloud-provider-vsphere/pkg/co

[2019-09-05 16:10] codenrhoden opened #55 "Don't redefine failure-domain labels from k8s.io/api/core/v1 package"
/kind cleanup

As called out in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/52/files#r319657029, the CNS driver is redefining labels that are exported from `k8s.io/api/core/v1`.

[2019-09-05 16:19] dvonthenen opened #56 "Use Secret Lister versus Mounting Secrets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind cleanup

Highly recommend using Secret Lister to both remove the `delete secret` permission currently required in order to get updates to secrets and also to minimize the potential security exposure by mounting secrets to the filesystem.

**What happened**:
Secrets are mounted as apart of the pod specs.

**What you expected to happen**:
Use clien

[2019-09-06 08:21] schizoid90 opened #58 "Invalid patch version value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I followed the instructions on this [page](https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html) to install the driver on my kubernetes cluster.

When i apply the vSphere CSI driver configuration two containers in the vsphere-csi-controller-0 pod don't come up:

[2019-09-06 14:00] danielkucera opened #59 "Firewall settings for CSI"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind feature

**What happened:**

We have a firewall between kubernetes cluster and vsphere API (vcenter). I was trying to find in the documentation which connections do we need to allow - if `all masters -> vsphere API` is enough or if also nodes need to access it.

Could you please clarify this in the docs?

[2019-09-09 20:23] divyenpatel commented on #58
@schizoid90 This is expected. The minimum vSphere version needed for this driver is 67u3.

Cloud Native Storage feature is added in vSAN 6.7 update 3 - https://docs.vmware.com/en/VMware-vSphere/6.7/rn/vmware-vsan-67u3-release-notes.html#whatsnew

[2019-09-10 21:59] DougBernhardt opened #62 "Error: No Virtual Center hosts defined"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After deploying vsphere-csi-controller, deploy in CrashLoopBackOff. Logs read:
I0910 21:54:10.733816       1 config.go:265] GetCnsconfig called with cfgPath: /etc/cloud/csi-vsphere.conf
E0910 21:54:10.734044       1 config.go:205] No Virtual Center hosts defined
E0910 21:54:10.734119       1 config.go:272] Error reading v

[2019-09-16 19:19] divyenpatel commented on #58
@schizoid90

Update https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/58#issuecomment-530736209 is not related to failure "Invalid patch version value". Can we close this issue?

Regarding upgrade issue - https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/58#issuecomment-530736209 , I think you should reach out to vmware support?

You can also reach out to vSAN Community and r

[2019-09-17 16:00] #58 closed

[2019-09-17 18:35] divyenpatel commented on #62
@DougBernhardt Did you follow instruction documented at https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html

give an attention to the name of the file you are using to create a secret - `vsphere-config-secret`.

For example if you have created a secret using following command

[code]

you need to specify `csi-vsphere.conf` file name in

[2019-09-17 18:54] divyenpatel commented on #59
@danielkucera master node to vCenter management network access should be sufficient as long as you are deploying the `Pod` containing controller, metadata syncer and other side car containers on the master node.

If you want to use topology-aware volume provisioning and late binding feature using zone/region. , node need to discover it's topology by connecting to the vCenter, for this container ru

[2019-09-17 19:47] DougBernhardt commented on #62
Thanks!  That worked much better than docs/deploying_csi_vsphere_with_rbac.md

[2019-09-17 19:47] #62 closed

[2019-09-26 19:34] dvonthenen opened #66 "Implement single watcher per process"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Implement a single watcher to be used for all created informers. What is currently implement is a new watcher is created per call to `func NewInformer(client clientset.Interface) *InformerManager`:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/99f9c173436d12629a53cb2e9b6163be09dc3f04/pkg/kubernetes/informers.go#L34

Example implementation

[2019-09-26 21:21] dvonthenen commented on #66
/kind feature

[2019-09-28 20:29] #6 closed

[2019-09-28 21:30] #7 closed

[2019-09-30 15:29] andrewsykim commented on #66
+1 on this, a new `SharedInformerFactory` for every call to `NewInformer` has some performance implications. If the same process were to call `NewInformer` more than once, we would be duplicating watch calls for every resource we care about.

[2019-09-30 15:34] andrewsykim opened #70 "CSI Controller (ss) and CSI Node (ds) can't run on the same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
According to the [recommended manifest](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/1.14/deploy/vsphere-csi-node-ds.yaml), both the CSI Controller (StatefulSet) and the CSI node driver (DaemonSet) run with `hostNetwork: true` and with the `livenessprobe` container. As a result, whatever node

[2019-09-30 15:36] andrewsykim commented on #70
To work around this, I tried setting `hostNetwork: false`. This fixed the port conflict on the livenssprobe since they no longer share the host network, but ran into this issue instead:
[code]

I'm assuming that with `hostNetwork: false`, the hostname of the pod is no longer the hostname of the node and there is some assumption somewhere that the hostname of the pod must match the name of the node

[2019-09-30 15:36] andrewsykim commented on #70
If `hostNetwork: true` is required, I think the only fix for this is setting `--health-port` to some other value either in the statefulset or daemonset so they don't conflict.

[2019-09-30 16:51] SandeepPissay commented on #70
@andrewsykim I had similar concerns. I think we should use different health ports for StatefulSet and DaemonSet. I'm not sure why you are getting "node wasn't found" error. Do you see vSphere provide ID set for "vsphere-csi-node-67gzj" node? You may want to paste the controller log.

[2019-09-30 17:32] codenrhoden commented on #66
I think it's worth mentioning that this problem will also be solved if #51 is taken up, right?

I think that should be the longer term goal, but this should probably done first if #51 won't be taken up soon.

[2019-09-30 17:50] andrewsykim commented on #70
I think the problem is that we are setting [`NodeID` in CSI requests based on `os.Hostname()`])(https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/c00454dd311aac94dadefe9ba6688dec9ef30708/pkg/csi/service/node.go#L356-L359), which in many cases is the node's name when `hostNetwork: true`, but when not running `hostNetwork: true`, the hostname is now the pod's name.

[2019-09-30 17:52] andrewsykim commented on #70
I'm wondering if we can work around this by having a node name override via env vars that we can then set with downward API.

[2019-09-30 17:57] SandeepPissay commented on #70
One possible solution here is to return the provider UUID as the nodeId in NodeGetInfoResponse. In attach/detach callbacks we directly get the provider UUID which will also simplify getting the VM moref in VC. @divyenpatel thoughts?

[2019-09-30 18:02] andrewsykim commented on #70
This sounds good to me as well.

[2019-09-30 19:04] dvonthenen commented on #66
If https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/51 is addressed, it will also fix this issue.

[2019-10-01 19:02] divyenpatel commented on #70
@andrewsykim @SandeepPissay  @codenrhoden

I have verified that `hostNetwork: true` is not required for node daemonset and controller pod when we set `dnsPolicy: "Default"` in the pod spec. Without  `dnsPolicy: "Default"`, we are getting IO timeout and not able to communicate with vCenter with its FQDN.

We have also verified `liveness probe` works fine on both node deamonset pod and controller po

[2019-10-01 19:32] RaunakShah commented on #70
We have verified that creating/deleting works. Attaching a pod to the volume returns with the error that @andrewsykim encountered

`
AttachVolume.Attach failed for volume "pvc-26b1982d-7676-41f0-b219-95eac80fa845" : rpc error: code = Internal desc = Failed to find VirtualMachine for node:"vsphere-csi-node-55sww". Error: node wasn't found
`

We're investigating the issue and will update you guys he

[2019-10-01 19:37] andrewsykim commented on #70
^ to me, this sounds like a DNS configuration issue on the environment your testing. If you set `dnsPolicy: ClusterFirst` (the default), the coredns pods in your cluster should eventually use the host's nameserver to look up the FQDN of vCenter. At least this was the case for my environment.

[2019-10-01 19:38] andrewsykim commented on #70
^ to clarify my point above, the IO timeout may just be a connectivity issue to the coredns pod specific to your cluster and we should verify that first before concluding that `dnsPolicy: Default` doesn't work in all cases.

[2019-10-01 22:29] divyenpatel commented on #70
@andrewsykim @SandeepPissay @RaunakShah

Please take a look at - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/71

I am exploring default `ClusterFirst` dnsPolicy which seems not working in my setup.

[2019-10-02 14:53] #70 closed

[2019-10-04 19:17] shalini-b commented on #66
/assign @RaunakShah

[2019-10-04 19:19] RaunakShah commented on #66
/assign @RaunakShah

[2019-10-04 19:23] divyenpatel commented on #59
@mylesagray Can we clarify this in the documentation.

@danielkucera information provided at https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/59#issuecomment-532354463 is sufficient to understand what firewall settings we need to apply?

[2019-10-04 19:25] shalini-b commented on #55
/assign @divyenpatel

[2019-10-04 19:40] chethanv28 commented on #46
/assign @chethanv28

[2019-10-04 19:43] shalini-b commented on #23
Kindly move to the latest CSI Driver implementation backed by CNS. This should fix your problem.

[2019-10-04 19:48] SandeepPissay commented on #20
/assign @SandeepPissay

[2019-10-04 21:10] RaunakShah commented on #51
/assign @RaunakShah
Taking this too along with https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/66

[2019-10-06 15:20] Elegant996 opened #78 "VolumeMetadata has invalid cluster Id"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Volume failed to provision (stuck as `Pending`)

**What you expected to happen**: Volume to provision

**How to reproduce it (as minimally and precisely as possible)**:
Create `example-sc.yaml` and apply it to cluster then create a `pvc`.
[code]

**Anything else we need to know?**:
Logs from controller:

[code]

**Environ

[2019-10-07 06:25] Elegant996 commented on #78
User error. Did not realize that the `cluster-id` field in the new `csi-vsphere.conf` was required and was omitted. This has now been resolved. Thanks!

[2019-10-07 06:25] #78 closed

[2019-10-07 18:42] EleanorRigby opened #79 "CSI fails to find a VM and subsequently attach container volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

1. Deployed CCM using https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-10E170E2-79E7-4E72-A117-BC3A4725494D.html

2. Deployed CSI using : https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html

Created an example storage class, pvc and a po

[2019-10-07 18:53] EleanorRigby commented on #79
Container volumes are created perfectly.
##### PVC
[code]
##### PV
kubo@jumper:~/ccm+csi/csideploy$ kubectl get pv
kubectNAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAIM                               STORAGECLASS               REASON   AGE
pvc-af46fcb2-e92e-11e9-aa2f-00505691fed6   5Gi        RWO            Delete           Bound    default/examp

[2019-10-07 19:11] Elegant996 commented on #79
Just ran into the same issue. Not sure the cause.

[2019-10-08 09:51] HidekiNagasaki commented on #79
Same here. Using k8s 1.16

[2019-10-08 17:53] divyenpatel commented on #79
@HidekiNagasaki @Elegant996

Can you provide output of `kubectl describe csinodes`. What is the `Node ID:` set to? Node Name or UUID ?

[2019-10-08 18:01] Elegant996 commented on #79
Please see the below, `kube-master.example.com` did not appear in the listing.

[code]

[2019-10-08 18:04] RaunakShah commented on #79
@Elegant996
Can you paste the output of `kubectl get pods -n kube-system -o wide`
Also can we have some more information. Is this a multi master setup? What YAMLs did you use to deploy the csi driver?

[2019-10-08 18:18] divyenpatel commented on #79
@Elegant996, I see the issue.

Looks like, you are using image from published release notes, but YAML is from I guess github repository. To resolve the issue you are facing, Can you please use YAML published at - https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html

If you want to use latest images build from latest code published in the

[2019-10-08 18:23] divyenpatel commented on #79
@Elegant996

recently we have removed requirement of `hostnetwork` setting, when you remove `hostnetwork=true` from YAML, pod hostname is not inherited from node. - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/71

In your case ` Node ID:        vsphere-csi-node-5hzv7` is the pod name and not the node name, which seems causing issues. It should be the same node name, what you see with

[2019-10-09 13:24] Elegant996 commented on #79
@ divyenpatel

Thank you for pointing that out, I have switched my images to use the CI generated ones for the time being. Smooth sailing now!

[2019-10-10 00:09] HidekiNagasaki commented on #79
@divyenpatel
Thanks to your advice, our issue was solved as well using the correct YAML file.
Thank you!

[2019-10-11 08:42] brainkiller commented on #23
Can someone elaborate on the last comment ?
Is there a new implementation that fixes this issue or what is this about ?

[2019-10-11 18:02] RaunakShah commented on #23
@brainkiller `vsphere-csi-driver` was GA'd last month, and now we support features like Storage vMotion, on the 6.7U3 vSphere release.
Once you upgrade your vSphere version to 6.7U3, and use the new csi driver image available, Storage vMotion will be supported.

[2019-10-11 20:10] SandeepPissay commented on #79
@EleanorRigby We do not support PKS yet. I'm closing this issue. Feel free to reopen if you see this issue on a vanilla k8s deployed via kubeadm as per VMware docs.

[2019-10-11 20:17] shalini-b commented on #56
/assign @shalini-b

[2019-10-11 20:17] shalini-b commented on #50
/assign @shalini-b

[2019-10-11 20:21] SandeepPissay commented on #49
@divyenpatel Please find out what is the common code we have between CSI and CPI and if something in common/csn-lib/vsphere need to be moved to CPI vclib.

[2019-10-11 20:21] SandeepPissay commented on #49
/assign @divyenpatel

[2019-10-11 20:22] dvonthenen commented on #56
Just like https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/66, if https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/51 is addressed, this issue will be addressed/fixed as well.

[2019-10-11 20:23] SandeepPissay commented on #23
/close

[2019-10-11 20:23] #23 closed

[2019-10-11 20:24] SandeepPissay commented on #79
/close

[2019-10-11 20:24] #79 closed

[2019-10-11 20:24] SandeepPissay commented on #59
/assign @mylesagray

[2019-10-12 21:34] danielkucera commented on #59
@divyenpatel It seems clear. Thanks.

[2019-10-22 14:33] #59 closed

[2019-10-23 18:44] SandeepPissay opened #87 "Update the README file with better documentation"
Filing this bug to revamp vSphere CSI driver documentation. Few improvements/sections I would like to see are:
1. Call out latest stable images and corresponding deployment yaml files.
2. CSI version compatibility
3. Kubernetes version compatibility
4. Features supported and the stage (Alpha, Beta, GA etc)
5. Example yamls to try out features like static provisioning, dynamic provisioning, using S

[2019-10-24 22:16] divyenpatel commented on #87
Lets also add release documentation for https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v1.0.1

[2019-10-25 08:50] mylesagray commented on #87
/assign @mylesagray

[2019-10-25 13:01] pfyod commented on #87
Please document the required vSphere permissions for the account that vSphere CSI driver uses.

Currently the permissions are described [here](https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-AEB07597-F303-4FDD-87D9-0FDA4836E5BB.html), but the permissions from that page did not work for us - we had to add additional Datastore permissions for the "CNS-Datastore" role (just "D

[2019-10-26 11:22] arsenhovhannisyan95 opened #91 "Failed to create volume. Error: CnsFault error: CNS: Failed to create disk.:Fault cause: vmodl.fault.NotSupported"
Can anyone help me , I'm getting this error when I want to create pvc

kubectl describe sc
Name:            vsphere-sc
IsDefaultClass:  Yes
Annotations:     kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"storage.k8s.io/v1","kind":"StorageClass","metadata":{"annotations":{"storageclass.kubernetes.io/is-default-class":"true"},"name":"vsphere-sc"},"parameters":{"storagepolicyname":"S

[2019-10-26 11:22] arsenhovhannisyan95 commented on #91
![1](https://user-images.githubusercontent.com/56592747/67618736-7485e380-f804-11e9-8e5e-b6fff50c3224.PNG)
![2](https://user-images.githubusercontent.com/56592747/67618737-7485e380-f804-11e9-983c-614927d0946d.PNG)

[2019-10-26 11:48] arsenhovhannisyan95 commented on #91
![3](https://user-images.githubusercontent.com/56592747/67619082-16f39600-f808-11e9-870a-c29a01feff69.PNG)
![4](https://user-images.githubusercontent.com/56592747/67619083-16f39600-f808-11e9-9dc4-5a4d84262e4f.PNG)

[2019-10-26 17:28] RaunakShah commented on #91
@arsenhovhannisyan95 have you upgraded your ESX hosts? You need to upgrade them individually as well

[2019-10-26 22:36] arsenhovhannisyan95 commented on #91
Hey @RaunakShah thanks for reply , where can I found ESX supported versions ?

[2019-10-26 23:58] arsenhovhannisyan95 commented on #91
I've upgrades ESX host to VMware ESXi, 6.7.0, 14320388 and issue is resolved , thanks @RaunakShah

[2019-10-26 23:58] #91 closed

[2019-10-29 12:17] Ecsy opened #92 "Failed to verify volume attachment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Volume attachment succeeds, but verification fails. Disk is created, but no uuid is associated to it.

**What you expected to happen**:
Volume gets mounted to Pod.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
[code]

dmesg output shows /dev/sdc is added:
[c

[2019-10-30 09:50] Ecsy commented on #92
It seems `disk.enableUUID=true` was not properly configured.

[2019-10-30 09:50] #92 closed

[2019-10-31 23:02] SandeepPissay opened #93 "Attach disk should not depend on fault message string returned by CNS server to decide the workflow"
Code - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/common/cns-lib/volume/manager.go#L193

CNS does not guarantee not changing the fault error message in future. Also the fault error message could be different if different locale is configured on the server which can easily break CSI code. Instead the CSI code should check if the volume is already attached to the VM to be

[2019-11-08 15:11] ChrisJLittle opened #94 "no supportability statement presents here or in the doc"
There doesn't appear to be any statement around supportability for CNS either here or in the public documentation (https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-10E170E2-79E7-4E72-A117-BC3A4725494D.html). Currently, support is community-based, outside of any errors/issues noted in vSphere/VSAN. This is causing confusion for both customers and VMware GSS around how to best

[2019-11-11 20:45] manojvs157 commented on #94
We have GSS customer support for CNS and it is included as part of overall vsphere cutomer support for 6.7U3.

[2019-11-11 20:47] ChrisJLittle commented on #94
There is an ongoing conversation about this and how GSS has not been engaged to provide support for CNS outside of any issues encountered in VC/VSAN. Is there someone that I can loop into that conversation?

Best Regards,

Chris Little
Senior Staff Technical Support Engineer | Emerging Products Group
clittle@vmware.com<mailto:clittle@vmware.com>
380 Interlocken Crescent, Suite 500, Broomfield, CO

[2019-11-11 20:51] RaunakShah opened #95 "Node daemonset fails without csi-vsphre.conf file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
vSphere CSI Node daemonset fails when `csi-vsphere.conf` is not mounted as a volume to this container.

**What you expected to happen**:
It isn't mandatory to mount these configurations to the nodes unless the customer is using a topology aware cluster. For non-topology aware clusters, the node ds should run without any er

[2019-11-11 21:40] manojvs157 commented on #94
Hi Chris,

can you loop me in ? Is there an SR that's filed? I can follow up

[2019-11-11 21:49] ChrisJLittle commented on #94
Hello all. I created an issue on github (https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/94) last week related to the lack of a support statement for CNS and am looping in the contact there per their request. In addition to updating https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-51D308C7-ECFE-4C04-AD56-64B6E00A6548.html we’ll need to make sure that we’re in sy

[2019-11-12 23:45] philrogers opened #97 "Using the CSI driver directly to an esxi host as a Dcenter"
Is it possible to use a standalone esxi 6.7u3 server as the datacenter host. This is for Lab testing only the lab doesn't have a vcenter installed.

Thanks
Phil

[2019-11-14 23:57] misterikkit commented on #15
@dvonthenen Unfortunately this is less of a bug than it is a limitation of the current design. The AttachDetachController is being very careful to wait for a confirmed unmount before detaching a volume from a node. That confirmation cannot come if the kubelet is unavailable.

In the special case where the VM is currently powered off, it is safe to say the volume is not mounted. However, determinin

[2019-11-20 07:38] divyenpatel commented on #97
@philrogers vSphere CSI driver is using [CNS Volume Manager APIs](https://vdc-download.vmware.com/vmwb-repository/dcr-public/8ed923df-bad4-49b3-b677-45bca5326e85/d2d90bb6-d1b3-4266-8ce5-443680187a9a/vim.cns.VolumeManager.html) on the vCenter.

You can not use driver with ESXi host only in the Lab.

[2019-11-20 07:38] #97 closed

[2019-11-26 15:47] ikogan opened #99 "Attached PVC vmdks get deleted when a node is removed"
This is in reference to a closed issue on the older [vsphere in-tree cloud provider](https://github.com/kubernetes/cloud-provider-vsphere/issues/180). That issue was closed with a recommendation to re-file the issue, I believe here.

The core issue is that when a node gets removed, apparently sometimes by the provider, but also in vSphere itself, the attached VMDKs get deleted, causing a loss of d

[2019-11-26 23:09] divyenpatel opened #100 "Need to fix logic for determining raw block device"
CC: @shalini-b

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Current code is not returning raw block device correcting
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/node.go#L810-L835

[code]

this needs to be fixed as below

[code]

	Device:udev
	Path:/var/lib/kubelet/plugins/kubernetes.io/csi/volumeDevices/publish/pvc-

[2019-11-27 01:56] artazar opened #101 "Failed to provision volume: NoPermission"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Configured Cloud Native Storage with CPI and CSI driver, using topology aware approach with assigning region/zone tags on vSphere dc/cluster levels.
Applied the permissions mask on vSphere as per https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-AEB07597-F303-4FDD-87D9-0FDA4836E5BB.html
Tried to depl

[2019-12-02 19:24] manojvs157 commented on #97
@philrogers Can you elaborate on the usecase for this?

[2019-12-02 23:40] divyenpatel opened #103 "Lable updates on statically provisioned PV is not getting updated in the CNS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Lable updates on statically provisioned PV is not getting updated in the CNS.

Issue is upon each label update on statically created PV, instead of calling updatevolumemetadata, syncer is calling CreateVolume API.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/metadatasyncer.go#L334

Refer

[2019-12-06 07:28] RaunakShah opened #104 "Wrong images posted in README"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Images posted in the README don't match the ones specified in the manifests we publish for deploying `vsphere-csi-driver`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-cont

[2019-12-06 08:36] olivierbeytrison opened #106 "csi-controller SIGSEGV"
/kind bug

**What happened**:
We're trying to setup the VSphere CPI/CSI following this [doc](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html)

The csi-controller daemonset is in a CrashLoopBackOff state. The liveness check fails, because the csi-controller container cannot start due to a SIGSEGV.

[code]
**vsphere-csi-controller-0**
[code]
**What you ex

[2019-12-06 08:37] olivierbeytrison commented on #106
for x-reference also openend on the cpi repo : https://github.com/kubernetes/cloud-provider-vsphere/issues/281

[2019-12-06 18:46] manojvs157 commented on #106
/assign @xing-yang

[2019-12-06 20:02] #104 closed

[2019-12-06 21:36] yuyiying commented on #100
/assign @shalini-b

[2019-12-06 21:37] divyenpatel commented on #100
/assign @shalini-b

[2019-12-06 21:49] shalini-b commented on #100
/assign @shalini-b

[2019-12-06 21:55] yuyiying commented on #99
/ assign @divyenpatel

[2019-12-06 21:58] yuyiying commented on #94
/assign @manojvs157

[2019-12-06 22:47] divyenpatel commented on #99
@ikogan

This is expected behavior with the in-tree vsphere cloud provider.

in-tree vSphere Cloud Provider does not use First Class Disk,  so we can not utilize the [keepAfterDeleteVm](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/3325c370-b58c-4799-99ff-58ae3baac1bd/45789cc5-aba1-48bc-a320-5e35142b50af/doc/vim.vslm.BaseConfigInfo.html#keepAfterDeleteVm) feature while attaching the disk

[2019-12-06 22:47] #99 closed

[2019-12-07 08:53] olivierbeytrison commented on #106
So FYI we wiped all the k8s deployment and started from scratch again, and this time the csi-controller started successfully. so this error is not present anymore on our deployment, on my side we can close the issue.

[2019-12-10 13:15] flofourcade opened #107 "Support for Metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

The vSphere CSI driver currently doesn't support exposing vSphere volume metrics (capacity, usage, ...) via the GetNodeVolumeStats endpoints.
The GetNodeVolumeStats endpoint is used by kubelets to expose kubelet_stats_volume* prometheus metrics.

**What you expected to happen**:

The CSI driver should implement this

[2019-12-10 21:32] tirelibirefe opened #109 "Helm Chart Recommendation"
**FEATURE REQUEST?**:

Official Helm Chart for CSI driver would be great!

[2019-12-10 21:33] dvonthenen commented on #109
@tirelibirefe I would recommend breaking out these 2 feature requests. It will increase the odds that it gets the correct visibility and priority.

[2019-12-10 21:35] tirelibirefe commented on #109
Sorry; I corrected.

[2019-12-11 11:03] tirelibirefe opened #111 "CSI cannot access to datastore"
**BUG REPORT**:

**What happened**:

vSphere CSI cannot create VMDKs.

**What you expected to happen**:

CSI, CPI and CNS are all now working.

**How to reproduce it (as minimally and precisely as possible)**:

I've been working on CSI/CNS thing to make it work but it never access to datastores.
I follow all instructions in https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere

[2019-12-11 19:03] #95 closed

[2019-12-11 19:19] RaunakShah commented on #111
@tirelibirefe this normally happens when you deploy CSI without waiting for CPI to set `ProviderID` on all the nodes. Ideally, after CPI is deployed, you need to check for `ProviderID`, using
[code]
and wait for it to be set on all nodes before deploying CSI.

For now, can you just restart your CSI controller and verify if volume creation passes? I suspect it will

[2019-12-12 06:38] tirelibirefe commented on #111
@RaunakShah
I attempted to deploy application about 20 hours ago; I just checked, it's still same, no VMDK disks.
I see what you mean, my eyes are on ProviderIDs; they are created successfully without any problem.

`$ kubectl describe nodes | egrep "ProviderID:|Name:"
Name:               kik-master1
ProviderID:                   vsphere://422631d0-6d52-2d4c-8fd7-32384d5d0d2c
Name:               ki

[2019-12-12 06:42] RaunakShah commented on #111
@tirelibirefe They will be set, eventually, but the catch is that you need to for it to be set before you deploy the CSI driver.
Our driver only registers nodes at startup, so `ProviderID` needs to be set at this time.

Does this mean you redeployed CSI driver and checked?

[2019-12-12 06:52] tirelibirefe commented on #111
@RaunakShah
I follow the order explained here https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html ; I mean I see ProviderIDs before attempt to deploy something.

No, I didn't redeployed; I just looked at vCenter GUI Monitor/Container Native Storage / vCenter Container Volumes section.

[2019-12-12 08:02] tirelibirefe commented on #111
@RaunakShah  I attached the full output and yaml files.
[output.txt](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/3954502/output.txt)

[2019-12-12 13:23] tirelibirefe commented on #111
I found the problem; missing disk UUID definition.

[2019-12-12 13:23] #111 closed

[2019-12-12 18:46] gbadanahatti opened #112 "Cloud provider not initialized properly - RegisterPlugin error"
/kind bug

**What happened**:
Symptom: We are trying to create PV, PVCs and Pods with data in one of the datastores. Following the examples in: https://github.com/kubernetes/examples/tree/master/staging/volumes/vsphere. Both Volumes and Persistent Volumes.. Example 1) and 2) fails with errors that the cloud provider is not initialized

 _Unable to mount volumes for pod "test-vmdk_default(bd6a832b-

[2019-12-13 00:58] eroji opened #113 "vsphere-cloud-controller-manager and vsphere-csi-controller can't be scheduled"
I tried following documentation at https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html and https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-039425C1-597F-46FF-8BAA-C5A46FF10E63.html which I believe is current on setting up the vSphere CSI driver. However, when I get to the step for creating the CPI daemonset or the statefulset for vsp

[2019-12-13 02:36] RaunakShah commented on #113
Im not familiar with how Rancher works, but can you paste the output of
[code]

Your master nodes need to have the `master` role. CSI pods only run on master nodes.

[2019-12-13 04:44] eroji commented on #113
[code]

[2019-12-13 07:37] eroji commented on #113
I modified the deployment manifests for the statefulset and daemonset for CSI and CPI (still unsure if I need this piece) and now all the pieces are scheduled successfully. However, it appears that the vsphere-csi-controller is unable to retrieve the UUID for the VMs. I am not entirely sure why.

[code]

[2019-12-13 12:37] alex1989hu commented on #113
/cc @eroji
We also met this, open-vm-tools should be installed on each node. PS: It should be part of the documentation.

[2019-12-13 14:12] mardicas opened #114 "When CSI finds sharedDatastores that it lacks create access to, then it will fail to provision disk."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Got error about "ServerFaultCode: NoPermission" for a datastore that the storagepolicy is not even going to provision the disk on.
When there are visible and irrelevant datastores ("Browse Datastore" permission).

In this log you will first see the "NoPermission" and later when we removed visibility of the other irrelevan

[2019-12-13 17:40] eroji commented on #113
@alex1989hu open-vm-tools had already been installed. Disk UUID is also turned on for all the VMs in the cluster.

[2019-12-15 01:08] dvonthenen commented on #15
@yastij I'm not sure if you are still looking at this issue upstream or if there is someone else. If you shouldn't be assigned this issue... if you can help me find the correct person, that would be awesome and would appreciate it.

/assign @yastij

[2019-12-16 20:26] tirelibirefe commented on #19
check your /etc/kubernetes/csi-vsphere.conf; there must be something wrong in there.

[2019-12-18 00:10] maplain opened #115 "csi controller fails to parse vcenter version 7.0.1.0 string"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Deployed a CAPV Cluster in a 7.0 vCenter, csi controller keeps crashing because it could not parse vCenter version string "7.0.1.0"

**What you expected to happen**:
csi controller is up and running

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a CAPV cluster in a 7.0 vSphere.

**Anything else we need to

[2019-12-18 00:16] figo commented on #115
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/20e40e10da6a110d7e43795d12ec4d8ca5543b96/pkg/csi/service/common/common_controller_helper.go#L108

It only accepting API version with 3 digits.

[2019-12-18 00:28] maplain commented on #115
seems like it's already fixed on master: https://github.com/kubernetes-sigs/vsphere-csi-driver/commit/73ad1bbe2adda59ca35589f277a6b651c4eac37b.

but it's still in v1.0.1

[2019-12-18 00:34] divyenpatel commented on #115
@maplain we are working on some more fixes to get in before cutting a new release.

Here are the list of commits since v1.0.1 - https://github.com/kubernetes-sigs/vsphere-csi-driver/compare/v1.0.1...master

[2019-12-19 04:23] RaunakShah commented on #115
@maplain `v1.0.1` is our released image for vcenter 6.7U3 and kubernetes 1.14/1.15. We can't support vcenter 7.0, since it hasn't been released yet :)

[2019-12-19 04:33] RaunakShah commented on #113
@eroji After installing CPI, did you verify that `ProviderID` is set on all nodes (as mentioned here https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-10E170E2-79E7-4E72-A117-BC3A4725494D.html), before installing CSI? CSI depends on all nodes having `ProviderID` set before deployment.

[2019-12-19 05:10] eroji commented on #113
@RaunakShah I assume you mean to run `kubectl describe nodes | grep ProviderID` to see if any of the nodes is able to obtain a `ProviderID`? In that case, no. The command returned empty. I don't see any means of "setting" the value.

[2019-12-19 07:14] RaunakShah commented on #113
Well that's your issue then :) CPI "sets" `ProviderID` on your nodes; this is needed by CSI.
To answer your previous question

Yes.
I would suggest trying to redeploy CPI and CSI from scratch (ie, delete and create the YAMLs), because it looks like you applied the taints and roles after your initial deployment.
If you've already done so, and the problem persists, i'd recommend raising an issue on

[2019-12-19 07:34] RaunakShah commented on #112
@gbadanahatti The examples you've followed are from legacy out-of-tree VCP. If you're using the CSI driver, can you try out the example YAMLs at https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/example?

[2019-12-19 17:32] gbadanahatti commented on #112
@RaunakShah, thanks a bunch!! that worked!

[2019-12-19 17:32] #112 closed

[2019-12-20 21:23] SandeepPissay commented on #115
@maplain We will support vSphere next release after it is GA.

[2019-12-20 21:23] SandeepPissay commented on #115
/assign @lipingxue

[2019-12-20 21:30] SandeepPissay commented on #114
@mardicas If you dont intend to use datastore B in Kubernetes cluster, then make sure that the VC user configured for CSI driver cannot see this datastore. Since you have given "Browse Datastore" permission, CSI driver thinks that it is a possible candidate and invokes CNS API in vSphere to provision the volume. In CNS, authorization happens first and then storage policy based placement, so the vo

[2019-12-20 21:30] SandeepPissay commented on #114
/close

[2019-12-20 21:30] #114 closed

[2019-12-20 21:32] SandeepPissay commented on #113
/assign @RaunakShah

[2019-12-20 21:33] lipingxue commented on #115
/assign @lipingxue

[2019-12-20 21:35] shalini-b commented on #109
/assign @shalini-b

[2019-12-20 21:36] SandeepPissay commented on #109
@tirelibirefe How is having a Helm Chart for CSI driver deployment is beneficial? And why the current deployment yamls are not good enough?

[2019-12-20 21:38] yuyiying commented on #107
/assign @yuyiying

[2019-12-20 21:38] SandeepPissay commented on #101
/assign @divyenpatel

[2019-12-21 23:55] tirelibirefe commented on #109
@SandeepPissay
There is nothing wrong with the existing deployment yaml files if you don't miss anything. I just suggested to curtail the deployment procure via Helm Chart.

I spent days to have a working CSI deployment in my 2 different environments because of I missed something in the procedure. If the procedure was shorter, probably I wouldn't miss the detail.

Also; there are some external dep

[2019-12-23 23:05] MGalnts opened #118 "Failed to create Persistent volume vmodl.fault.NotSupported"
/kind bug

**What happened**:
Can't create persistent volume due to error
**What you expected to happen**:
Creation of Persistent Volume
**How to reproduce it (as minimally and precisely as possible)**:
Create any volume based on default StorageClass

**Anything else we need to know?**:
Logs:
`CreateVolume: VolumeName: "pvc-6ad079f1-a805-4080-80aa-2dffaaba605d", opId: "0bb24060"
E1223 22:54:04.229

[2019-12-23 23:10] #118 closed

[2019-12-23 23:11] MGalnts commented on #118
Dupli
Duplicate of #91

[2020-01-02 20:30] divyenpatel commented on #66
/remove-lifecycle stale

[2020-01-02 20:31] divyenpatel commented on #46
/remove-lifecycle stale

[2020-01-06 17:54] dvonthenen commented on #109
Deploying via Helm offers many advantages. Helm provides an easy button for deploying an application/set-of-pods through a clean CLI and API. It provides a simple and easy way for end-users to customize basic settings/parameters though that common interface without having to expose all of the knobs and complexities that the YAML provides. On top of describing the deployment as described in @tireli

[2020-01-07 16:49] mike-england opened #121 "Passwords cannot use escape characters"
/kind bug

**What happened**:
CSI stateful set is unable to start when passwords have backslash in it (and possibly other special characters but I didn't do extensive testing).

When following the [guide](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html), under csi-vsphere.conf, I'm unable to use a username with backslash, which is talked about in [issue

[2020-01-09 01:51] Kvasscn opened #122 "volume create failed when having two datastores in a zone"
When  i  created a pvc in a zone(zone-a) which has two datastores,  the pv created faild. But i  used another zone(zone-b) which  has only single datastore, pv can be created successfully.
The log of vsphere-csi-controller  is in the following:

I0108 17:26:11.574537       1 config.go:265] GetCnsconfig called with cfgPath: /etc/cloud/csi-vsphere.conf
I0108 17:26:11.574769       1 config.go:209] In

[2020-01-09 01:54] Kvasscn commented on #122
the csi get two datastore in a zone:

I0109 09:16:48.807704 1 vsphereutil.go:115] vSphere CNS driver creating volume pvc-53813478-1248-4e0a-a134-250e240b6dbf with create spec (*types.CnsVolumeCreateSpec)(0xc0007e2210)({
DynamicData: (types.DynamicData) {
},
Name: (string) (len=40) "pvc-53813478-1248-4e0a-a134-250e240b6dbf",
VolumeType: (string) (len=5) "BLOCK",
Datastores: ([]types.ManagedObjectRe

[2020-01-09 02:02] Kvasscn commented on #122
csi get two datastores in zone-a :

I0108 17:40:12.015722 1 vsphereutil.go:115] vSphere CNS driver creating volume pvc-53813478-1248-4e0a-a134-250e240b6dbf with create spec (*types.CnsVolumeCreateSpec)(0xc0007bb810)({
DynamicData: (types.DynamicData) {
},
Name: (string) (len=40) "pvc-53813478-1248-4e0a-a134-250e240b6dbf",
VolumeType: (string) (len=5) "BLOCK",
Datastores: ([]types.ManagedObjectRefe

[2020-01-09 20:45] shalini-b commented on #50
/remove-lifecycle stale

[2020-01-09 20:45] shalini-b commented on #56
/remove-lifecycle stale

[2020-01-11 14:57] ndecandia commented on #106
I have the same issue.

[2020-01-14 03:11] rhockenbury opened #123 "Windows CSI Proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Some folks at sig-windows are currently implementing a privileged proxy to enable csi-driver support on windows server nodes.  See https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190714-windows-csi-support.md and https://github.com/kubernetes-csi/csi-proxy and https://kubernetes.slack.com/archives/CN5JCCW31 for

[2020-01-14 09:17] yastij commented on #15
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-01-15 15:05] mattrcampbell opened #124 "CSINode not created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am following the instructions provided at https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html in a new clean kubernetes v1.16.3 cluster running on rancheros using rancher ui v2.3.3.

After correcting tolerations on pods to run using the rancher applied taints, the workloads vsphe

[2020-01-15 15:21] juliohm1978 opened #125 "Disaster recovery - Unable to failover pod to another node: Multi-Attach error for volume "***" Volume is already used by pod(s) ***"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Environment**:

Following installation instructions here: https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-51D308C7-ECFE-4C04-AD56-64B6E00A6548.html

I have a simple Kubernetes cluster in a test environment, installed with kubeadm and running with in VMWare VMs.

[code]

[code]

[code]

I managed to get the CSI driv

[2020-01-15 17:31] xing-yang commented on #124
It seems that you have skipped some of the early setup steps?  In section "Setting up VMs and Guest OS", there are some important steps such as set disk.EnableUUID=1 on all nodes, upgrade VM hardware, disable swap, etc.  Have you done those steps?

[2020-01-15 17:40] juliohm1978 opened #126 "How can I identify find which *.vmdk file is related to a specific PV?"
/feature

Once multiple disks are assigned to PVs in different applications, how can I find which `*.vmdk` disk file is associated to specific PV?

Given the PV list below:

![image](https://user-images.githubusercontent.com/4145456/72456674-eaff0580-37a3-11ea-95da-fa3ec2c054da.png)

vSphere UI shows these disks in the datastore:

![image](https://user-images.githubusercontent.com/4145456/72456798

[2020-01-15 17:44] juliohm1978 commented on #126
Another alternative would be to have the driver submit the `*.vmdk` path/filename to the PV status block. This would resolve the problem with a simple `kubectl describe pv`.

[2020-01-15 17:48] mattrcampbell commented on #124
Yes I have.  What I meant by "starting at that line" is that is where I started following the article verbatim.  Prior to that I completed all the prerequisites, but based on the specific variances required for rancheros. disk.EnableUUID=1 is enabled on all nodes and they are all running hwversion 15

[2020-01-15 17:52] xing-yang commented on #124
Can you provide logs from kubelet and vSphere CSI driver?

[2020-01-15 18:13] divyenpatel commented on #126
@juliohm1978

You can find VMDK associated with the PV using it's volume handle.

Please Refer @cormachogan blog : https://cormachogan.com/2019/10/21/finding-vmdk-path-from-pv-volumehandle/ This is using Power CLI.

Alternatively, you can also use `govc` command as described below to get the Disk path from volume handle.

[code]

We have not published volume path in the PV status, because volume c

[2020-01-15 18:24] divyenpatel commented on #125
@juliohm1978 This issue will be resolved, when  kubernetes/enhancements#1116 is submitted and implemented.

This issue is not specific to vSphere CSI driver. Other providers and drivers are also affected with this.

[2020-01-15 18:38] divyenpatel commented on #122
@Kvasscn

Sending two datastores in the `CnsVolumeCreateSpec`, is not the issue here, you may have these two datastores as shared accessible datastores in the zone-a.

Can you please provide vCenter log for opId: `5d599dc2`

Please checkout relevant CNS logs in `/var/log/vmware/vsan-health/vsanvcmgmtd.log` and  `/var/log/vmware/vsan-health/vmware-vsan-health-service.log` files on vCenter Server.

[2020-01-15 18:43] juliohm1978 commented on #126
Thanks, @divyenpatel.

The datastore I'm using has spaces in its name, and govc does not seem to like that.

[code]

Any chance I can escape the spaces in the datastore name?

[2020-01-15 18:45] juliohm1978 commented on #125
Thanks! Closing this issue.

[2020-01-15 18:45] #125 closed

[2020-01-15 18:50] divyenpatel commented on #126
Specify datastore name in the single quote.

Here in this example my datastore name is having a space: `vsan Datastore`
[code]

[2020-01-15 19:06] juliohm1978 commented on #126
That's what I did.

[code]

The name is still cut short before the first space character.

[2020-01-15 19:07] juliohm1978 commented on #126
Nevermind! `govc.tst` is a shell wrapper that was breaking the parameters passed to the actual `govc` binary.

Thanks!

[2020-01-15 19:14] #126 closed

[2020-01-15 19:57] divyenpatel commented on #121
@mike-england I have re-produced this issue locally on my setup using the password `}sso\d$2!UsO`.

[code]

We are looking into how we can fix this issue.

[2020-01-15 20:34] mattrcampbell commented on #124
When you say vSphere CSI driver logs, what do you mean?  Is that from a particular pod?  Also, my kubelet logs are massive, is there any way to pull the specific information that would be helpful for this issue, or is it typical to just dump the whole thing in?

[2020-01-15 20:57] divyenpatel commented on #121
@mike-england I have just used the password you mentioned successfully with escaping character.

for password `}sso\d$2!UsO`, following works fine.

[code]

[2020-01-15 21:55] xing-yang commented on #124
For vSphere CSI driver, find the names of the controller and node pods:
# kubectl get pod --namespace=kube-system
NAME                                     READY   STATUS    RESTARTS   AGE
vsphere-csi-controller-bc8bb7599-crvjh   6/6     Running   2          30h
vsphere-csi-node-mjljq                   3/3     Running   0          30h

Get logs from the driver containers:
kubectl logs vsphere-csi-c

[2020-01-15 21:57] xing-yang commented on #124
For kubelet logs, search for the following strings first:
CSINode
CSI driver node
updating node

[2020-01-15 22:32] mike-england commented on #121
What about a password that uses \, ", `, and ' at the same time?  Not to challenge you, but it does seem to happen a bit around this office as our admin passwords get generated for us.

[2020-01-16 09:49] Kvasscn commented on #122
@divyenpatel  thanks a lot,  :)   I found the failure  reason, there was a  "The ramdisk 'root' is full" log  in the vsphere host.  After i reboot the vsphere node,  the pv can be created successfully.
But i'm still  a bit confused, when  there are multy  datastores in a zone,  the csi or vsphere how to choose datastore to create the pv or pvc?

[2020-01-16 13:15] mattrcampbell commented on #124
I have attached vsphere logs.  As for those particular strings, none of them appear in the kubelet logs.  Searching for lower case 'csi' shows the typical workload/volume start up stuff, but that is all.

Thanks for your help on this!

[controller.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4071317/controller.log)
[node.log](https://github.com/kubernetes-sigs/vsphere-csi-drive

[2020-01-16 17:09] rhockenbury commented on #109
+1 for an official helm chart.

@dvonthenen - Is your previous work still useful? https://github.com/helm/charts/pull/10408

[2020-01-16 17:43] dvonthenen commented on #109
@rhockenbury unfortunately, it isn't. the vSphere driver was rearchitected (and had a significant degree of implementation changes) to take advantage of the new Cloud Native Storage (CNS) functionality. You can read about it here: https://blogs.vmware.com/virtualblocks/2019/08/14/introducing-cloud-native-storage-for-vsphere/

[2020-01-16 19:06] xing-yang commented on #124
In my node driver registrar logs, I have the following
[code]
In your logs, it ended at "Registration Server started at...".   It looks like the node registration didn't complete successfully.

Can you enable debug for the node CSI driver so we can get some debug messages in node.log?  Also can you upload the kubelet logs.

[2020-01-16 19:50] mattrcampbell commented on #124
When you say "enable debug" do you simply mean increase the -v value in the container args?  If so, it did not change much:
[code]
Kubelet logs attached.  I did sanitize IP and DNS stuff....

[kubelet-worker.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4073438/kubelet-worker.log)
[kubelet-master.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4073439/kubelet-ma

[2020-01-16 20:04] xing-yang commented on #124
Yes, I meant to change -v value to 4 for the vSphere CSI driver and collect logs from vsphere-csi-node container:
[code]

[2020-01-16 20:21] mattrcampbell commented on #124
Ok, that is what I did, the log is the same.

[2020-01-16 21:25] xing-yang commented on #124
The logs you showed earlier is from node-driver-registrar though, not vsphere-csi-node.  Can you double check?

[2020-01-16 21:37] mattrcampbell commented on #124
Yes, that log did not change:

[code]

[2020-01-16 21:44] xing-yang commented on #124
Can you provide the deployment yaml file for vSphere driver?

[2020-01-16 23:27] mattrcampbell commented on #124
[code]

[2020-01-17 14:51] xing-yang commented on #124
I'm referring to the yaml files you used to start the vSphere CSI driver, i.e., the yaml file where you modified the -v setting. The example yaml files are here:
https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/1.14

Also after you changed the debug setting, did you restart the vSphere CSI driver?  I wonder why the logging level were not changed after the debug setting c

[2020-01-17 15:51] mattrcampbell commented on #124
I used the exact YAML provided in the instructions:
[code]
The only changes I made post deploy are to adjust the tolerations for the rancher taints and add the change the -v value as requested.  Yes, I redeployed the pods after editing the yaml.

[2020-01-17 20:37] xing-yang commented on #124
Did you delete the vSphere CSI driver pods using "kubectl delete -f ..." and then create them again?  The logging level is still Info "level=info" as shown in the logs.

[2020-01-17 21:37] mattrcampbell commented on #124
Yes, and I just did it again to make sure.  The node appears to be running with -v 5 according to kubectl describe, yet the log still says level=info...
[code]

[2020-01-22 01:37] lamb84 commented on #101
any update,  I am running into the same issue.
is there any documentation about the vsphere permissions required?

[2020-01-22 17:46] mattrcampbell commented on #124
Interesting.  Upgrading rancher to v2.3.4 and Kubernetes to 1.17.0 results in the CSINodes being created.  However, they driver section is empty:

[code]

There is now more info in the node-driver-registrar, but still no errors:

[code]

[2020-01-23 23:32] divyenpatel commented on #115
This issue is already fixed by https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/89

[2020-01-23 23:32] #115 closed

[2020-01-24 02:38] cchengleo opened #128 "CSI 1.0 version deployment is failing on vSphere 7.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While performing upgrade testing from 6.7U3 to 7.0, deployment of CSI v1.0 is failing on vSphere 7.0 with crashbackloopoff/error.

**What you expected to happen**:
CSI v1.0.1 deployed and performs correctly on vSphere 7.0

**How to reproduce it (as minimally and precisely as possible)**:
Deploying CSI v1.0.1 image on vSph

[2020-01-24 03:41] xing-yang commented on #124
Is this on the Kubernetes master node or worker node?

[2020-01-24 06:56] #128 closed

[2020-01-27 19:00] mattrcampbell commented on #124
Both nodes return <nil> in the Drivers: section, worker AND master.

[2020-01-27 19:52] levihoover commented on #106
I see this issue is closed, but i'm getting this exact thing and followed the same instructions linked by OP.  I've started my k8s deployment over from scratch several times now (enough times that I got tired of doing it manually and wrote ansible playbooks to do it...) and can't get past this.  Any suggestions?

[2020-01-28 14:24] mattrcampbell commented on #124
So I built up a cluster using the full instructions from my original ticket above and found an interesting difference between the kubeadm cluster and the RKE cluster.  The RKE cluster does not deploy kubelet, etcd, and kube-apiserver as pods that are returned with a "kubectl get pods" command.  They can be found with a docker ps on the node.  No idea if this makes any significant difference or not

[2020-01-28 16:31] deejay104 commented on #124
Hello,

I am facing the same issue. For testing I have deploy a fresh new rancher cluster. Following the procedure everything went well and I got the csi driver registered (kubectl describe csinode was showing the driver in the spec).
Unfortunately few hours later it disappeared and I am not able to have it added back. Kubectl get csinode is still showing the node of the cluster.

I have this issu

[2020-01-28 17:41] #107 closed

[2020-01-28 18:11] mattrcampbell commented on #124
I have moved a little closer again.  RKE starts kubelet with a different root:

[code]

So I updated the volumes in vsphere-csi-node-ds.yaml to:
[code]

Now the driver registers in the CSINode:

[code]
However, the attacher is failing:
[code]

[2020-01-28 18:42] xing-yang commented on #124
Do you see a directory "/opt/rke/var/lib/kubelet/plugins" created?

[2020-01-28 18:50] xing-yang commented on #124
Can you take a look of the controller manager logs, search for “attacher.MountDevice failed to create dir” or “created target path successfully”?  It should tell you whether the path is created successfully or not.

[2020-01-28 19:35] deejay104 commented on #124
I am not as lucking as you, if I change the path the pods does not start. Saying that it could not register.
Revert back to /var/lib/kubelet, they start correctly.
But csinode driver is still empty.
(FYI, when I change it, /opt/rke/var/lib/kubelet/plugins_registry is populated with csi.sock file)

[2020-01-28 20:15] mattrcampbell commented on #124
Yes, the "/opt/rke/var/lib/kubelet/plugins directory is getting created for me.
Cloud Controller Manager does not contain either of those strings:
[code]

[2020-01-28 20:16] deejay104 commented on #124
Well... After giving it another try by replacing all /var/lib/kubelet with /opt/rke/var/lib/kubelet it has worked !
Driver is now added to csinode and volume are mouting to pods.
I have also applying the updated yaml to the other clusters and it has worked also.
:-)

[2020-01-28 20:19] mattrcampbell commented on #124
When you say "all" do you literally mean every instance of in both vsphere-csi-controller-ss.yaml and vsphere-csi-node-ds.yaml, including in the "env" variables and the local volumeMounts:mountPath?

[2020-01-28 20:23] deejay104 commented on #124
"all" means all entry in vsphere-csi-node-ds.yaml including env, command and volumes.

[2020-01-28 20:25] mattrcampbell commented on #124
Yup, I found I had missed one (csi-node volumeMount:pod-mount-dir) and after adding that it appears to be working.  I will do some testing and close if that is indeed the case.

[2020-01-28 20:29] deejay104 commented on #124
On my side just did few test and volume are creating and attaching correctly. I can also see them in the vcenter.
Thanks for your help.

[2020-01-28 21:02] theabmitra opened #129 "MultiVcenter - Volumes not created across Vcenter with new cloud provider for vSphere"
/kind bug

**What happened**:

In a multivcenter environment , when pods are scheduled on the second vcenter (where master is not residing), the kubelet is unable to find labels from vcenter(even though they are created).

**What you expected to happen**:

As per documentation, https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/deploying_cpi_and_csi_with_multi_dc_

[2020-01-28 21:28] RaunakShah opened #130 "Docs claim CSI supports multi VC setups."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CSI 1.0 does not support multi vCenter setups. We've called that out in the official vsphere docs - https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-AD5AE35E-5209-4775-988C-F86D0E4F0C29.html

But our topology aware docs points to the CPI docs, where they say we support multi vc setups.
https://githu

[2020-01-28 21:30] RaunakShah commented on #129
@theabmitra For CSI 1.0, we only support a single vCenter server. You can find that in the official vSphere release docs here - https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-AD5AE35E-5209-4775-988C-F86D0E4F0C29.html

Apologies for the confusion. You can follow the same steps in the page you're referencing for multi datacenter/cluster environments.
Creating a separate issu

[2020-01-29 23:23] divyenpatel opened #131 "Only call nodeRegister in nodeUpdate when node.Spec.ProviderID is changed."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
nodeRegister is getting called unnecessarily even when lastHeartbeatTime is changed.
This issue is observed after this change - https://github.com/kubernetes-sigs/vsphere-csi-driver/commit/84870001b7e211558bb64a29db01f7c44d2dcbf9 is merged.

**What you expected to happen**:
We need to make sure nodeRegister is called only

[2020-01-30 00:32] #131 closed

[2020-01-30 23:40] divyenpatel commented on #109
+1 for this. I see vSphere CPI can be installed using Helm Chart. Very convenient.

![Screen Shot 2020-01-30 at 3 39 07 PM](https://user-images.githubusercontent.com/22985595/73500146-cc3d6900-4376-11ea-8abf-fef6279ee013.png)

[2020-01-31 21:02] divyenpatel opened #134 "Lable updates on statically provisioned PV is not getting updated in the CNS."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Issue is upon label update on statically created PV, instead of calling updatevolumemetadata, syncer is calling CreateVolume API.

Refer: https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/metadatasyncer.go#L318-#L354 in pkg/syncer/metadatasyncer.go

[code]

**What you expected to happen**:

**Ho

[2020-01-31 21:09] chethanv28 commented on #124
/assign @chethanv28

[2020-01-31 21:11] RaunakShah commented on #130
/assign @RaunakShah

[2020-01-31 21:11] RaunakShah commented on #129
/close

[2020-01-31 21:12] #129 closed

[2020-01-31 21:17] RaunakShah commented on #113
@eroji We now have support to update Nodes with `ProviderID` once they are set by CPI. You can use the latest images `v1.0.2`

/close

[2020-01-31 21:17] #113 closed

[2020-01-31 21:18] divyenpatel commented on #134
Duplicate of https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/103

[2020-01-31 21:18] #134 closed

[2020-01-31 21:21] RaunakShah commented on #93
/remove-lifecycle-stale

[2020-01-31 21:22] divyenpatel commented on #93
/remove-lifecycle stale

[2020-01-31 21:23] divyenpatel commented on #87
/remove-lifecycle stale

[2020-01-31 21:24] divyenpatel commented on #122
@Kvasscn when multiple datastores are supplied, server choose the one with max available space and the one which compiles to the supplied storage policy.

[2020-01-31 21:24] #122 closed

[2020-01-31 21:58] theabmitra commented on #129
Thanks @RaunakShah  for clarification.

[2020-02-01 01:50] mattrcampbell commented on #124
I can confirm that the issue appears to be the path.  Rancher uses /opt/rke/var/lib/kubelet.  Once that was fixed everything seems to be working great.  This issue can be closed, though a note in the documentation might be handy. :)

[2020-02-01 02:42] xing-yang commented on #124
Thanks @mattrcampbell!  I changed the label to documention.

[2020-02-04 00:24] divyenpatel commented on #121
@mike-england Let's say the VC password is - `Admin!23\'"`

Here is how you need to escape characters.

[code]

I am closing this issue, as there is not code change required for this issue. All we need to do is to set proper escape sequence in the password.

[2020-02-04 00:24] #121 closed

[2020-02-12 18:39] svrc-pivotal commented on #15
The workaround for this is to cordon/drain the node on failure after X minutes.   This can be automated by a simple controller script loop that watches for node conditions.

[2020-02-14 02:37] zhoudayongdennis commented on #70
actually, there was the alternative which i used in my project.

you could change the containerPort in container vsphere-csi-controller from default 9808 to different one, e.g. 9809, and also add below argument for container liveness-probe in the same statefulset vsphere-csi-controller-ss.yaml

          args:
            - "--csi-address=$(ADDRESS)"
            - --health-port=9809

with above ch

[2020-02-14 04:08] zhoudayongdennis commented on #111
Hi, tirelibirefe,

could you share how to resolve this issue? how to add the disk UUID definition in steps?

i encountered the same issue during creating pvc.

thank a lot,
Dennis

[2020-02-14 05:18] RaunakShah commented on #111
@zhoudayongdennis have you set the `disk.enableUUID` parameter on your VMs? You can do so by editing settings on vCenter UI.

[2020-02-14 06:22] zhoudayongdennis commented on #111
@RaunakShah,

could you help share how to configure disk.enableUUID on vCenter UI? snapshot is preferred.

appreciate your help!

thanks,
Dennis

[2020-02-14 06:35] tirelibirefe commented on #111
Hello @zhoudayongdennis ;

1)
https://www.google.com/search?q=vsphere+disk+uuid&rlz=1C1GCEA_enTR761TR761&oq=vsphere+diskuuid&aqs=chrome.1.69i57j0l2.4518j0j7&sourceid=chrome&ie=UTF-8

2)
https://blogs.vmware.com/kb/2013/03/setting-disk-enableuuidtrue-in-vmware-data-protection.html

3)
govc vm.change -vm $host -e="disk.enableUUID=1"

[2020-02-14 06:42] zhoudayongdennis commented on #111
@tirelibirefe, @RaunakShah,

i followed below steps to check it from vCenter UI for each VM, and disk.enableUUID on every VM was configured as 1 by default.

https://sort.veritas.com/public/documents/sfha/6.2/vmwareesx/productguides/html/sfhas_virtualization/ch10s05s01.htm

Power off the guest.
Select the guest and select Edit Settings.
Select the Options tab on top.
Select General under the Advan

[2020-02-14 16:45] doctori opened #135 "Volume Creation failed with - CnsFault error: CNS: Failed to initialize FcdService :Operation timed out"
/kind bug

**What happened**:
In a topology aware environment the CNS creation request doesn't respect the the storage policy and send the full list of datastore available on all the clusters of the vcenter
[code]
the FCD service timesout because some datastores are not reachable - some clusters are not in 6.7u3.

**What you expected to happen**:
the CNS creation request should only holds datastor

[2020-02-14 17:21] divyenpatel commented on #135
@doctori CNS does respect storage policy specified in the request.

CSI driver does send list of shared datastores accessible in the requested zone/region.
CNS backend in the vCenter, choose the compliant datastore out of the list sent from the CSI driver.

You can verify this on the vCenter CNS UI.

The issue I see is

Can you post VC side log here?

To check the logs on the vCenter Server side,

[2020-02-14 18:00] RaunakShah commented on #111
I suspect you have installed CSI without waiting for CPI to set the `ProviderID` field on all nodes. Because of that, the nodes are not registered with the driver.
@zhoudayongdennis can you open a new issue for this so we can track it separately?
Which images are you using? We have fixed this issue (CPI setting `ProviderID` after CSI is Running) in the latest images `v1.0.2`

[2020-02-14 18:17] doctori commented on #135
this is from the vsanvcmgmtd.log :
[code]

[2020-02-24 08:42] zhoudayongdennis commented on #111
Did not realize that the cluster-id field in the new csi-vsphere.conf was required, and the issue got resolved with cluster-id added.

[2020-02-24 08:44] zhoudayongdennis commented on #111
change to "datacenters" from "datacenter" in csi-vsphere.conf for secret

[2020-02-26 02:27] SandeepPissay commented on #123
@rhockenbury We at VMware are currently not focusing on Windows based k8s clusters. But given that this is an open source project, we are open if someone from the community wants to add the support. Please add @divyenpatel and me to the PRs that adds this support. Thanks!

[2020-02-26 08:28] szucsitg opened #136 "CSI driver doesn't support volume resize"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Volume resize of PVC failed.

**What you expected to happen**:
Increase volume size successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Update an existing PVC with any size change.

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version: 1.0.2
- vsphere-cloud-controller

[2020-02-26 13:09] xing-yang commented on #136
vSphere CSI driver 1.0.2 does not have support for volume expansion.  Volume expansion will be available in a future release.

[2020-02-26 13:57] szucsitg commented on #136
@xing-yang I know that it does not support, however the "original" tracked issue that is referenced in VMWare KB is in archived repo, open for 3 years. With Project Pacific and Tanzu all over the news cycle, I'd hope that this issue finally gets some traction, because it's a very basic requirement to not foresee storage capacity need for months/years.

[2020-02-26 14:19] xing-yang commented on #136
@szucsitg we are working on it.

[2020-02-26 20:14] shalini-b commented on #136
\assign @xing-yang

[2020-02-27 19:20] RaunakShah opened #138 "Redundant Update calls to CNS when reclaimPolicy of the PV is changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Metadata syncer makes update calls to CNS when reclaimPolicy of the PV is changed.

**What you expected to happen**:
Update calls on CNS are not dependant on reclaim Policy. The Update should be made if a label is updated, irrespective of reclaimPolicy.

**How to reproduce it (as minimally and precisely as possible)**:
Ch

[2020-02-28 21:09] shalini-b commented on #136
The resize feature is not available in the current release. It will be available in the future releases of vsphere CSI. Closing this bug for now.

/close

[2020-02-28 21:12] divyenpatel commented on #136
/close

[2020-02-28 21:13] divyenpatel commented on #135
@doctori Did you get help from vmware support regarding this?

Let us know if you need any help.

[2020-02-29 08:19] szucsitg commented on #136
This is ridiculous. This was a feature issue, not a bug. It's not an answer for Enterprise Plus customer with hundreds of cpu in licenses that we will do something sometime in the future when it did not happen in the last 3 years. And @shalini-b we are capable to realize that it's not working.
/reopen

[2020-02-29 16:02] divyenpatel commented on #136
@szucsitg

Volume resize feature is already developed and ready on VMware internal GitLab repository.
We are in the process of publishing code on the GitHub for the community review.  Feature will be available in the very next release on this repository.

There should be a beta program for Enterprise Plus customers, to try out internal bits.

[2020-02-29 16:23] divyenpatel commented on #101
@lamb84

You are missing Read permission on vCenter. This is required to retrieve result from the task created by CSI driver.

When you observe that volumes are getting created on the datastore, but driver getting NoPermission error, we are missing permission to read result from the task.

We will enhance our documentation for Roles and Privileges requirement to make this clear.

[2020-02-29 21:17] manojvs157 commented on #136
@szucsitg can you tell us more about your requirement and which enterprise customer you represent? We will have our product team reach out to you should you have more questions

[2020-03-01 00:31] sushilsuresh opened #140 "Unable to use CSI driver proisioned volumes on the Master nodes."
/kind bug

**What happened**:
Uname to schedule/run Pods with PVC claims that make use of the vsphere csi driver, on the master nodes.

**What you expected to happen**:
I expected my pods to be scheduled successfully with the vsphere CSI provisioned volumes attached successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Create a new Pod with volume mount associated with a

[2020-03-01 10:23] szucsitg commented on #136
@divyenpatel thank you for sharing the news
@manojvs157 I'd not like to disclose it publicly, you can reach out at username at Gmail, and I can share my corporate mail address.

[2020-03-02 22:01] divyenpatel commented on #55
/reopen

[2020-03-02 22:01] divyenpatel commented on #55
/remove-lifecycle rotten

[2020-03-02 23:26] #51 closed

[2020-03-03 01:15] jaynesb commented on #106
I had this same issue as well. Left it overnight... after about 128 restarts of the pod, the issue just went away.

[2020-03-03 02:52] xing-yang commented on #106
@levihoover Do you still see this issue?  Can you provide more information?  What is the Kubernetes version and driver image version?  Please provide logs, including logs from both vsphere-csi-driver and the syncer.

@jaynesb If you see this issue again, please provide above information as well.

[2020-03-03 14:27] collegebum22 commented on #106
Kube Version:
[code]
Controller container versions:
[code]
Controller Log:
[code]
Syncer Log:
[code]
Other Info:
[code]
[code]
Also I've basically left it running since I posted my issue :)
[code]

[2020-03-03 14:31] levihoover commented on #106
Kube Version:
[code]
Controller container versions:
[code]
Controller Log:
[code]
Syncer Log:
[code]
Other Info:
[code]
[code]
Also I've basically left it running since I posted my issue :)
[code]

[2020-03-03 17:49] xing-yang commented on #106
This is the error that triggered this:

[code]

What is your vCenter version?

[2020-03-03 21:40] jaynesb commented on #106
I can pretty reliably reproduce this. I'm using clusters provisioned on VSphere 6.7U3 with Rancher 2.3.5, using the instructions [on the official docs](https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html) and a couple required modifications I found searching around.

I've reproduced it with both Kubernetes 1.16 and 1.17, but for this I'll use 1.17:
[code]

[2020-03-03 21:43] levihoover commented on #106
vSphere Client version 6.7.0.42000

[2020-03-06 00:47] SandeepPissay commented on #140
Cool!

No. Could you explain use cases for why customers may want to deploy user apps on master nodes?

Feel free to submit a PR.

[2020-03-06 20:50] SandeepPissay commented on #140
/assign @sushilsuresh

[2020-03-07 00:07] sushilsuresh commented on #140
Use case. is going to be very OpenShift specific

Typical example in OpenShift where I ran into below.

In OpenShift, the etcd cluster runs as pods on the master node
OpenShift master nodes ship with a backup script to snapshot the etcd database

In order to create a snapshot of etcd, I spin up a new Pod using a CronJob, on one of the master node, and run the backup script that is already availabl

[2020-03-09 14:03] mzehrer opened #141 "Can not find new nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We added new nodes to our cluster. But the pod doesn't seem to find the nodes. It says: "AttachVolume.Attach failed for volume "pvc-a892be91-401a-4971-997b-0f4cabd86594" : rpc error: code = Internal desc = Failed to find VirtualMachine for node:"cc-k8s-worker05". Error: virtual machine wasn't found"

**What you expected

[2020-03-09 17:17] divyenpatel commented on #141
@mzehrer

Did you taint the new node with - `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule`

Do you see ProviderID is set on the new node by cloud controller manager? CCM initialize node and set providerid on the node, only when it observes uninitialized taint set on the node.

[code]

If not then this is expected.

[2020-03-09 17:29] RaunakShah commented on #141
@mzehrer can you upgrade your CSI image to `v1.0.2` and try this again (after following @divyenpatel's comment)

@divyenpatel i believe that adding new nodes is already supported in `v1.0.2`. This doesn't need to be a `v2.0.0` timeline

[2020-03-09 18:11] divyenpatel commented on #141
@RaunakShah I have removed the v2.0.0  milestone.

With `v1.0.1`, this is still possible, the pre-requisite is node should be registered with API server with following args. - Refer - https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-92D6672B-C74D-4C29-9E04-77878DA9D410.html

[code]

I remember we have verified this scenario while working on documentation.

With `v1.0.2`, thi

[2020-03-09 22:09] #49 closed

[2020-03-10 08:52] mzehrer commented on #141
@divyenpatel We missed the tainting of the nodes, after tainting them it works perfectly. Thank you for your support.

[2020-03-10 08:52] #141 closed

[2020-03-11 19:09] misterikkit commented on #136
@divyenpatel Can you share more about the push process from GitLab to GitHub? Is this done manually each time there is a release, or do you push some changes to GH in between releases?

[2020-03-11 19:47] misterikkit commented on #124
I believe kubelet is responsible for creating `CSINode` objects.

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go

[2020-03-17 13:31] vterdunov opened #143 "Unable to create/delete container volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
CSI cannot create/delete disks(?).
[code]

<details>
  <summary>kubectl describe pvc test</summary>

[code]
</details>

<details>
  <summary>pvc.yaml</summary>

[code]
</details>

<details>
  <summary>storage class</summary>

[code]
</details>

CSI logs:

<details>
  <summary>csi-provisioner</summary>

[code]
</details>

<

[2020-03-18 10:29] vterdunov commented on #143
The problem was in vSphere side. Solved by restart vSphere.

[2020-03-18 10:29] #143 closed

[2020-03-23 10:03] Kvasscn opened #145 "confused about fullsync"
I  found in the fullsync source code  ( https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/syncer/fullsync.go#L327 ) , Datastoreurl and volume  capacity are not specified in the CnsVolumeCreateSpec structure。  Will the volume  be created actually or just create a relationship between vmdk and k8s pv? I'm confused about fullsync and metadatasync。Similar code can be found in  meta

[2020-03-24 00:35] Kvasscn commented on #145
Find a related issue https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/134

[2020-03-24 15:54] codenrhoden commented on #106
@xing-yang okay, I think I have a pretty good idea of what is going on here. I will try to re-create it using the built-in `mock` plugin (and if I can, hopefully build in a test that well duplicate it so I can prove it is fixed). One thing that would help me here though is none of the logs include entries from GoCSI itself -- only CNS. If this could be triggered again but with `X_CSI_DEBUG=true` s

[2020-03-24 16:09] xing-yang commented on #106
@codenrhoden we do see this message "received signal; shutting down" from gocsi:
https://github.com/rexray/gocsi/blob/master/gocsi.go#L500

Let me try this flag `X_CSI_DEBUG=true` and see if I can get more logs from gocsi.

[2020-03-25 19:32] #106 closed

[2020-03-26 13:15] xing-yang commented on #106
There are two parts of the problem:

1. The connection to vCenter times out.
This is a network problem.  Please try to log into the vSphere CSI driver container `vsphere-csi-controller ` and see if you can ping vCenter from there.

2. The timeout triggered a segmentation violation.
PR #146 fixed this second issue.

[2020-03-26 14:14] levihoover commented on #106
That container doesn't have ping and it doesn't stay on long enough to get it installed - I get maybe 15 or 20 seconds before it restarts the container. Curl exists but _does not_ return any output from `curl https://my-vcenter-ip`  where the master node it's running on _does_ return output from same command.

Quite difficult to troubleshoot that container when it won't stay on lol.  Any idea's ho

[2020-03-26 14:28] xing-yang commented on #106
Can you try from `vsphere-syncer`?  Syncer also gets the connection timeout but it does not crash.

[2020-03-26 14:31] xing-yang commented on #106
As I said, even if you get this fix, it only makes sure that the vSphere CSI driver does not crash but it won't fix the network problem that caused the connection timeout.  Without connecting to vCenter, you won't be able to use the driver for provisioning, etc.

[2020-03-26 14:54] codenrhoden commented on #106
One option here (I don't know when the next release is planned) is to point to the latest CI build. After every commit to master that touches code (not docs), new containers are built and pushed to `gcr.io`. So you can go to https://gcr.io/cloud-provider-vsphere/csi/ci/driver and look at what the latest build is. Looks like it is tagged `v1.0.2-8-g7c29d8d`, so you could use this path to pull the c

[2020-03-26 15:19] levihoover commented on #106
@xing-yang I agree my issue is networking - I just wanted to be able to troubleshoot from the right container because... well I barely understand k8s networking as it is :) and I often still think like a hardware guy.  Two minutes before your post I did realize I could try the other containers so I went with liveness-probe as I figured it had to be staying up since it was restarting the other ones

[2020-03-26 16:03] jaynesb commented on #106
@codenrhoden I've loaded up the CI build you indicated (`v1.0.2-8-g7c29d8d`) onto my test cluster, and can confirm that it resolves specifically the SIGSEGV:
[code]

@xing-yang if the issue is a timeout connecting to VSphere, it would be helpful if the logs actually indicated that. The csi-controller pod still terminates after the above messages, so I installed iputils on the vsphere-syncer pod ju

[2020-03-27 20:00] szucsitg commented on #136
@divyenpatel @manojvs157
Any update on this? As you do not reply to emails after I accepted your offer to discuss it with the relevant technical team

[2020-03-27 20:17] divyenpatel commented on #136
@szucsitg we are working on releasing code.

govomi change to support re-size feature in vSphere CSI 2.0 release is already public - https://github.com/vmware/govmomi/pull/1883/commits

next we will open source vSphere CSI driver here in this repo. We will be generating Pull Request with all changes as we did for govomi.

[2020-03-30 14:59] saunderslink opened #147 "PVC error - syncfault"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
receiving the following error periodically with PVC
sFault error: CNS: Failed to create disk.:Fault cause: vslm.fault.SyncFault

Restarting vCenter virtual appliance resolves the issue.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-03-31 18:36] szucsitg commented on #136
Thanks @divyenpatel that's good news. Are you planning to expand govc with this as well? Also do you have an ETA on the 2.0 version?

[2020-03-31 19:46] manojvs157 commented on #136
@szucsitg You will hear official VMware announcement on this soon. For product road map questions please reach out to VMware product teams.

[2020-03-31 19:53] szucsitg commented on #136
@manojvs157 maybe you recall that you sent me an email over the weekend and Gopala hasn't reached out since that, or in the last 3 weeks, since I wanted to follow-up on his offer to discuss it with your product teams. So if you can manage that call I'm happy to keep this information to myself and my team.

[2020-04-01 04:06] JoveYu commented on #109
@dvonthenen thank you for your work, is there a helm chart for vsphere-csi still work? it can help me install quickly

[2020-04-01 17:43] RaunakShah commented on #145
@Kvasscn Your understanding is correct. For static provisioning, the external provisioner does not trigger the CSI `CreateVolume` API. This is because the backend storage is presumed to be provisioned already (out of band). Full sync and metadatasyncer establish a relationship between an already existing FCD and a PV, marking that FCD as a CNS Volume. Once a volume is marked as a CNS Volume, its l

[2020-04-02 00:52] misterikkit commented on #46
/remove-lifecycle stale

[2020-04-02 09:44] Kvasscn commented on #145
@RaunakShah ok, thanks

[2020-04-02 09:44] #145 closed

[2020-04-03 11:49] pierreyves-lebrun opened #148 "Cannot delete orphan persistent volume"
**What happened**:
Upon deleting a persistenVolume with `kubectl delete pv pv_name`, vCenter still lists the PV under  "Container volumes", even-though the latter command successfully returned.

The actual VMDK also appears in the datastore under the fcd folder.

**What you expected to happen**:
I expected the PV to disappear from vCenter.

**How to reproduce it (as minimally and precisely as poss

[2020-04-03 20:27] lipingxue commented on #148
/assign @lipingxue

[2020-04-03 20:28] vkamra opened #149 "Dynamic provisioning fails with working with VSAN datastore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
PVCs created using a VSAN storageclass are not getting bound

**What you expected to happen**:
PVC creation should provision VSAN disk, PV and bind

**How to reproduce it (as minimally and precisely as possible)**:
Create a PVC that uses a VSAN SC

**Anything else we need to know?**:
[code]

**Environment**:
- csi-vsphere version:
`

[2020-04-03 20:29] vkamra commented on #149
I do see the following error in VSAN logs
[code]

[2020-04-06 11:56] meilel commented on #123
Im also in need of this feature, for my cluster including windows nodes

[2020-04-06 19:24] rhockenbury commented on #123
@meilel - I believe @michmike is looking at getting someone internal at vmware to help implement this.

[2020-04-07 17:43] #93 closed

[2020-04-07 17:43] #103 closed

[2020-04-07 17:43] #136 closed

[2020-04-07 17:43] #55 closed

[2020-04-07 17:43] #100 closed

[2020-04-07 17:43] #138 closed

[2020-04-08 04:35] shawnho1018 opened #154 "Wrong image tag in vsphere-csi-controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Both yaml files, vsphere-csi-node-ds.yaml
 and vsphere-csi-controller-deployment.yaml, has image which does not list tag correctly.

Also, I checked both vsphere6.7u3 and vsphere 7 folders are having same issue.
For example,
        - name: vsphere-csi-controller
          image: vmware/vsphere-csi:<vsphere_csi_ver>
**What you expec

[2020-04-08 06:06] alex1989hu commented on #154
@shawnho1018: this is what I also found - after merge - to the PR: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/151#discussion_r405033461

[2020-04-08 06:12] alex1989hu opened #155 "Incorrect repository layour for v2 Go Modules"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Repository breaks the mandatory requirements of `v2` Go Modules.

**What you expected to happen**:
Fix go module requirements for semantic versioning

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:
- https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic

[2020-04-08 18:47] divyenpatel commented on #155
@alex1989hu

Are you trying to use this repository as module in some other project? trying to understand the requirement for `v2`.

[2020-04-08 18:49] manojvs157 commented on #155
@alex1989hu what are the mandatory requirements you are talking about? How are you going to use our csi driver?

[2020-04-08 19:58] alex1989hu commented on #155
No, I am not trying to use. I put two URLs to give you context how Go Modules made by design. You wanted to create version 2.x.y. In that case you must set the same major version in go.mod and package path. It does not matter the library is being used or not as a dependency.

[2020-04-08 20:08] alex1989hu commented on #155
The requirements which are linked in the PR description. Please read them - this is why those are placed there. This is not about how will anybody use it. Maybe you are confused due to the description. It is about how Go Modules is designed. If you cut a release 3.x.y, then you must also set v3 both go.mod and package path. Again, please read the referenced documents.

[2020-04-08 20:22] alex1989hu commented on #155
/cc @xing-yang Could you please contact them to give details why is it needed? I did in external-attacher & external-snapshotter this step several weeks ago.

[2020-04-08 20:37] manojvs157 commented on #155
@alex1989hu i still don’t understand how making this imported as a go module is a necessity. Can you explain what your use case is?

[2020-04-08 21:05] alex1989hu commented on #155
I did not write that I wanted to use it as a library because I don't want. Could you explain why don't you think that v2 is not mandatory?

[2020-04-08 21:07] shalini-b commented on #50
/remove-lifecycle stale

[2020-04-08 21:07] manojvs157 commented on #155
@dvonthenen We have some open unanswered  questions on https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/155. so please hold this in abeyance until we are clear on the issue. Thanks

[2020-04-08 21:53] manojvs157 commented on #155
We will be publishing our documentation with sections on how to compile and use our CSI images. That will have all the instructions. At this point based on our testing we did not run into any issues. Backward compatibility is also not a issue for us. So this doesn't seem mandatory.

[2020-04-08 22:07] alex1989hu commented on #155
Updated the description to not to think that this repository is being used as a library. Reflect to your message: you are going to incorrectly use Go Modules after cutting 2.x.y, despite the fact that is written in the reference documentation. You chose Go Modules, why don't you respect the rules?

[2020-04-09 16:41] mattrcampbell opened #157 "Issue with vsphere-csi-controller-deployment.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Deploying syncer with vsphere-csi-controller-deployment.yaml results in the following error:

"flag provided but not defined: -leader-election"

Using the image "gcr.io/cloud-provider-vsphere/csi/release/syncer:v1.0.2"

**What you expected to happen**:

Syncer would start normally.

**How to reproduce it (as minimally an

[2020-04-09 16:47] divyenpatel commented on #157
v1.0.2 does not have -leader-election support.

leader-election support is added in v2.0.0 as mentioned in the https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/151

If you are interested in trying out 2.0 driver, you can use following images generated for above pull request.

[code]

Once 2.0 driver is released, we will update yamls.

[2020-04-09 17:36] mattrcampbell commented on #157
That makes sense.  The old YAML files listed in the instructions went away, so you can no longer follow the directions at: https://github.com/kubernetes/cloud-provider-vsphere/raw/master/manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml
s

I went looking for files and these were the ones I found.

[2020-04-10 00:35] xing-yang opened #161 "Update CSIDriver for 1.18 and higher"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
CSIDriver storage.k8s.io/v1beta1 is deprecated in 1.18 and will be removed in a future release.  We should use storage.k8s.io/v1 in 1.18 and higher.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml#L145

Note: In a future release,

[2020-04-10 07:50] nickvth opened #162 "Please add online resizing in CSI 2.x"
Please add online resizing

[code]

_Originally posted by @nickvth in https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/151#issuecomment-611922678_

[2020-04-10 09:15] zhoudayongdennis opened #163 "detach/attach volume with error "not a CNS volume""
on vsphere 6.7.3, and perform scale in operation. The volume got failed during detaching/attaching as following logs in CSI controllor

[root@m-cs-01 ~]# kubectl logs vsphere-csi-controller-0 -nkube-system  | grep 8a54d162-0396-475b-acc0-6933e79262e4

I0409 09:39:31.018521       1 util.go:58] Found diskUUID 6000C291-444d-60f3-095a-195330728273 for volume 8a54d162-0396-475b-acc0-6933e79262e4 on vm

[2020-04-10 16:55] divyenpatel commented on #163
@zhoudayongdennis Can you provide CSI driver version you are using?

We have fixed race between delete volume and detach volume with CSI 2.0 Driver.
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/vanilla/controller.go#L540-L544

[2020-04-11 09:09] zhoudayongdennis commented on #163
@divyenpatel,

from github, the latest release is 1.0.2, which was introduced in my project.

when CSI 2.0 will be released?

thanks,
Dennis

[2020-04-11 09:36] zhoudayongdennis commented on #163
from the error message, it was failed at line#235 in ./pkg/common/cns-lib/volume/manager.go during calling  task, err := m.virtualCenter.CnsClient.DetachVolume(ctx, cnsDetachSpecList).

not sure what's root cause of failing to detach volume with not CNS volume error message, and could you show me the detail and what's the correction of race condition in controller.go#L540-L544?

thanks,
Dennis

[2020-04-11 16:43] shawnho1018 commented on #154
@alex1989hu  Thanks. I read about your comment there and also hope to learn the release date of the container image. Is there any reason we release yaml before the image is ready!? That does not make any sense to me.

[2020-04-11 16:54] alex1989hu commented on #154
I also does not understand the strategy

[2020-04-12 02:31] shawnho1018 commented on #154
@alex1989hu  I checked with @divyenpatel and there is a temporary version which will work for now. I've tested them on vsphere7/vanilla and they're fine with me. I won't submit a PR since this may not be final one. However, for anyone who needs a working version for now, please use:
gcr.io/cloud-provider-vsphere/csi/ci/driver:v1.0.2-265-gbaaccdf
gcr.io/cloud-provider-vsphere/csi/ci/syncer:v1.0.2-2

[2020-04-12 07:25] danielzhanghl commented on #163
@divyenpatel  only install CSI not install CPI, will this error happen?

saw there is dependency between these two:
https://cloud-provider-vsphere.sigs.k8s.io/container_storage_interface.html

How do I install it?
Full instructions on the setup and installation of the vSphere CSI driver and CPI can be found here.

Note: The vSphere CSI driver requires the vSphere CPI to be installed as well (cover

[2020-04-13 01:38] bkcsfi commented on #124
Hi,

I am attempting to use vsphere-csi and cpi on a single node k3s v1.17.4

Everything works up to the point of attaching the pv to the node.  The pvc and pv are created

It looks like the manifests where changed to use `-v 4` already, can you please suggest where I can look to see why csinodes doesn't seem to be working?

I did have to explicitly pass `--provider-id` to kubelet, I'm not sure if

[2020-04-13 06:07] zhoudayongdennis commented on #163
also retry the Virtual Machine Hardware with version 15 and reboot one of worker node, still encounter below detach error.

it seems the issue could be occurred easily instead of race condition issue.

I0413 05:29:39.454803       1 controller.go:302] ControllerUnpublishVolume: called with args {VolumeId:11ce18f6-ddff-4cb7-a4fc-c76b8645fdd9 NodeId:m-w-01 Secrets:map[] XXX_NoUnkeyedLiteral:{} XXX_un

[2020-04-13 22:37] divyenpatel opened #166 "Code Improvement - Error strings should not be capitalized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Code Improvement - Error strings should not be capitalized
https://github.com/golang/go/wiki/CodeReviewComments#error-strings

**What happened**:
Many of the error messages begin with capital letter case.
https://github.com/kubernetes-sigs/vsphere-csi-driver/search?q=fmt.Errorf&unscoped_q=fmt.Errorf

**What you expected to happen**:
Need to make sure w

[2020-04-13 22:51] divyenpatel opened #167 "Code Improvement - Fix issues reported by golangci-lint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Code Improvement

**What happened**:

 `golangci-lint` has observed following issues, not reported by `make check`.

[code]

**What you expected to happen**:
fix code as suggested above.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere version:
- vsphere-cloud-contro

[2020-04-13 23:12] RaunakShah commented on #167
/assign @RaunakShah

[2020-04-13 23:25] divyenpatel commented on #163
@zhoudayongdennis

We are working on documentation and final validation. We will release 2.0 Driver images soon.

Meanwhile if you want to try out new features in the test environment, you can use temporary CI images built from the Pull Request.

[code]

This is because Delete of the volume happens before the ControllerUnpublish (due to k8s upstream bug - https://github.com/kubernetes/kubernetes/i

[2020-04-13 23:31] divyenpatel commented on #149
Issue is not related to the driver, but something is wrong on the server.

@vkamra Can you file SR  (https://www.vmware.com/support/file-sr.html) for this issue?
Please attach vSphere support bundles with SR.

[2020-04-14 05:41] zhoudayongdennis commented on #163
@divyenpatel
thanks for the background info!

For my initial issue -- detaching volume failure with "not CNS volume" during node reboot, assuming it was response from vsphere side back to CSI driver, right? if so, what's wrong with it? any mis-configuration problem?

I0413 05:29:39.454803 1 controller.go:302] ControllerUnpublishVolume: called with args {VolumeId:11ce18f6-ddff-4cb7-a4fc-c76b8645fdd

[2020-04-14 05:56] zhoudayongdennis commented on #163
here is the detach related logs both for failed case and successful case.

Please help share what's wrong with it?

***
failure case -- detach volume
***
I0413 05:29:39.454803 1 controller.go:302] ControllerUnpublishVolume: called with args {VolumeId:11ce18f6-ddff-4cb7-a4fc-c76b8645fdd9 NodeId:m-w-01 Secrets:map[] XXX_NoUnkeyedLiteral:{} XXX_unrecognized:[] XXX_sizecache:0}
I0413 05:29:39.459857 1

[2020-04-14 06:07] zhoudayongdennis commented on #163
BTW, do you know to track or debug it on vsphere client CNS side, enable debug trace/source code?

it got failed in below line in ./vsphere-csi-driver-1.0.2/pkg/common/cns-lib/volume/manager.go

210
211 // DetachVolume detaches a volume from the virtual machine given the spec.
212 func (m *volumeManager) DetachVolume(vm *cnsvsphere.VirtualMachine, volumeID string) error {
213     err := validateMa

[2020-04-14 12:34] Pelrauns opened #168 "Error: InvalidImageName"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
pod/vsphere-csi-controller-7594567559-cgmzk   3/5     InvalidImageName   0          10m
pod/vsphere-csi-node-5n2b5                    2/3     InvalidImageName   0          10m
pod/vsphere-csi-node-67g8k                    2/3     InvalidImageName   0          10m
pod/vsphere-csi-node-cpmjk                    2/3     Inval

[2020-04-14 16:58] Security-Matrix commented on #168
I am also receiving this error message: Please advise on how to fix this issue.

vsphere-csi-node-grk8r                   2/3     InvalidImageName   0          2m9s
vsphere-csi-node-rw6kt                   2/3     InvalidImageName   0          2m9s

[2020-04-15 00:33] divyenpatel commented on #101
@artazar we have documented roles and privileged with examples in detail here - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/driver-deployment/prerequisites.md

closing this issue.

[2020-04-15 00:33] #101 closed

[2020-04-15 02:05] divyenpatel commented on #163
@zhoudayongdennis just wanted to make sure, do you have multiple kubernetes cluster running in the vCenter,  using same `cluster-id` in the vsphere csi config file.

if this is the case, those clusters may be creating this ambiguity. When one cluster is creating volume, `full-sync` from another cluster might be un-tagging volume from CNS, as it is not present in its etcd.

Can you confirm you have

[2020-04-15 02:41] zhoudayongdennis commented on #163
@divyenpatel,

yes, there were several clusters deployed in the same vsphere platform with the same default cluster-id in CSI config file.

For such ambiguity, it seems full-sync on vsphere will retrieve the volumes from each deployed cluster, and handle the result base on the cluster-id, if with the same cluster-id, the latter ones will un-tag the previous ones in CNS component, and the display o

[2020-04-15 04:11] RaunakShah commented on #168
@Pelrauns @Security-Matrix We are currently in the process of cutting a release for our 2.0 vSphere CSI Driver and simultaneously performing comprehensive testing and documentation updates.

If you look at the `image` field for `vsphere-csi-controller` and `vsphere-syncer` containers in https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/vsphere-67u3/vanilla/deplo

[2020-04-15 07:18] zhoudayongdennis commented on #163
@divyenpatel

here is the log related with sync on vsphere client. Not clear about "Total SQL result", "TableSize" and skipCnt.

2020-04-15T14:02:22.435+08:00 info vsanvcmgmtd[07588] [vSAN@6876 sub=CacheSyncManager] CNS: Build version table from DB successfully. Total SQL result=15, TableSize=3
2020-04-15T14:02:23.236+08:00 info vsanvcmgmtd[07588] [vSAN@6876 sub=CacheSyncManager] CNS: Finish Sync

[2020-04-15 13:29] divyenpatel commented on #163
this was causing the issue and operations were failing with "not a CNS volume".

We are documenting this requirement in the installation guide - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/171/files

This is not caused by full sync in vCenter.
Volume un-tag is initiated from syncer container deployed as part of CSI driver. We have driver side full sync to ensure all k8s metadata are

[2020-04-15 17:42] lipingxue commented on #148
@pierreyves-lebrun  We have a full sync(by default it will run every 30 minutes) to clean up / de-register orphan volume entries from CNS. you do not need to manually delete them from vCenter.
After you delete the PV,  could you check after wait for 35 minutes  and then check if the orphan volume is removed from VC?
If cluster is completed deleted, before deleting workload then we need to interact

[2020-04-16 02:05] zhoudayongdennis commented on #163
[DENNIS]: could you show me the corresponding un-tag log message in CSI driver? i want to search it in my env to double confirm the issue.

[DENNIS]: In our env, the cluster-name is the unique and cluster-id is the default with the same value, so could I put the cluster-name into cluster-id in csi-vsphere.conf? it could meet the unique value by cluster level.

Will CSI drive use cluster-id for oth

[2020-04-16 14:52] pierreyves-lebrun commented on #148
Thanks for the update. I did delete the original cluster as I was just testing the CSI driver.

Could you please let me know what is the procedure for manually cleaning up orphan volumes?

[2020-04-16 21:21] divyenpatel commented on #163
yes, `cluster-id` is used by full sync, metadata syncer and in a lot of other workflows to make sure the driver is processing volumes of its k8s cluster.

it is the responsibility of driver deployer or service to ensure it is putting unique cluster-id in the vsphere csi conf.

[2020-04-17 00:21] zhoudayongdennis commented on #163
@divyenpatel,

hopefully, there is no more question after this one:)

1. for cluster-id in csi-vsphere.conf, the driver does not care about it is real ID or name, and the user just should make sure the value is unique. Is that the correct understanding?
2. for current issue, if cluster-id is not unique in vsphere platform, how will it make ambiguity? just try to understand the logic of syncer cont

[2020-04-17 00:35] divyenpatel commented on #163
Yes, there is no validation for this ID.

lets assume you have two k8s clusters. both using same cluster-id.

cluster-1 creates volume-1  and push metadata.
cluster-2 creates volume-2 and push metadata.

syncer container running in cluster-1, finds, there is no such volume-2, I have present in etcd, but VC has this volume registered with my cluster-id, so syncer container running in cluster-1 will

[2020-04-17 01:11] zhoudayongdennis commented on #163
@divyenpatel,
thanks for the quick response!

here you mentioned "syncer container will un-tag this volume" means syncer container will send un-tag operation to VC, so VC will remove the CNS tag for this volume on VC side, right?

thanks,
Dennis

[2020-04-17 06:24] AshwithaCrasta opened #183 "error: unable to read URL "https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/1.14/rbac/vsphere-csi-controller-rbac.yaml", server reported 404 Not Found, status code=404"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

While deploying CSI plugin referring this document : https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html

"CREATE ROLE SERVICE
kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/1.14/rbac/vsphere-csi-controller-rbac.yaml
error: unable to re

[2020-04-17 17:07] divyenpatel commented on #183
@AshwithaCrasta I am putting back older yamls with this PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/179

@andrewsykim Can you help with updating doc in CPI repo? also can we redirect users to follow our new doc site we are putting up in this repository.

cc: @SandeepPissay @manojvs157

[2020-04-17 17:09] divyenpatel commented on #168
@Pelrauns I am putting back older yamls for `v1.0.2` driver with this PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/179

cc: @SandeepPissay @manojvs157

[2020-04-17 17:11] divyenpatel commented on #157
@mattrcampbell we will put back older yamls for `v.1.02` driver with this PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/179

cc: @SandeepPissay @manojvs157

[2020-04-17 17:13] divyenpatel commented on #154
yamls for `v1.0.2` driver will be put back as part of this PR - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/179

we will update driver image tag in newer yamls we have checked soon after v2.0.0 is available.

cc: @SandeepPissay @manojvs157

[2020-04-18 02:09] divyenpatel commented on #163
I mean syncer container calls CNS API in vCenter  - DeleteVolume with delete disk flag set to false. so call is initiated from CSI driver.

https://vdc-download.vmware.com/vmwb-repository/dcr-public/b21ba11d-4748-4796-97e2-7000e2543ee1/b4a40704-fbca-4222-902c-2500f5a90f3f/vim.cns.VolumeManager.html#delete

[2020-04-18 17:51] divyenpatel commented on #183
@AshwithaCrasta images for `v.1.0.2` driver previously posted at the link you have mentioned is put back at this new location- https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v1.0.2

[2020-04-18 21:24] juergenschubert opened #186 "vsphere-csi-controller-0 Pending - 1 node(s) didn't match node selector, 1 node(s) had taints that the pod didn't tolerate"
**What happened**:
I am trying to run a
 kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/v1.0.2/rbac/vsphere-csi-controller-rbac.yaml
 apply -f https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/v1.0.2/deploy/vsphere-csi-controller-ss.yaml
kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/vsp

[2020-04-18 22:49] pierreyves-lebrun commented on #186
Could you be possibly using a tool which is adding taints to your nodes?

That will the case with Rancher for example, could you list the taints with:

`kubectl describe nodes | egrep "Taints:|Name:"`

[2020-04-19 11:17] juergenschubert commented on #186
kubectl describe nodes | egrep "Taints:|Name:"
                                   Name:   tanzu-m1
                                   Taints: node-role.kubernetes.io/master:NoSchedule
                                   Name:   tanzu-s1
                                   Taints: <none>
Rancher is nothing I know of so I have no knowledge and question is what do I need it for?

[2020-04-19 12:07] juergenschubert commented on #186
I am puzzeled as: https://raw.githubusercontent.com/kubernetes-sigs/vsphere-csi-driver/master/manifests/v1.0.2/deploy/vsphere-csi-controller-ss.yaml is telling me:
nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
        - operator: "Exists"
          key: node-role.kubernetes.io/master
          effect: NoSchedule

My running taints are just
kubectl describe nodes | egr

[2020-04-20 01:24] zhoudayongdennis commented on #163
@divyenpatel,

thanks for the explanation and issue is very clear now!

[2020-04-20 01:24] #163 closed

[2020-04-21 18:53] z1oy opened #189 "v2.0.0-rc.1 not work if i don't have clusters?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In my setup. i don't have cluster, only DC and VM
Im test new version of csi-driver and got a error:
`2020-04-21T18:39:00.346Z	ERROR	common/vsphereutil.go:461	Error occurred while getting clusterComputeResource. error: cluster '*' not found	{"TraceId": "40a4d4a2-854c-4fc4-9277-b16c8b69264e"}
sigs.k8s.io/vsphere-csi-driver/pkg/csi/se

[2020-04-22 18:19] adityasaxena88 opened #191 "Getting error attachvolume.attach failed for volume has no nodeid annotation in kubernetes 1.18.1 and vsphere 6.7u3"
![csi-aatacher](https://user-images.githubusercontent.com/12782430/80018595-dc875f00-84f3-11ea-9522-42443be38517.JPG)

![csi-controller](https://user-images.githubusercontent.com/12782430/80018598-df824f80-84f3-11ea-8460-6ad04af817d0.JPG)

[2020-04-23 10:59] larhauga opened #193 "csi-controller v2.0.0-rc.1 does not start when no vSAN file service is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vsphere csi controller deployment does not start when the controller does not succeed to find file service backed by vSAN. In an environment where vSAN is not present, the `getDsToFileServiceEnabled` function fails, and the controller does not successfully start.

[code]

This happens when `TargetvSANFileShareDatastoreURL

[2020-04-23 18:53] bvivi57 opened #195 "vsphere-csi-controller Crash : vsphere-syncer Failed to create new client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I try to deploy the CSI controller with the vsphere-csi-controller-ss.yaml file, the pods keep crashing

**What you expected to happen**:
The controller should remain in running mode

**How to reproduce it (as minimally and precisely as possible)**:
just redeploy the controller

**Anything else we need to know?**:

T

[2020-04-23 19:48] #193 closed

[2020-04-24 14:25] symbian4sj opened #196 "vSphere CSI PVC in pending state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
running vSphere 6.7 with vSphere CSI plugin pods are deployed successfully but pvc's are in pending state.
**What you expected to happen**:
pvc should not be in pending state.
**How to reproduce it (as minimally and precisely as possible)**:
K8 1.17
vSphere 6.7 with vSphere CSI

**Anything else we need to know?**:
logs from csi-prov

[2020-04-24 14:27] symbian4sj commented on #196
@divyenpatel : your suggestions pls..

[2020-04-24 18:34] RaunakShah commented on #196
@symbian4sj there can be various reasons for PVC's stuck in Pending state, normally because something went wrong with setting up your kubernetes cluster.

Can you paste the output of `kubectl get pod -n kube-system` here? Also, can you paste a snippet of your vsphere-csi-controller logs (`kubectl logs vsphere-csi-controller-0 -c vsphere-csi-controller -n=kube-system`). This will help us identify w

[2020-04-24 19:02] RaunakShah commented on #191
@adityasaxena88 looks like there's some issue with your nodes.
I see this in attacher logs:

[code]

Can you paste the output of:

1. `kubectl get pod -n kube-system`, to verify that the csi-node daemonset has been initialized properly
2. `kubectl describe csinode k8s-worker-aditya-2`

[2020-04-24 19:15] RaunakShah commented on #186
@juergenschubert Can you paste the output of `kubectl get nodes`?

What ressource or else is missiong so it get started on the worker node?

To run it on a worker node, can you try removing the following lines from vsphere-csi-controller-ss.yaml

[code]

[2020-04-24 20:02] symbian4sj commented on #196
thanks..

vsphere-cloud-controller-manager-5wf8z                            1/1     Running   0          7d8h
vsphere-cloud-controller-manager-vz24j                            1/1     Running   2          7d8h
vsphere-cloud-controller-manager-wlqpb                            1/1     Running   1          7d8h
vsphere-csi-controller-0                                          5/5     Running   0

[2020-04-24 20:29] #87 closed

[2020-04-24 20:29] #130 closed

[2020-04-24 20:52] RaunakShah commented on #196
@symbian4sj i see that you have 3 instances of vsphere-csi-controller running. Did you make any changes to the manifests?

CSI `v1.0.2` does not officially support multi master kubernetes clusters. Can you try using a single master kubernetes cluster and see if this problem still persists?

BTW CSI `v2.0.0` (which will be released shortly) does support multi master kubernetes cluster, with a repli

[2020-04-24 21:36] symbian4sj commented on #196
thanks.
how can i upgrade to CSI v2.0.0 without loosing my multi master cluster?
Please suggest.

[2020-04-25 10:06] adityasaxena88 commented on #191
![node](https://user-images.githubusercontent.com/12782430/80277113-7de7fe00-870a-11ea-84e6-16db704a4e87.JPG)

![csi](https://user-images.githubusercontent.com/12782430/80277125-8fc9a100-870a-11ea-8434-b44e391cc952.JPG)

[2020-04-25 15:28] symbian4sj commented on #193
hello!!
csi-controller v2.0.0-rc.1 container doesn't start with following error.

kubectl describe pod vsphere-csi-node-wbnn4 -n=kube-system
Events:
  Type     Reason     Age                    From                         Message
  ----     ------     ----                   ----                         -------
  Normal   Scheduled  29m                    default-scheduler            Successfully

[2020-04-25 15:30] symbian4sj commented on #196
also tried deploying a new cluster with CSI v2.0.0-rc.1
and csi-controller v2.0.0-rc.1 container doesn't start with following error.

kubectl describe pod vsphere-csi-node-wbnn4 -n=kube-system
Events:
Type Reason Age From Message

Normal Scheduled 29m default-scheduler Successfully assigned kube-system/vsphere-csi-controller-76b8d7d97b-gz4j9 to seliicbl01526-k8sw
Normal Pulling 29m kubelet, seliic

[2020-04-27 11:04] larhauga opened #199 "Topology-aware CSINode without access to vCenter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently it seems that every vsphere-csi-node needs access to the vCenter in a topology-aware cluster to be able to create CSINode objects with region/zone tags.

**What you expected to happen**:
In a topology aware cluster where tags for zone and region is needed, we would like this to be provided by a component runn

[2020-04-28 00:27] SandeepPissay opened #200 "VirtualCenter.Config.DatacenterPaths is used incorrectly in supervisor cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Here's a sample vsphere config in a supervisor cluster:
[code]
The datacenters param is the Datacenter's moid. CSI common code uses `datacenters` param as a datacenter path specifically in vanilla flavor. But the supervisor flavor uses this as datacenter moid. Supervisor cluster is incorrectly using this param as this para

[2020-04-28 00:27] SandeepPissay commented on #200
Cc @BaluDontu

[2020-04-28 01:14] divyenpatel commented on #183
closing this issue. please use this new location - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests

[2020-04-28 01:14] #183 closed

[2020-04-28 01:19] divyenpatel commented on #168
Closing this issue.

corrected yamls are available here - https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests

[2020-04-28 01:19] #168 closed

[2020-04-28 01:20] divyenpatel commented on #154
closing this issue.
correct yamls are available here -
https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests

[2020-04-28 01:20] #154 closed

[2020-04-28 01:21] divyenpatel commented on #157
fixed with #179

[2020-04-28 01:21] #157 closed

[2020-04-28 02:30] #94 closed

[2020-04-28 06:51] larhauga commented on #199
**Proposal**
I have tried to understand what is the reason that the node driver needs access to vsphere. From what I can see it is (at least) this part that communicates with the vCenter, [csi/service/node.go](https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/node.go#L668-L720).
Would it be possible to change this into looking up the k8s nodes, and gather the topolo

[2020-04-28 07:24] sachinphogat opened #202 "CSI Driver for vCloud Director"
When we can expect CSI Driver for vCloud Director?
And can we use vsphere csi driver in vCloud Director?

[2020-04-28 12:34] symbian4sj commented on #196
@RaunakShah
Hi,
trying out v2.0.0-rc.1 driver by following below link.
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/driver-deployment/installation.md

vsphere-csi-controller pod is failing with below eroor.

kubectl logs vsphere-csi-controller-54b977cd4-khsbp vsphere-csi-controller -n=kube-system
{"level":"error","time":"2020-04-28T12:29:03.599824674Z","caller":"serv

[2020-04-28 16:02] EleanorRigby opened #204 "Cluster installed with CSI does not detach disks on worker nodes on kubectl drain"
**What happened**:
On running kubectl drain node, with CSI provisioned PVC workloads,

`Disks are unmounted but are still attached. Refer to lsblk log below`

**What you expected to happen**:
Disks should have been unmounted and detached from the host node

**How to reproduce it (as minimally and precisely as possible)**:
Create a k8s cluster
Install vSphere CSI for PV claims
Create a stateful wor

[2020-04-29 05:46] RaunakShah commented on #196
@symbian4sj  To provision file volumes, we only support vSAN datastores.

To provision only block volumes, you can create the `csi-vsphere.conf` file by following the link - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/driver-deployment/installation.md#vsphereconf_for_block

[2020-04-29 05:47] RaunakShah commented on #191
@adityasaxena88 can you verify whether `kubectl describe csinode k8s-worker-aditya-2` mentions that the driver is `csi.vsphere.vmware.com`

[2020-04-29 07:18] symbian4sj commented on #196
@RaunakShah
thanks.

I am using block storage with datastore and not using file storage, and my csi-vsphere.conf looks like below.

[Global]
cluster-id = "Cluster01"
[VirtualCenter "x.x.x.x"]
insecure-flag = "true"
user = "Admin"
password = "Admin"
port = "443"
datacenters = "Datacenter10"

and it looks like somehow vsphere-csi-controller is looking for TargetvSANFileShareDatastoreURLs. Field for

[2020-04-29 22:55] shalini-b commented on #147
The issue is not related to the driver. Looks like something is wrong on the server-side.

@saunderslink  Can you file SR (https://www.vmware.com/support/file-sr.html) for this issue?
Please attach vSphere support bundles with the SR.

[2020-04-29 22:59] shalini-b commented on #186
/assign @RaunakShah

[2020-04-29 23:06] divyenpatel commented on #189
@z1oy fix for this issue is available in v2.0.0 release.

gcr.io/cloud-provider-vsphere/csi/release/driver:v2.0.0
gcr.io/cloud-provider-vsphere/csi/release/syncer:v2.0.0

[2020-04-29 23:06] #189 closed

[2020-04-29 23:12] SandeepPissay commented on #202
@sachinphogat We do not have any plans to make vSphere CSI driver to work for vCloud Director.

[2020-04-29 23:12] #202 closed

[2020-04-29 23:18] shalini-b commented on #196
@symbian4sj We are looking into this issue and will get back to you shortly.

/assign @divyenpatel

[2020-04-29 23:40] shalini-b commented on #124
/assign @xing-yang

[2020-04-29 23:51] BaluDontu commented on #200
/assign @BaluDontu for now.

[2020-04-29 23:57] xing-yang commented on #162
We are working on online resizing.

[2020-04-30 00:10] shalini-b commented on #195
@bvivi57  I think there is a problem with the DNS configuration after you switched to Calico. That is the reason the master node is not able to connect to your vCenter host.

[2020-04-30 21:22] alex1989hu opened #209 "Missing ClusterRole: cannot patch resource "persistentvolumes" in API group"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Pod is in pending state, describe the pod reveals the issue:

**What you expected to happen**:
Permission is extended with missing `patch` verb

**How to reproduce it (as minimally and precisely as possible)**:
Deploy `vsphere-csi-driver 2.0` onto `67u3` with provided manifests.

**Anything else we need to know?**:
It is c

[2020-04-30 21:50] alex1989hu opened #211 "Images shall be the same for both supported vSphere products"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Possible regression of https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/208:
images in manifests for `vsphere-67u3` should be also `v2.0.0`, not `v2.0.0-rc.1`

**What you expected to happen**:
Using same images for both vSphere product.

**How to reproduce it (as minimally and precisely as possible)**:
Check the

[2020-04-30 22:27] #211 closed

[2020-05-02 02:38] #209 closed

[2020-05-03 05:47] tirelibirefe opened #214 "AttachVolume.Attach failed for volume "pvc-..." : rpc error: code = Internal desc = failed to find VirtualMachine for node:"dev1-worker3". Error: virtual machine wasn't found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

volumes cannot be mounted.

**What happened**:

I followed the instructions here:
https://cloud-provider-vsphere.sigs.k8s.io/tutorials/kubernetes-on-vsphere-with-kubeadm.html

but I used manifests here:
https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/v1.0.2

**Anything else we need to know?**:
I use tag based spbm storage.

[2020-05-03 23:33] tirelibirefe commented on #91
@arsenhovhannisyan95 Which receipe do you follow for multimaster kubernetes installation on vSphere?

[2020-05-04 00:11] arsenhovhannisyan95 commented on #91
I've deployed with this doc .
https://blog.inkubate.io/install-and-manage-automatically-a-kubernetes-cluster-on-vmware-vsphere-with-terraform-and-kubespray/

After you can use vsphere out of tree volume provisioning method , but you need to take a look for limitations . I try it about 8 month ago and if I am not mistaken in that time they does not allow to extend pv.  Now you need to check it.

[2020-05-04 02:13] tirelibirefe commented on #214
@divyenpatel @RaunakShah please advise

[describe_csidrivers.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4572526/describe_csidrivers.log)
[describe_CSINode.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4572527/describe_CSINode.log)
[describepvc.log](https://github.com/kubernetes-sigs/vsphere-csi-driver/files/4572529/describepvc.log)
[events.log](https://gith

[2020-05-04 05:01] tirelibirefe commented on #214
I supposed the problem is related with k8s 1.18.2, I installed k8s 1.18.0 and applied the same procedure above; nothing changed.
volumes cannot be attached; VirtualMachines cannot be found/accessed by CSI.

[2020-05-04 13:59] gricuk opened #215 "CNS QueryVolume failed from vCenter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After upgrade from 1.0.1 to 2.0 I can't provision new volumes or delete with the following error:

`{"level":"error","time":"2020-05-04T13:37:21.99818076Z","caller":"volume/manager.go:584","msg":"CNS QueryVolume failed from vCenter \"myvsphere.domain.com\" with err: ServerFaultCode: NoPermission","TraceId":"44f67b5f-1dd3-4

[2020-05-04 21:07] RaunakShah commented on #215
Hi @gricuk can you verify that you have all privileges on vCenter detailed in our docs? https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/driver-deployment/prerequisites.md#roles_and_privileges

[2020-05-05 18:16] tirelibirefe commented on #215
@RaunakShah
Procedure says all nodes have to have ProviderID but in my previous installations only master node had ProviderID and system was working. Now I check ProviderID and only master node has ProviderID and my volumes cannot be attached to the nodes because of VM cannot be reached.

Has something changed lately? Vsphere CPI doesn't work any more.

(I've created issues regarding the problem.)

[2020-05-05 18:46] RaunakShah commented on #214
@tirelibirefe Have you tainted all your nodes with `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule`

vSphere CPI only sets ProviderID for nodes when it observes that the uninitialized taint is set on nodes.

[2020-05-05 19:31] tirelibirefe commented on #214
@RaunakShah
The status of my nodes are below. I don't understand it means tainted or untainted.

[code]

[2020-05-05 19:32] mcmcghee commented on #148
I'm starting to have this issue too. I have 5 orphaned volumes that I can not delete.

[2020-05-06 01:08] tirelibirefe commented on #214
@RaunakShah
I noticed that I forgot define  cloud-provider: external. That's why nodes were not tainted.
Thank you

[2020-05-06 01:09] tirelibirefe commented on #214
/close

[2020-05-06 01:09] #214 closed

[2020-05-06 01:10] tirelibirefe commented on #215
@RaunakShah
I noticed that I forgot define  cloud-provider: external. That's why nodes were not tainted. It works now.

[2020-05-06 08:59] AcidAngel21 opened #217 "PV stays hanging in released state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I deploy a stateful set with 3 replicas and 3 PVCs (via storageclass). When I delete the statefulset and immediately delete the PVCs, most of the PVs stays hanging in status Released.
When I wait a some seconds before I delete the PVCs, this problem does not occur.
This problem does also not happen with csi-driver 1.0.2.
I

[2020-05-06 12:50] brentwolfram commented on #217
I am having a similar issue moving from version 1.0.0 of the CSI driver to version 2.0.0. I can create PVs, but cannot delete them the majority of the time (about 20% of the time it works). They stay in the release state.

**Logs:**

csi-attacher:

I0506 12:16:26.400501 1 controller.go:175] Started VA processing "csi-7d8f5cbf2620398933db4179f14efa4bdbcd923ee15a1f41aae0e0f34bacc96e"
I0506 12:16:26.

[2020-05-06 13:04] gricuk commented on #215
Yes, it works for me, thank!

But How I can resize pvc volume? I try to edit my pvc but it does not give any effect.

[2020-05-06 13:57] larhauga commented on #217
I can confirm that we are experiencing the same issue.
We manage to reproduce the issue by creating a PVC, and a pod related to the claim.
By deleting the PVC first, and then the pod, it is often stuck in Released state.
Both the PV and the volumeattachment are still there, waiting for finalizers.
The disks are deleted in vSphere, and the volume is detached from the node.

yaml to reproduce:
pvc:

[2020-05-06 16:40] divyenpatel commented on #217
Are you hitting this issue 5 mentioned in the documentation?
https://vsphere-csi-driver.sigs.k8s.io/known_issues.html#issue_5

[2020-05-07 05:38] AcidAngel21 commented on #196
I am having a similar issue. A restart of the vCenter solves the problem.

[2020-05-07 05:49] AcidAngel21 commented on #217
It sounds like that. But why does it work with the CSI driver 1.0.2?

[2020-05-07 13:48] AcidAngel21 commented on #217
I observed the following behaviour.
CSI driver 1.0.2 : deletion fails repeatedly while the volume is still attached and after the volume is detached the deletion succeeds.
CSI driver 2.0.0: deletion fails repeatedly while the volume is still attached but there is no further try to detach the volume once this happens.

[2020-05-08 20:27] xing-yang commented on #204
/assign @sashrith
Can you please try to reproduce this issue?  Thanks.

[2020-05-08 20:30] xing-yang commented on #199
/assign @shalini-b

[2020-05-08 20:42] shalini-b commented on #199
/assign @shalini-b

[2020-05-08 21:05] xing-yang commented on #215
@gricuk, here's doc on how to do resize:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/features/volume_expansion.md

I'm going to close this issue since it works for you now.  Please re-open if it is still an issue.

If you run into issues with resize, please open a new issue.

[2020-05-08 21:05] #215 closed

[2020-05-09 10:07] gricuk commented on #215
but it doesn't work
I 've upgrade my RBAC and create PVC
`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-pvc
  namespace: kube-system
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: vsan`

`k get pvc -n kube-system
NAME       STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
t

[2020-05-09 10:11] gricuk commented on #215
Should it work with 6.7U3?

[2020-05-09 10:50] xing-yang commented on #215
No, new 2.0 features won't work with 6.7U3.  See this compatibility matrix:

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/compatiblity_matrix.md

[2020-05-10 13:33] alex1989hu commented on #217
Our cluster is also affected  w/`v2.0.0` 😞

[2020-05-10 13:40] alex1989hu commented on #196
I thought this my own special case, a restart helped me, too - but this is an ugly workaround.

[2020-05-10 15:22] divyenpatel commented on #196
@alex1989hu @AcidAngel21 @symbian4sj

Issue - "Create container volume task on vCenter does not progress" is known to us. This is causing PVCs to get stuck in the pending state.

This issue happens on vSphere 67u3.

You do not need to restart vCenter. Just restart SPS service in the vCenter and the issue should be resolved.

[code]

**Note: This issue is fixed in vSphere 7.0.**

If you are not pla

[2020-05-10 15:22] #196 closed

[2020-05-11 03:23] jmgilman opened #219 "CSI fails to create container volumes on vSAN cluster"
**BUG REPORT**:

/kind bug

**What happened**:
When following the [Create and Deploy a Stateful Set](https://github.com/kubernetes/cloud-provider-vsphere/blob/master/docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md#create-and-deploy-a-statefulset) for testing whether CSI is operating correctly, the creation of the test service results in pods staying in a pending state indefinitely. The v

[2020-05-12 16:53] divyenpatel commented on #217
`Delete Volume` is called before `Detach volume` operation, `Delete Volume` operation un-tag volume as Container Volume, and later observes volume is attached to the node VM, and does not tag back volume as Container Volume. `Detach Volume` comes and attempts to query volume to determine if it is file or block, and since volume is not a container volume, `Detach Volume` operation does not attempt

[2020-05-12 18:01] msau42 commented on #217
Is it possible for the driver/vsphere to check if volume is attached and fail deletion? This is how other cloud providers behave.

[2020-05-13 14:11] nickvth commented on #217
Same issue here with v2.0.0... not funny to detach and delete volumes in fcd manually

[2020-05-14 09:04] yangqince commented on #148
I have the same issue too.

[2020-05-15 03:08] divyenpatel opened #220 "RegisterPlugin error - failed to get plugin info using RPC GetInfo at socket /var/lib/kubelet/plugins_registry/csi.vsphere.vmware.com/csi.sock"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

RegisterPlugin error observed in kubelet logs on all nodes.

May 14 19:50:28 k8-master-713 kubelet[5195]: E0514 19:50:28.985525    5195 goroutinemap.go:150] Operation for "/var/lib/kubelet/plugins_registry/csi.vsphere.vmware.com/csi.sock" failed. No retries permitted until 2020-05-14 19:52:30.985489804 -0700 PDT m=+7665.3

[2020-05-15 03:23] divyenpatel commented on #219
@jmgilman

Can you share how node VMs are deployed?

Are node VMs located on a completely different cluster or the host which has not participated in the vSAN cluster on which you intend to provision volume?

I see the driver is sending 3 datastores in the createspec along with the policy id.

[code]

Is any of the above datastore, a vSAN datastore to which policy is compatible to? If not then the

[2020-05-15 03:34] jmgilman commented on #219
That's likely the issue - the current configuration does include a node that is not apart of the vSAN datastore - so this error would make sense. Thanks for taking the time to clarify. Would you be able to expound on what you mean by the topology-aware provisioning? I can remove the one node, but if there's a way to keep it I would be interested.

[2020-05-15 03:47] divyenpatel commented on #219
Refer this - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html

[2020-05-15 03:57] jmgilman commented on #219
Thanks again.

[2020-05-15 03:57] #219 closed

[2020-05-15 07:54] cfrantsen commented on #220
I am experiencing the same error log using csi-vsphere v2.0.0 on Kubernetes 1.18.2 and vSphere 6.7u3, and while it seems to be harmless it fills up the logs pretty quickly.

[2020-05-15 11:51] yvespp opened #221 "Volume can't be detached of deleted Node/VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After draining and deleting a Node a volume of a pod is stuck in `ContainerCreating` phase because the volume can't be mounted. Event: `Unable to attach or mount volumes`
Logs of the controller show that it can't detach the volume from the deleted vm (`kubedev-worker-2bcf0b684616`):
[code]
There is no Node, CSINode or VM w

[2020-05-15 21:54] divyenpatel commented on #220
@cfrantsen I am working the fix.

[2020-05-15 23:43] #220 closed

[2020-05-18 12:04] gricuk opened #223 "disk doesn't deleted from VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Virtual disks which were created by csi driver don't detach from vm and not deleted when pvc volume was deleted.
**What you expected to happen**:
When I delete PV I expected that virtual disk will be deleted and detached from VM
**How to reproduce it (as minimally and precisely as possible)**:
Delete pvc and check: `fdisk

[2020-05-20 14:09] benjaminguttmann-avtq commented on #124
Hi there, I am facing a similar issue as described in this issue where the CSINode is not getting created:

` kubectl get CSINode
No resources found.
`

everything else looks fine so far. I am wondering if there is a minimal Kubernetes Version required for this to work. We are currently using `v1.15.10`. Does anyone know if it just works with v1.17.0 or higher?

[2020-05-25 18:58] Elegant996 opened #227 "vsphere-csi-controller crashing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`vsphere-csi-controller` failed to create its pod due to `csi.sock` being unreachable.

**What you expected to happen**:
`vsphere-csi-controller` to not crash due to health checks and for all other containers to connect to `csi.sock`

**How to reproduce it (as minimally and precisely as possible)**:
Apply current `2.0.0`

[2020-05-26 10:56] benjaminguttmann-avtq commented on #124
Just for documentation purposes the issue was also caused by wrong paths, that means adjusting the paths will fix the issue with CSI nodes not getting created.

[2020-05-27 12:17] bhavenjp opened #228 "How to create VolumeSnapshotClass for vSphere CSI driver?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
How do I create VolumeSnapshotClass - Which docs/steps to follow?
Not able to find much info.

**What you expected to happen**:
Create snapshot of vSphere CSI based PVC using VolumeSnapshotClass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- csi-vsphere ve

[2020-05-28 03:29] Elegant996 commented on #227
Ran `curl -k -I https://10.0.10.25/sdk` in both the `driver` and `syncer` containers, no response. I also tried to `curl` other services/IPs and there is never any response.

Seems like the pod is struggling to communicate with anything on the host network but there is nothing limiting it. I tried pinging or using `curl` from other pods and am not having issues communicating with the host network.

[2020-05-28 09:39] yvespp commented on #221
I now delete the pvc and I disappeared in the cns ui in vsphere. The controller still tried to find the delete node and detach the volume:
[code]

I then removed the finalizer from the pv but now the controller doesn't find the pvc anymore:
[code]

Where is this information still stored? Can I clean this up somehow?

[2020-05-28 09:55] yvespp commented on #221
Every two minutes the kube-controller-manager logs this:
[code]
However the logs stopped after the kube-controller-manager was restared. vsphere-csi-controller still logs the same errors.

[2020-05-28 14:07] Elegant996 commented on #227
Created cluster with `kubeadm` per the document and even deployed a new vCenter, same issue. Is there an issue with Kubernetes 1.18 and this CSI driver?

[2020-05-28 15:54] RaunakShah commented on #221
@yvespp Can you delete the `volumeattachment` objects that have been left over using kubectl? Like `csi-ad8ca603308ed422a89d11ed4c09a448fc724c3998b0a134fe9a17100a5045c8` from the logs you posted above.

[2020-05-28 17:55] RaunakShah commented on #223
@gricuk can you list the exact steps you are following before you get into this state?

Do you have Pods running that claim these volumes? If yes, deleting the PV won't detach the volume.

[2020-05-29 13:35] yvespp commented on #221
Didn't know about volumeattachments, thanks!

I delete the `volumeattachment` and now the errors are gone. I had to remove the finalizer in the resource first or else Kubernetes wouldn't delete it.
[code]

[2020-05-29 13:56] yvespp commented on #221
Summery so far:
* Deleting the VM without the vSphere csi controller having time to detach the the disk leaves vSphere and/or the vSphere csi controller confused.
  * The controller tries to detach the volume from a node that no longer exists and fails.
  * Today I had another case where vSphere itself was in a weird state and deattaching/attaching was prevented permanently:
[code]
  * There seems

[2020-05-29 20:00] xing-yang commented on #228
VolumeSnapshot is not supported yet by the vSphere CSI driver.

[2020-05-29 23:13] RaunakShah commented on #221
@yvespp are your workloads deployed as statefulsets?

When you delete a VM, kubernetes will not attempt to delete the Pod. If the Pod was part of a Statefulset, then you have to run some manual steps to delete it. This is being tracked on upstream kubernetes here - https://github.com/kubernetes/kubernetes/issues/65392

From your original description:

The logs that you have pasted are actually ext

[2020-05-30 07:03] doctori commented on #135
this was an issue from the vcenter
/close

[2020-05-30 07:03] #135 closed

[2020-05-31 06:34] Elegant996 commented on #227
Issue was that the CSI driver does not support Kubernetes 1.18 at this time. Given that the driver checks vCenter disks every 30 minutes, this explains why some disks mounted initially. When the next check was due, the controller crashed and the remaining/future drives were not mounted.

[2020-05-31 06:34] #227 closed

[2020-05-31 22:35] #66 closed

[2020-06-01 16:59] chris-morandi opened #229 "ManagedObjectNotFound error on volume creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When creating volumes we consistently receive the error Failed to create volume. "Error: ServerFaultCode: ManagedObjectNotFound".  We have tried various different tagged storage profiles, and both VMFS and NFS files systems.

**What you expected to happen**:
Volume creation.

**How to reproduce it (as minimally and precisely as poss

[2020-06-01 23:36] oahcran opened #230 "Doc Improvement - Update vSphere CSI Driver - Limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:
[Doc Improvement - Update vSphere CSI Driver - Limits](https://vsphere-csi-driver.sigs.k8s.io/limits.html)

**What happened**:
When validating max PVCs allowed per worker VM with the TKG 1.1/ CSI 1.0.2, the CSI driver starts to attach PVC from second SCSI controller that is `pvscsi` and max PVCs number would be less than 59.

**What you expected to hap

[2020-06-02 06:58] yvespp commented on #221
Yes it's a statefulset. I did drain the node before it was shut down and deleted but somehow the pod was not terminated before the node was shut down and the volume never released.
IMHO this can always happen and Kubernetes or vSphere should not end up in an unrecoverable state because of it (and I understand this project can't address all Kubernetes issues).

On the Kubernetes side deleting the `

[2020-06-02 07:39] yvespp commented on #221
Would it help if I delete the `volumeattachment` manually before the finally shutting down the node?What happens it the volume is still attached to the node when the `volumeattachment`is deleted? Probably nothing as the CSI can't detach the volume when it's in use?

Maybe I should just wait till all `volumeattachments` of a Node are removed...

[2020-06-02 16:56] RaunakShah commented on #221
Can you try following these steps, once the node is in the `NotReady` state:

1. Wait 6 mins for Pod to enter `Terminating` state.
2. Force delete the Pod using the following command
[code]
This should create another Pod which will be in the `ContainerCreating` state.
3. Wait 6 more mins for k8s to delete the `volumeattachment` object(s). If you Pod is claiming "n" volumes, there will be "n" `volu

[2020-06-02 19:44] SandeepPissay commented on #228
@bhavenjp For supported features in v2.0.0, please see - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2020-06-02 19:44] SandeepPissay commented on #228
Closing this issue since snapshot feature is not supported.

[2020-06-02 19:44] #228 closed

[2020-06-02 19:47] SandeepPissay commented on #229
@chris-morandi Its hard to say why volume creation is failing from the logs you pasted. Could you please collect VC support bundle and file an issue with VMware? See - https://vsphere-csi-driver.sigs.k8s.io/support.html

[2020-06-02 19:50] SandeepPissay commented on #230
@oahcran vSphere CSI driver is used by many Kubernetes as a service solutions. I think its worth updating the doc that clarifies the `pvscsi` controller, slot availability requirements, and how we arrive at the max volumes that can be attached to the VM etc.

[2020-06-03 06:52] yvespp commented on #221
The node is never in `NotReady` steady in this case. Our rollout works like this:
1. New node/VM is created and added/joined to Kubernetes
1. Old node is drained (`kubectl drain`) with a 3 minute timeout
1. Old node is deleted from Kubernetes (`kubectl delete node`)
1. Old node vm ist shut down and deleted
The Problem happens when the drain times out and there are still pods with volumes on the ol

[2020-06-03 15:18] SandeepPissay opened #233 "Improve doc to compare CSI and in tree vSphere volume capabilities, features, etc"
The current vSphere CSI doc does not compare CNS/CSI with in tree vSphere volume. We have received questions in this area from partners and customers. I'm filing this issue to improve the doc to add this comparison.

[2020-06-07 22:18] #56 closed

[2020-06-08 22:13] divyenpatel opened #236 "CSI Migration Documenation"
- Document migration steps.
- publish updated YAML and RBAC rules required for the driver supporting CSI Migration.
- List VCP SC params are supported in CSI migration.
- List supported fstypes for CSI Migration.
- Call out the CSI migration params that we are adding to CSI SC, caveats of those params and why CSI SC should not be using it.  Make sure documentation says that we do not support CSI m

[2020-06-09 18:25] sushilsuresh commented on #140
/remove-lifecycle stale

[2020-06-11 15:11] dmc5179 commented on #135
@doctori What was the issue with vcenter? I get a slightly different error but might be related

[code]

[2020-06-12 06:11] vasicvuk commented on #15
We are also facing this issue

[2020-06-12 09:58] doctori commented on #135
@dmc5179 : you might want to check your connectivity between you CSI controller pod and vcenter, looks like the controller can't talk to the vcenter. or you might want to raise the roundTrip value to give the client a chance to get a response after a while (on slow vcenters this helps)

[2020-06-12 14:32] dmc5179 commented on #135
@doctori I suspect the issue is because we have vCenter on a different port from the default 443. I had to update the OpenShift cluster config when deploying to ensure OpenShift understands how to talk to vcenter on the other port. When I deployed the CSI driver I made sure the configuration included the updated port. It's possible that there is somewhere in the code that doesn't use the config an

[2020-06-15 16:35] SandeepPissay opened #237 "Update vSphere CSI driver info in https://kubernetes-csi.github.io/docs/drivers.html"
vSphere CSI driver info in https://kubernetes-csi.github.io/docs/drivers.html is stale. I'm filing this bug to fix https://kubernetes-csi.github.io/docs/drivers.html with the latest features, version, etc.

[2020-06-15 20:37] RaunakShah commented on #135
@dmc5179 have you tried changing the `port` field in your `csi-vsphere.conf` file? That defaults to 443.

[2020-06-16 02:35] divyenpatel commented on #236
Make sure to mention following the Migration documentation.

Thanks @xing-yang

[2020-06-16 19:54] SandeepPissay opened #239 "Add documentation related to DNS requirement for CNS file volume support"
CNS File volume is backed by vSAN file shares in vSphere 7.0/CSI 2.0.0 release. One mandatory requirement for vSAN file services is DNS server. For vSAN file shares to work fine the client (k8s nodes) need to be configured with the same DNS server as well.

I'm filing this task to enhance vSphere CSI to include this as a prerequisite to use CNS file volumes.

[2020-06-16 20:05] SandeepPissay opened #240 "Enhance CSI node daemonset yaml file to include DNS server"
CNS file volumes are backed by vSAN file shares in vSphere 7.0/CSI 2.0.0 release. While configuring vSAN file services, we need to provide DNS server, static IP for access points and corresponding FQDN.

CNS file volume access points could be exposed in FQDN format. So, the k8s node need to be configured with the DNS server and the vSphere CSI node controller pod need to be configured with the sam

[2020-06-16 20:15] divyenpatel commented on #240
@SandeepPissay we have Pod's DNS Policy as  `dnsPolicy: "Default"`

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/v2.0.0/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml#L20

As per https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

so if nodes are properly configured to resolve file-share FQDN, we do not need to supply dnsCo

[2020-06-16 20:28] SandeepPissay commented on #240
No, that was not sufficient. I had to specify the dnsConfig for CSI node controller to resolve FQDN access points.

[2020-06-16 20:37] divyenpatel commented on #240
Did you restart the node POD after configuring dns on the node host? We faced exact same issue on the controller/syncer container previously and this setting helped fix the vCenter hostname resolution issue.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/manifests/v2.0.0/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml#L32

[2020-06-16 20:44] SandeepPissay commented on #240
Yes. Let me share a deployment with you offline.

[2020-06-16 22:12] dmc5179 commented on #135
@RaunakShah @doctori We are adding the custom port to the main cloud provider config map which works as the default storage class comes online when we install the cluster. We're also adding the port to the csi-vsphere.conf but that doesn't appear to resolve the issue.

I've even gone so far as to create another host as a proxy, forwarding 443 on the proxy to 8443 on vcenter, and installed the clus

[2020-06-16 22:40] divyenpatel commented on #135
@dmc5179
After changing configuration in the secret, did you restart pod? We have added capability to watch on config changes in `2.0.0` version of the driver. if you are using v1.0.2 or older driver, restart pod should pick up port configuration from secret.

[2020-06-16 22:45] dmc5179 commented on #135
@divyenpatel We're reinstalled the cluster several times, including with the port set in the config maps and secrets from the start. Interestingly enough I get a different error if I set the storage policy name:

[code]
I get a different error from the PVC:
[code]

I'm not sure yet what service I need to turn on, or how, in vCenter to enable to storage policy based management service.

[2020-06-17 04:04] dmc5179 commented on #135
So I figured out that I cannot use the storage policy in the storage class because I don't have a vSAN. We only have on ESXI host with vCenter. So I'm using the datastore in the storage class. Which results in the error about FCD

[code]

How do I turn on  the fcd service?

[2020-06-17 18:03] divyenpatel opened #241 "use generated client and informers for migration CR in Volume Migration Service"
Filing this to track the task for using generated client and informers for migration CR in Volume Migration Service.

@SandeepPissay

[2020-06-18 05:06] zhoudayongdennis opened #242 "Multi-Attach error due to NoPermission error code"
on vsphere6.7.3U3, having 4 statefulset pods on two worker nodes successfully, when one worker node was shutdown, the two statefulset pods on that node should be evicted and created on the other worker node. But, there was NoPermission error during  ControllerUnpublishVolume as below error messages in sphere-csi-controller container.

could you help check what's kind configuration issue?

kubectl

[2020-06-18 06:29] zhoudayongdennis commented on #242
refer to the issue #215 for more check, and correct the role of user name on client, then such permission issue got resolved, so close this issue now.

[2020-06-18 06:29] #242 closed

[2020-06-18 08:57] gricuk commented on #223
No, I deleted pod and then I try to delete PV. PV deleted successfully but disks not detached from VM.

[2020-06-18 18:04] divyenpatel opened #243 "Modify metadata syncer to push metadata for in-tree volumes registered to CNS."
/kind feature

**What you expected to happen**:
Modify metadata syncer to push metadata for in-tree volumes registered to CNS.

[2020-06-18 18:05] divyenpatel opened #244 "Modify full sync to sync metadata for in-tree volumes registered to CNS."
/kind feature

**What you expected to happen**:
Modify full sync to sync metadata for in-tree volumes registered to CNS.

[2020-06-18 18:07] divyenpatel opened #245 "Publish YAMLs for CSI Migration Support"
/kind feature

**What you expected to happen**:
Publish YAMLs for CSI Migration Support (Update sidecar containers supporting migration shim for vSphere volume)

[2020-06-18 18:12] divyenpatel opened #246 "Implement Volume Migration Service"
/kind feature

**What you expected to happen**:
Implement Volume Migration Service

- VolumeMigrationService helps maintain VolumePath to VolumeID mapping. VolumeMigrationService interacts with vCenter to register VolumePath as CNS Volume. It also helps to get VolumePath for given VolumeID.
- VolumeMigrationService is used by the controller and the syncer containers.
- VolumeMigrationService gets

[2020-06-18 18:15] divyenpatel opened #247 "Handle in-tree vSphere VolumePath in the ControllerPublishVolume, ControllerUnpublishVolume and DeleteVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What you expected to happen**:

Handle in-tree vSphere VolumePath in the ControllerPublishVolume, ControllerUnpublishVolume and DeleteVolume

[2020-06-18 18:16] divyenpatel opened #248 "Handle request for volume creation using in-tree storage class"
/kind feature

**What you expected to happen**:
Handle request for volume provisioning using in-tree storage class in Controller →  CreateVolume.

[2020-06-18 18:20] divyenpatel opened #249 "Go binding support for vSphere CSI Migration"
/kind feature

**What you expected to happen**:
- Implement Go Binding for QueryVolumeInfo API to get VolumePath of the Provisioned volume when the volume is requested to using in-tree provisioner after the migration is enabled.
- Bump up GoVmomi binding in the vSphere CSI driver repository to use updated CreateVolumeSpec and QueryVolumeInfo APIs.

[2020-06-18 18:24] divyenpatel commented on #249
- go bindings for QueryVolumeInfo is added with - https://github.com/vmware/govmomi/pull/1979
- go bindings  for CreateVolume with BackingDiskURLPath is added with - https://github.com/vmware/govmomi/pull/1942 and https://github.com/vmware/govmomi/pull/1943

[2020-06-18 18:25] divyenpatel commented on #249
follow up change for QueryVolumeInfo is required - issue for tracking - https://github.com/vmware/govmomi/issues/2010

[2020-06-18 18:28] chethanv28 commented on #243
/assign @chethanv28

[2020-06-18 18:36] chethanv28 commented on #244
/assign @chethanv28

[2020-06-18 21:07] dacodas opened #250 "Does vSphere 6.7u3 allow for PV resizing?"
/kind bug

**What happened**:

When installing the deployment `vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml`, I see that there is no `csi-resizer` container in the pod.

Attempting to add the container gives the following error:

[code]

Since the container implementing cloud provider driver container is the same between the `vsphere-67u3` and `vsphere-7.0` folders, I thought

[2020-06-19 19:34] divyenpatel commented on #250
No vSphere 6.7u3 does not support expand volume.

We have disabled `ControllerServiceCapability_RPC_EXPAND_VOLUME` for vSphere 67u3.

Refer https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/pkg/csi/service/vanilla/controller.go#L65-L80

[2020-06-19 19:48] dacodas commented on #250
I see, thank you for the quick response and for the reference 🙂

[2020-06-19 20:06] chethanv28 commented on #250
/close

[2020-06-19 20:06] #250 closed

[2020-06-19 20:07] chethanv28 commented on #245
/assign @chethanv28

[2020-06-19 20:16] shalini-b commented on #239
/assign @shalini-b

[2020-06-19 20:17] shalini-b commented on #240
/assign @shalini-b

[2020-06-19 20:19] chethanv28 commented on #230
/assign @chethanv28

[2020-06-19 20:19] shalini-b commented on #240
We will use https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/239 to document the setup for DNS server.

[2020-06-19 20:31] chethanv28 commented on #148
/assign @chethanv28

[2020-06-21 16:56] #237 closed

[2020-06-22 03:19] zhoudayongdennis opened #251 "how to remove the orphan volume under the CNS UI -> Datacenter → Monitor → Cloud Native Storage → Container Volumes"
there was observed orphan volumes under CNS UI -> Datacenter → Monitor → Cloud Native Storage → Container Volumes, but could not search them on cluster with "kubectl get pvc -A or kubectl get pv -A".

All those orphan pv might be left due to wrongly validation, so want to clean them up, but can not get those kinds of operation on UI.

please help provide the methods to remove them manually.

[2020-06-22 03:22] zhoudayongdennis commented on #251
[](url)
![vsphere_cns_2](https://user-images.githubusercontent.com/59190796/85245599-af671680-b47a-11ea-8c05-c6423d9e4297.jpg)
![vsphere_cns_1](https://user-images.githubusercontent.com/59190796/85245604-b130da00-b47a-11ea-9b84-fc9925f82081.jpg)

[2020-06-26 19:48] chethanv28 commented on #251
/assign @chethanv28

[2020-06-26 23:23] divyenpatel opened #253 "Handle syncing POD metadata for inline migrated PV"
Pod with in-tree inline volume can use CSI driver if migration is enabled.
Here is the testing detail - https://gist.github.com/divyenpatel/b06955dccf5944072f742f6bc9e2c59e

We need to make sure we show POD metadata for this use case.

@chethanv28 @SandeepPissay I think we did not discuss this case during design review.

[2020-06-26 23:24] chethanv28 commented on #253
/assign @chethanv28

[2020-06-29 17:16] divyenpatel opened #254 "improve code to translate datastore name to datastore URL"
/kind feature

**What you expected to happen**:

Address this comment from @SandeepPissay  - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/235#discussion_r442500966

We need to figure out way we can improve this code block.

[2020-06-30 17:06] AcidAngel21 commented on #217
@divyenpatel "This issue is fixed in vSphere 7.0u1"
Do you really mean 7.0u1? This version isn't released yet.

[2020-06-30 18:16] divyenpatel commented on #217
Yes it is not released yet.

but @RaunakShah has already fixed the race by making a change in the external-provisioner  - https://github.com/kubernetes-csi/external-provisioner/pull/438

[2020-06-30 18:30] #246 closed

[2020-06-30 18:30] #247 closed

[2020-06-30 18:30] #248 closed

[2020-07-01 00:56] divyenpatel commented on #249
Closing this issue, as all tasks for this issue are complete.

[2020-07-01 00:56] #249 closed

[2020-07-01 01:09] divyenpatel opened #255 "Set Storage Policy ID while registering volume"
/kind feature

**What you expected to happen**:
While Registering in-tree Volume with CNS, supply Storage Policy ID if volume was created using storage policy.

Storage Policy can be retrieved from PV spec and `VolumeContext:map`. TranslateInTreePVToCSI helps supply this in the volumecontext during migration.

**PV Spec**

[code]

**VolumeContext:map**

[code]

ControllerPublishVolume with Storage

[2020-07-01 04:03] RaunakShah commented on #217
@AcidAngel21 The fix from external-provisioner is expected to be part of the next release - https://github.com/kubernetes-csi/external-provisioner/commits/v2.0.0-rc2
Once external-provisioner has released this image, we will validate it with our latest CSI driver and will update the YAMLs with the latest images.

[2020-07-06 01:31] mohideen opened #257 "Missing Documentation: Vanilla Block volume static provisioning"
I'm trying to recover a deleted volume with "Retain" policy. I tried to follow the instructions at https://vsphere-csi-driver.sigs.k8s.io/features/block_volume.html#static_volume_provisioning_vanilla

The documentation page says that I need to create a PV and point to the "volumeHandle", but it does not say how to get the volumeHandle for a fcd disk. I'm able to get the UUID of the disk using the

[2020-07-06 07:45] zhoudayongdennis commented on #251
@chethanv28, any further suggestion for this issue?

[2020-07-06 17:06] cdelashmutt-pivotal commented on #251
I'm seeing this as well.  Is there an API call one or workaround can make to get rid of these entries?

[2020-07-06 18:25] chethanv28 commented on #251
@zhoudayongdennis @cdelashmutt-pivotal
You can follow the steps below to get rid of the entries.

**1. Get the Volume ID for the container volume to be deleted**
<img width="842" alt="Screen Shot 2020-07-06 at 11 21 33 AM" src="https://user-images.githubusercontent.com/14131348/86626029-f543d480-bf7a-11ea-9519-fd590d3e2094.png">

**2. Go to https://vc-ip-address/vsan/mob/?moid=cns-volume-manager**

[2020-07-07 02:10] zhoudayongdennis commented on #251
@chethanv28,

for the step#2, i can not reload this page from local vsphere server, any idea?

[2020-07-07 02:11] zhoudayongdennis commented on #251
![page_not_found](https://user-images.githubusercontent.com/59190796/86690080-2c2cef80-c03a-11ea-91d6-8446c6efa1f9.jpg)

[2020-07-07 02:55] zhoudayongdennis opened #258 "vsphere-csi-node plugin got restarted frequently"
in my deployed cluster base on vsphere 6.7.3 platform, observed the vsphere-csi-node-xxxx daemonset got restarted frequently, specially on some nodes as below snapshot.

i checked the logs for containers node-driver-registrar vsphere-csi-node liveness-probe, but did not get useful clue.

Any suggestion about how to check the root cause of restart?

[root@d06-g1-01 ~]# date
Mon Jul  6 07:38:12 UTC

[2020-07-07 07:17] chethanv28 commented on #258
You can check the container logs which will be retained for the previously running instance.
One way to look up for the logs of previously running instance is:
1. **Login to the node where the node daemon set is restarting frequently. The node ip address and name can be identified by**
$kubectl describe pod vsphere-csi-node-nkp55 -n kube-system | grep Node

2. **Go to /var/lib/docker/containers**

[2020-07-07 07:17] chethanv28 commented on #258
/assign @chethanv28

[2020-07-07 07:23] chethanv28 commented on #251
@zhoudayongdennis I think vsan mob is not enabled. Try following this useful article: https://www.virtuallyghetto.com/2018/09/vsan-managed-object-browser-mob-in-vsphere-6-7-vsphere-6-7-update-1.html

[2020-07-07 08:11] zhoudayongdennis commented on #251
follow up the guide and enable it as below snapshot, but still can not load that page. should restart the host as well?

<img width="887" alt="vsan_mob" src="https://user-images.githubusercontent.com/59190796/86744761-6a430700-c06c-11ea-91ef-437b4255db52.png">

[2020-07-07 08:26] zhoudayongdennis commented on #258
could NOT observe such docker under /var/lib/docker/containers/, any mis-understanding?

[root@d06-g1-03 ~]# kubectl get pods -A -owide | grep node
kube-system   vsphere-csi-node-287q8                       3/3     Running             11         15d     172.16.1.116      d06-g3-01   <none>           <none>
kube-system   vsphere-csi-node-nkp55                       3/3     Running             41

[2020-07-07 08:28] zhoudayongdennis commented on #258
also tried to search the symbol from containers' log, but nothing.

[root@d06-g1-03 runtimes]# kubectl logs -nkube-system vsphere-csi-node-p9zjl
error: a container name must be specified for pod vsphere-csi-node-p9zjl, choose one of: [node-driver-registrar vsphere-csi-node liveness-probe]
[root@d06-g1-03 runtimes]# kubectl logs -nkube-system vsphere-csi-node-p9zjl -c vsphere-csi-node | grep -ri "n

[2020-07-07 21:54] bburky commented on #251
I didn't want to enable MOB so I accessed the api via `govmomi`. This program deletes _all_ CNS volumes (I wanted to delete them all from a test cluster):
https://gist.github.com/bburky/7047be4866881aa22030ba4a74b89538

It would be really nice if `govc` had a `gov cns.destroy` command or something, all the APIs are already there.

[2020-07-08 02:14] zhoudayongdennis commented on #251
@bburky,

for my case, there were some volumes in-use by pods, and some volumes were out-of-use and need to be clean up, so deleting all is not perfect solution.

[2020-07-08 07:09] zhoudayongdennis commented on #258
@chethanv28,

did more investigation, and observed below error message in corresponding container logs. What does that mean? any missing?

[root@d06-g1-02 containers]#  grep -ri "node service registered"
477e67aa0470f17b3cf3953f32494f976908ccaaa6b28f683ec99f62ba9967bb/477e67aa0470f17b3cf3953f32494f976908ccaaa6b28f683ec99f62ba9967bb-json.log:{"log":"time=\"2020-07-06T03:06:02Z\" level=info msg=\"no

[2020-07-08 07:15] zhoudayongdennis commented on #258
what's meaning of "no Virtual Center hosts defined"? which config file to be checked?

[2020-07-08 15:44] chethanv28 commented on #258
@zhoudayongdennis You need to verify this config file: https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html#vsphereconf_for_block

[2020-07-08 16:41] RaunakShah commented on #258
@chethanv28 @zhoudayongdennis csi-node daemonsets only require `vsphere.conf` to be specified in topology aware setups. While you might be seeing this error log, that is likely succeeded by this log https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/release-2.0/pkg/csi/service/node.go#L657

[2020-07-09 01:46] zhoudayongdennis commented on #258
@chethanv28,

such csi-vsphere.conf was available and was used for corresponding secret as below example.

[root@d06-g1-02 containers]# cat /opt/bcmt/config/csf-charts/csi-vsphere/csi-vsphere.conf
[Global]
datacenters = Datacenter1
cluster-id = bcmt-01
user = ********
password = ********
insecure-flag = "1"
user = ********
password = ********
port = 443
[VirtualCenter "XXX.YYY.ZZZ.AAA"]
[Workspace

[2020-07-09 01:48] zhoudayongdennis commented on #258
@RaunakShah, @chethanv28,

still not quite clear whether such error could cause the node restarted? if so, why since the secret was created as well.

[2020-07-09 01:55] zhoudayongdennis commented on #258
just check vsphere-csi-node-ds.yaml in chart file, and seems disable the topology awareness currently. Again, will it cause the node pods restarting?

        - name: vsphere-csi-node
          image: "{{ .Values.global.registry1 }}/{{ .Values.plugin.image.repository }}:{{ .Values.plugin.image.tag }}"
          imagePullPolicy: "Always"
          env:
            - name: NODE_NAME
              va

[2020-07-09 06:19] Anil-YadavK8s commented on #217
@RaunakShah Can we use v2.0.0-rc2 to get rid of above issue ?

[2020-07-09 08:24] philipp1992 opened #265 "Vsphere 7.0, CSI 2.0: CNS QueryVolume failed from vCenter "vcenter.xxx.xxx" with err: ServerFaultCode: NoPermission"
Hi Guys,

we are running openshift (kubernetes 1.18) with vsphere CPI and CSI drivers.
Vsphere CPI is working fine (can see the providerID etc.)

CSI was deployed using manifests/2.0/vsphere7 manifests and is also working fine. Creating PVC and attaching / mounting them works. But when i delete a PVC, the corresponding PV does not get deleted and is stuck in terminating state.

In the vsphere-csi-

[2020-07-09 09:01] chethanv28 commented on #265
@philipp1992 See if this is similar to : https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/215#issuecomment-624392824

[2020-07-09 09:07] philipp1992 commented on #265
its similar, but not the same. Our cloud-provider integration is working fine and i can also reize PVCS.

[2020-07-09 10:45] philipp1992 commented on #265
csi-attacher:

I0709 10:44:49.723569       1 csi_handler.go:99] Error processing "csi-71b335bcc3cb4d30e7d4ba6b401e6743910f4601e0843f43ba09c74705935620": failed to detach: rpc error: code = Internal desc = QueryVolume failed for volumeID: "7024c30b-c89a-4689-bb9c-caa32821ff85". ServerFaultCode: NoPermission
I0709 10:44:49.723629       1 controller.go:175] Started VA processing "csi-71b335bcc3cb4d30

[2020-07-09 22:30] RaunakShah commented on #223
Is it possible you are running into this issue? https://vsphere-csi-driver.sigs.k8s.io/known_issues.html#issue_5

[2020-07-09 22:45] Alphasite commented on #20
Mind if i take this issue? @codenrhoden @SandeepPissay

[2020-07-09 23:27] SandeepPissay commented on #20
Sure!

[2020-07-09 23:27] SandeepPissay commented on #20
/assign @Alphasite

[2020-07-10 06:14] philipp1992 opened #266 "Cant delete PV"
Hi

using vanilla kubernetes 1.18 with vsphere 7.0 and csi 2.0

Everything works fine, but when i delete a PVC or PV, the following happens:

kubectl describe pv

Warning  VolumeFailedDelete  85s   csi.vsphere.vmware.com_vsphere-csi-controller-5c4d7b6ffc-sxtxv_90ec2c56-c50c-4acf-9c03-b506726b5800  rpc error: code = Internal desc = failed to delete volume: "9c310d6c-dea0-488c-a3bd-c91d86fc00c2". Er

[2020-07-10 08:15] Anil-YadavK8s commented on #223
@RaunakShah  Any workaround how to delete the disk attached to VMs. Because of this issue pod scheduling is getting failed as SCSI controller limitation has been reached.

[2020-07-10 08:47] skylonwolf opened #267 "Failed to delete PV volumes from vCenter with FaultCode: NotAuthenticated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This is my first issue of raise.
Any advice will be appreciated

**What happened**:
After disconnection with vCenter for several hours, cannot delete volumes and also create pods with PV.
Can not create Volume with error messages with “Not Authenticated”
Also, I can find a message "Terminated, Error, Lost connection to CSI driver, exiting" in csi-cont

[2020-07-10 19:06] divyenpatel commented on #267
@skylonwolf

Can you describe pod spec and grab image?

[2020-07-10 19:14] divyenpatel commented on #267
I see you are using  `registry.tkg.vmware.run/csi/vsphere-block-csi-driver:v1.0.2_vmware.1`

The issue happened over here.

As per code available in `v1.0.2` branch, we are making sure PBM connection is authenticated before attempting to get storage policy id for the given name.

https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/v1.0.2/pkg/csi/service/common/vsphereutil.go#L38-L50

[2020-07-10 19:55] divyenpatel commented on #267
@skylonwolf Can you confirm the following?

1. Do you see any active session in the vCenter with the User agent - `"k8s-csi-useragent` ?

2. Is the user password updated between VC was disconnected and connected back after several hours?

[2020-07-10 19:57] divyenpatel commented on #266
@philipp1992 you are hitting this issue

https://vsphere-csi-driver.sigs.k8s.io/known_issues.html#issue_5

[code]

[2020-07-10 20:00] divyenpatel commented on #266
The issue is fixed in the external-provisioner. If this is a test environment, you can upgrade provisioner image to
`quay.io/k8scsi/csi-provisioner:v2.0.0-rc2` and confirm?

[2020-07-10 20:03] divyenpatel commented on #265
@philipp1992 Can you make sure you have right privileges on your setup - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html#roles_and_privileges

[2020-07-10 20:07] divyenpatel commented on #257
@mohideen UUID you received using  govc is the volumeHandle. Are you able to provision static volume using that UUID?

[2020-07-10 20:12] divyenpatel commented on #258
@zhoudayongdennis

I see you are using followinf vsphere.conf file.

[code]

This is not a correct config file format. You are mixing the config file with in-tree VCP config file.

Please follow this - https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/installation.html#vsphereconf_for_block

[2020-07-10 20:16] divyenpatel commented on #251
@zhoudayongdennis we do not have this feature available in the CNS UI. CNS UI, for now, is just a read-only plane.

We are also working on providing power-cli cmdlets for CNS API, that will help clean up such orphan volume.

[2020-07-10 20:51] Alphasite commented on #20
/reopen

[2020-07-10 20:52] Alphasite commented on #20
/remove-lifecycle rotten
/reopen

[2020-07-10 20:54] SandeepPissay commented on #267
@skylonwolf can you restart CSI controller pod and see if the problem goes away?

[2020-07-11 01:00] Alphasite commented on #20
Ok, looks like this isn't supported in the vsphere-csi; this check fails:

[code]

I need to look a little more deeply into why this is failing, but in the process of digging into this work flow i found this related KEP and PR: https://github.com/kubernetes/enhancements/issues/1698 & https://github.com/kubernetes/kubernetes/pull/92784 which merged literally 2h ago and should provide a more generic

[2020-07-13 03:22] skylonwolf commented on #267
@divyenpatel , @SandeepPissay
Thank you very much for your guide.

After restart CSI controller, the PVC status changed from 'Pending' to 'Bound".
Also, I could delete and re-create pod with PV.

By the way, I thought the connections between vCenter and worker & control nodes looked so critical with regard to PV.
Is that right ?

# kubectl logs -f -n kube-system vsphere-csi-controller-0 -c vsphere

[2020-07-14 23:49] mohideen commented on #257
@divyenpatel Specifying UUID as the volumeHandle did not work.

I got the UUID of a disk using govc client: `60 00 C2 98 ca c4 37 00-c4 2f 15 cd 66 58 84 4b`
In the PV, I tried specifying the value formatted as follows in three attempts:

1. 6000C298cac43700c42f15cd6658844b
2. 6000C298cac43700-c42f15cd6658844b
3. 6000C298-cac4-3700-c42f-15cd6658844b

The PV and PVC got created on all the three tri

[2020-07-15 00:46] #267 closed

[2020-07-15 00:51] skylonwolf commented on #267
1. ==> Previous created PVs are looked normal and all csi-nodes works fine.
2.===> I had not changed any users' password during vCenter disconnection.

[2020-07-15 18:58] #243 closed

[2020-07-16 02:49] zhoudayongdennis commented on #251
@divyenpatel,

it should be good tool to remove the orphan volume.

I think you could resolve the issue with feature request.

[2020-07-16 03:05] zhoudayongdennis commented on #258
@divyenpatel,

there was no missing parameters in current csi-vsphere.conf comparing with the one in your link, right?

will such different format cause the node restarting frequently?

thanks,
Dennis

[2020-07-16 09:52] philipp1992 opened #269 "volume expansion for file volumes"
Hi guys,

is volume expansion for nfs file shares already supported / planned?

kr
Philipp

[2020-07-16 18:15] divyenpatel commented on #269
It is not yet supported - https://vsphere-csi-driver.sigs.k8s.io/supported_features_matrix.html

[2020-07-16 18:25] divyenpatel commented on #258
@zhoudayongdennis vsphere.conf file should look like

[code]

conf file mentioned at https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/258#issuecomment-655847004 is not correct.

Maybe. Let's first use the valid config file, and then we can see logs.

[2020-07-16 18:31] divyenpatel commented on #251
yes once power-cli is published we will close this issue.

[2020-07-16 18:34] divyenpatel commented on #148
tracking this request at  https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/251

closing this issue.

[2020-07-16 18:34] #148 closed

[2020-07-16 18:36] divyenpatel commented on #229
@chris-morandi

Is this issue resolved? Have you filed SR with support bundle?

[2020-07-16 18:39] divyenpatel commented on #240
@SandeepPissay @shalini-b

If there is no fix required in the YAML file, Can we close this issue?

@shalini-b is updating documentation to clarify DNS requirement on the node VM using this issue #239

[2020-07-16 18:46] divyenpatel commented on #255
@chethanv28 We will need changes in the syncer container as well.

[2020-07-16 19:22] SandeepPissay commented on #240
Yes, we can close this.

[2020-07-16 19:22] #240 closed

[2020-07-16 23:41] #244 closed

[2020-07-17 20:20] shalini-b commented on #50
The CSI config package has undergone several changes since this issue has been raised. We think it will be better to keep the packages separate instead of creating a dependency on CPI.

[2020-07-17 20:20] shalini-b commented on #50
/close

[2020-07-17 20:20] #50 closed

[2020-07-17 20:53] chethanv28 commented on #46
This is no longer needed as there is no deterministic way of implementing max volumes per node
/close

[2020-07-17 20:53] #46 closed

[2020-07-22 18:56] divyenpatel commented on #167
All remaining issues fixed by - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/274

Closing this issue.

[2020-07-22 18:56] #167 closed

[2020-07-22 19:53] xander-sh opened #275 "CSI 2.0 vSphere6.7u3 multi-attach PVC on one node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
PVC create with AccessMode: ReadWriteOnce
PVC is successfully attaching to two different pods.

**What you expected to happen**:
Multi-Attach error for volume "pvc-*"
**How to reproduce it (as minimally and precisely as possible)**:
Create  PVC
[code]
Create two busybox pods
busybox1
[code]
bysubox2
[code]
apply manifest

[2020-07-22 20:20] RaunakShah commented on #275
@xander-sh can you also specify on which nodes these two pods are scheduled?

[2020-07-22 20:28] xander-sh commented on #275
This two pod scheduled on one worker node.
[code]

[2020-07-23 02:54] RaunakShah opened #276 "vSphere driver pinned to k8s 1.14 framework"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
vSphere CSI driver is tied to k8s 1.14 framework - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/go.mod#L68
Upgrading to a later version breaks e2e tests.

**What you expected to happen**:
vSphere CSI should depend on latest k8s versions.
**How to reproduce it (as minimally and precisely as possible)**

[2020-07-23 04:16] chethanv28 opened #278 "Read Migration FSS value for Vanilla using the common CO Interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
FSS configmap values for Vanilla K8S is currently mounted as a config volume to the driver and syncer containers

**What you expected to happen**:
FSS configmap values have to be watched using informers by leveraging Common CO Interface.
Instantiate a CO instance and use methods from interface to check if feature is e

[2020-07-23 04:16] chethanv28 commented on #278
/assign @chethanv28

[2020-07-23 12:19] mthird commented on #251
for those running VCSA 6.7, the instructions are slightly different to access the vsan mob:

1. ssh into vcsa
1. switch to shell
1. run `rvc`
1. log in as `administrator@vsphere.local@localhost`
1. run `vsan.debug.mob --start localhost`
1. navigate to `https://<vcsa fqdns>/vsan/mob/?moid=cns%2dvolume%2dmanager&method=delete`
1. input the volume id and set `deleteDisk` to `true`
1. click invoke
1.

[2020-07-23 18:06] Alphasite commented on #20
@SandeepPissay ^

[2020-07-23 18:12] SandeepPissay commented on #20
@divyenpatel was working on CSI migration and I remember that the inline volumes are supported in CSI. @divyenpatel can you confirm? And can you also send some details on how you tested inline volumes in CSI?

[2020-07-23 18:48] divyenpatel commented on #20
We have validated the migration of in-line in-tree volume to vSphere CSI Driver.
Refer this - https://gist.github.com/divyenpatel/b06955dccf5944072f742f6bc9e2c59e

In this case, the in-tree inline vSphere volume is presented as in-memory PV to CSI Driver, and thus volume attachment is created using volume path as volume handle.

[code]

We have not validated the CSI inline volume support using FCD

[2020-07-23 19:28] #276 closed

[2020-07-23 23:32] Alphasite commented on #20
I dont have the testbed anymore, but i ran the k8s ephemeral-inline-volume e2e tests; i _think_ it was [this test suite](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/ephemeral_volume.go).

I also didn't explicitly specify a volume handle; I also tested manually with a spec similar to:
[code]

But with the sphere driver. I also enabled `ephemeral` lifecycle mode, similar to

[2020-07-24 04:53] Anil-YadavK8s opened #284 "vSphere CSI 2.0 taking long time to attach volume to node"
Is this a BUG REPORT or FEATURE REQUEST?:

**What happened**:
vSphere 6.7 with vSphere CSI  2.0 plugin, Volume attachment to worker node takes approx 20 mins.

**What you expected to happen**:
it should be attach immediately.

**How to reproduce it (as minimally and precisely as possible)**:
vSphere 6.7 with vSphere CSI  2.0 plugin.

**Anything else we need to know?**:

Events of Pod
Events:
  Typ

[2020-07-24 04:54] Anil-YadavK8s commented on #284
@divyenpatel @RaunakShah  Please comments /suggestions

[2020-07-24 15:20] dmc5179 opened #285 "CSI driver does not support vCenter ports other than 443"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CSI storage driver does not work with non-default vCenter ports. If vCenter is running on another port, like 8443, the CSI storage will deploy but cannot provision PVCs.

**What you expected to happen**:

VMWare CSI driver works with vCenter on non-default port

**How to reproduce it (as minimally and precisely as possib

[2020-07-24 19:24] divyenpatel commented on #285
@dmc5179
Have you specified the port 8843 in the config file? if not specified default will be 443.
Refer - https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/master/docs/book/driver-deployment/installation.md#vsphereconf_for_block